@import url(common.css); 


/* header */
.wrapper{ width:100%; height:auto; overflow:hidden; min-width:1000px; } 
.wrapper1{ width:100%; height:auto; overflow:hidden; min-width:400px; } 
.header{width:100%; height:auto; overflow:hidden; background:url(../../include/img/bg/bg_header.png) repeat-x ;}
.defaultbox{position:relative; width:980px; height:70px; border-bottom:4px solid #1f2b60; margin:0 auto;}
.logo{float:left;}
.navi{position:absolute; right:0; top:37px;}
.navi a{display:lnline-block; font-size:12px; padding:5px 0px 5px 15px;}
.location{clear: both; width:980px; height:auto; overflow:hidden; font-size:12px; margin:0 auto; margin-top:30px;}
.location p{display: inline;  overflow:hidden; font-size:12px; float:right; line-height:13px;}
.location span{padding-left:5px;}
.location span img{padding-bottom:4px;}
.location .fontS{font-weight:bold; }

/* �α��� */
.loginWrapper{ margin:0 auto; width:978px; border:1px solid #cacaca; height:193px; overflow:hidden; margin-top:38px; margin-bottom:108px;}/*1023 ����*/
.loginInfo{float:left;}
.login{float:left; padding-left:74px; padding-top:73px; color: #6d6d6d; font-size: 12px;}/*1023 ����*/
.login img{padding-right:15px;}/*1023 �߰�*/
.loginTitle{font-size:24px; font-weight:bold; color:#444444; }
.loginFont{font-size:12px; color:#858585; padding-top:16px;}
.inputArea{width:328px; height:73px; overflow:hidden; margin-top:34px;}
.inputArea p{float:left; width:220px; }
.inputArea input{border:3px solid #6d6d6d; width:209px; height:26px; color:#cacaca; line-height:26px; padding-left:11px; margin-bottom:9px;  float:left;}
.inputArea input .text{display:lnline-block; font-size:12px;}
.inputArea .btn{float:left; margin-left:13px;}
.loginCheck{border:1px solid #6d6d6d; width:12px; height:12px; margin-right:5px; margin-top:15px;}
.footerWrapper{width:100%; height:auto; overflow:hidden; background:url(../../include/img/bg/bg_footer.png) repeat-x ;}
.footer{width:980px; height:79px; border-top:3px solid #1f2b60; margin:0 auto; line-height:78px; padding-top:15px ;}
.footerLogo{float:left; padding-left:17px;}
.footerFont{margin-left:66px; float:left; line-height:1.5em; font-size:11px; color:#666; padding-top:5px; }

/* ����������*/
.myWrapper{ margin:0 auto; width:745px; height:auto; overflow:hidden; margin-top:38px; margin-bottom:108px;}
.myTitle{font-size:24px; color:#444444; float:left; font-weight:bold;  font-family:NanumGothic;}
.myBtn{float:right; padding-left:5px;}

.useTable{ border-top:2px solid #1c2e63; width:100%; }
caption{ visibility:hidden; height:10px;}
.useTable tr th{ color:#4a4a4a; text-align:left; padding:5px 15px; background:#fafafa; border-right:1px solid #cacaca; border-bottom:1px solid #cacaca; font-size: 12px; height:36px;}
.useTable tr th.right{border-left:1px solid #cacaca;}
.useTable tr td{ padding:5px 15px; border-bottom:1px solid #cacaca;  font-size: 12px; color:#6e6e6e;}

.input_use01{ width:36px; height:22px; color:#4a4a4a; border:1px solid #a7a7a7; padding:2px 5px; vertical-align: middle;}
.input_use02{ width:128px; height:22px; color:#4a4a4a; border:1px solid #a7a7a7; padding:2px 5px; vertical-align: middle;}
.input_use03{ width:257px; height:22px; color:#4a4a4a; border:1px solid #a7a7a7; padding:2px 5px; vertical-align: middle;}
.input_use04{ width:79px; height:28px; color:#4a4a4a; border:1px solid #a7a7a7; padding:2px 5px; vertical-align: middle;}
.input_use05{ width:281px; height:28px; color:#4a4a4a; border:1px solid #a7a7a7; padding:2px 5px; vertical-align: middle;}
.input_use11{ width:36px; height:22px; color:#4a4a4a; border:1px solid #a7a7a7; padding:2px 5px; vertical-align: middle;}

.btnbox{ width:100%; height:auto; overflow:hidden; text-align:center; margin:20px auto; }
/** 19년반영 시작 **/
.popupWrapperService{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.popupWrapperInterests{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.popupWrapperLifeCycle{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.popupWrapperKeyWord{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.popupWrapperSubKeyWord{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.popupWrapperAdvice{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.popupWrapperDatainterests{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
/** 19년반영 끝 **/
/*2020년 SGIS고도화 3차 배후권 시작*/
.corpPopupWrapper{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.poiPopupWrapper{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.addPopupWrapper01{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.addPopupWrapper02{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.upperPopupWrapper{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.gridPopupWrapper{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.scopePopupWrapper{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
/*2020년 SGIS고도화 3차 배후권 끝*/

.popupWrapper{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 200%; display:none;}
.myPopupWrapper{width:546px; height:auto; overflow:hidden; margin: 0 auto; margin-top: 11%; border:1px solid #3f66bf; background: #fff;}
.myPopupTitle{background:#1f2b60; height:48px; line-height:48px; }
.myTitleFont{color:#fff; font-size:20px; float:left; padding-left:27px;font-family:NanumGothic;}
.myXbtn{padding-right:17px; float:right; padding-top: 15px; }

.popupTable{ border-top:1px solid #cacaca; width:90%; margin:0 auto; margin-top:22px;  }
caption{ visibility:hidden; height:10px;}
.popupTable tr th{ color:#4a4a4a; text-align:left; padding:5px 15px; background:#fafafa; border-left:1px solid #cacaca; border-right:1px solid #cacaca; border-bottom:1px solid #cacaca; font-size: 12px; height:36px;}
.popupTable tr td{ padding:5px 15px; border-bottom:1px solid #cacaca;  border-right:1px solid #cacaca;  font-size: 12px; color:#6e6e6e;}
.popupTable tr td img{vertical-align: middle; margin-left: 5px; margin-right: 10px; display: inline;}

/* please do not delete this style, thank you */
.confirmPopupWrapper{width:452px; height:auto; overflow:hidden; margin: 0 auto; margin-top: 15%; border:1px solid #3f66bf; background: #fff;}
.messageBox{width:90%; margin:0 auto; margin-top:22px; padding:5px 15px; font-size: 13px; color:#6e6e6e; text-align: center;}