@charset "utf-8"; 

div[class^='popupWrapper']{top: 0; width: 100%; height: 100%; position:fixed;}
div[class^='popupWrapper'] > div[class^='popupWrapper'] {
	display: block !important;
	position: relative !important;
	background: none;
}