@charset "euc-kr";
#change-business-databoard, #current-state-sgg-databoard{background:#FFF;}
.MenuBox {overflow:auto; background:#FFF;}
.Btn_Top a{width:calc(100%/3);}
#search-item-box .SubjectB a.subject1 {width: 33.3%;background-image: url(../../images/biz_menu1.png);background-size: 23px, auto, auto; }
#search-item-box .SubjectB a.subject2 {width: 33.3%;background-image: url(../../images/biz_menu2.png);background-size: 23px, auto, auto; }
#search-item-box .SubjectB a.subject3 {width: 33.3%;background-image: url(../../images/biz_menu3.png);background-size: 22px, auto, auto; }
#search-item-box .SubjectB a.subject1.M_on {background-image: url(../../images/biz_menu1.png), -ms-linear-gradient(left, #052a67 0%, #056d97 100%);background-image: url(../../images/biz_menu1.png), -webkit-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu1.png), -moz-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu1.png), -ms-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu1.png), -o-linear-gradient(left, #052a67, #056d97);}
#search-item-box .SubjectB a.subject2.M_on {background-image: url(../../images/biz_menu2.png), -ms-linear-gradient(left, #052a67 0%, #056d97 100%);background-image: url(../../images/biz_menu2.png), -webkit-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu2.png), -moz-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu2.png), -ms-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu2.png), -o-linear-gradient(left, #052a67, #056d97);}
#search-item-box .SubjectB a.subject3.M_on {background-image: url(../../images/biz_menu3.png), -ms-linear-gradient(left, #052a67 0%, #056d97 100%);background-image: url(../../images/biz_menu3.png), -webkit-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu3.png), -moz-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu3.png), -ms-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu3.png), -o-linear-gradient(left, #052a67, #056d97);}
#databoard-area .SubjectB a {width: calc(100%/2);height: 40px;line-height: 40px;padding:0;}
#databoard-area .Subject{height: 40px;}
#databoard-area .TabArea{padding:0;}
#databoard-area .TabGroup{margin-left:0;height:30px;}
#databoard-area .TabGroup .tab{margin:0;font-size:10px;width:calc(100%/4);height:30px;}
#databoard-area .TabGroup .tab a{line-height:20px;}
.SubjectB a.M_on,.SubjectC a.M_on {background-color: #052a67;background-repeat: no-repeat;background-position: center 7px, 2px 2px, left top;background-size: 21px, auto, auto;}
.SubjectC{height: 40px;}
.SubjectC a{height: 40px;line-height: 40px;padding: 0;}
.SubjectC.number2 a{width: calc(100%/2);}
.SubjectC.number4 a{width: calc(100%/4);}

.DetailBox ul{padding-bottom: 10px;}
.origin_txt{ color: #999;font-size: 11px;text-align: right;margin-right: 20px;bottom: 15px; }

.roundTextBox {font-size:13px; font-family: "NanumSquareB"; color:#000; text-align:left; padding:7px 0 7px 5%; display:block;border-bottom: #ddd solid 1px; background: #fff url(../../images/house/icon_box_arrow_top.png) no-repeat 95% center;}
.joinDefault {overflow:auto; padding:10px 0 5px 15px; background:#dae8f4; }

.biz_select3 ul:after{
  content: "";
  clear: both;
  display: table;
}
#wonList01 li {float:left;margin:0 0 10px 10px}
#wonList01 a {color: #333; width: 100px;height: 35px; overflow: hidden; text-align: center; font-size: 11px; border-radius: 18px; background: #f4f4f4; border: #ddd solid 1px; box-sizing: border-box;display: table;-moz-box-sizing: border-box;}
#wonList01 a span {display: table-cell; vertical-align: middle;text-align: center;}
#wonList01 a.on {background: #00bcd4; color: #fff; border: none;}

.wonList01 {padding: 10px; border-bottom: #ccc solid 1px; position:relative }
.wonList01:after { content: ''; display: block; width: 12px; height: 12px; background: #fff; border-bottom: #ccc solid 1px; border-left: #ccc solid 1px; position: absolute; transform: rotate(-45deg); left: calc(50% - 6px); bottom: -7px; }
#companyTabDiv a.M_on {background-color: #052a67; border: none; color: #fff;}
#companyTabDiv a {background: #f4f4f4; border: #ddd solid 1px; float: left; height: 30px; width: calc(100%/4); color: #ccc; font-family: "NanumSquareB"; font-size: 11px; text-align: center; letter-spacing: -1px; overflow: hidden; line-height: 30px; margin-left: -1px; color: #555; box-sizing: border-box;}
#huboAreaList .on{background-color: skyblue;}
.compareBox a{background-color: white;}
.compareBox a.on{background-color: skyblue;}
#areaInfo table td{border : 1px solid;}

ul.jobArea_stepBox {width:100%; float:left;}
#ul.jobArea_stepBox {overflow:scroll;}
ul.jobArea_stepBox li {float:left; width:48%; display:block; background:#FFF url(../../images/icon/icon_rdbox_off.png) no-repeat 95% center; background-size:17px; border:1px solid #d2d8dd; border-radius:2px; padding: 14px 1.2em; color:#262626; margin-bottom:2%; margin-right:2%;  box-sizing:border-box;}
ul.jobArea_stepBox li input[type=radio] {display:none;}
ul.jobArea_stepBox li.Check {background:#ffda84 url(../../images/icon/icon_rdbox_on.png) no-repeat 93% center; background-size:17px; border:1px solid #dbbb71; color:#000; box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2);}
.title-info {background:#7799b8; padding:6px 0; color:#FFF; text-align:center;}
.title-location {font-size: 18px; font-family: 'NanumSquareB'; padding-top:4px;}
.SelectArea.db {background:none;box-shadow: none; right: 0;position: absolute; }
.SelectArea.db.On {  width: 100%; height: 62px; top: 32px; background: #eee; }
.SelectArea.db .btn_Search { width:80px; height:60px;}
.SelectArea.db select {height:30px; width:28%; margin-top:15px; border-radius:0; display:none;}
.SelectArea.db.On select { display:block;}
.dbTabs.type01.jobAreaType {width:100%; box-sizing: border-box; overflow:auto;}
.horizontalTitle {margin:3px; padding:5px; box-sizing: border-box; overflow:auto; font-size:13px;}
.horizontalTitle .theme-info, .horizontalTitle .data-location{line-height:160%; color:#333; background:url(../../images/common/list_bullet.png) no-repeat 0 center; background-size:2px; padding-left:7px;}
.horizontalTitle strong.rank{font-weight:bold; color:#fe6753; font-family: 'NanumSquareB';}
.dbTabs a {float:left; height:30px; line-height:30px; padding:0; width: calc(100%/4); background:#97b0c6; color:#FFF; border-left:1px solid #aac1d6;  box-sizing:border-box; text-align: center;}
.dbTabs a.M_on {background:#4f88d3; color:#ffda84;}
.dbTabs a:first-child{border-left:none;}
.wonSet {background: #f4f4f4; padding: 10px;}
.wonSet .Item {background: #fff; border: #ddd solid 1px; padding: 5px; margin-bottom:5px;}
.wonSet .Item a:first-child { margin-left: 0; }
.wonSet .Item .cm01 { clear:both;}
.wonSet hr {border:none; margin:0;}
.wonSet select {vertical-align: middle;padding: 2px 20px 2px 2px;border: #ddd solid 1px;}
.wonSet li {width: 45%; display: inline-block; margin-right: 1.5%; margin-bottom: 5px;}
.wonSet li:nth-child(4n) { margin-right: 0; }

.select-box-area {overflow: scroll;height: 40px;}
.select-box-area a {margin-top : -5px;margin-left: 15px;float : left;color:#aaa;}
.select-box-area a.M_on {font-weight: bold;color: #555;}

.areaInfoTab{width: 100%;height: auto;overflow: hidden;margin: 10px auto 0 auto;}
.areaInfoTab li{float: left;height: auto;overflow: hidden;margin-bottom: 5px;width: 25%;}
.areaInfoTab li>a{position: relative;display: block;height: auto;padding: 10px;overflow: hidden;border-radius: 10px;line-height: 1.5em;color: #fff;background: #b9b9b9;margin: 0 5px;font-size: 11px;text-align: left}
.areaInfoTab li>a.on{background: #017967;color: #fff}
.areaInfoTab li>a>span{display: block;}

#proposed-site-databoard .dbTabs{display: table;table-layout: fixed;border-collapse: collapse;width: 100%;height: 26px;overflow: hidden;margin: 0 auto;}
#proposed-site-databoard .dbTabs a{letter-spacing: -1px;font-size: 12px;border-top: 1px solid #e8771a;display: table-cell;vertical-align: middle;text-align: center;height: 30px;background: #e8771a;color: #fff;}
#proposed-site-databoard .dbTabs.type03 a,#proposed-site-databoard .dbTabs.type02 a{background: #313333;border-top: 1px solid #313333;}
#proposed-site-databoard .dbTabs.type02 a{width:calc(100% / 2);}
#proposed-site-databoard .dbTabs.type03 a{width:calc(100% / 3);}
#proposed-site-databoard .dbTabs a.on{background: #fff;border-top: 1px solid #b7b6b6;color: #595757;}
#proposed-site-databoard .bizCateMenu{width: 100%;height: auto;overflow: hidden;margin: 0;padding: 0 10px;border-bottom: 1px solid #dcdcdc;}

.radio_style{margin-left:2%;}

.pie-chart-area{margin-top:10px;padding:10px;}
.pie-chart-area .title{height: 20px;border: 1px solid #ddd;text-align: center;}
.pie-chart-area .chart-box{border: 1px solid #ddd;height:auto;}
@media (max-width: 400px) {
	.pie-chart-area>.box{width:100%;}
}
@media (min-width: 400px) {
	.pie-chart-area>.box{width:50%;}
	.pie-chart-area>.box:nth-child(1){float:left;}
	.pie-chart-area>.box:nth-child(2){float:right;}
	.pie-chart-area>.box:nth-child(2) .title,.pie-chart-area>.box:nth-child(2) .chart-box{border-left:none;}
}


.heatArea .jQWCP-wWidget{margin-top:0}
.heatSlider {width:130px;float:left;margin:10px 10px 0 10px;}
.heatGuage {font-size:11px;margin-top:-5px;}
.heatGuage li:nth-child(1) {margin-left:10px;float:left;}
.heatGuage li:nth-child(2) {margin-left:105px;float:left;}
.heatInputText {display:block;width:35px;;height:35px;color:#fff;line-height:35px;overflow:hidden;text-align:center;font-size:13px;font-weight:bold;border-radius:20px;background:#00bcd4; cursor: pointer;margin-top:-4px;margin-right:5px;float:right;}
.heatMin{content:"";width:100px;height:110px;left:0;bottom:0;background:#fff;border:1px solid #ccc;margin-left:4px;}
