@charset "euc-kr";
.MenuBox {overflow:scroll;}
.Btn_Top a{width:calc(100%/3);}
#optionListInfo{width: 100%;float: left;}
#optionListInfo  .optionList{float: left;border: solid 1px;font-size: 10px;width: 19%;height:70px}
.SubjectB a.M_on,.SubjectC a.M_on {background-color: #052a67;background-repeat: no-repeat;background-position: center 7px, 2px 2px, left top;background-size: 21px, auto, auto;}
.SubjectC a{height: 40px;line-height: 40px;padding: 0;}
.SubjectC.number2 a{width: calc(100%/2);}
.SubjectC.number3 a{width: calc(100%/3);}
.SubjectC.number5 a{width: calc(100%/5);}

#search-item-box .SubjectB a.subject1 {width: 33.3%;background-image: url(../../images/biz_menu1.png);background-size: 23px, auto, auto; }
#search-item-box .SubjectB a.subject2 {width: 33.3%;background-image: url(../../images/biz_menu2.png);background-size: 23px, auto, auto; }
#search-item-box .SubjectB a.subject3 {width: 33.3%;background-image: url(../../images/biz_menu3.png);background-size: 22px, auto, auto; }
#search-item-box .SubjectB a.subject1.M_on {background-image: url(../../images/biz_menu1.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #052a67 0%, #056d97 100%);background-image: url(../../images/biz_menu1.png), url(../../images/common/subject_light.png), -webkit-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu1.png), url(../../images/common/subject_light.png), -moz-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu1.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu1.png), url(../../images/common/subject_light.png), -o-linear-gradient(left, #052a67, #056d97);}
#search-item-box .SubjectB a.subject2.M_on {background-image: url(../../images/biz_menu2.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #052a67 0%, #056d97 100%);background-image: url(../../images/biz_menu2.png), url(../../images/common/subject_light.png), -webkit-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu2.png), url(../../images/common/subject_light.png), -moz-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu2.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu2.png), url(../../images/common/subject_light.png), -o-linear-gradient(left, #052a67, #056d97);}
#search-item-box .SubjectB a.subject3.M_on {background-image: url(../../images/biz_menu3.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #052a67 0%, #056d97 100%);background-image: url(../../images/biz_menu3.png), url(../../images/common/subject_light.png), -webkit-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu3.png), url(../../images/common/subject_light.png), -moz-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu3.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/biz_menu3.png), url(../../images/common/subject_light.png), -o-linear-gradient(left, #052a67, #056d97);}
#databoard-area .SubjectB a {width: calc(100%/2);height: 40px;line-height: 40px;padding:0;}
#databoard-area .Subject{height: 40px;}
#databoard-area .TabArea{padding:0;}
#databoard-area .TabGroup{margin-left:0;height:30px;}
#databoard-area .TabGroup .tab{margin:0;font-size:10px;width:calc(100%/4);height:30px;}
#databoard-area .TabGroup .tab a{line-height:20px;}
.DetailBox ul{padding-bottom: 10px;}

.origin_txt{ color: #999;font-size: 11px;text-align: right;margin-right: 20px;bottom: 15px; }

#indicator-navigator>div{display:none;}
#indicator-navigator>div.M_on{display:block;}
.b-class-box{height: 30px;background-color: #aaa;text-align: center;}
.b-class-box a{color: #fff;font-size: 14px;line-height: 30px;font-weight: bold;}
.b-class-box a.left,.b-class-box a.right{width:30px;}
.b-class-box a.left{float:left;}
.b-class-box a.right{float:right;}
.m-class-box{height: 30px;border-bottom: 1px solid #aaa;overflow: scroll;}
.m-class-box a{padding:0 10px;font-size: 12px;line-height: 30px;color:#aaa;}
.m-class-box a.M_on{font-weight: bold;font-size: 13px;color:#000;}

/*차트 통계 값*/
.ChartStats {padding-left: 15px;width:45%;width:calc(50% - 15px);}
.ChartStats div {margin-bottom: 10px;padding-left: 10px;position: relative;font-size: 12px;}
.ChartStats div span {color: #c33;}
.ChartStats div:first-child {margin-left: 0;}
.ChartStats div:before {content: '';display: block;width: 4px;height: 4px;position: absolute;left: 0;top: 7px;background: #999;border-radius: 3px;}

.spider-web-chart-navigator{position: absolute;top: calc(100vh/2.5);z-index: 1;background-repeat: no-repeat;background-position: center;background-color: #9b9b9b;border-radius: 50%;display: block;width: 50px;height: 50px;overflow: hidden;text-indent: -2000px;opacity: 0.6;}
.spider-web-chart-navigator.prev{left:10px;background-image: url(../../images/common/ico_left01.png);}
.spider-web-chart-navigator.next{right:10px;background-image: url(../../images/common/ico_right01.png);}

ul.fancytree-container {width: 240px;overflow: auto;position: relative;}

.roundTextBox { font-size:13px; text-align:left; padding:7px 0 7px 5%; display:block;border-bottom: #ddd solid 1px;background: #fff url(../../images/map/biz/ico_up02.png) no-repeat 95% center;}
.joinDefault {padding: 10px;background: #f4f4f4;border-bottom: #ddd solid 1px;}
#select-box-area {
	overflow: scroll;
	height:40px;
}
#select-box-area a {
	margin-top : -5px;
	margin-left: 15px;
	float : left;
}
.biz_select3 li a {display: block; color: #333; height: 35px; overflow: hidden; line-height:1; background: #d9d9d9; text-align: center; font-size: 11px; border-radius: 18px; background: #f4f4f4; border: #ddd solid 1px; box-sizing: border-box; vertical-align: middle; }
.biz_select3 li a.on {background: #00bcd4; color: #fff; border: none;}

.biz_select3 li a span {
    padding-top: 6px;
	height: 17px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100px;
}
.biz_select3 li a span.top0 {
    padding-top: 0px;
}
.biz_select3 li:last-child a { vertical-align:middle; }


.wonList01 {padding: 10px; border-bottom: #ccc solid 1px; position:relative }

.wonList01 li { width: 23% !important;}

.biz_select3 li {width: 45%; display: inline-block; margin-right: 1.5%; margin-bottom: 5px;}

.biz_select3 li:nth-child(4n) { margin-right: 0; }

ul#wonList01:after { content: ''; display: block; width: 12px; height: 12px; background: #fff; border-bottom: #ccc solid 1px; border-left: #ccc solid 1px; position: absolute; transform: rotate(-45deg); left: calc(50% - 6px); bottom: -7px; }
#companyTabDiv a.M_on {background-color: #052a67; border: none; color: #fff;}
#companyTabDiv a {background: #f4f4f4; border: #ddd solid 1px; float: left; height: 30px; width: calc(100%/4); color: #ccc; font-family: "NanumSquareB"; font-size: 11px; text-align: center; letter-spacing: -1px; overflow: hidden; line-height: 30px; margin-left: -1px; color: #555; box-sizing: border-box;}
#huboAreaList .on{background-color: skyblue;}
.compareBox a{background-color: white;}
.compareBox a.on{background-color: skyblue;}
#areaInfo table td{border : 1px solid;}

ul.jobArea_stepBox {overflow:auto;}
ul.jobArea_stepBox li {float: left; width: 48%; padding: 10px 1%;border: #ddd solid 1px;box-sizing: border-box;margin-right: 2%;margin-bottom: 5px;}
ul.jobArea_stepBox li input[type=radio] { margin-top:0;}
ul.jobArea_stepBox li.Check { background: #009900; border: #009900 solid 1px; color: #fff; }

#titlesgg {border-top: #ddd solid 1px; padding:5px 10px;}

#titlesgg .title5 { font-size: 18px; font-family: 'NanumSquareB'; color: #333;}
 
.SelectArea.db {background:none;box-shadow: none; right: 0;position: absolute; }
.SelectArea.db.On {  width: 100%; height: 62px; top: 32px; background: #eee; }
.SelectArea.db .btn_Search { width:80px; height:60px;}
.SelectArea.db select {height:30px; width:28%; margin-top:15px; border-radius:0; display:none;}
.SelectArea.db.On select { display:block;}
 
 
.dbTabs.type01.jobAreaType {width: 96%; margin-left: 2%; background: #fff; border: #ccc solid 1px; padding: 10px; box-sizing: border-box; overflow:auto;}
.horizontalTitle {width: 96%; margin-left: 2%; background: #d7d7d7; border: #ccc solid 1px; padding: 10px; box-sizing: border-box; overflow:auto;}
.dbTabs a {background:none; border-left:none; float:left; height:30px; width: calc(100%/4); color:#666; font-size:11px; letter-spacing:0; line-height:30px; box-sizing:border-box;text-align: center;}
.dbTabs a.M_on {background: #369; border-radius: 15px; color: #fff;}

.wonSet {background: #f4f4f4; padding: 10px;}

.wonSet .Item {background: #fff; border: #ddd solid 1px; padding: 5px; margin-bottom:5px;}

.wonSet .Item a:first-child { margin-left: 0; }

.wonSet .Item .cm01 { clear:both;}

.wonSet hr {border:none; margin:0;}

.wonSet select {
    vertical-align: middle;
    padding: 2px 20px 2px 2px;
    border: #ddd solid 1px;
}
