@charset "euc-kr";
/* 지역현안소통지도 redesign */

/*이중스크롤 때문에 height:calc(10% - 334px);  제거함*/
.ContArea.Community_intro {position:absolute; left:0; top:42px; padding:10px; width:100%; box-sizing:border-box; overflow:auto;}
.CommunityList .List {padding:0;margin-bottom:50px;}

.ListSearch_cm { position:fixed; bottom:0; right:0; height:35px; background:none; padding:0; text-align:right; overflow:hidden; width:100px; display:inline-block; left:auto;}
.ListSearch_cm button {background:url(../../images/common/icon_search1.png) no-repeat left center; background-size:20px; text-align:left; padding-left:23px; height:35px; width:80px; border:none; top:0;}
.ListSearch_cm input[type=text] { width:calc(100% - 110px); position:absolute; left:10px; top:5px; height:25px;}
.ListSearch_cm.Open { width:100%;}
.ListSearch_cm #community-search {height:35px; width:100%; position:absolute; left:0; top:42px;}
.ListSearch_cm.Open #community-search { top:0;}
.ListSearch_cm.Open button.SearchBtn_fst { height:0; width:0; overflow:hidden; box-sizing:border-box; line-height:0; padding:0;}

.ListSearch_cm.Open form button { width:45px; right:45px;}
.ListSearch_cm.Open .SearchClose {display: block; width: 35px; height: 35px; text-indent: -1000px; background: #000 url(../../images/common/btn_close.png) no-repeat center center; position: absolute; top: 0; right: 0; overflow: hidden; background-size: 18px;}
.ListSearch_cm .SearchClose { width:0; height:0; line-height:0;padding:0; font-size:0;}

.CommunityList .List dl .NoData {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    margin-top: 25px;
}

/* 상세 */
.Community_cont {background:#fff; padding:10px; border-bottom:#ddd solid 1px; margin-top:15px;}
.MapInfo {padding:0;background:#fff;}
.MapInfo h3 {width:100%; padding:9px 0 9px 16px; font-family: "NanumSquareB"; font-size: 13px; color:#fff; background:#457bc3;}
.MapInfo h3 span{position:absolute; right:15px; top:5px; width:24px; height:24px;}
.MapInfo h3 span:after { display:block; width:12px; height:12px; border:#fff solid 1px; border-top:none; border-left:none; transform:rotate(45deg); position:absolute; right:6px; top:2px;}
.MapInfo .MapInfo_Detail {background:#f4f4f4; border:#ddd solid 1px; padding:10px; padding-left:140px; box-sizing:border-box; position:relative;min-height:142px; margin-bottom:30px; }
.MapInfo .subtitle { box-sizing:border-box;  font-size:14px; }
.MapInfo .Image { width:115px; height:87px; border-radius:0; float:left; left:10px; top:10px; border:none; }
.MapInfo .Image:after { content:'';  width:100%; height:100%; box-sizing:border-box; border:#000 solid 1px; opacity:0.15; position:absolute; left:0; top:0;}

.MapInfo .MapInfo_Detail .detail { position:absolute; bottom:-30px; width:100%; left:0; text-align:center; }
#opinionRegistArea{padding:10px; box-shadow:0 1px 3px rgba(0,0,0,0.4);}
.MapInfo .Social { left:10px; top:100px; width:115px; text-align:center; display:block;} 
.MapInfo .Social a { float:none; width:25px; height:25px; background-size:100% 100%; background-position:center center;}

.Community_map { border-top:#ddd solid 1px;}

.CommunityList h4 a {display:block; height:35px; box-sizing:border-box; border-bottom:#ddd solid 1px; position:relative; font-size:14px; line-height:35px; padding-left:15px; letter-spacing:-1px;}
.CommunityList h4 a span {margin-left:10px; color:#457bc3;}
.CommunityList h4 a:after { content:''; display:block; width:12px; height:12px; border:#555 solid 1px; border-top:none; border-left:none; transform:rotate(-135deg); position:absolute; right:15px; top:13px;}
.CommunityList h4 a.M_on:after { transform:rotate(45deg); top:4px;}
.CommunityList .OpenArea { background:#f4f4f4; box-sizing:border-box; height:0; position:absolute; overflow:hidden;}
.CommunityList .OpenArea .List {background:#fff; box-sizing:border-box; border:#ddd solid 1px; margin-bottom:0;}
.CommunityList .OpenArea.Open {padding:10px; height:auto; border-bottom:#ddd solid 1px; position:relative;}
.CommunityList .List ul a { padding-left:15px;}
.CommunityList .List ul { margin-bottom:0;}
.CommunityList .List ul li:last-child a { border-bottom:none;}
.CommunityList .Pasing { margin-bottom:0 !important;}
.CommunityList .Pasing a, .CommunityList .Pasing span {background:#fff;}

.CommunityList .OpenArea .Pasing {
    text-align: left;
}
.CommunityList .OpenArea .Pasing a, .CommunityList .OpenArea .Pasing span {
    text-align: center;
}
.CommunityList .OpenArea .ListSearch { padding:0; background:none; width:calc(100% - 205px); position:absolute; right:10px; margin-top:-28px; height:28px;}
.CommunityList .OpenArea .ListSearch input { box-sizing:border-box; border:#ddd solid 1px; height:28px;}
.CommunityList .OpenArea .ListSearch button { width:26px; height:26px; background:#666 url(../../images/common/icon_search1.png) no-repeat center center; background-size:70%; right:1px; top:1px; border:none; text-indent:-1000px; overflow:hidden;}