@charset "euc-kr";
.DetailBox { overflow:auto; left:0; top:31px; z-index:600; background:#dae8f4; padding:3px 0 15px 15px;}
.DetailBox .Info {background:url(../../images/icon/icon_question.png) no-repeat center center; width:24px; height:24px; background-size:20px; text-indent:-1000px; overflow:hidden; display:inline-block; cursor: pointer;}
.DetailBox .Info.Title{position:absolute; left:125px; top:5px;}
.DetailBox .Description { margin-bottom:20px;}
.DetailBox ul { margin: 5px 0 5px 0px;}
.DetailBox h4 {width:100%; display:inline-block; overflow:hidden; font-family:"NanumSquareB"; font-size:14px; color:#000; clear:both; margin-top:20px;}
.DetailBox h4 label {font-size:12px; color:#666; vertical-align:middle;}
.DetailBox h4 label input {vertical-align:middle;}
.DetailBox h4 label input[type=checkbox]{margin-left:10px;}
.DetailBox hr{width:96%; border-top:1px solid #99bbd7; box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3); margin:10px 20px 0px 0;}

ul.List {width:100%; float:left;}
ul.List li {float:left; width:47%; display:block; background:#FFF url(../../images/icon/icon_rdbox_off.png) no-repeat 93% center; background-size:17px; border:1px solid #d2d8dd; border-radius:2px; padding: 14px 1.2em; color:#262626; margin-bottom:2%; margin-right:2%;  box-sizing:border-box;}
ul.List li input[type=radio]{display:none} 
ul.List li.LongText { width:96%;}
ul.List .Check {background:#ffda84 url(../../images/icon/icon_rdbox_on.png) no-repeat 93% center; background-size:17px; border:1px solid #dbbb71; color:#000; box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2);}
ul.List li.hr{width:96%; height:2px; background:none; padding:0; border-top:1px solid #99bbd7; border-bottom:none; box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3); margin:5px 20px 10px 0;}
.DetailBox input[type=text] {box-sizing:border-box;border:#ccc solid 1px; padding:2% 1%;}

.DetailBox .SelectBox {box-sizing:border-box; border:#ccc solid 1px; padding:5px 1%; background:#Fff; margin: 0 2% 0 0; display:inline-block;}
.DetailBox .SelectBox select {border: #fff solid 1px;padding-right: 2.5em; border-radius:0;}
.DetailBox .btn_wrap {width:100%; position:absolute; bottom:-10px; left:0px; border-top:#CCC solid 1px; background:#fff; text-align:center; padding:10px 0 0 0; }

.DetailBox h3 { background:#f2f2f2;margin:0px 0 0 -15px; color:#000; padding:5px 0 5px 15px; position:relative; border-top:#d9d9d9 solid 1px; border-bottom:#d9d9d9 solid 1px;}
.DetailBox h3:first-child { margin-top:-15px;}
.DetailBox h3 .Tab { display:block; }
.DetailBox .TabArea { padding:15px 0 20px 0;}
.DetailBox .TabGroup{margin-left: -15px;}
.DetailBox .tab {display: inline-block; width:50%; box-sizing:border-box; text-align:center; font-family:"NanumSquareB"; font-size:14px; padding:5px; margin:-2px 0 10px 0; border-left:#ccc solid 1px;border-bottom:#ccc solid 1px; background:#f4f4f4; float:left; height:36px;}
.DetailBox .tab.M_on {background:#dae8f4; border-bottom:none 0; font-family:"NanumSquareB";}
.DetailBox .tab.M_on a{color:#457bc3;}
.DetailBox .tab:first-child { border-left:none 0;}
.DetailBox .tab a {vertical-align:middle;}
.DetailBox .tab a.Info{width:24px; height:24px; right:10px; top:50%; background:#457bc3 url(../../images/icon/icon_question.png) no-repeat center center; border-radius:23px; background-size:75%; text-indent:-1000px; overflow:hidden;}