@charset "euc-kr";
#databoard-box{background:#FFF;}
.Btn_Top a{width:calc(100%/3);}
.SubjectB a{border-left:none; font-size:14px;}
#search-item-box .SubjectB a { width:33.3% !important;} 
#search-item-box .SubjectB a.M_on { width:33.4% !important;}
#search-item-box .SubjectB a.subject1 {background-image: url(../../images/house/menu1.png);background-size: 21px, auto, auto;}
#search-item-box .SubjectB a.subject2 {background-image: url(../../images/house/menu2.png);background-size: 24px, auto, auto;}
#search-item-box .SubjectB a.subject3 {background-image: url(../../images/house/menu3.png);background-size: 20px, auto, auto;}
#search-item-box .SubjectB a.subject1.M_on {background-image: url(../../images/house/menu1.png), -ms-linear-gradient(left, #052a67 0%, #056d97 100%);background-image: url(../../images/house/menu1.png), -webkit-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/map/house/menu1.png),  -moz-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/map/house/menu1.png), -ms-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/map/house/menu1.png),  -o-linear-gradient(left, #052a67, #056d97);}
#search-item-box .SubjectB a.subject2.M_on {background-image: url(../../images/house/menu2.png), -ms-linear-gradient(left, #052a67 0%, #056d97 100%);background-image: url(../../images/house/menu2.png), -webkit-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/map/house/menu2.png),  -moz-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/map/house/menu2.png), -ms-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/map/house/menu2.png),  -o-linear-gradient(left, #052a67, #056d97);}
#search-item-box .SubjectB a.subject3.M_on {background-image: url(../../images/house/menu3.png), -ms-linear-gradient(left, #052a67 0%, #056d97 100%);background-image: url(../../images/house/menu3.png), -webkit-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/map/house/menu3.png),  -moz-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/map/house/menu3.png), -ms-linear-gradient(left, #052a67, #056d97);background-image: url(../../images/map/house/menu3.png),  -o-linear-gradient(left, #052a67, #056d97);}
#databoard-area .SubjectB a {width: calc(100%/3); height:40px; line-height: 40px;padding:0; background:#97b0c6; color:#FFF; border-left:1px solid #aac1d6}
.SubjectB a.M_on, #databoard-area .SubjectB a.M_on {background:#4f88d3; color:#ffda84;}
#databoard-area .SubjectB a:first-child{border-left:none;}
#databoard-area .Subject{height: 40px;}
#databoard-area .TabArea{padding:0;}
#databoard-area .TabGroup{margin-left:0;height:30px;}
#databoard-area .TabGroup .tab{margin:0;font-size:10px;width:calc(100%/3);height:30px;}
#databoard-area .TabGroup .tab a{line-height:20px;}
.DetailBox { box-sizing:border-box;}
.DetailBox ul{padding-bottom: 10px;}

.IndexSelect {position:relative; width:96.5%; margin:15px 0 0 0 !important;}
.IndexSelect a {position:relative; display:block; height:26px; font-size:12px; color:#FFF; background: url(../../images/house/arrow_open.png) no-repeat 97% center; border-top-left-radius:3px; border-top-right-radius:3px }
.IndexSelect ul {padding:10px 10px 5px 10px; border:#cecece solid 1px; border-radius:1px; background:#fff; min-width:150px; display:none; margin:-1px 0 5px 0 !important; border-bottom-left-radius:3px; border-bottom-right-radius:3px }
.IndexSelect ul:before {content: ''; position:relative; left:6px; top:-19px; display: block;/*background: url(../../images/house/icon_box_arrow_top.png) no-repeat left top;*/ width:17px; height:9px;}
.IndexSelect ul span { display:inline-block; font-size:11px; position:absolute; left:auto; top:auto; padding:2px 2px; background:#999; color:#fff; border-radius:4px; }
.IndexSelect ul span.bagic {font-size:9px; color:#fff; background:#999; width:85px; height:17px; border-radius:15px; display:inline-block; vertical-align:middle; text-align:center; box-sizing:border-box; opacity:0.6; margin-left: 28px;}
.IndexSelect ul span.bagic strong {color:#ffdc4f; font-family:'NanumSquareB';}
.IndexSelect ul span.SetStart {position:absolute; left:46px; top:20px; display:inline-block; width:120px; height:19px; border:#cecece solid 1px; border-radius:2px; box-sizing:border-box; font-size:11px; color:#666; padding:1px 1px 1px 5px; line-height:1.4; vertical-align:middle; box-shadow:inset 0px 2px 1px rgba(220, 220, 220, .6); background-color:#fff; opacity: 0.4;}
.IndexSelect ul li.M_on span.bagic,.IndexSelect ul li.M_on span.SetStart{opacity: 1;}
.IndexSelect ul span.SetStart button {width:30px; height:15px; font-size:11px; background:#95abab; color:#173e3e; border-radius:2px; box-sizing:border-box; padding:0 !important; text-align:center; margin-left:2px; line-height:1;}
.IndexSelect ul span.SetStart button.M_on {background:#339999; color:#fff; border:none;}
.IndexSelect li.sub-class {width:40%; max-width:200px; height:50px;}
#look-abode-box.IndexSelect li.sub-class {display:inline-block;}
.IndexSelect>li {position:relative; clear:both;}
.IndexSelect li {margin-bottom:5px;}
.IndexSelect li li {margin-bottom: 6px;}
.IndexSelect ul a {display: inline-block;font-size:12px; letter-spacing: -1px; font-family:'NanumSquare';}
.IndexSelect ul a.indecator-item {float:left; width:141px; color:#ccc; }
.IndexSelect img {vertical-align: middle; }
.IndexSelect a img {opacity:0.8; width:28px; padding-left:2px;}
.IndexSelect .M_on a{background: url(../../images/house/arrow_close.png) no-repeat 97% center;}
.IndexSelect a.indexL{background:#98a2ab;}
.IndexSelect .M_on a.indexL {opacity:1 !important; font-family:'NanumSquareB'; font-size:14px;} 
.IndexSelect .M_on a.indexL img {opacity: 1;}
.IndexSelect .M_on a.indexL:after {content: ''; position:absolute; left:5px; top:-6px; display:block; background: url(../../images/house/icon_check.png) no-repeat left top; width:24px; height:24px; background-size:20px;}
.IndexSelect.recommend ul img {width:34px; vertical-align: text-top !important; margin-right:8px; border-radius:3px; padding:2px;}
.IndexSelect li.sub-class img{width:34px; vertical-align: text-top !important; margin-right:8px; border-radius:3px; padding:2px;}
.IndexSelect .M_on ul {display:block;}
.IndexSelect ul .M_on a {color:#000; font-family:'NanumSquareB';}
.IndexSelect ul .M_on a img {opacity: 1;}
.IndexSelect ul .M_on a:after {content: '';display: block; position:absolute; left:-1px; top:-3px; background: url(../../images/house/icon_check.png) no-repeat left top; width:24px; height:24px; background-size:18px; }
.IndexSelect ul li {position: relative;}
.UnSelect {opacity: 0.4;}
.IndexSelect.UnSelect .M_on a {color: #666;}
.IndexSelect.UnSelect .M_on a img {opacity: 0.4;}
.IndexSelect li.sub-class.M_on a span.MapKind {opacity: 1;}
.IndexSelect ul a span.MapKind {position:absolute; left:46px; top:20px; display:inline-block; font-size:11px; padding:2px 4px;color: #fff; border-radius:2px; opacity: 0.8;}
.IndexSelect ul a span.MapKind.type1 {background:#c29561} /*시도*/
.IndexSelect ul a span.MapKind.type2 {background:#59c7bc;} /*시군구*/
.IndexSelect ul a span.MapKind.type3 {background:#7799b8;} /*읍면동*/
.IndexSelect.recommend .SetStepSelect{position:absolute; left:170px; top:20px; display:block; box-sizing:border-box; width:85px; height:20px; padding-left:5px; opacity: 0.3; border:#cecece solid 1px; box-shadow:inset 0px 2px 1px rgba(220, 220, 220, .6); font-size:11px; border-radius:2px;}
.IndexSelect.recommend ul .M_on .SetStepSelect{opacity: 1;}
/* 출처 */
.origin_txt{ color: #999;font-size: 11px;text-align: right;margin-right: 20px;bottom: 15px; }

#indicator-navigator>div{display:none;}
#indicator-navigator>div.M_on{display:block;}
.b-class-box{height: 30px; background:#666;text-align: center;}
.b-class-box a{color: #fff;font-size: 14px;line-height: 30px;font-weight: bold;}
.b-class-box a.left,.b-class-box a.right{width:30px;}
.b-class-box a.left{float:left;}
.b-class-box a.right{float:right;}
.m-class-box{overflow: scroll;}

/*차트 통계 값*/
div.ChartInfo { padding:0 10px 10px 10px;}
div.ChartInfo table { border-collapse: collapse; width: 100%;}
div.ChartInfo table caption {height: 0; width: 0; overflow: hidden; position: absolute;}
div.ChartInfo table th { background:#f4f4f4; border:#ddd solid 1px; width:50%; padding:5px;border-bottom: none;}
div.ChartInfo table td {border:#ddd solid 1px;padding:5px;vertical-align: top;}

div.ChartInfo table td div { padding-left: 10px; position: relative; }
div.ChartInfo table td div:before { content: ''; display: block; width: 4px; height: 4px; border-radius: 2px; background: #ccc; position: absolute; left: 2px; top: 7px; }
div.ChartInfo table td div span { color:#c33;}

.spider-web-chart-navigator{position: absolute;top: calc(100vh/2.5);z-index: 1;background-repeat: no-repeat;background-position: center;background-color: #9b9b9b;border-radius: 50%;display: block;width: 50px;height: 50px;overflow: hidden;text-indent: -2000px;opacity: 0.6;}
.spider-web-chart-navigator.prev{left:10px;background-image: url(../../images/common/ico_left01.png);}
.spider-web-chart-navigator.next{right:10px;background-image: url(../../images/common/ico_right01.png);}

ul.fancytree-container {width: 240px;overflow: auto;position: relative;}

/*간편동네찾기 */
.LikeTown {position:absolute; top:32px; left:0; width:100%; height:calc(100% - 32px);}
	
.StepTitle { width:100%; height:35px; overflow:hidden; border-top:1px solid #38649e; box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.1);}
.StepTitle a {position:relative; display:inline-block; float:left; background:#97b0c6; height:35px; width:20%; color:#fff; padding:10px 0 0 11px; box-sizing:border-box; text-align:center;}
.StepTitle a span { position:absolute; width:0; height:0; overflow:hidden;}
.StepTitle a:before { content:''; position:absolute; right:-19px; top:0; background:url(../../images/house/step_arrow.png) no-repeat left top; background-size:19px; width:19px; height:35px; z-index:2;}
.StepTitle a:nth-child(2).M_on, .StepTitle a:nth-child(3).M_on{padding:8px 0 0 30px;}
.StepTitle a.M_on {width:60%; background:#4f88d3; padding:8px 0 0 18px; text-align:left; }
.StepTitle a.M_on:before {background-image:url(../../images/house/step_arrow_on.png); background-size:19px;}
.StepTitle a.M_on span {position:relative; width:auto; height:auto; font-size:14px; }
.StepTitle a b{font-weight:normal;} 
.StepTitle a.M_on b {display:inline-block; padding:0 10px; background:#457bc3; color:#ffda84; border-radius:10px; height:20px; box-sizing:border-box; line-height:20px; margin-right:7px;  box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2); }

.LikeTown .ContBox .StepCont {position:absolute; left:0; padding:10px; height: calc(100% - 86px);  overflow: auto; width:100%; box-sizing:border-box;}
.LikeTown .ContBox.step1 dl {position:relative; background:#fff; border-radius:3px; box-sizing:border-box; margin-bottom:7px; padding:10px 10px 10px 105px;}
.LikeTown .ContBox.step1 dt { position:absolute; left:15px; top:calc(50% - 11px); font-size:14px; font-family:'NanumSquareB';}
.LikeTown .ContBox.step1 dt em{color:#fe6753; font-size:14px;}
.LikeTown .step1 dd { overflow:auto;}
.LikeTown .step1 dd a {line-height:45px; display:block; float:left; width:50%; margin-bottom:3px; }
.LikeTown .step1 dl:nth-child(3) dd a {margin-bottom:3px;}
.LikeTown .step1 dl:nth-child(3) dd a:last-child, .LikeTown .step1 dd a:last-child {margin-bottom:0;}
.LikeTown .step1 dd a span {background:#eaeaea no-repeat center center; background-size:44px; display:inline-block; width:45px; height:45px; border-radius:2px; border:#ccc solid 1px; box-sizing:border-box; margin-right:5px; text-indent:-1000px; overflow:hidden; vertical-align:middle;-webkit-transition-duration:0.2s; transition-duration:0.2s;}
.LikeTown .step1 dd a.M_on span {background-color:#ffda84; border:none; box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2);}

.LikeTown .step1 dd select { height:30px; border:#ddd solid 1px; width:100%; margin-bottom:3px;}
.LikeTown .step1 dd select:last-child { margin-bottom:0;}

.RadioGroup {}
.RadioGroup input, .RadioGroup label {vertical-align:middle;} 
.RadioGroup input {position:absolute;left:-2000px;}
.RadioGroup input:checked:before{background:url(../../images/icon/icon_rdbox_on.png); background-size:18px;}
.RadioGroup label {background:url(../../images/icon/icon_rdbox_off.png) no-repeat left center; background-size:18px; padding-left:20px; line-height:20px; display:inline-block; margin-right:20px; width:30%;}
.RadioGroup label.on {background:url(../../images/icon/icon_rdbox_on.png) no-repeat left center; background-size:18px;}

.LikeTown .ContBox.step2 .StepCont {padding:0; border-bottom:#ddd solid 1px;}
.LikeTown .step2 dl dt {font-size:19px; color:#000; box-sizing:border-box; padding:12px 0 0 20px; }
.LikeTown .step2 dl dt strong {font-family:'NanumSquareB'; font-weight:normal; }
.LikeTown .step2 dl:nth-child(1) dt strong {color:#3cabd7;}
.LikeTown .step2 dl:nth-child(2) dt strong {color:#7d63ad;}
.LikeTown .step2 dl:nth-child(3) dt strong {color:#4fab46;}
.LikeTown .step2 dl dd ul {margin:0 22px 10px; padding:5px 10px; border-radius:4px; background:#fff;}
.LikeTown .step2 dl dd ul li {position:relative; height:26px; color:#666; box-sizing:border-box; line-height:26px; padding-left:12px; font-size:12px; border-bottom:1px dotted #d1d1d1; cursor:pointer;letter-spacing:-0.05em;}
.LikeTown .step2 dl dd ul li:last-child{border-bottom:none;}
.LikeTown .step2 dl dd ul li.M_on {color:#fff;}
.LikeTown .step2 dl dd ul li:before { content:''; position:absolute; left:5px; top:10px; display:block; width:3px; height:3px; background:#457bc3; }
.LikeTown .step2 dl dd ul li.M_on:before {background:#fff;}
.LikeTown .step2 dl:nth-child(1) dd ul li.M_on { background-color:#5fbbdf;}
.LikeTown .step2 dl:nth-child(2) dd ul li.M_on { background-color:#8781bd;}
.LikeTown .step2 dl:nth-child(3) dd ul li.M_on { background-color:#60ba58;}

.LikeTown .ContBox.step3 .StepCont { padding:0; }
.LikeTown .step3 p {background:#fff url(../../images/house/liketown_info.png) no-repeat 22px center; border-bottom:#ddd solid 1px; background-size:48px; padding:16px 20px 16px 80px;  font-size:14px; }
.LikeTown .step3 ul {padding:25px 22px;}
.LikeTown .step3 ul li {position:relative; margin-bottom:5px; height:30px; border-radius:3px; box-sizing:border-box; background:#fff}
.LikeTown .step3 ul li b {position:absolute; width:20px; height:20px; display:block; left:5px; top:4px; background:#f1f1f1; color:#222; border-radius:12px; box-sizing:border-box; font-weight:normal; text-align:center; line-height:20px; box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3)}
.LikeTown .step3 ul li.This { border:none;}
.LikeTown .step3 ul li.This span { display:block; height:30px; color:#fff; padding-left:30px; line-height:30px; border-radius:15px;}
.facilities {background:#5fbbdf !important;}
.neighbor {background:#8781bd !important;}
.situation {background:#60ba58 !important;}
.LikeTown .step3 ul li.This button { position:absolute; right:10px; top:7px; width:13px; height:13px; background:url(../../images/common/icon_close.png) no-repeat left top; background-size:15px; text-indent:-1000px; overflow:hidden; border:none;}
.LikeTown .step3 ul li.This b { border:none; margin-top:1px;}

/* 라이프스타일 */
#lifeStyle{float:right; display:inline-block; padding:0 10px; background:#457bc3; border-radius:2px; box-sizing:border-box; height:20px; line-height:20px; color:#fff; font-size:12px; margin-right:15px;}
.LifeStyleGuide li{height: 70px;}
.LifeStyleGuide li.M_on{background:#ffda84; border:1px solid #dbbb71; box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2)}
.LifeStyleGuide li span{line-height: 50px;}

@media (max-width: 400px) {
	.LikeTown .step1 dd a{width:100%;}
	.StepTitle a.M_on span{font-size:10px;}
	.RadioGroup label{width: calc(100% - 25px);}
}
.index1.M_on a.indexL, .recommend .index1 ul img, .index1 a.indecator-item img{background-color:#7eb43e; opacity:0.7}
.index2.M_on a.indexL, .recommend .index2 ul img, .index2 a.indecator-item img{background-color:#57b4e6; opacity:0.7}
.index3.M_on a.indexL, .recommend .index3 ul img, .index3 a.indecator-item img{background-color:#f770b0; opacity:0.7}
.index4.M_on a.indexL, .recommend .index4 ul img, .index4 a.indecator-item img{background-color:#f9bb50; opacity:0.7}
.index5.M_on a.indexL, .recommend .index5 ul img, .index5 a.indecator-item img{background-color:#46afaf; opacity:0.7}
.index6.M_on a.indexL, .recommend .index6 ul img, .index6 a.indecator-item img{background-color:#867bd6; opacity:0.7}
.index7.M_on a.indexL, .recommend .index7 ul img, .index7 a.indecator-item img{background-color:#fe6753; opacity:0.7}

.m-class-items{position:absolute; top:4px; right:40px;}
.m-class-items img{margin-top:-2px;}

.item-list img{width:20px; height:20px; margin-right:4px; border-radius:2px; padding:2px; background:#7799b8;}
