@CHARSET "UTF-8";
body { 
	padding-top:80px !important;
	overflow-x:scroll;
	min-width:1400px;
}
.navbar-fixed-top { height:80px; }
.nav-user { 
	background: #24303e !important;
	/* url('../images/2016/header/top_bg_1_blk.png') */
	margin-left:1px;
	margin-right:1px;
	border-radius:0 !important; 
}
.navbar-menu {
	border-top:none !important;
	background: #24303e !important;
	border-radius:0 !important;
	border-bottom: 2px solid #24303e !important; /*LNB 보더*/
	/*메뉴 하단 크기*/
	min-height:50px !important;
	height:50px !important;
	overflow-y: auto;
}
/*상단 로고*/
#navbar-logo {
	position:absolute;z-index:1;
    top:0;left:0;padding-top:5px;
    width:397px;height:82px;
    background:url('../images/2016/menu/top_bg2.png') no-repeat !important;
}
/* 상단 메뉴*/
.navbar-menu #navbar { /* min-height:70px;line-height:35px; */ padding-top:0px;margin-left:397px;z-index:2; }
#navbar ul {  float:right; margin-right:10px; } /*메뉴 우측 이동 */
.navbar .divider-vertical {
	display:none;
	/* height: 23px;
	margin-top: 15px !important;
	border-right: 1px solid #b2b2b2; */
}
.navbar-nav a.w-t-btn { 
	display:block;
	margin-right:0px;
	margin-left:0px;
	padding:0;	/* 대메뉴 간격*/ 
}
.navbar-nav a.w-t-btn > .menu-nm { 
	min-width:120px;display:inline-block;text-align:center;color:#FFFFFF;line-height:45px;
	font-size:16px;font-weight:normal;
}
.navbar-nav a.w-t-btn > .active {
	color:#fac800;font-family:'나눔고딕B';
}
.navbar-nav a.w-t-btn > .active > .udt { border-bottom:2px solid #fac800;display:inline-block;line-height:45px; } 
/* 사용자 로그인 */
.login-info { color:#9EA5AB !important;font-size:0.8em;padding-left:3px; }
.username { color:#FFFFFF;font-size:0.9em;padding-left:3px; }

#btn-logout { background:none !important; }
#btn-logout:focus { outline:0 !important; }
#btn-logout-bg { 
	background:url('../images/2016/menu/btn_bg73x24.png') no-repeat;width:73px;height:24px ;display:inline-block !important; 
	margin-top:-3px;
}

/* .navbar-menu .navbar-header {
    position:relative;
    top:0;left:0;
    width:347px;height:108px;
} */
.kostat-logo { 
	display:inline-block;
	background:inherit !important;
	width:480px;;
	height:49px;
	top:0px;
	position:relative;
}
.kostat-logo b { 
	color:#FFCC00;
	/* font-family: '나눔고딕EB''; */
	font-weight:normal !important;
	font-family: '나눔고딕EB';
    line-height: 1.2;
    font-size: 28px;
}
.kostat-logo .sub-tat { font-size:13px;color:#B8BCC0;display:block;margin:0;margin-top:3px; }
.navbar-nav a.w-t-btn { padding-bottom:0 !important; }

/* 서브 메뉴 (LNB) */
/* .sub-menu-head {
	width:108px;height:38px;
	background: #606c88; fallback for old browsers
	background: -webkit-linear-gradient(to left, #606c88 , #3f4c6b); Chrome 10-25, Safari 5.1-6
	background: linear-gradient(to left, #606c88 , #3f4c6b); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
} */
/* 좌측 메뉴 스타일 ====== */
#main_icon { 
	background: transparent !important;
	padding-top:2px;
}
.left-blit { 
	background:url('../images/2016/menu/left_blit.png') no-repeat; 
	width:18px;
	height:15px;
	display:inline-block;
	right:16% !important; 
}
/*#sidebar-wrapper { background:#418DC9 !important; }*/
#sidebar-wrapper { background:#333333 !important; }
.active #sidebar-wrapper { background:#FFFFFF !important; }
#sidebar_menu li a#menu-toggle {
    position: relative;
    color:#FFFFFF !important;
	padding-left:0 !important;
	/* border-bottom: none !important; */
}
.active li a#menu-toggle {
	border-bottom: none !important;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav > .sidebar-brand {
	color : #FFFFFF !important;
    height: 44px;;
    line-height: 44px;
    font-size: 16px;
    border-top: 0px;
    /* background:red !important; */
	/* background: #418DC9; fallback for old browsers
	background: -webkit-linear-gradient(to left, #418DC9 , #418DC9); Chrome 10-25, Safari 5.1-6
	background: linear-gradient(to left, #418DC9 , #418DC9); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.active .sidebar-brand { background:url('../images/2016/menu/left_bg_44.png') repeat-x; }

.sidebar-nav li a {
    color: #989898;
    display: block;
    /* text-align: center; */
    text-decoration: none;
}
/*==========*/
/* Content 영역 ============================================ */
section.content { /* padding-top:30px; */ }

/* 페이지 상단 제목 */
header.topbar {
    z-index: 2;
    position: relative;
    width: 100%;
    min-height: 0px;
    height:44px;
    /* line-height:52px; */
    padding: 0px 22px;
    padding-top:12px;
    background: #F4F8FB;
    /* background-color: #FAFAFA;
    border-bottom: 1px solid #808080; */
    /* background: #FAFAFA url('../images/2016/content/topbar_bg.png') repeat-x !important; */ 
    font-size: 1.2em;
    font-family:'나눔고딕B';
}
header.topbar .icon {
    color: #C2C2C2;
    margin-right: 0px;
}

/* 탭 스타일 */
a.tab-point { background:#2674d0 !important;color:#FFFFFF !important; }
li.active a.tab-point { border-top:2px solid black !important; }

/* .nav-tabs { 
	border-bottom:2px solid #336699 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #FFFFFF;
    cursor: default;
    background-color: #336699;
    border: 1px solid #336699;
    border-bottom-color: #336699;
    border-top: 1px solid #336699;
}
 */
.nav-tabs { 
	border-bottom:2px solid #333333 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #FFFFFF;
    cursor: default;
    background-color: #333333;
    border: 1px solid #333333;
    border-bottom-color: #333333;
    border-top: 1px solid #333333;
}



.nav-tabs > li {
	/* background:#FFFFFF !important;
	background-color:#FFFFFF !important; */
}
.nav-tabs > li > a {
	min-width:120px;
	text-align:center;	
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #CCCCCC;
    border-bottom-color:transparent;
    border-radius: 4px 4px 0 0;
    color:#888888;
    font-size:1.0em;
    padding-top:7px;padding-bottom:7px;
}
.n-m-w > li > a { min-width:0 !important; }

/* 운영현황 탭 배경 */
.bg-tab { 
	background:#FFFFFF; background-color: #FFFFFF;
	/* background:url('../images/2016/content/trans_bg.png') no-repeat; */
}
.fixheight { position:relative;height:150px;padding-top:10px;padding-bottom:10px;margin-bottom:10px; }
.goodbg { 
	background: #FFFFFF url('../images/2016/content/goodbg.png') !important;
	width:400px;height:131px;bottom:0;position:absolute;margin:0px;; 
}

/* 운영현황 집계 수 */
.sts-icon-box { color : #FFFFFF; }
.sts-item { 
	line-height:200%;
    display:inline-block;
    /* border:1px solid #D2D2D2;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px; */
    border: none !important;
    width : 130px;
    text-align:center;
    padding:5px;
    margin-right:10px; 
}
.sts-item .si {  display:inline-block;width:28px;height:25px; }
.sts-item .sts-adb { background:url('../images/2016/content/icon-adb.png') no-repeat; }
.sts-item .sts-stg { background:url('../images/2016/content/icon-stg.png') no-repeat; }
.sts-item .sts-down { background:url('../images/2016/content/icon-down.png') no-repeat; }
.sts-item .sts-join { background:url('../images/2016/content/icon-join.png') no-repeat; }
.sts-item .sts-qna{ background:url('../images/2016/content/icon-qna.png') no-repeat; }

.sts-item .sts-icon { color:#333333;text-align:center;  }
.sts-item .sts-title { font-size:0.9em;background:#336699;margin-top:4px;line-height:180%; }
.sts-item .sts-cnt { margin-top:5px;font-family:'나눔고딕B' }
.sts-cnt .badge-info { background:inherit !important; font-size:20px;color:#FF6600; }

/* 패널 스타일 변경 */
.pn-m-btn:hover { text-decoration:none; }
.pn-m-btn:focus { outline:0; }
#cont-sts-mgr .pn-m-btn { color:#FFFFFF;float:right;margin-top:2px; }
.widget > .panel-heading {
	font-size:1.0em;
}
.panel-default > .panel-heading {
    color: #FFFFFF;
    /* background-color: #6699CC; */
    background-color: #243032;
    border-color: #243032;
    border:1px solid #243032;
    min-height:40px;
}
.widget2 { border:none !important; }
.widget2 > .panel-heading {
	background:#FFFFFF;
	border:none;
	color:#333333;
	font-family:'나눔고딕B';
}
.widget2 > .panel-body { padding:0; }
.widget2 .pn-m-btn { color:#888888 !important; }

/* 공지, QNA, 팝업 현황 스타일 */
#grp-notices { background:#ECECEC;border:2px solid #D2D2D2;border-left:none;margin-top:15px;margin-left:-15px;padding-right:15px; }
#grp-notices .string-cell { text-align:right !important; } 
.panel-none { background:transparent !important; }
.panel-none > .panel-heading { 
	border:none;
	background:transparent !important;
	color:#333333;
	font-family:'나눔고딕B'; 
}
.panel-none .pn-m-btn { color:#888888 !important; }
.panel-none > .panel-body { padding:0px; }
.panel-none table { border:none !important;font-size:0.9em; }
.panel-none thead { display:none !important;border:none !important;height:0 !important; }
.panel-none th { display:none !important;border:none !important;height:0 !important; }
.panel-none td, tr { border:none !important;background:transparent !important;color:#333333 !important; }
.panel-none td > a { color:#333333 !important; }
.panel-none td > a:hover { text-decoration:none !important; }

/* 현황 테이블 스타일  */

.tk table.backgrid { border-top:1px solid #CDCDCD !important;font-size:0.9em; }
.tk th {
	background:#ECF4F7 !important;border-top:1px solid #D2D2D2 !important;
}
.tk tbody tr {
    background-color: #FFFFFF !important;
}
.tk a { color:#000000; }
.tk a:hover { color:#999999;text-decoration:none; }
.tk a:focus { outline:0; }
.tk a.label { color:#FFFFFF; }

.panel-default2 {
  border-color: #ddd;
}
.panel-default2 > .panel-heading {
  color: #FFFFFF;
    background-color: #FFFFFF;
    border-color: #CDCDCD;
    border:1px solid #CDCDCD;
}
.panel-default2 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default2 > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default2 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

/* 입력 폼 */
.panel-input {
	background:#F5F5F5 !important;
}
.panel-input .panel-heading { 
	background:#F5F5F5 !important;
	color: #333333;
	border:none;
	/* 20180612 ktk add */
	position: relative;
	/* end */
}
.panel-input .panel-heading i { color:#888888; }

/* 20180612 ktk add */
.panel-input .panel-heading .check-box {
	position: absolute;
	right: 0;
	width: 15px;
	height: 15px;
}
/* end */


.panel-input-790 {
	background:#F5F5F5 !important;
}
.panel-input-790 .panel-heading { 
	background:#F5F5F5 !important;
	color: #333333;
	border:none;
}
.panel-input-790 .panel-heading i { color:#888888; }





.panel-heading a > i { color: #FFFFFF; }


/**[ 공통 ]============= **/
.vm { vertical-align:middle;}
strong { font-family:"나눔고딕B"; }
.blue-btns { 
	font-family:"나눔고딕B";
	padding-left:10px;padding-right:10px;
	height:30px;
	cursor:pointer; 
	vertical-align:middle; 
	font-size:12px;
	border-radius:7px;
	margin-right:10px;
	border:1px #1B242E solid; 
	background:#0066CC;
	color:#FFFFFF;
}

.ui-dialog {
    border: 2px solid #333333 !important;
    padding: 0;
}
.ui-dialog .ui-dialog-title {
    font-weight: normal;
    font-family: '나눔고딕B';
}
.warning .ui-widget-header {
    background: #333333 50% 50% repeat-x;
    border: 1px solid #333333;
}
.info .ui-widget-header { 
    background: #333333 50% 50% repeat-x;
    border : 1px solid #333333; 
}
.info.ui-dialog { border: 5px solid #333333;font-size:0.9em; }

/* 툴팁 */
.nd-tooltip {
	background:transparent !important;
}
.nd-tooltip .tooltip-inner { 
	 background:#FFFFFF !important;
	 color:#333333;
    border: 2px solid #D2D2D2;
    padding: 10px;
    max-width: 550px;
    text-align: left;
    font-size:13px;
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.3);
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.3);
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}
.nd-tooltip .tooltip-arrow {
    border-bottom-color: #CDCDCD !important;
}
.nd-tooltip.in {
    opacity:1;
}

/*[사용자영역]==============*/
#user-guide-images  {
	width:100%;display:block;background:#6B9DCE url('../images/2016/main/bg_repeat.png') repeat-x;
	position:relative;
}
.gd-btns {
	position:absolute;
	bottom:0;
	left:50%;
	top:420px;
	margin-left:-520px;
	width:400px;height:50px;
}
#user-guide-images .gd {
	width:1200px;height:471px;display:none;margin:0px auto;
}
#user-guide-images .gd.active { display:block; }
#user-guide-images #gd01.gd {
	background:#6B9DCE url('../images/2016/main/user_guide_1.png?v=1') no-repeat;
}
#user-guide-images #gd02.gd {
	background:#6B9DCE url('../images/2016/main/user_guide_2.png?v=2') no-repeat;
}
#user-guide-images #gd03.gd {
	background:#6B9DCE url('../images/2016/main/user_guide_3.png?v=2') no-repeat;
}
#user-guide-images #gd04.gd {
	background:#6B9DCE url('../images/2016/main/user_guide_4.png?v=1') no-repeat;
}
#user-guide-images .gd-icon {
	background: url('../images/2016/main/off.png') no-repeat;
	width:20px;height:20px;display:inline-block;margin-right:1px;
	cursor:pointer;cursor:hand;
}
#user-guide-images .gd-icon.active {
	background: url('../images/2016/main/on.png') no-repeat;
}
.gd-contents { position:absolute;top:100px;left:50%;margin-left:-520px; }
.gd-h1 {
	color:#FFFFFF;font-weight:400;font-size:28px;margin-bottom:20px;
}
.gd-desc {
	font-size:14px;line-height:16px;font-weight:400;font-family:'나눔고딕B';margin-bottom:40px;
}
.gd-link a {
	font-size:17px;
	font-weight:400;
	color:#FFFFFF;border:1px solid #FFFFFF;padding:7px 14px;	
	display:inline-block;width:230px;
}
.gd-link a > .floatright { float:right;margin-right:7px; } 
.gd-link  a:hover { text-decoration:none !important; }

/* 사용자 메인 */
#cont-user-main { margin:0px auto; }
#cont-user-main .pn-m-btn { color:#8E8E8E !important;float:right;font-size:11px !important; }
#cont-user-main .panel-heading { 
	border-bottom:1px solid #D2D2D2;font-size:1.2em;padding-left:0;margin:0 10px;
	font-family:'나눔고딕B';font-weight:bold;
}
#cont-user-main #panel-mdat > .panel-body { padding: 0;  }

#cont-user-main td:last-of-type { text-align: right !important; }


/* 분석 ( jqtree ) */
#map_layer_tree ul.jqtree-tree li.jqtree-selected > .jqtree-element,#map_layer_tree  ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background-color: #FFFFFF !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF)) !important;
    
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF) !important;
    background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF) !important;
    background: -o-linear-gradient(top, #FFFFFF, #FFFFFF) !important;
    text-shadow: 0 !important;
}
#map_layer_tree > ul.jqtree-tree li.jqtree-selected > .jqtree-element  .tree-lbl > .in-text ,#map_layer_tree  > ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover  .tree-lbl > .in-text{
	background:#3E3E3E;color:#FFFFFF;font-weight:normal !important;
	font-family:'나눔고딕' !important;
}

#map_layer_tree ul.jqtree-tree li { margin-top:5px; }

#map_layer_tree input.btn-LayerCheck {
	margin-left:20px;	margin-right:5px;
}
#map_layer_tree .tree-lbl { 
	min-width:70px !important;display:inline-block !important;vertical-align:middle !important;
	/* margin-right:10px; */ 
	/* padding-left:5px; */
	font-size:12px !important;
}
#map_layer_tree .in-text { display:inline-block;height:24px;line-height:24px;padding:0px 5px; }
#map_layer_tree .btn { margin:0px 3px; }

/*[공간분석용어설명페이지]==============*/
.spatial-guide p { margin-top:10px;margin-bottom:10px; }
.spatial-guide img { margin:0px auto; }
.spatial-guide table { width:95%;margin:0px auto; }
.spatial-guide td { border:1px solid #333333;text-align:left;padding:10px;margin:5px; }
/*=====================================*/

/*[도움말]=============================*/
.paragraph { margin-bottom:20px; }
.ps-title { font-size:15px; }
/*=====================================*/

/*[테이블]=============================*/
.happy-tb-style {}
.happy-tb-style th { background:#CEDEEF;font-weight:normal;text-align:center; }
.happy-tb-style td { text-align:left;padding:3px 10px; }
.happy-tb-style th,.happy-tb-style td { border:1px solid black; }
/*=====================================*/


.jqtree-tree {
	font-family: '나눔고딕' !important;
	line-height: 1 !important;
	position: relative !important;
	font-size: 12px !important;
	font-weight: normal !important;
	background-color: transparent;
}
div.jqtree-element {
}

.jqtree-tree .jqtree-title  {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0 0 0;
	margin-left:1px !important;
}

.jqtree-tree .jqtree-title a, .jqtree-tree .jqtree-title b {
	display: block;
	color: #000;
	text-decoration: none;
	height: 20px;
	line-height: 1.8;
}


ul.jqtree-tree {
	padding: 0 0 0 0;
}
ul.jqtree_common {
	margin: 0;
	padding: 0 0 0 0;
}

ul li.jqtree_common {
	padding: 0 0 0 20px;
	margin: 0 0 0 5px;
	min-height: 19px;
	text-overflow: ellipsis;
	list-style-type: none;
	background-image: url(../images/jqtree/treeview-default-line.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: relative;
}

span.jqtree_common {
	display: block;
}
ul.jqtree_common li ul.jqtree_common li:last-child {
	background-position: 0 -1766px;
}
ul.jqtree_common>li:last-child,  ul.jqtree-tree>li:last-child {
	background-position: 0 -1766px;
}

ul.jqtree_common li ul.jqtree_common {
}

ul.jqtree_common li ul.jqtree_common li {
}

ul.jqtree_common li ul.jqtree_common li ul.jqtree_common {
}

ul.jqtree_common li ul.jqtree_common li ul.jqtree_common li {
}
.jqtree-tree *:focus {
	outline: 1px dotted #ccc;
}
ul.jqtree_common .jqtree-toggler {
	position: absolute;
	top: 3px;
	left: 0;
	height: 20px;
	width: 20px;
	background-image: url(../images/jqtree/minusplus.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
	text-indent: 100px;
	overflow: hidden;
	cursor: pointer;
}
ul.jqtree-tree li.jqtree-folder {
	
}
ul.jqtree-tree .jqtree-title.jqtree-title-folder {
    
}
.jqtree .jqtree_common.jqtree-title {
	display: block;
}
ul.jqtree_common .jqtree-toggler.jqtree-closed {
	background-position: 50% 100% !important;
}
.jqtree-closed ul {
	display: none;
}
.marker-icon-master-sm {
	background:url('../images/marker/custom/marker-icon-sm.png') no-repeat;
	width:15px;height:25px;
	display:inline-block;
	vertical-align:middle;
}
.marker-icon-daum-sm {
	background:url('../images/marker/custom/marker-icon2-sm.png') no-repeat;
	width:15px;height:25px;
	display:inline-block;
	vertical-align:middle;
}
.marker-icon-sop-sm {
	background:url('../images/marker/custom/marker-icon3-sm.png') no-repeat;
	width:15px;height:25px;
	display:inline-block;
	vertical-align:middle;
}
.loading-msg { font-size:12px;padding:2px; }

.ui-dialog-titlebar-close {
  background: url("../ext/jquery-ui/1.11.4/images/ui-icons_ffffff_256x240.png") repeat scroll -80px -128px rgba(0, 0, 0, 0);
  border: medium none;
}
.ui-dialog-titlebar-close:hover {
  background: url("../ext/jquery-ui/1.11.4/images/ui-icons_ffffff_256x240.png") repeat scroll -80px -128px rgba(0, 0, 0, 0);
}

/* 레이블 스타일 */
.lbl-01 {     
	
	font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-block;
    background: #EFEFEF;
    padding: 5px 30px;
    border: 1px solid #D2D2D2;
    
}
/* 분석 도움말 버튼 */
.menuinfo { cursor:hand;cursor:pointer; }
