/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 리셋 reset */
*{margin:0;padding:0;box-sizing:border-box;font-family: 'Montserrat', 'Noto Sans KR', sans-serif;line-height:1.6;letter-spacing:0.02em;}
body{width:900px;margin:0 auto;}
a{text-decoration:none;}
ul, ol{list-style:none;}
table{border-collapse:collapse;border-spacing:0}

/* 헤더 */
header{height:343px; font-size:0px; background:url('img/topimg.jpg')}

/* 컨텐츠 */
.cont_wrap{padding:20px;}
section{background:#fff;padding:20px;}
section.intro ul{margin-top:20px;}
section.intro li{display:flex;align-items:center;font-size:18px;line-height:2;font-weight:400;}
section.intro strong{color:#fff;background:#15a46b;border-radius:20px;font-size:18px;padding:0 16px;margin-right:10px;}

section.result h3{font-size:24px;display:flex;align-items:center;color:#15a46b;margin-bottom:20px;border:1px solid #15a46b;}
section.result h3 span.num{background:#15a46b;padding:0 6px;color:#fff;display:flex;align-items:center;justify-content:center;margin-right:6px;}
section.result h4{font-size:22px;color:#15a46b;margin-left:36px;margin-top:30px;}
section.result p.txt{font-size:20px;margin-left:36px;position:relative;padding-left:16px;margin-top:30px;}
section.result p.txt::before{content:'';width:10px;height:10px;background:#15a46b;position:absolute;top:11px;left:0;}
section.result p.sub_txt{font-size:16px;color:#555;margin-left:53px;}
section.result p.exp_txt{font-size:15px;color:#15a46b;margin-left:56px;}
section.result p.exp_txt::before{content:'*';margin-left:-4px;margin-right:4px;}
section.result .chart_img{margin-left:50px;border:1px solid #eee;padding:20px;margin-top:30px;}

.table_wrap {width:750px;}
.table_wrap .flex_wrap{display:flex;justify-content:space-between;}
.table_wrap .flex_box{width:calc(50% - 5px);}
.table_wrap .flex_box.border{}
.table_wrap table{width:100%;margin:50px 0;}
.table_wrap table.td_right td{text-align:right;}
.table_wrap table.half{width:50%}
/* .table_wrap table.half{width:410px;} */
.table_wrap table th{background:#c7e9fc;padding:4px 6px;font-size:14px;border:1px solid #96d0f1;white-space:nowrap;}
.table_wrap table td{border:1px solid #ddd;text-align:center;padding:4px 6px;font-size:14px;}
.table_wrap table td.point{background:#fff4d3;font-weight:bold;}
.table_wrap table td.sum{background:#eee;font-weight:bold;}

.table_wrap table.table_style01 td{text-align:right;}
.table_wrap table.table_style01 td:first-child{text-align:center;}

.font1 {font-family: 'Montserrat', sans-serif;}