.loginWrap {
  width: 100%;
  background: url('#{$imgPath}login_bg.png') repeat-x 0 0;
}

.login {
  width: 1200px;
  margin: 0 auto;
}

.loginArea {
  width: 100%;
  height: 298px;
  box-sizing: border-box;
  overflow: hidden;
}

.loginArea ul {
  margin: 0 auto;
  margin-top: 80px;
}

.loginArea li {
  margin-top: 6px;
}

.loginArea li:first-child {
  margin-top: 0;
}

.loginArea li select {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #d5d5d5;
  background: url('#{$imgPath}select_bg.png') no-repeat top right;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
  padding-left: 40px;
  line-height: 45px;
}

.loginArea li input {
  width: 300px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #d5d5d5;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
  padding: 0px 40px 0px 40px;
  line-height: 45px;
}

.loginArea li button {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background: #3d62e8;
  font-size: 17px;
  color: #fff;
  text-align: center;
  border: 0;
}

.loginArea li button:hover {
  opacity: 0.5
}

.loginMember {
  margin: 0 0 0 65px;
  width: 420px;
}

.loginMember li {
  float: left;
  width: 105px;
  background: url('#{$imgPath}li_bg.png') no-repeat top right;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
}

.loginMember li:last-child {
  background: none;
}

.loginMember li span {
  font-size: 12px;
  text-align: center;
  color: #525252;
}

.loginMember li span:hover {
  font-weight: bold;
  cursor: pointer;
}

.loginForm { /* height:200px; *//* line-height:200px; */
  text-align: center;
}


.signUpArea {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.signUpArea ul {
  margin: 0 auto;
}

.signUpArea li {
  margin-top: 6px;
}

.signUpArea li:first-child {
  margin-top: 0;
}

.signUpArea select {
  width: 270px;
  height: 40px; /*  border-radius:30px; */
  border: 1px solid #d5d5d5;
  background: url('#{$imgPath}select_bg.png') no-repeat top right;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
  padding-left: 30px;
  line-height: 40px;
}

.signUpArea input {
  width: 270px;
  height: 40px; /* border-radius:30px; */
  border: 1px solid #d5d5d5;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
  padding: 0px 30px 0px 30px;
  line-height: 40px;
}

.signUpArea button {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  background: #3d62e8;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border: 0;
}

.signUpArea button:hover {
  opacity: 0.5
}

.signUpArea .subTitleArea {
  text-align: left;
}

.signUpArea .subTitle {
  font-size: 20px;
  font-weight: bold;
}

.signUpArea table {
  width: 100%;
  margin: 15px 0 15px 0;
}

.signUpArea th {
  text-align: left;
  width: 110px;
  height: 60px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.signUpArea .signUpSubArea {
  margin: 20px 0 20px 0;
}

.signUpFooterArea button {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  background: #3d62e8;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border: 0;
}

.signUpFooterArea button:hover {
  opacity: 0.5
}

.wColor {
  background-color: #fff !important;
  color: #666 !important;
  border: 1px solid #d5d5d5 !important;
}

.signUpFooterArea .footerBtnBox {
  margin: 15px 0 20px -15px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.findPwHelpArea {
  text-align: left;
  margin: 0 0 20px 10px;
  font-size: 14px;
  color: red;
}

.w270 {
  width: 270px !important;
}

.w350 {
  width: 350px !important;
}

.require_item {
  color: red;
  margin-right: 5px;
}

select::-ms-expand {
  display: none;
}

ul li {
  list-style: none;
}