/*main */

.topWrap{height:90px; border-bottom:1px solid #e5e5e5; width:100%; overflow:hidden; z-index:200;position:relative;background:#fff; overflow:hidden;}
.topBox{ width:100%; position:absolute;;}
.top{width:1200px; margin:0 auto; height:90px; min-width:1200px; display: flex; flex-direction: row; justify-content: space-between; }
.toplogo{vertical-align:middle; line-height:90px;}
.toplogo img{vertical-align:middle;}

.topAdmin{padding-top:27px;}
.topAdmin ul{width:240px; height:35px; border-radius:30px;  box-sizing:border-box; border:1px solid #e5e5e5;  padding:7px 15px; float:left; overflow:hidden;}
.topAdmin li{float:left; margin-right:6px; height:20px; line-height:20px;}
.topAdmin li:last-child{ margin-left:10px; }
.topAdmin li.admin{background:url(../../img/common/icon_admin01_n.png)no-repeat 0 0; width:20px; height:20px; }
.topAdmin li.admin:hover{background:url(../../img/common/icon_admin01_s.png)no-repeat 0 0; width:20px; height:20px; }
/* .topAdmin li.admin.on{background:url(../../img/common/icon_admin01_s.png)no-repeat 0 0; width:20px; height:20px; } */
.topAdmin li.group{background:url(../../img/common/icon_admin02_n.png)no-repeat 0 0; width:20px; height:20px; }
/* .topAdmin li.group.on{background:url(../../img/common/icon_admin02_s.png)no-repeat 0 0; width:20px; height:20px; } */
.topAdmin li.group:hover{background:url(../../img/common/icon_admin02_s.png)no-repeat 0 0; width:20px; height:20px; }

.topAdmin button{width:82px; height:35px; border:1px solid #e5e5e5; box-sizing:border-box; font-size:12px; text-align:center; border-radius:30px; float:left; margin-left:10px;}
.topAdmin button:hover{opacity:0.5;}

.topMenu li{line-height:90px; width:126px; box-sizing:border-box;  float:left; height:90px;}
.topMenu li:hover , .topMenu li.on{border-bottom:3px solid #3d62e8; }
.topMenu li a{ font-size:18px; color:#000; text-align:center;  width:126px; display: inline-block; font-weight:600;}

/*
.subMenuWrap{width:100%; height:214px; position:absolute; left:0; top:-200px;  z-index:1; background:#fff; border-bottom:1px  solid #e5e5e5; box-sizing:border-box;     z-index: 10000;
.subMenu{width:1200px; margin:0 auto; box-sizing:border-box; padding:20px;}
.subMenu ul{float:left; width:126px;}
.subMenu li{line-height:30px;  }
.subMenu li a{font-size:12px; color:#6e6e6e; }
.subMenu li a:hover{font-weight:bold;}
*/

.dashbordWrap{width:100%; height:57px; border-bottom:1px solid #e5e5e5; line-height:57px; position:relative;}

.dashbordTile{width:1200px; min-width:1200px; margin:0 auto; display: flex; flex-direction:row; justify-content:space-between; position:relative;}
.dashbordTile h1{font-size:15px; font-weight:500; color:#000;}
.dashbordTile button{width:22px; height:22px; background:url(../../img/main/icon_setting_n.png)no-repeat 0 0; margin-top:20px;}
.dashbordTile button:hover{background:url(../../img/main/icon_setting_s.png)no-repeat 0 0; }

.dashbordSet{position:absolute; top:-1px; right:40px; border:1px solid #e5e5e5; box-sizing:border-box; width:260px; height:340px; background:#fff; display:none; z-index:2}
.dashbordSet h1{width:100%; border-bottom:1px solid #e5e5e5; height:57px; line-height:57px; font-size:15px; color:#000; text-align:center;}
.dashbordSet ul{margin-top:22px;}
.dashbordSet li{font-size:12px; color:#000; line-height:25px; margin-top:8px; margin-left:20px;}
.dashbordSet li input{margin-right:20px;}
.dashbordSet li input[type=checkbox]:not(old){  margin:0; padding:0; opacity:0; background:url(../../img/common/checkbox_n.png) no-repeat 0 0; width:0; }
.dashbordSet li input[type=checkbox]:not(old) + label{display: inline-block; text-align: left; height:25px; padding-left: 40px; background: url(../../img/common/checkbox_n.png) no-repeat 0 0; }
.dashbordSet li input[type=checkbox]:not(old):checked + label {background: url(../../img/common/checkbox_s.png) no-repeat 0 0;}

#dashSaveBtn{background:#3d62e8; width:130px; height:35px; border-radius:35px; text-align:center; color:#fff; font-size:15px; margin-top: 10px; margin-left: 66px;}
#dashSaveBtn:hover{opacity:0.5;}
/* .dashBtn{width:100%; display:flex; flex-direction:row; justify-content:center; margin-top:50px;} */

.dashbordArea{width:100%; height:268px; background:#f1f1f1; border-bottom:1px solid #e5e5e5; }
.dashbord{width:1200px; margin:0 auto; display: flex; flex-direction:row; /* justify-content:space-between; */ box-sizing:border-box; padding-top:42px; }
.dashbordBox{width:calc( 100% - 20px ); max-width:220px; height:182px; box-sizing:border-box; border:1px solid #e5e5e5; padding:0 12px; background:#fff; margin:0 10px;}
.dashbordBox h1{width:100%; border-bottom:1px solid #e5e5e5; font-size:15px; color:#000; text-align:center; line-height:53px; font-weight:100;}
.boxInfo{width:100%; margin-top:15px; font-size:80px; text-align:right;}
.boxInfo.green{color:#92d050}
.boxInfo.sky{color:#00bbd3}
.boxInfo.yellow{color:#fec006}
.boxInfo.pink{color:#ff7fff}
.boxInfo.blue{color:#00aeff}
.boxInfo.red{color:#f96868; font-size:46px; margin-top: 0px;}
.boxInfo span{font-size:15px; color:#a3a3a3; margin-right:10px; }


.contentWrap{width:100%; padding:50px 0; border-bottom:1px solid #e5e5e5; overflow:hidden; height:360px;}
.content{width:1200px; min-width:1200px;  margin:0 auto;  display: flex; flex-direction:row; justify-content:space-between;}
.box01,.box02,.box03{width:364px; height:360px; position:relative;}

.contentBox{width:364px; height:360px; border:1px solid #e5e5e5; box-sizing:border-box; position:absolute; text-align:center; border-radius:5px; z-index:1; left:0; top:0;}
.contentBox img{vertical-align:middle; text-align:center; margin-top:10px;}
.contentBox h1{font-size:18px; color:#000; font-weight:500; margin-top:50px; text-align:center;}
.contentBox p{text-align:center; font-size:17px; color:#000; margin-top:20px;}
.contentBox.sky{background:#e5f8fb}
.contentBox.sky p span{font-weight:500; color:#085fd1;}
.contentBox.yellow{background:#fff9e5}
.contentBox.yellow p span{font-weight:500; color:#fe5621;}
.contentBox.green{background:#f4faed}
.contentBox.green p span{font-weight:500; color:#2e7f31;}

.contentBox_over{width:364px; height:360px; border:1px solid #e5e5e5; box-sizing:border-box; position:absolute; text-align:center; border-radius:5px;  z-index:0; left:0; top:0;}
.contentBox_over img{vertical-align:middle; text-align:center; margin-top:10px;}
.contentBox_over h1{font-size:18px; color:#fff; font-weight:500; margin-top:50px; text-align:center;}

.contentBox_over ul{width:290px; margin:0 auto; margin-top:40px;}
.contentBox_over li{width:100%; border-radius:30px; background:rgba(255,255,255,0.2); height:40px; margin-top:10px; line-height:40px; }
.contentBox_over li:first-child{margin-top:0;}
.contentBox_over li a{text-align:center; width:100%; display:inline-block; font-size:15px; color:#fff;}
.contentBox_over li a:hover{opacity:0.5;}

.contentBox_over.sky{background:url(../../img/main/cont01_bg.png)no-repeat 0 0;}
.contentBox_over.yellow{background:url(../../img/main/cont02_bg.png)no-repeat 0 0;}
.contentBox_over.green{background:url(../../img/main/cont03_bg.png)no-repeat 0 0;}

.noticeWrap{width:1200px; min-width:1200px; display: flex; flex-direction:row; justify-content:space-between; margin:0 auto; padding:30px 0; overflow:hidden;}
.notice{width:585px; overflow:hidden;}
.notice h1{font-weight:500; font-size:18px; color:#000; padding-left:12px; float:left; line-height:35px;overflow:hidden; }
.notice button{ height:35px; border:1px solid #e5e5e5; box-sizing:border-box; padding:0 20px;  font-size:12px; color:#333333; float:right; border-radius:35px; }
.notice button img{margin-right:10px;}
.notice button:hover{opacity:0.5;}

.notice table{width:100%; border-top:2px solid #393c4a; margin-top:13px; clear:both; float:left;}
.notice table td{height:53px; border-bottom:1px solid #e5e5e5; font-size:15px; background:url(../../img/common/table_list.png)no-repeat 20px 25px; padding-left:30px; }
.notice table td:last-child{background:none;}

/* .dash button{background:#3d62e8; width:130px; height:35px; border-radius:35px; text-align:center; color:#fff; font-size:15px; margin-top: 10px; margin-left: 66px;}
.dash button:hover{opacity:0.5;}
.dashBtn{width:100%; display:flex; flex-direction:row; justify-content:center; margin-top:50px;} */


/*Data Create*/
/* .footerWrap{width:100%; height:100px; background:#4e5258; }
.footer{width:1200px; min-width:1200px; margin:0 auto; box-sizing:border-box; padding:20px 0; }
.footer p{color:rgba(255,255,255,0.8); font-size:12px;}
 */
/*sub */
.subConentWrap{width:1200px; margin:0 auto; height:auto; padding-bottom:50px; min-height:700px;}
.subTitleWrap{height:170px; width:100%; overflow:hidden;}
.subTitle{float:left; margin-top:50px; }
.subTitle h1{margin-top:10px;font-size:30px; font-weight:100; color:#000; }
.subTitle h2{font-size:12px; font-weight:100; color:#333333; margin-top:5px;}
.subTitle .home{background:url(../../img/common/ico_home01.png) no-repeat left center;padding-left:18px;color:#adadad;font-family:'dotum';}

.see{float:right; margin-top:110px;}
.see select{width:109px; height:35px; border-radius:30px; border:1px solid #d5d5d5;  background:url(../../img/common/select_bg.png)no-repeat 70px -6px; background-color:#fff;font-size:12px; color:#000; box-sizing:border-box;  padding-left:15px;  line-height:35px; }


.tabWrap{height:104px; border-bottom:1px solid #e5e5e5; border-top:1px solid #e5e5e5; box-sizing:border-box; padding:24px 0;}
.tab ul{display: flex; flex-direction:row; justify-content:space-between;}
.tab li{width:400px; height:56px;box-sizing:border-box; border:1px solid #e5e5e5;}
.tab li a{font-size:15px; color:#000; text-align:center; display:inline-block; width:100%; line-height:56px;}
.tab li:hover, .tab li.on{background:#3d62e8; border:none}
.tab li a:hover, .tab li.on a{color:#fff; }

/* .info{margin:80px 0;}
.info h1{font-weight:500; font-size:25px; color:#000; height:50px; padding-left:10px;}
.info ul{}
.info li{background:url(../../img/common/table_list.png)no-repeat 15px 15px; font-size:15px; line-height:35px;  color:#000; padding-left:30px;}
.info dt{background:url(../../img/common/table_list.png)no-repeat 15px 15px; font-size:15px; line-height:35px;  color:#000; padding-left:30px;}
.info dd{font-size:15px; color:#000; line-height:25px; padding-left:30px;}

.siteMap{width:100%; display: flex; flex-direction:row; justify-content:space-between;  }
.site{width:185px; height: auto; }
.site h1{font-size:20px; font-weight:500;  width:100%; height:45px; border-bottom:2px solid #3d62e8; text-align:center; color:#000;}
.site dt ,.site li{background:url(../../img/common/table_list.png)no-repeat 15px 20px; font-size:15px; line-height:45px;  color:#000; padding-left:30px; box-sizing:border-box; width:100%; border:1px solid #e5e5e5; background-color:#f1f1f1; margin-top:20px;}
.site dd{font-size:12px; color:rgba(0,0,0,0.8); line-height:25px; padding-left:30px; } */

./* QA{ width:100%; }
.QA button{background:#3d62e8; width:130px; height:35px; border-radius:35px; text-align:center; color:#fff; font-size:15px;}
.QA button:hover{opacity:0.5;}
.QABtn{width:100%; display:flex; flex-direction:row; justify-content:center; margin-top:50px;}

.QA table{width:100%; border-top:2px solid #3d62e8; }
.QA table th{border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; font-size:15px; font-weight:500; text-align:center; height:58px; color:#000;}
.QA table th:last-child{border-right:0}
.QA table td{border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; font-size:15px; ; text-align:center; height:58px;color:#000}
.QA table td:last-child{border-right:0}
.QA table td.list{text-align:left; padding:0 30px;}

.QA table td input[type="text"]{border:1px solid #e5e5e5; height:35px; box-sizing:border-box; color:#000;  padding:0 20px; width:100%;}
.QA table td input::-ms-input-placeholder { color: #e5e5e5; }
.QA table td input::-webkit-input-placeholder { color: #e5e5e5; } 
.QA table td input::-moz-placeholder { color: #e5e5e5; }
.QA table td textarea{width:100%; box-sizing:border-box; padding:30px; font-size:15px; color:#000; height:100px; border:1px solid  #e5e5e5; margin:20px 0; text-align:left; vertical-align:top;}

.QA table td div{width:100%; display:flex; flex-direction:row; justify-content:space-between;  box-sizing:border-box; padding:10px 30px; box-sizing:border-box;}
.QA table td div button.btn{width:150px; height:35px; border:1px solid #e5e5e5; box-sizing:border-box; text-align:center; font-size:12px; color:#000; background:#fff;}
.QA table td div.list{width:84%; border:1px solid #e5e5e5; }
.QA table td div.list ul{}
.QA table td div.list li{font-size:12px; color:#000;  padding-top:5px;}
.QA table td div.list li span{width:25px; height:25px; margin-right:10px; display:inline-block; vertical-align:middle;}
.QA table td div.list li span:hover{opacity:0.5;}

.QA table.reading{}
.QA table.reading th{text-align:left; border-right:0; padding-left:20px; font-weight:550;}
.QA table.reading td{ text-align:left; height:auto; padding: 40px;}
.QA table.reading td.bg{background:#f8f8f8;} */









.page{overflow:hidden; width:530px; margin:0 auto; margin-top:30px;}
.page li{float:left; height:35px; width:35px; border:1px solid #e5e5e5; box-sizing:border-box; }
.page li a{text-align:center; line-height:35px; display:inline-block; width:100%;}
.page li:hover, .page li.on{border-bottom:2px solid #3d62e8; }
.page li a:hover, .page li.on a{color:#3d62e8; font-weight:600}


./* faq{width:100%; border-top:2px solid #3d62e8; overflow:hidden;}
.faqBox{display: flex; flex-direction:row; justify-content:space-between; box-sizing:border-box; padding:0 30px; border-bottom:1px solid #e5e5e5; width:100%; height:56px; }
.faqBox h1{font-weight:100; font-size:15px; color:#000;  line-height:35px; padding-top:10px; }
.faqBox h1 span{width:35px; height:35px; background:#879099; border-radius:20px; font-size:15px; text-align:center; color:#fff; margin-right:30px; display:inline-block;}
.faqBox button{width:35px; height:35px; background:url(../../img/common/btn_down.png)no-repeat center center; margin-top:10px;}
.box{box-sizing:border-box; padding:30px 100px; border-bottom:1px solid #e5e5e5; height:auto; font-size:13px; color:#000;line-height:30px; display:none;}
 */

.container{width:100%;height:auto;float:left;}
.dataStepBox{width:100%;height:102px;overflow:hidden;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.dataStepBox.step01{background:url(../../img/my/data/create/bg_step01.jpg) no-repeat center center;}
.dataStepBox.step02{background:url(../../img/my/data/create/bg_step02.jpg) no-repeat center center;}
.dataStepBox.step03{background:url(../../img/my/data/create/bg_step03.jpg) no-repeat center center;} 
.dataStepBox ul{display:none;}

.uploadDlist{width:1133px;height:auto;margin:20px auto;}
.uploadDlist dt{width:100%;height:55px;overflow:hidden;line-height:55px;font-size:15px;color:#000;font-weight:bold;}
.uploadDlist dd{width:100%;height:auto;}
.uploadDlist dd .textarea{border:1px solid #e5e5e5;width:calc( 100% - 22px );padding:10px;line-height:1.5em;height:138px;overflow:hidden;resize:none;}
.charsetBox{display:block;padding:20px;height:auto;overflow:hidden;background:#f2f2f2;border:1px solid #e5e5e5;}
.charsetBox label{margin-left:5px;margin-right:20px;font-size:15px;color:#000;float:left;height:30px;line-height:30px;}
#charset01-styler{float:left;width:30px;height:30px;margin:0;border:0;background:url(../../img/common/bg_radio01_off.png);box-shadow:none;}
#charset01-styler.checked{background:url(../../img/common/bg_radio01_on.png);}
#charset01-styler .jq-radio__div{display:none;}
#charset02-styler{float:left;width:30px;height:30px;margin:0;border:0;background:url(../../img/common/bg_radio01_off.png);box-shadow:none;}
#charset02-styler.checked{background:url(../../img/common/bg_radio01_on.png);}
#charset02-styler .jq-radio__div{display:none;}
#charset03-styler{float:left;width:30px;height:30px;margin:0;border:0;background:url(../../img/common/bg_radio01_off.png);box-shadow:none;}
#charset03-styler.checked{background:url(../../img/common/bg_radio01_on.png);}
#charset03-styler .jq-radio__div{display:none;}


#show_headerCheck01-styler{width:22px !important;height:22px !important;margin:0 !important;border:0 !important;background:url(../../img/common/bg_chk_off.png);box-shadow:none !important;}
#show_headerCheck01-styler.checked{background:url(../../img/common/bg_chk_on.png) !important;}
#show_headerCheck01-styler .jq-radio__div{display:none;}
.wTableBox label{font-size:15px;color:#000;height:30px;line-height:30px;}

.btnBox{margin:50px auto;width:100%;height:auto;overflow:hidden;text-align:center;}
.btnBox a{font-size:12px;display:inline-block;width:132px;height:36px;line-height:36px;text-align:center;border-radius:18px;background:#3d62e8;color:#fff;margin:0 2px;}

.uploadList{width:1140px;height:auto;overflow:hidden;margin:50px auto;}
.uploadList li{float:left;width:379px;height:291px;overflow:hidden;border:1px solid #e5e5e5;border-left:0;text-align:center;position:relative;}
.uploadList li:first-child{border-left:1px solid #e5e5e5;width:378px;}
.uploadList li .ico{margin-top:50px;}
.uploadList li .btnUploadLink{display:block;width:228px;height:44px;border:1px solid #d5d5d5;line-height:44px;text-align:center;border-radius:22px;font-size:15px;color:#000;margin:10px auto;}
.uploadList li .t01{display:block;text-align:center;font-size:12px;color:#000;}

.uploadList li .cont{display:none;position:absolute;left:0;top:0;width:100%;height:291px;overflow:hidden;background:rgba(0,0,0,.5);}
.uploadList li .cont .contClose{float:right;margin:10px;}
.uploadList li .cont .btnList{width:100%;height:auto;overflow:hidden;float:left;margin-top:80px;}
.uploadList li .cont .btnList a{margin:0 2px;display:inline-block;background:url(../../img/my/data/create/bg_filebox.png);vertical-align:middle;width:49px;height:35px;line-height:35px;text-align:left;overflow:hidden;padding-left:40px;font-size:11px;color:#000;}
.uploadList li .completeBox{display:none;position:absolute;left:0;top:0;width:100%;height:291px;overflow:hidden;background:#f84d4d url(../../img/my/data/create/bg_fileComplete.png) no-repeat center top;}
.uploadList li .completeBox p{width:100%;height:auto;overflow:hidden;color:#fff;font-size:12px;margin-top:195px;}


/* �� ���� ����, �׷���� ���� �߰� css */
.wTableBox{width:1140px;margin:0 auto;height:auto;border-top:2px solid #879099;border-bottom:1px solid #e5e5e5;padding:30px 0;}
.wTableBox.t01{margin-top:30px;padding:20px 0;}
.wTableBox.t02{width:1200px;margin-top:30px;padding:20px 0;border-bottom:0;}
.wTableBox.t03{border-top:0;}
.wTable{width:100%;margin:0 auto;table-layout:fixed;border-collapse:collapse;}
.wTable th{text-align:left;vertical-align:top;width:240px;padding-left:30px;padding-top:16px;}
.wTable td{padding:10px 20px;}
.wTable td .inp{height:33px;width:calc( 100% - 22px );border:1px solid #e5e5e5;padding:0 10px;overflow:hidden;}
.wTable td .inp01{height:33px;width:calc( 100% - 22px );border:1px solid #e5e5e5;padding:0 10px;overflow:hidden;border-radius:17px;}

.wTable td .sel01{height:33px;width:calc( 100% - 0px );border:1px solid #e5e5e5;padding:0 10px;overflow:hidden;border-radius:17px;}

.wTable td .textarea{height:100px;width:calc( 100% - 22px );resize:none;border:1px solid #e5e5e5;padding:10px;overflow:hidden;overflow-y:auto;}
.wTable td .textarea ul{width:100%;height:auto;overflow:hidden;margin:0 auto;}
.wTable td .textarea ul li{float:left;clear:both;width:100%;height:auto;margin:5px auto;}
.wTable td .textarea ul li>.chkEtc{float:left;}
.wTable td .textarea ul li label{float:left;margin-left:10px}

.listTable02{width:100%;margin:0 auto;table-layout:fixed;border-collapse:collapse;overflow : auto ; display:inline-table}
.listTable02 tr{min-width:1200px;}
.listTable02 th{height:45px;border:1px solid #c9c9c9;border-right:0;border-top:2px solid #879099;font-size:15px;color:#000;min-width:120px}
.listTable02 td{height:55px;border:1px solid #c9c9c9;border-right:0;font-size:12px;color:#4c4c4c;text-align:center;}
.listTable02 tr>th:first-child,
.listTable02 tr>td:first-child{border-left:0;}
.listTable02 td.al{text-align:left;padding:0 20px;}

.listTable02.t01{width:100%;margin:0 auto;table-layout:fixed;border-collapse:collapse;overflow : auto ;  display:block }
.listTable02.t01 tr{min-width:1200px;}
.listTable02.t01 th{height:45px;border:1px solid #c9c9c9;border-right:0;border-top:2px solid #879099;font-size:15px;color:#000;min-width:120px}
.listTable02.t01 td{height:55px;border:1px solid #c9c9c9;border-right:0;font-size:12px;color:#4c4c4c;text-align:center;}
.listTable02.t01 tr>th:first-child,
.listTable02.t01 tr>td:first-child{border-left:0;}
.listTable02.t01 td.al{text-align:left;padding:0 20px;}

.listTable02.t01{margin-top:20px;}
/* .listTable02.t01 td{border:1px solid #000;} */
.listTable02.t01 tr>th:first-child,
.listTable02.t01 tr>td:first-child{/* border:1px solid #000; */}
.listTable02 .inp{width:calc( 100% - 20px );padding:0 10px;height:55px;overflow:hidden;border:0;}

.dialogTable{   width: 1100px;height:auto;border: 1px solid #ccc;border-spacing: 0;}
.dialogTable th{border:1px solid #c9c9c9;border-right:0;border-top:2px solid #879099;font-size:15px;color:#000;}
.dialogTable td{border:1px solid #c9c9c9;border-right:0;font-size:12px;color:#4c4c4c;text-align:center;}
/* .conditionList{width: 1100px;height:300px;overflow:auto;} */
/* .conditionList{width: 1100px;height:280px;overflow:auto;} */
/* .conditionList{width: 1100px;height:250px;overflow:hidden;margin-top:10px;} */
.conditionList{width: 1100px;height:250px;overflow:auto;margin-top:10px;}

.mapbArea{width:100%;height:auto;padding-bottom:50px;border-bottom:1px solid #e5e5e5;}
.mapBox{width:1138px;margin:0 auto;border:1px solid #c9c9c9;height:494px;overflow:hidden;position:relative;}
.wTable td .rdEtc{vertical-align:middle}
.wTable td img{vertical-align:middle;margin-left:10px;margin-right:50px}

.container{width:100%;height:auto;overflow:hidden;}
.dataStepBox{width:100%;height:102px;overflow:hidden;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}

.boardSearchBox{border-top:1px solid #e5e5e5;padding:20px 0;width:100%;height:auto;float:left;}
.boardSearchBox .e01{height:33px;line-height:33px;padding:0 10px;float:left;}
.boardSearchBox .inp01{float:left;height:33px;width:130px;margin-right:30px;border:1px solid #e5e5e5;padding:0 10px;overflow:hidden;border-radius:17px;}
.boardSearchBox .etc{float:right;}
.boardSearchBox .etc .btnEdit{vertical-align:middle;display:inline-block;width:152px;height:33px;line-height:33px;margin-left:5px;overflow:hidden;text-align:center;color:#fff;border-radius:18px;background:#00aeff;}
.boardSearchBox .etc .btnDelete{vertical-align:middle;display:inline-block;width:152px;height:33px;line-height:33px;margin-left:5px;overflow:hidden;text-align:center;color:#fff;border-radius:18px;background:#d71826;}

.page{overflow:hidden; width:530px; margin:0 auto; margin-top:30px;}
.page li{float:left; height:35px; width:35px; border:1px solid #e5e5e5; box-sizing:border-box; }
.page li a{text-align:center; line-height:35px; display:inline-block; width:100%;}
.page li:hover, .page li.on{border-bottom:2px solid #3d62e8; }
.page li a:hover, .page li.on a{color:#3d62e8; font-weight:600}


/* �� ���� ����, �׷���� ���� �߰� css */


.btnBox a{font-size:12px;display:inline-block;width:132px;height:36px;line-height:36px;text-align:center;border-radius:18px;background:#3d62e8;color:#fff;margin:0 2px;}






.inp{height:33px;width:calc( 100% - 22px );border:1px solid #e5e5e5;padding:0 10px;overflow:hidden;}
.barBox{margin:30px auto 0 auto;width:1140px;height:auto;overflow:hidden;padding:20px 0;position:relative;;}
.barBox .t01{float:left;font-size:15px;color:#000;font-weight:bold;}
.barBox .t02{margin-top:3px;float:left;font-size:12px;color:#585858;margin-left:20px;}
.barBox .t02 span{color:#fa8e8e;font-size:12px;}
.barBox .t03{float:right;font-size:12px;color:#585858;}
.barBox a{float:right;height:34px;width:195px;border-radius:17px;border:1px solid #d5d5d5;overflow:hidden;line-height:34px;text-align:center;font-size:12px;color:#000;}
.listTable01{width:1140px;margin:0 auto;table-layout:fixed;border-collapse:collapse;}
.listTable01 th{height:45px;border:1px solid #c9c9c9;border-right:0;border-top:2px solid #879099;font-size:15px;color:#000;}
.listTable01 td{height:55px;border:1px solid #c9c9c9;border-right:0;font-size:12px;color:#4c4c4c;text-align:center;}
.listTable01 tr>th:first-child,
.listTable01 tr>td:first-child{border-left:0;}

/* .listTable00{width:1140px;margin:0 auto;table-layout:fixed;border-collapse:collapse;}
.listTable00 th{height:45px;border:1px solid #c9c9c9;border-right:0;border-top:2px solid #879099;font-size:15px;color:#000;}
.listTable00 td{height:55px;border:1px solid #c9c9c9;border-right:0;font-size:12px;color:#4c4c4c;text-align:center;}
.listTable00 tr>th:first-child,
.listTable00 tr>td:first-child{border-left:0;} */


.chkList{width:1150px;height:auto;overflow:hidden;margin:0 auto;}
.chkList li{width:370px;height:98px;overflow:hidden;border:1px solid #e5e5e5;background:#f2f2f2;float:left;margin:0 4px;}
.chkList li a{display:block;width:100%;height:98px;overflow:hidden;position:relative;text-align:center;}
.chkList li a.on{background:#ffc000;}
.chkList li a .t01{margin-top:20px;padding-left:40px;height:30px;line-height:30px;text-align:center;display:inline-block;color:#000;font-size:15px;background:url(../../img/common/bg_radio01_off.png) no-repeat left center;}
.chkList li a .t02{display:block;width:100%;height:auto;overflow:hidden;text-align:center;color:#000;font-size:12px;margin-top:10px;}
.chkList li a.on .t01{background:url(../../img/common/bg_radio01_on.png) no-repeat left center;}

.addressBox{text-align:center;margin:0 auto 20px auto;width:1140px;height:35px;padding:25px 0;border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;}
.addressBox .select{width:250px;}
.addressBox span{font-weight:bold;float:left;height:35px;line-height:35px;width:160px;text-align:center;font-size:15px;color:#333;}


.etctxt01{width:1130px;margin:0 auto;height:auto;overflow:hidden;color:#adadad;font-size:12px;}
 .jq-selectbox .jq-selectbox__search{display:none !important;}
.select.jq-selectbox .jq-selectbox__select{padding:0;height:33px;border-radius:17px;background:#fff;text-align:left;padding-left:20px;z-index:1000;}
.select.jq-selectbox .jq-selectbox__select .jq-selectbox__select-text{line-height:33px;}
.select.jq-selectbox .jq-selectbox__select .jq-selectbox__trigger{border-left:0;}

.select01.jq-selectbox .jq-selectbox__select{padding:0;height:33px;border:0;background:transparent;text-align:left;padding-left:20px;}
.select01.jq-selectbox .jq-selectbox__select .jq-selectbox__select-text{line-height:33px;}
.select01.jq-selectbox .jq-selectbox__select .jq-selectbox__trigger{border-left:0;}


.chkContBox{text-align:center;margin:0 auto 20px auto;width:1140px;height:35px;padding:25px 0;border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;}
.chkContBox>ul{width:100%;height:auto;}
.chkContBox>ul>li{width:50%;height:auto;float:left;}
.chkContBox>ul>li>span{font-weight:bold;float:left;height:35px;line-height:35px;width:160px;text-align:center;font-size:15px;color:#333;}
.chkContBox>ul>li .btnHelp{float:left;margin-left:8px;}
.chkContBox .select{float:left;width:250px;}
.chkContBox span{font-weight:bold;float:left;height:35px;line-height:35px;width:160px;text-align:center;font-size:15px;color:#333;}

.tabBox{width:1140px;height:42px;position:relative;margin:0 auto;}
.tabBox>ul{float:left;width:400px;height:auto;overflow:hidden;}
.tabBox>ul>li{float:left;margin-left:10px;}
.tabBox>ul>li a{border-top-left-radius:20px;border-top-right-radius:20px;display:block;width:180px;height:40px;overflow:hidden;background:#f2f2f2;border:1px solid #d5d5d5;text-align:center;line-height:40px;font-size:15px;color:#000;}
.tabBox>ul>li a.on{color:#fff;background:#085fd1;border-color:#085fd1;}
.tabBox .select{float:right;width:150px;} 

/* .chkAll, .chkEtc{width:22px;height:22px;margin:0;border:0;background:url(../../img/common/bg_chk_off.png);box-shadow:none;}
.chkAll.checked, .chkEtc.checked{background:url(../../img/common/bg_chk_on.png);}
 */
.chkAll, .chkEtc{width:22px !important;height:22px !important;margin:0 !important;border:0 !important;background:url(../../img/common/bg_chk_off.png) !important;box-shadow:none !important;}
.chkAll.checked, .chkEtc.checked{background:url(../../img/common/bg_chk_on.png) !important;}
.chkAll.fl, .chkEtc.fl { float: left !important;margin-top: 5px !important;}


/* span>.chkAll, span>.chkEtc{width:22px;height:22px;margin:0;border:0;background:url(../../img/common/bg_chk_off.png);box-shadow:none;}
span>.chkAll.checked, span>.chkEtc.checked{background:url(../../img/common/bg_chk_on.png);} */

.quickList{width:1140px;height:auto;overflow:hidden;border-top:2px solid #879099;margin:0 auto;}
.quickList li{margin-top:50px;width:548px;height:308px;overflow:hidden;border:1px solid #e5e5e5;position:relative;}
.quickList li.fl{float:left;}
.quickList li.fr{float:right;}
.quickList li img{float:left;margin:40px 0 0 20px;}
.quickList li .cont{margin:60px 0 0 20px;float:left;width:230px;height:auto;overflow:hidden;}
.quickList li .cont .t01{font-size:20px;color:#000;font-weight:bold;width:100%;height:auto;overflow:hidden;}
.quickList li .cont .t02{font-size:12px;color:#000;width:100%;height:auto;overflow:hidden;margin-top:20px;line-height:1.5em;}
.quickList li .cont a{display:block;width:135px;height:34px;overflow:hidden;line-height:34px;text-align:center;border-radius:17px;font-size:12px;color:#000;border:1px solid #dadada;margin-top:50px;}

.dataSearch{width:100%;height:35px;padding:20px 0;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.dsRoundBox{margin-left:10px;width:551px;height:33px;border:1px solid #d5d5d5;float:left;border-radius:17px;}
.dsRoundBox .select01{height:33px;width:182px;float:left;}
.dsRoundBox .inp{float:left;width:319px;padding:0 10px;height:33px;border:0;border-left:1px solid #d5d5d5;}
.dsRoundBox a{float:left;margin-top:5px;}
.dataSearch .select{width:120px;float:left;margin-left:10px;}
.dataSearch .side{float:right;}
.dataSearch .side span{height:33px;float:left;line-height:33px;font-size:12px;color:#000;}
.dataSearch .side a{float:left;margin-left:8px;border:1px solid #d7d7d7;height:33px;line-height:33px;text-align:center;overflow:hidden;border-radius:17px;color:#000;font-size:12px;width:95px;}

.mydataList{width:1230px;height:auto;overflow:hidden;margin:20px 0 20px -15px;}
.mydataList li{width:380px;margin:15px;float:left;height:355px;overflow:hidden;}
.mydataList li.t01{background:rgba(254,238,96,0.7686274509803922);}
.mydataList li.t02{background:rgba(254,172,51,0.7686274509803922);}
.mydataList li.t03{background:rgba(52,186,246,0.7686274509803922);}
.mydataList li.t04{background:rgba(195,195,195,0.7686274509803922);}
.mydataList li .rela{position:relative;width:100%;height:355px;overflow:hidden;text-align:center;}
.mydataList li .rela .btnGps{position:absolute;top:15px;left:10px;font-size:0;text-indent:-2000px;display:block;width:40px;height:40px;overflow:hidden;background:url(../../img/common/bg_toggle01.png);}
.mydataList li .rela .btnGps.on{background:url(../../img/common/bg_toggle01_on.png);}
.mydataList li .rela .btnGps:hover{opacity:1;}
.mydataList li .rela .btnFolder{position:absolute;top:15px;left:10px;font-size:0;text-indent:-2000px;display:block;width:40px;height:40px;overflow:hidden;background:url(../../img/common/bg_toggle02.png);}
.mydataList li .rela .btnFolder.on{background:url(../../img/common/bg_toggle02_on.png);}
.mydataList li .rela .btnFolder:hover{opacity:1;}
.mydataList li .rela .btnTree{position:absolute;top:15px;left:10px;font-size:0;text-indent:-2000px;display:block;width:40px;height:40px;overflow:hidden;background:url(../../img/common/bg_toggle03.png);}
.mydataList li .rela .btnTree.on{background:url(../../img/common/bg_toggle03_on.png);}
.mydataList li .rela .btnTree:hover{opacity:1;}
.mydataList li .rela .btnSGIS{position:absolute;top:20px;left:128px;font-size:0;text-indent:-2000px;display:block;width:124px;height:40px;overflow:hidden;background:url(../../img/common/bg_sgis01.png);}
.mydataList li .rela .btnFav{position:absolute;top:20px;left:259px;font-size:0;text-indent:-2000px;display:block;width:40px;height:40px;overflow:hidden;background:url(../../img/common/bg_fav.png);}
.mydataList li .rela .btnFav.on{position:absolute;top:20px;left:259px;font-size:0;text-indent:-2000px;display:block;width:40px;height:40px;overflow:hidden;background:url(../../img/common/bg_fav_on.png);}
.mydataList li .rela .btnShare{position:absolute;top:20px;left:307px;font-size:0;text-indent:-2000px;display:block;width:40px;height:40px;overflow:hidden;background:url(../../img/common/bg_share.png);}
.mydataList li .rela .btnShare.on{position:absolute;top:20px;left:307px;font-size:0;text-indent:-2000px;display:block;width:40px;height:40px;overflow:hidden;background:url(../../img/common/bg_share_on.png);}
.mydataList li .rela .btnChk{/* display:inline-block; */padding-left:40px;height:35px;font-weight:bold;font-size:25px;color:#000;background:url(../../img/common/bg_radio01_off.png) no-repeat left center;margin-top:120px;line-height:35px;}
.mydataList li .rela .btnChk.on{background:url(../../img/common/bg_radio01_on.png) no-repeat left center;}
.mydataList li .rela .btnChk:hover{opacity:1;}
.mydataList li .rela .btnView{position:absolute;left:79px;top:263px;;display:block;width:228px;height:45px;line-height:45px;text-align:center;background:#fff;color:#000;border-radius:23px;font-weight:bold;font-size:14px;}
.mydataList li .rela .txt{margin-top:10px;width:100%;height:auto;overflow:hidden;text-align:center;line-height:1.5em;font-size:14px;color:#57511c;}

/* 데이터생성 팝업 버튼 */
#modalTEXTButton{border:1px solid #e5e5e5; box-sizing:border-box; text-align:center; font-size:12px; color:#000; background:#fff;}
#modalXLSXButton{border:1px solid #e5e5e5; box-sizing:border-box; text-align:center; font-size:12px; color:#000; background:#fff;}
#modalSHPButton{border:1px solid #e5e5e5; box-sizing:border-box; text-align:center; font-size:12px; color:#000; background:#fff;}
#modalDBFButton{border:1px solid #e5e5e5; box-sizing:border-box; text-align:center; font-size:12px; color:#000; background:#fff;}
#modalSHXButton{border:1px solid #e5e5e5; box-sizing:border-box; text-align:center; font-size:12px; color:#000; background:#fff;}

/* #modalTEXTText{height:33px;width:calc( 100% - 22px );border:1px solid #e5e5e5;padding:0 10px;overflow:hidden;} */

.popStatus{width:439px;height:303px;overflow:hidden;background:#fff;border:1px solid #3d62e8;position:absolute;left:50%;top:50%;margin:-150px 0 0 -220px}
.popStatus .pheader{width:100%;height:56px;overflow:hidden;background:#3d62e8;}
.popStatus .pheader span{float:left;height:56px;line-height:56px;color:#fff;font-size:20px;margin-left:20px;}
.popStatus .pheader a{float:right;margin:10px 20px 0 0;}
.popStatus .pcont{width:100%;height:172px;overflow:hidden;}
.popStatus .pcont .t01{width:100%;height:80px;line-height:80px;text-align:center;overflow:hidden;font-size:15px;color:#000;}
.popStatus .pcont .pstatusList{width:384px;height:70px;overflow:hidden;margin:0 auto;}
.popStatus .pcont .pstatusList.sts01{background:url(../../img/my/data/create/bg_status01.png) no-repeat center top;}
.popStatus .pcont .pstatusList.sts02{background:url(../../img/my/data/create/bg_status02.png) no-repeat center top;}
.popStatus .pcont .pstatusList.sts03{background:url(../../img/my/data/create/bg_status03.png) no-repeat center top;}
.popStatus .pcont .pstatusList li{float:left;width:128px;height:auto;overflow:hidden;margin-top:40px;}
.popStatus .pcont .pstatusList li.al{text-align:left;}
.popStatus .pcont .pstatusList li.ac{text-align:center;}
.popStatus .pcont .pstatusList li.ar{text-align:right;}
.popStatus .pfooter{width:100%;height:35px;padding:20px 0;text-align:center;border-top:1px solid #d5d5d5;overflow:hidden;}
.popStatus .pfooter a{display:inline-block;width:133px;height:35px;line-height:35px;text-align:center;color:#fff;font-size:12px;background:#3d62e8;margin:0 2px;border-radius:18px;}



.uploadList li .uploadResultList{margin-top:170px;width:100%;height:auto;overflow:hidden;}
.uploadList li .uploadResultList li{border:0;float:none;color:#fff;background:url(../../img/common/bg_uploadline.png) no-repeat left bottom;height:30px;line-height:30px;width:215px;overflow:hidden;margin:0 auto;}

#columnGridData table{width:100%;margin:0 auto;table-layout:fixed;border-collapse:collapse;}
#columnGridData table th{height:40px;border:1px solid #c9c9c9;border-right:0;border-top:2px solid #879099;font-size:15px;color:#000;}
#columnGridData table td{height:40px;border:1px solid #c9c9c9;border-right:0;font-size:12px;color:#4c4c4c;text-align:center}
#columnGridData table tr>th:first-child,
#columnGridData table tr>td:first-child{border-left:0;}
#columnGridData table td select{border-radius:5px;width:200px; height:30px; border:1px solid #d5d5d5;  background:url(..../../img/select_bg.png)no-repeat 165px -6px; background-color:#fff;font-size:12px; color:#000; box-sizing:border-box;  padding-left:15px;  line-height:35px; }
.inpSelector{border-radius:5px;width:22px; height:22px; border:1px solid #d5d5d5;  background:url(..../../img/select_bg.png)no-repeat 165px -6px; background-color:#fff;font-size:12px; color:#000; box-sizing:border-box;  padding-left:9px; }
/*SGIS 전송*/
.sgis.pcont{width:100%;height:172px;overflow:hidden;}
.sgis.pcont .t01{width:100%;height:80px;line-height:20px;text-align:center;overflow:hidden;font-size:15px;color:#000;}
.sgis.pcont .pstatusList{width:384px;height:70px;overflow:hidden;margin:0 auto;}
.sgis.pcont .pstatusList.sts01{background:url(../../img/my/data/create/bg_status01.png) no-repeat center top;}
.sgis.pcont .pstatusList.sts02{background:url(../../img/my/data/create/bg_status02.png) no-repeat center top;}
.sgis.pcont .pstatusList.sts03{background:url(../../img/my/data/create/bg_status03.png) no-repeat center top;}
.sgis.pcont .pstatusList li{float:left;width:128px;height:auto;overflow:hidden;margin-top:40px;}
.sgis.pcont .pstatusList li.al{text-align:left;}
.sgis.pcont .pstatusList li.ac{text-align:center;}
.sgis.pcont .pstatusList li.ar{text-align:right;}

/* .pfooter{width:100%;height:35px;padding:20px 0;text-align:center;border-top:1px solid #d5d5d5;overflow:hidden;}
.pfooter a{display:inline-block;width:133px;height:35px;line-height:35px;text-align:center;color:#fff;font-size:12px;background:#3d62e8;margin:0 2px;border-radius:18px;} */







/* .dialog>.dialog_body {
    background-color: #fff;
    height: auto;
    padding-top: 30px;
    font-size: 14px;
} */
.dialog_body>.dialog_btns {
    width: 100%;
    height: 49px;
    border-top: 1px solid #e7e7e7;
    background-color: #f5f5f5;
}

.dialog_body>.dialog_btns>.def-btn {
    width: 125px;
    height: 35px;
    border: none;
    background-color: #fff;
    color: #666;
    margin: 7px 18px;
    outline: none;
    border: 1px solid #d5d5d5;
    border-radius: 30px;
}



/*SGIS 전송*/
/*Data Create 종료*/


/* memberInfo */

.saveinfoBox{padding:20px 0;width:100%;height:auto;overflow:hidden;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.saveinfoBox .sbbox{width:1150px;height:auto;overflow:hidden;margin:0 auto;}
.saveinfoBox .sbbox .t01{float:left;font-size:18px;color:#000;}
.saveinfoBox .sbbox .t02{float:right;font-size:13px;color:#000;margin-top:5px;}
.saveinfoBox .bar{padding:5px;width:1138px;height:30px;overflow:hidden;margin:10px auto 0 auto;background:#f2f2f2;border-radius:20px;border:1px solid #d5d5d5;}
.saveinfoBox .bar .gage{text-align:right;height:30px;overflow:hidden;border-radius:20px;display:block;background:#d71826;}
.saveinfoBox .bar .gage span{float:right;height:30px;line-height:30px;margin-right:10px;font-size:12px;color:#fff;}

.analysisText01{font-weight:bold;margin:0 auto;width:1140px;height:auto;overflow:hidden;font-size:15px;color:#000;margin-top:50px;}
.analysisText02{margin:0 auto;width:1140px;height:auto;overflow:hidden;font-size:14px;color:#000;margin-top:30px;margin-bottom:10px;}


/*dataDetail*/
.viewInfoBox{position:relative;width:100%;height:100px;overflow:hidden;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.viewInfoBox .t01{font-weight:bold;margin:25px 0 0 20px;width:300px;height:auto;overflow:hidden;font-size:18px;color:#000;}
.viewInfoBox .t02{margin:5px 0 0 20px;width:300px;height:auto;overflow:hidden;font-size:15px;color:#000;}
.viewInfoBox .t03{position:absolute;right:20px;top:33px;}
.viewInfoBox .t03 a{border-radius:18px;float:left;margin-right:5px;width:138px;height:33px;line-height:33px;text-align:center;overflow:hidden;font-size:13px;}
.viewInfoBox .t03 a.b01{border:1px solid #d5d5d5;color:#000;}
.viewInfoBox .t03 a.b02{border:1px solid #3d62e8;color:#fff;background:#3d62e8;}
.viewInfoBox .t03 a.b03{border: 1px solid #D5D5D5;background: #fff;}
    
    

/*popStatus*/
.dataSearchResultScrolls{width:calc( 100% - 40px );margin:10px auto 0 auto;height:auto;max-height:200px;overflow:hidden;overflow-y:auto;}
/* .dataSearchResult{width:100%;margin:0 auto;height:auto;overflow:hidden;} */
/* .dataSearchResult{width:100%;margin:0 auto;height:70px;overflow-y:scroll;overflow-x:hidden;} */
.dataSearchResult{width:100%;margin:0 auto;height:100px;overflow-y:auto;}
.dataSearchResult li{width:100%;height:auto;overflow:hidden;margin-bottom:5px;}
.dataSearchResult li a{float:left;}
.dataSearchResult li span{float:left;height:25px;line-height:25px;margin-left:10px;}

.clist01{width:340px;height:auto;overflow:hidden;margin: 0px 20px 0 20px;position: absolute;top: 100px;}
.clist01 tr{width:100%;height:auto;overflow:hidden;padding:5px 0;}
.clist01 tr .t01{width:90px;font-size:12px;color:#000;font-weight:bold;padding: 5px 0 5px 0;}
.clist01 tr .t02{font-size:12px;color:#000;padding: 5px 0 5px 0;}

.clist01 td{text-align:left;width:10px;padding-left:5px;}
.clist01 .td01 {font-size: 20px;font-weight: bold; color: #000;text-align: left;width: 280px;padding-left: 40px;float: left;}
.clist01 .td02 {font-size: 16px; color: #000;text-align: left;width: 280px;padding: 20px 0 0 40px;float: left;}
.clist01 .td03 {font-size: 16px; color: #000;text-align: left;width: 280px;padding: 10px 0 0 40px;float: left;}
.clist01 .ellipsis {display: inline-block;width: 270px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; height: 54px;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; white-space: normal;}

.dataEmpty span  {font-size: 20px;font-weight: bold; color: #000;text-align: center;width: 100%;padding-left: 0px;float: left;margin-top:130px; }

/* popup css */
.select05 {width:160px !important;}
.downFormat, .inp {height:33px;width:263px;border:1px solid #e5e5e5;padding:0 10px;overflow:hidden;}

.sgisSendTable {margin-top:5px;]}
.sgisSendTable tr {height:40px;}
.sgisSendTable th {width:100px;text-align:left;padding-left:10px;}
.sgisSendTable td {text-align:left;}
.sgisSendTable .select10 {background: url(../../img/common/select_bg.png)no-repeat center right; width: 285px;}
.sgisSendPopup.pBtnBox{width: 100%; height: 49px;border-top: 1px solid #e7e7e7;background-color: #f5f5f5; position:absolute;margin-left: -20px; margin-top: 20px;}
.sgisSendPopup.pBtnBox > button{width: 125px;height: 35px;border: none;background-color: #fff;color: #666;margin: 7px 18px;outline: none; border: 1px solid #d5d5d5; border-radius: 30px;}
.sgisSendPopup.pBtnBox > button:hover{opacity:0.7;}

.sgisSendPopupArea .pcont{width:100%;height:172px;overflow:hidden;}
.sgisSendPopupArea .pcont .t01{width:100%;height:80px;line-height:80px;text-align:center;overflow:hidden;font-size:15px;color:#000;}
.sgisSendPopupArea .pcont .pstatusList{width:384px;height:70px;overflow:hidden;margin:0 auto;}
.sgisSendPopupArea .pcont .pstatusList.sts01{background:url(../../img/my/data/create/bg_status01.png) no-repeat center top;}
.sgisSendPopupArea .pcont .pstatusList.sts02{background:url(../../img/my/data/create/bg_status02.png) no-repeat center top;}
.sgisSendPopupArea .pcont .pstatusList.sts03{background:url(../../img/my/data/create/bg_status03.png) no-repeat center top;}
.sgisSendPopupArea .pcont .pstatusList li{float:left;width:128px;height:auto;overflow:hidden;margin-top:40px;}
.sgisSendPopupArea .pcont .pstatusList li.al{text-align:left;}
.sgisSendPopupArea .pcont .pstatusList li.ac{text-align:center;}
.sgisSendPopupArea .pcont .pstatusList li.ar{text-align:right;}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid #3d62e8;
    border-top: 50px solid #3d62e8;
    border-right:50px solid transparent;
    border-bottom: 50px solid transparent;
}

.btnUpload {
    float: right;
    margin-left: 950px;
    border: 1px solid #d7d7d7;
    height: 33px;
    line-height: 33px;
    text-align: center;
    overflow: hidden;
    border-radius: 17px;
    color: #000;
    font-size: 12px;
    width: 195px;
    margin-top: -20px;
}