@charset "utf-8";
.layer_popKSIC{display:none;position:absolute;left:470px; top:50px;width:750px; height:700px; padding:20px; border:1px solid #ccc;background:#fff;border-radius:4px;  box-shadow : 3px 1px 3px 1px rgba(200,200,200,0.7);z-index:10003;}
.layer_popKSIC.active{display: block;}
.layer_popKSIC .closePop{position:absolute;top:20px;right:20px;}
.layer_popKSIC h4{font-size:20px;color:#333;font-weight:500;line-height:100%;height:30px;padding-bottom:5px; border-bottom:1px solid #e7e8ec;}

.layer_popKSIC .search_box{height:50px;padding-top:10px;border-bottom:1px solid #3b80ef;}
.layer_popKSIC .search_box .grp_txt01{padding-left: 5px;}
.layer_popKSIC .search_box .grp_txt02{padding-left: 10px;}
.layer_popKSIC .search_box .search_inp{width:380px;height:30px;border-radius: 2px;margin-left:15px;}
.layer_popKSIC .search_box button{border-radius: 3px;background: #4283ec;color: #fff;font-size: 15px;padding: 4px 17px;}
.layer_popKSIC .search_box button.sch{/*right: 95px;*/right: 25px;position: absolute;}
.layer_popKSIC .search_box button.sel{right: 25px;position: absolute;background: #213967;}
    
.layer_popKSIC .grid_setting .grid_navbg{position:relative;float:left;top:10px;left:0;width:300px;height:550px;background:#fff;border:1px solid #cdd8e9;border-radius: 0 0 2px 2px;}
.layer_popKSIC .grid_setting .grid_contbg{position:relative;float:right;top:10px;right:0;width:400px;height:550px;background:#fff;}
.layer_popKSIC .grid_setting .grid_contbg .board_hd{height:35px;padding-top:5px;}
.layer_popKSIC .grid_setting .grid_contbg .grp_txt01{background: url(/images/catchmentArea/cate_ico01.png) 0px 9px no-repeat;padding-left: 10px;}
.layer_popKSIC .grid_setting .grid_contbg .grp_txt02{font-size:15px;font-weight:500;color:#1c60cf;padding-left: 12px;}
.layer_popKSIC .grid_setting .grid_contbg .grp_txt03{padding-left: 5px;}

.stepTreeBox{overflow:visible;width:300px;padding:5px 0px 5px 0px;position:relative;}

.layer_popKSIC .selct_81{width:100px;height:30px;margin-left:5px;margin-right:5px;}

/* 스크롤 옵션  */
.layer_popKSIC .scroll_wrap2 .mCSB_inside > .mCSB_container{margin-right:0;}
.layer_popKSIC .scroll_wrap2 .mCSB_scrollTools_vertical{width:13px;}
.layer_popKSIC .scroll_wrap2 .mCSB_scrollTools_vertical .mCSB_dragger{width:13px;}
.layer_popKSIC .scroll_wrap2 .mCSB_scrollTools_vertical .mCSB_draggerRail{width:13px;background:transparent;}
.layer_popKSIC .scroll_wrap2 .mCSB_scrollTools_vertical .mCSB_dragger .mCSB_dragger_bar{width:8px;background:#b6bbc4;}
.layer_popKSIC .scroll_wrap2 .mCSB_scrollTools_horizontal{height:13px;}
.layer_popKSIC .scroll_wrap2 .mCSB_scrollTools_horizontal .mCSB_dragger{height:13px;}
.layer_popKSIC .scroll_wrap2 .mCSB_scrollTools_horizontal .mCSB_draggerRail{height:13px;background:transparent;}
.layer_popKSIC .scroll_wrap2 .mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{height:8px;background:#b6bbc4;margin: 3px auto;}

/* board table 옵션  */
.layer_popKSIC .schlist{position:relative;border-top:1px solid #213967;width:100%;overflow: hidden;}
.layer_popKSIC .schlist tr td{padding:6px 10px;color:#555;}
.layer_popKSIC .schlist tr td.subject{text-align:left;}
.layer_popKSIC .schlist tr td.subject span.mightOverflow {display:table-cell;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;position:relative;max-width:210px;padding-top:4px;}
.layer_popKSIC .schlist tr td.subject a{line-height:120%;vertical-align:middle;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:340px;}
.layer_popKSIC .schlist tr td.date{color:#888;padding:10px 10px;}
.layer_popKSIC .schlist tr td a:hover,
.layer_popKSIC .schlist tr td a:focus{color:#356fc5;}
.layer_popKSIC .schlist tr td button{border-radius: 3px;background:#213967;color: #fff;font-size: 15px;padding: 4px 12px;float:right;}

.layer_popKSIC .board-list{border-bottom:1px solid #e0e0e0;width:100%;}
.layer_popKSIC .board-list thead tr th{height:20px;line-height:130%;padding:13px 0 12px;font-family:'Nanum Gothic Bold';color:#777;border-top:none;background:#f6f7f8;border-left:1px solid #e0e0e0;}
.layer_popKSIC .board-list tbody tr td.left{text-align:left;}
.layer_popKSIC .board-list tbody tr td.right{text-align:right;}
.layer_popKSIC .board-list tbody tr.active td{background:#356fc5;color:#fff !important;cursor: pointer;}
.layer_popKSIC .board-list tbody tr:not(.active, .noData):hover td{background:#dfebfa;color:#356fc5 !important;cursor: pointer;}
.layer_popKSIC .board-list tr th{line-height:130%;padding:12px 0 11px;text-align:center;vertical-align:middle;font-size:14px;font-weight: 400;}
.layer_popKSIC .board-list tr td{min-height:20px;height:20px;word-break:keep-all;line-height:130%;vertical-align:middle;text-align:center;color:#555;font-size:14px;font-weight: 400;border:1px solid #e5e6e7;/*border-width:1px 0px 0px 1px;*/letter-spacing:-1px;word-spacing:-1px;}
.layer_popKSIC .board-list tr th:first-child,
.layer_popKSIC .board-list tr td:first-child{border-left:none;}
/*
.layer_popKSIC .board-list.type02 tbody th { border-bottom: 1px solid #d9d9d9;font-family:'Nanum Gothic Bold';color:#333;font-size:15px;}
.layer_popKSIC .board-list.type02 tbody td { border-bottom: 1px solid #d9d9d9; font-family:'Nanum Gothic';color:#666;font-size:14px;text-align: left;}
*/

.layer_popKSIC .schlist tr.noData td{height:400px;text-align:center;}
.layer_popKSIC .board-list tr td .search_h{background: #ffff00;}
.layer_popKSIC .board-list tr.active td .search_h{background:#356fc5;}
/* paging */
.layer_popKSIC .pagenation{width:100%;position:absolute;bottom:0px;margin:0 auto;text-align:center;overflow:hidden;font-size:0;padding-top:20px;margin-bottom:20px;}
.layer_popKSIC .paging{overflow:hidden;padding:25px 0 0 0;text-align:center;}
.layer_popKSIC .paging a,
.layer_popKSIC .paging .list .strong{font-family:'Nanum Gothic'!important;font-weight:normal;display:inline-block;font-size:13px;color:#777;width:30px;height:30px;margin:0 4px;line-height:30px;vertical-align:middle;box-sizing:border-box;}
.layer_popKSIC .paging a img{vertical-align:top;}
.layer_popKSIC .paging .list .strong{border:1px solid #0076c0;background:#0076c0;color:#fff;}
.layer_popKSIC .paging .list a,
.layer_popKSIC .paging .list .strong{position:relative;}
.layer_popKSIC .paging .list a:hover{border:1px solid #0076c0!important;}
.layer_popKSIC .paging .list a:after,
.layer_popKSIC .paging .list .strong:after{content:'';display:inline-block;border-right:1px solid #d8d8d8;position:absolute;height:6px;top:12px;right:-5px;line-height:30px;vertical-align:middle;}
.layer_popKSIC .paging .list a:last-of-type:after{display:none;}
.layer_popKSIC .paging .list a:hover{color:#fff;background-color:#0076c0;border:1px solid #0076c0!important;text-decoration:none;}
.layer_popKSIC .paging .first{background-image:url(/publish_2018/include/images/board/btn_paging_first.gif);}
.layer_popKSIC .paging .next{background-image:url(/publish_2018/include/images/board/btn_paging_next.gif);}
.layer_popKSIC .paging .prev{background-image:url(/publish_2018/include/images/board/btn_paging_prev.gif);}
.layer_popKSIC .paging .last{background-image:url(/publish_2018/include/images/board/btn_paging_last.gif);}
.layer_popKSIC .paging .first:hover,
.layer_popKSIC .paging .first:focus{background-image:url(/publish_2018/include/images/board/btn_paging_first_on.gif);}
.layer_popKSIC .paging .next:hover,
.layer_popKSIC .paging .next:focus{background-image:url(/publish_2018/include/images/board/btn_paging_next_on.gif);}
.layer_popKSIC .paging .prev:hover,
.layer_popKSIC .paging prev:focus{background-image:url(/publish_2018/include/images/board/btn_paging_prev_on.gif);}
.layer_popKSIC .paging .last:hover,
.layer_popKSIC .paging .last:focus{background-image:url(/publish_2018/include/images/board/btn_paging_last_on.gif);}
.layer_popKSIC .paging .next,
.layer_popKSIC .paging .prev,
.layer_popKSIC .paging .last,
.layer_popKSIC .paging .first{background-color:#fff;background-repeat:no-repeat;background-position:50% 50%;text-indent:-999px;overflow:hidden;}

/* 산업분류 상세  */
.layer_popKSIC .grid_detlbg{display:none;position:relative;float:right;top:10px;right:0;width:400px;height:550px;background:#fff;}
.layer_popKSIC .grid_detlbg .board_hd{height:35px;}
.layer_popKSIC .grid_detlbg button{border-radius: 3px;background: #4283ec;color: #fff;font-size: 15px;padding: 4px 17px;}
.layer_popKSIC .grid_detlbg button.goList{right: 75px;position: absolute;}
.layer_popKSIC .grid_detlbg button.ksicSel{right: 5px;position: absolute;background: #213967;}

.layer_popKSIC .grid_detlbg .detail{position:relative;border-top:1px solid #213967;border-bottom:1px solid #213967;width:100%;height:515px;overflow: hidden;}

.layer_popKSIC .grid_detlbg .board-dtl{border-bottom:1px solid #e0e0e0;width:100%;}
.layer_popKSIC .grid_detlbg .board-dtl thead tr th{height:20px;line-height:130%;padding:13px 0 12px;font-family:'Nanum Gothic Bold';color:#777;border-top:none;background:#f6f7f8;border-left:1px solid #e0e0e0;}
.layer_popKSIC .grid_detlbg .board-dtl tbody tr td.left{text-align:left;}
.layer_popKSIC .grid_detlbg .board-dtl tbody tr td.right{text-align:right;}
.layer_popKSIC .grid_detlbg .board-dtl tr th{line-height:130%;padding:12px 0 11px;text-align:center;vertical-align:middle;font-size:14px;font-weight: 400;border: 1px solid #e5e6e7;background: #f6f7f8;}
.layer_popKSIC .grid_detlbg .board-dtl tr td{min-height:20px;height:20px;word-break:break-all;vertical-align:middle;text-align:center;color:#555;font-size:13px;font-family: Malgun Gothic;border:1px solid #e5e6e7;padding: 10px 25px 10px 10px;}
.layer_popKSIC .grid_detlbg .board-dtl tr th:first-child,
.layer_popKSIC .grid_detlbg .board-dtl tr td:first-child{border-left:none;}
.layer_popKSIC .grid_detlbg .board-dtl tr th:last-child,
.layer_popKSIC .grid_detlbg .board-dtl tr td:last-child{border-right:none;}
.layer_popKSIC .grid_detlbg .board-dtl .search_h{background: #ffff00;}
