@charset "utf-8";

/* Font */
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:300;src:local('※'),url(../fonts/NotoSans-Light.woff2) format('woff2'),url(../fonts/NotoSans-Light.woff) format('woff')}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:local('※'),url(../fonts/NotoSans-Regular.woff2) format('woff2'),url(../fonts/NotoSans-Regular.woff) format('woff')}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:500;src:local('※'),url(../fonts/NotoSans-Medium.woff2) format('woff2'),url(../fonts/NotoSans-Medium.woff) format('woff')}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;src:local('※'),url(../fonts/NotoSans-Bold.woff2) format('woff2'),url(../fonts/NotoSans-Bold.woff) format('woff')}

/* Reset */
*{box-sizing:border-box; margin:0;padding:0}
html{-webkit-text-size-adjust:none}
body{-webkit-overflow-scrolling:touch;line-height:1.4;font-family:Noto Sans,Dotum;word-break:keep-all;overflow-y: hidden;}
h1,h2,h3,h4,h5,h6{line-height:normal;font-weight:normal}
ul,ol,li{list-style:none}
a{text-decoration:none;color:#666}
a:hover,a:active,a:visited{text-decoration:none}
img{border:0;vertical-align:top;}
button{border:0;background-color:transparent;vertical-align:middle;cursor:pointer;font-family:inherit;font-size:inherit;font-weight:300}
button:focus{outline:0;}
input[type=text],input[type=search],input[type=password],select{box-sizing:border-box;padding:0 10px;border:1px solid #d7d7d7;background-color:#fff;vertical-align:middle;font-family:inherit;font-weight:300;color:#666}
textarea{width:100%;padding:10px;border:1px solid #d7d7d7;font-family:inherit;font-weight:300;resize:none}
em,address{font-style:normal}
table{width:100%;table-layout:fixed;border-collapse:collapse}
caption{width:0;height:0;line-height:0;font-size:0;color:transparent}
label{vertical-align:middle;cursor:pointer}
input[type=text],input[type=password],input[type=date],input[type=tel],select,textarea{-webkit-border-radius:0;-webkit-appearance:none;box-sizing:border-box}
input[type=checkbox],input[type=radio]{vertical-align:middle}
main{display:block}
strong{font-weight:500 !important}
select::-ms-expand{display:none}
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;background: #fff url('/images/catchmentArea/select_ico.png') no-repeat 95% 50%;}
.clearfix{content:''; clear:both; display:table; }
.hide{width:0; height:0; margin:0; padding:0;overflow:hidden;font-size: 0; visibility: hidden;}

::placeholder{color:#999 !important}
:-ms-input-placeholder{color:#999 !important}
::-ms-input-placeholder{color:#999 !important}
.ie9 select{padding-right:0;background-image:none !important}

input[type=text] {height:40px;border:1px solid #d4d4d4;padding:5px; }
input[type=text]::-ms-clear{	display: none;}

.w130{width:130px;}
.w125{width:125px;}
.w120{width:120px;}
.w100{width:100px;}
.w103{width:103px;}
.w116{width:116px;}
.w150i{width:150px !important;}
.w90{width:90px;}
.w95{width:95px;}
.w85{width:85px;}
.w80{width:80px;}
.w60{width:60px;}
.w112{width:112px;}
.w118{width:118px;}
.w174{width:174px;}
.w51{width:51px;}
.w69{width:69px;}
.w70{width:70px;}
.w75{width:75px;}
.w137{width:137px;}

.mt10{margin-top:10px;}
.mL36{margin-left:36px;}
.mb7{margin-bottom:7px;}
.lev{display:inline-block; vertical-align: text-bottom;  width:17px; height:17px; margin-right:5px;border:1px solid #ccc;}
.lev0{background:#fff;border:1px solid #dbdbdb; }
.lev1{background:#f2eee3; }
.lev2{background:#e5db9e; }
.lev3{background:#ddc178; }
.lev4{background:#d29171; }
.lev5{background:#c97a5e; }
.lev6{background:#9d584a; }
.lev7{background:#7b3e30; }
/*
.lev1{background:#FDF3D6; }
.lev2{background:#E6D3B2; }
.lev3{background:#D0B38E; }
.lev4{background:#BA936B; }
.lev5{background:#A47347; }
.lev6{background:#8E5323; }
.lev7{background:#783300; }
*/

.main_btn_top{position:absolute;right:12px;top:-28px;z-index:999;}
.main_btn_top .btn06{display:block;width:84px !important;height:26px !important;padding:3px 0px 0px 32px;letter-spacing:-1px;font-family:Malgun Gothic;font-weight:normal;background:#457bf5 url('/images/catchmentArea/btn06_bg.png') 15px 7px no-repeat; color:#fff;font-size:13px;border-radius:13px;cursor:pointer;}

/* tooltip */
/*.ui-tooltip{line-height:1em;padding:10px;color:#666;border:1px solid #dcdcdc!important;box-shadow:none;}*/
.ui-tooltip *{font-size:11.5px!important;line-height:1.8em;word-spacing:0.1em;}
.ui-tooltip .subj{font-weight:bold;line-height:20px;display:block;height:20px;margin:0 0 5px 0;padding-left:20px;background:url(/img/ico/ico_tooltip.png) no-repeat 5px center;}
.ui-tooltip .ui-tooltip-content p.subH{font-weight:bold;padding-left:7px;}
.ui-tooltip .ui-tooltip-content p.subC{padding-left:17px;}
.ui-tooltip .ui-tooltip-content .att{color:#3792de;}
.ui-tooltip .ui-tooltip-content .tip_sec01{background:#dfebfa; border-radius:10px;/*width:100%;*/margin:5px 10px 5px 15px;padding:10px 5px;}
.ui-tooltip .bottom{height:0;}
.ui-tooltip{pointer-events: none;}
.ui-tooltip .ui-tooltip-content .subT{border-collapse: collapse;border-top: 3px solid #168;border-bottom: 3px solid #168;}
.ui-tooltip .ui-tooltip-content .subT th, .subT td {padding: 10px;border: 1px solid #ddd;}
.ui-tooltip .ui-tooltip-content .subT th {color: #168;background: #f0f6f9;text-align: center;}
.ui-tooltip .ui-tooltip-content .subT td {text-align: center;}
/* 알럿팝업(common.css) */
.alertPopupWrapper{font-family: "나눔고딕";}
.alertPopupWrapper .btnStyle01 {height:30px;}
.alertPopupWrapper .btnStyle01:hover, .btnStyle01:focus,.btnStyle01.on{background:#4283ec !important;}

.hiddenMem{display:none;}

.selMapIco{cursor:url(/images/catchmentArea/area_ico.png) 12.5 35, auto;}
