.row {
  position: relative;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 30px;
  text-align:left;

  .line-txt {
    line-height: 100%;
  }

  .form-btns {
    text-align: right;
  }
  .cols {
    box-sizing: border-box;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .col {
    font-size: 12px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    //padding: 0 10px;
    line-height:35px;

    &.col-txt{
      text-align:center;
      line-height:35px;
      font-weight:700;
      font-size: 14px;
    }

    &.col-5 {
      width: 20%;
    }

    &.col-4 {
      width: 25%;
    }

    &.col-3 {
      width: 33.33%;
    }

    &.col-2 {
      width: 50%;
    }

    &.col-1 {
      width: 100%;
    }

    &.col-sm1 {
      width: 8.33333%;
      &>.col{
        padding:0;
      }
    }

    &.col-sm2 {
      width: 16.66666%;
      &>.col{
        padding:0;
      }
    }

    &.col-sm3 {
      width: 25%;
      &>.col{
        padding:0;
      }
    }

    &.col-sm4 {
      width: 33.33333%;
      &>.col{
        padding:0;
      }
    }

    &.col-sm5 {
      width: 41.66666%;
      &>.col{
        padding:0;
      }
    }

    &.col-sm6 {
      width: 50%;
      &>.col{
        padding:0;
      }
    }

    &.col-sm7 {
      width: 58.33333%;
      &>.col{
        padding:0;
      }
    }

    &.col-sm8 {
      width: 66.66666%;
      &>.col{
        padding:0;
      }
    }

    &.col-sm9 {
      width: 75%;
      &>.col{
        padding:0;
      }
    }

    &.col-sm10 {
      width: 83.33333%;
      &>.col{
        padding:0;
      }
    }

    &.col-sm11 {
      width: 91.66666%;

      & > .col {
        padding: 0;
      }
    }

    &.col-sm12 {
      width: 100%;

      & > .col {
        padding: 0;
      }
    }

    .picker-group {
      position: relative;
      box-sizing: border-box;
      font-size: 0;
      //margin-right: 5px;
      overflow: hidden;

      .picker-item {
        position: relative;
        width: 50%;
        display: inline-block;
        vertical-align: top;

        &:first-child {
          float: left;

          .inputs {
            margin-right: 10px;
          }

          &:after {
            content: '~';
            width: 20px;
            font-size: 14px;
            position: absolute;
            top: 0;
            right: -10px;
            line-height: 35px;
            text-align: center;
          }
        }

        &:last-child {
          float: right;

          .inputs {
            margin-left: 10px;
          }
        }
      }
    }

    .srch-group {
      position: relative;

      .inputs {
        margin-right: 110px;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
      }
    }
  }

  .in-box {
    padding: 0 10px;

    &:first-child {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-top: 0px;
    }

    &.line {
      border: 1px solid #ddd;
      padding: 0 10px 15px 10px;
      margin: 0 10px;

      .tb-tit {
        font-size: 16px;
        padding-top: 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;

        .total {
          font-size: 12px;
        }
      }

      table {
        margin-top: 10px;

        thead {
          th {
            background: #F1F1F1;
            height: 35px;
          }
        }

        tbody {
          td {
            height: 35px;
            cursor: pointer;

            &.maps {
              height: 300px;
            }

            &.maps, &.opts {
              &:hover {
                background: #fff;
              }
            }
          }
        }
      }

      .paging {
        margin-top: 15px;
      }
    }
  }

  .tits {
    position: relative;
    overflow: hidden;
    padding: 0 10px 5px 10px;
    margin-bottom: 10px;

    h4 {
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.label {
  display:inline-block;
  color: #fff;
  padding: 5px 8px;
  font-size: 13px;
  min-width:40px;
  line-height: 100%;
  box-sizing: border-box;

  &.c1 {
    background: #5cb85c;
  }

  &.c2 {
    background: #5bc0de;
  }

  &.c3 {
    background: #de5b5b;
  }
  &.c4 {
    background: #dece5b;
  }

  &.c5 {
    background: #777;
  }

  &.c6 {
    background: #3d62eb;
  }

  &.c7 {
    background: #995bde;
  }

  &.c8 {
    background: #3498db;
  }
}

.inputs{
  position:relative;
  display:block;
  box-sizing: border-box;
  vertical-align: top;
  height: 35px;
  overflow: hidden;
  border: 1px solid #d5d5d5;
  &.inline{
    display:inline-block;
  }

  &.half {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }
  }
  input{
    font-size:12px;
    width:100%;
    height: 100%;
    text-indent:10px;
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

    &:disabled {
      background: #eaeaea;
    }
  }
  &.datepicker{
    .ui-datepicker-trigger{
      position:absolute;
      top: 5px;
      right: 10px;
      width: 25px;
    }
  }

  &.timepicker {
    background: transparent;

    input {
      z-index: 2;
      position: relative;
      background: transparent;
    }

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      right: 10px;
      width: 25px;
      height: 22px;
      background: url('#{$imgPath}ico_time.svg') center center no-repeat;
      background-size: cover;
      z-index: 1;
    }

  }

  &.datepicker-month {
    .cal {
      position: absolute;
      top: 5px;
      right: 10px;
      width: 25px;
      height: 22px;
      background: url('#{$imgPath}ico_cal.svg') center center no-repeat;
      background-size: cover;
    }
  }
}

.textarea {
  position: relative;
  display: block;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
  border: 1px solid #d5d5d5;

  &.inline {
    display: inline-block;
  }

  textarea {
    font-size: 12px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    &:disabled {
      background: #eaeaea !important;
    }
  }
}

.check-items {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;

  .checkbox {
    margin-left: 10px;
  }
}

.checkbox {
  display: inline-block !important;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;

  &.inline {
    display: inline-block;
  }

  input {
    position: absolute;
    top: -9999px;
    left: -9999px;

    & + label {
      position: relative;
      display: block;
      height: 17px;
      line-height: 17px;
      padding-left: 24px;
      font-size: 12px;
      color: #000;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        vertical-align: top;
        width: 17px;
        height: 17px;
        border: 1px solid #c9c9c9;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        vertical-align: top;
        width: 17px;
        height: 17px;
      }
    }

    &:checked {
      & + label {

        &:before {
          border: 1px solid #3d62e7;
        }

        &:after {
          content: '';
          background: url('#{$imgPath}ico_check.svg') center center no-repeat;
          background-size: 12px 10px;
        }
      }
    }
  }
  &.solo {
    input {
      position: absolute;

      & + label {
        position: relative;
        display: block;
        //border: 1px solid #c9c9c9;
        width: 17px;
        height: 17px;
        cursor: pointer;
        padding-left: 0px;
      }

      &:checked {
        & + label {
          border: 1px solid #3d62e7;
          background: url('#{$imgPath}ico_check.svg') center center no-repeat;
          background-size: 12px 10px;
        }
      }
    }
  }
}

.radios {
  display: inline-block;
  margin-right: 10px;

  input {
    position: absolute;
    top: -9999px;
    left: -9999px;

    & + label {
      position: relative;
      display: block;
      height: 17px;
      line-height: 17px;
      padding: 0 0 0 23px;
      font-size: 12px;
      color: #000;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        width: 17px;
        height: 17px;
        border-radius: 17px;
        border: 1px solid #c9c9c9;
      }
    }

    &:checked {
      & + label {
        &:before {
          border: 1px solid #3d62e8;
        }

        &:after {
          content: '';
          position: absolute;
          top: 3px;
          left: 3px;
          display: inline-block;
          vertical-align: top;
          width: 11px;
          height: 11px;
          border-radius: 11px;
          background: #3d62e8;
        }
      }
    }
  }

  &.line {
    input {
      position: absolute;
      top: -9999px;
      left: -9999px;

      & + label {
        position: relative;
        display: block;
        width: 80px;
        text-align: center;
        border: 1px solid #c9c9c9;
        height: 35px;
        line-height: 35px;
        padding: 0;
        font-size: 12px;
        color: #000;
        cursor: pointer;

        &:before {
          display: none;
        }
      }

      &:checked {
        & + label {
          border: 1px solid #3d62e7;

          &:before {
            display: none;
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.select{
  position:relative;
  display:block;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  height: 35px;
  overflow: hidden;
  &:after{
    content:'';
    position:absolute;
    top:15px;
    right:10px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
  }

  &.inline{
    display:inline-block;
    min-width: 200px;
  }

  select{
    font-size:12px;
    width:100%;
    height: 100%;
    background:none;
    border:0;
    text-indent:10px;
    box-sizing: border-box;
  }
}

.user-txt {
  font-size: 18px;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.tbs1 {

  &.blue {
    table {
      border-top: 2px solid #3d62e8;
    }
  }

  .checkbox {
    @include center-both;
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 2px solid #879099;
  }

  thead {
    th {
      position: relative;
      height: 45px;
      min-height: 45px;
      line-height: 120%;
      font-size: 14px;
      color: #4c4c4c;
      border-bottom: 1px solid #c9c9c9;
      border-left: 1px solid #c9c9c9;
      box-sizing: border-box;
      padding: 5px 10px !important;
      text-align: center;
      &:first-child {
        border-left: 0;
      }

      &.sm {
        font-size: 12px;
        letter-spacing: -0.5px;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background: #eee;
      }
    }
    th {
      position: relative;
      box-sizing: border-box;
      padding: 0 10px;
    }

    td {
      position: relative;
      padding: 5px 10px;
      box-sizing: border-box;
      height: 55px;
      line-height: 130%;
      border-left: 1px solid #c9c9c9;
      border-bottom: 1px solid #c9c9c9;
      font-size: 12px;
      color: #4c4c4c;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;

      .in-td {

      }
      &:first-child {
        border-left: 0;
      }

      &.left {
        text-align: left;
      }

      &.title {
        text-align: left;
        a {
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          overflow: hidden;
          text-decoration: underline;
        }
      }

      &.tb-edit {
        text-align: left;
        padding-left: 30px;

        &:before {
          content: '';
          width: 15px;
          height: 15px;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 10px;
          margin-top: -9px;
          background: url('#{$imgPath}ico_edit.svg') center center no-repeat;
          background-size: cover;
        }

        input {
          width: 100%;
          text-align: center;
        }
      }

      &.td-projectnum {
        font-size: 26px;
      }

      &.tb-projectlist {
        height: auto;

        .projectlist-tit {
          text-align: left;
          line-height: 25px;
          margin-top: 20px;

          .text {
            margin-right: 110px;
            white-space: normal;
          }
          a {
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            margin-right: 10px;
          }

          strong {
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            font-size: 15px;
          }
        }

        .projectlist-steps {
          font-size: 0;

          ul {
            position: relative;
            margin: 40px 0;

            &:before {
              content: '';
              width: 100%;
              height: 1px;
              background: #ccc;
              position: absolute;
              top: 15px;
              left: 0;
              z-index: 0;
            }
          }

          li {
            display: inline-block;
            vertical-align: top;
            width: 20%;
            box-sizing: border-box;
            padding: 0 15px;
          }

          button {
            position: relative;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 30px;
            text-align: center;
            background: #3D62EB;
            color: #fff;
            z-index: 1;

            &.c1 {
              background-color: #3d62eb;
            }

            &.c2 {
              background-color: #5bc0de;
            }

            &.c3 {
              background-color: #995bde;
            }

            &.c4 {
              background-color: #de5b5b;
            }

            &.c5 {
              background-color: #5cb85c;
            }
          }

          span {
            display: block;
            font-size: 15px;
            line-height: 150%;
            text-overflow: initial;
            white-space: initial;
            word-wrap: break-word;
            margin-top: 10px;
          }
        }

        .projectlist-util {
          position: absolute;
          top: 25px;
          right: 15px;
        }
      }
      a {
        display: block;
        color: #3d62e8;
        text-decoration: underline;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
      }
    }
  }
}

.tb-tips {
  font-size: 13px;
}

.big-view {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url('#{$imgPath}ico_big.svg') no-repeat center center;
  background-size: cover;
}

.scroll-tbs {
  position: relative;

  .checkbox {
    @include center-both;
  }

  .util {
    position: relative;
    padding-right: 50px;
  }

  .scroll {
    overflow: hidden;
    overflow-x: scroll;
  }
  table {
    width: 500%;
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 2px solid #879099;
  }

  thead {
    th {
      position: relative;
      height: 45px;
      min-height: 45px;
      line-height: 120%;
      font-size: 14px;
      color: #4c4c4c;
      border-bottom: 1px solid #c9c9c9;
      border-left: 1px solid #c9c9c9;
      box-sizing: border-box;
      padding: 5px 10px;
      text-align: center;

      &:first-child {
        border-left: 0;
      }

      &.sm {
        font-size: 12px;
        letter-spacing: -0.5px;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background: #eee;
      }
    }

    th {
      position: relative;
      box-sizing: border-box;
      padding: 0 10px;
    }

    td {
      position: relative;
      padding: 5px 10px;
      box-sizing: border-box;
      height: 55px;
      line-height: 130%;
      border-left: 1px solid #c9c9c9;
      border-bottom: 1px solid #c9c9c9;
      font-size: 12px;
      color: #4c4c4c;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;

      .in-td {

      }

      &:first-child {
        border-left: 0;
      }

      &.left {
        text-align: left;
      }

      &.title {
        text-align: left;

        a {
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          overflow: hidden;
          text-decoration: underline;
        }
      }

      &.tb-edit {
        text-align: left;
        padding-left: 30px;

        &:before {
          content: '';
          width: 15px;
          height: 15px;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 10px;
          margin-top: -9px;
          background: url('#{$imgPath}ico_edit.svg') center center no-repeat;
          background-size: cover;
        }

        input {
          width: 100%;
          text-align: center;
        }
      }

      &.td-projectnum {
        font-size: 26px;
      }

      &.tb-projectlist {
        height: auto;

        .projectlist-tit {
          text-align: left;
          line-height: 25px;
          margin-top: 20px;

          .text {
            margin-right: 110px;
            white-space: normal;
          }

          a {
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            margin-right: 10px;
          }

          strong {
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            font-size: 15px;
          }
        }

        .projectlist-steps {
          font-size: 0;

          ul {
            position: relative;
            margin: 40px 0;

            &:before {
              content: '';
              width: 100%;
              height: 1px;
              background: #ccc;
              position: absolute;
              top: 15px;
              left: 0;
              z-index: 0;
            }
          }

          li {
            display: inline-block;
            vertical-align: top;
            width: 20%;
            box-sizing: border-box;
            padding: 0 15px;
          }

          button {
            position: relative;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 30px;
            text-align: center;
            background: #3D62EB;
            color: #fff;
            z-index: 1;

            &.c1 {
              background-color: #3d62eb;
            }

            &.c2 {
              background-color: #5bc0de;
            }

            &.c3 {
              background-color: #995bde;
            }

            &.c4 {
              background-color: #de5b5b;
            }

            &.c5 {
              background-color: #5cb85c;
            }
          }

          span {
            display: block;
            font-size: 15px;
            line-height: 150%;
            text-overflow: initial;
            white-space: initial;
            word-wrap: break-word;
            margin-top: 10px;
          }
        }

        .projectlist-util {
          position: absolute;
          top: 25px;
          right: 15px;
        }
      }

      a {
        display: block;
        color: #3d62e8;
        text-decoration: underline;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
      }
    }
  }
}
.tbs2 {
  table {
    width: 100%;
    border-bottom: 1px solid #c9c9c9;

    th {
      position: relative;
      border-top: 1px solid #c9c9c9;
      //height:55px;
      line-height: 150%;
      padding: 10px 10px 10px 30px;
      background: #f9f9f9;

      &.require {
        &:before {
          content: '*';
          font-size: 15px;
          position: absolute;
          top: 50%;
          left: 20px;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }

    td {
      border-top: 1px solid #c9c9c9;
      min-height: 35px;
      padding: 10px;

      .tips {
        line-height: 130%;
        margin-top: 5px;
      }

      &.tb-content {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      &.tb-files {
        line-height: 25px;

        .file {
          position: relative;
          font-weight: 700;
          display: inline-block;
          vertical-align: top;
          margin-right: 5px;
          padding-left: 20px;

          &:before {
            content: '';
            width: 15px;
            height: 15px;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -9px;
            background: url('#{$imgPath}ico_file.svg') center center no-repeat;
            background-size: cover;
          }
        }

        em {
          display: inline-block;
          vertical-align: top;
          margin-right: 5px;
        }

        button {
          display: inline-block;
          vertical-align: top;
          width: auto;
        }

        .download {
          display: inline-block;
          vertical-align: top;
          margin-right: 5px;
        }
      }

      &.tb-imgs {
        img {
          max-width: 100%;
        }
      }

      &.tb-preview {
        input {
          width: 100%;
          height: 300px;
          background: #eee;
          text-align: center;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}

.tb-tit {
  position: relative;
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
  line-height: 100%;
  .total {
    font-size: 14px;
  }

  .more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 13px;
  }

  .sub-tit {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
  }
  .tit-utils {
    position: absolute;
    bottom: 5px;
    right: 0;

    button {
      border-radius: 0;
      width: 70px;
      display: inline-block;
      vertical-align: top;
    }

    .select {
      display: inline-block;
      vertical-align: top;
      width: 120px;
    }
  }
}

.btn {
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  display: inline-block;
  vertical-align: top;

  &.sm {
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
  }

  &.lager {
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
  }

  &.line {
    border: 1px solid #d5d5d5;

    &:hover {
      opacity: .7;
    }
  }

  &.block {
    display:block;
    width:100%;
    min-width:auto;
  }

  &.angular {
    border-radius: 0;
  }
}

.tabs-txt{
  font-size:0;
  li{
    position:relative;
    display:inline-block;
    vertical-align: top;
    padding:0 10px;
    &.is-active{
      a{
        color: #d71826;
        text-decoration: underline;
        font-weight:700;
        font-size:17px;
      }
    }
    &:after{
      content:'';
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size:15px;
      line-height:100%;
      width:1px;
      height:15px;
      background:#333;
    }
    &:last-child{
      &:after{
        display:none;
      }
    }
  }
  a{
    display:block;
    font-size:13px;
    color: #333;
  }
}

.radio-tabs {
  position: relative;
  font-size: 0;
  margin-bottom: 10px;
  //border-bottom: 1px solid #e5e5e5;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
  }

  li {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    min-width: 120px;
    text-align: center;
  }
}
.tabs {
  position: relative;
  font-size: 0;
  margin-bottom: 10px;
  //border-bottom: 1px solid #e5e5e5;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
  }

  ul {

  }

  li {
    display: inline-block;
    vertical-align: top;
    min-width: 120px;
    &:first-child {
      margin-left: 0;

      a {
        border-left: 1px solid #e5e5e5;
      }
    }

    &.is-active {
      a {
        color: #fff;
        background: #3d62e8;
        border-color: #3d62e8;
      }
    }

    &:hover {
      a {
        opacity: .8;
        color: #fff;
        background: #3d62e8;
        border-color: #3d62e8;
      }
    }
  }

  a {
    display: block;
    border: 1px solid #e5e5e5;
    border-left: 0;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    //border-top-left-radius: 20px;
    //border-top-right-radius: 20px;
  }

  &.round {
    a {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &.per3 {
    li {
      min-width: auto;
      width: 33.33%;
    }
  }

  &.per4 {
    li {
      min-width: auto;
      width: 25%;
    }
  }

  &.mix {
    ul {
      margin-right: 35px;
    }

    .add {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 35px;
      height: 35px;
      background: #213969;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
    }

    .pack {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 35px;
      background: #213969;
      font-weight: 700;
      font-size: 15px;
      padding: 0 20px;
      color: #fff;
    }
  }
}

.check-tabs {
  margin-bottom: 20px;
  ul {

  }

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }

  input {
    position: absolute;
    top: -9999px;
    left: -9999px;

    & + label {
      position: relative;
      display: block;
      height: 17px;
      line-height: 17px;
      font-size: 20px;
      color: #000;
      cursor: pointer;
      padding: 0 5px 5px 24px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        vertical-align: top;
        width: 17px;
        height: 17px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        vertical-align: top;
        width: 17px;
        height: 17px;
      }
    }

    &:checked {
      & + label {
        border-bottom: 2px solid #3d62e8;

        &:before {
        }

        &:after {
          content: '';
          background: url('#{$imgPath}ico_check.svg') center center no-repeat;
          background-size: 12px 10px;
        }
      }
    }
  }
}

.in-tabs {
  position: relative;
  font-size: 0;
  line-height: 20px;
  //border-bottom: 1px solid #e5e5e5;
  //&:after {
  //  content: '';
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 1px;
  //  background: #e5e5e5;
  //}

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
    min-width: 120px;
    border-left: 0;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    background: #000;
    color: #fff;
  }
}

.shade {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100000;
  text-align: center;
}

.paging {
  font-size: 0;
  text-align: center;
  margin-top: 30px;

  ul {
    display: inline-block;

    li {
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      width: 37px;
      height: 37px;
      border: 1px solid #CCC9CB;
      margin: 0 1px;

      &.is-active {
        border: 1px solid #3D62EA;
        //background: #3d62e8;

        a {
          font-weight: 700;
          color: #3d62e8;
        }
      }
    }

    a {
      display: block;
      height: 100%;
      font-size: 12px;
      line-height: 37px;

    }
  }

  span {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 37px;
    height: 37px;
    border: 1px solid #CCC9CB;
    margin: 0 1px;

    a {
      display: block;
      font-size: 12px;
      height: 100%;
      line-height: 37px;
    }
  }
}

.chars-area {
  margin: 0 0 50px 0;

  .chart-total {
    text-align: right;
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.btn-group {
  font-size: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;

  button {
    min-width: 70px;
    width: auto !important;
    padding: 0 5px;
    &:disabled {
      background: #eaeaea !important;
    }

    &:hover {
      opacity: .7;
    }
  }

  &.color {
    button {
      height: 35px;
      line-height: 35px;
      color: #fff;
      box-sizing: border-box;

      &.c1 {
        background-color: #ffc241;
      }

      &.c2 {
        background-color: #3498DB;
      }

      &.c3 {
        background-color: #18BC9C;
      }

      &.c4 {
        background-color: #DF691A;
      }

      &.c5 {
        background-color: #4E5D6C;
      }

      &.c6 {
        background-color: #5cb85c;
      }

      &.c7 {
        background-color: #5bc0de;
      }

      &.c8 {
        background-color: #de5b5b;
      }

      &.c9 {
        background-color: #995bde;
      }

      &.c10 {
        background-color: #3d62eb;
      }
    }
  }

  &.line {
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    height: 35px;

    button {
      background: #fff;
      height: 35px;
      line-height: 35px;
      box-sizing: border-box;
      font-size: 12px;
      text-align: center;
      padding: 0 10px;
      display: inline-block;
      border-left: 1px solid #d5d5d5;

      &:first-child {
        border-left: 0;
      }

      &.c1 {
        background-color: #de5b5b;
        color: #fff;
      }
    }
  }

  &.sm {
    button {
      height: 25px;
      line-height: 25px;
    }
  }
}

.btn-right {
  margin-top: 10px;
  text-align: right;
}

.icon {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-left: 5px;

  &.file {

  }
}

.file-field-add {
  margin-bottom: 10px;

  button {
    font-weight: 700;
  }
}

.file-field {
  position: relative;
  font-size: 0;

  .inputs {
    margin-right: 139px;
  }

  .bt {
    position: absolute;
    top: 0;
    right: 0;
  }

  button {
    width: 70px;
    color: #fff;

    &:first-child {
      border-right: 0;
      background: #df691a;
      border: 1px solid #df691a;
    }

    &:last-child {
      background: #4e5d6c;
      border: 1px solid #4e5d6c;
    }
  }

  &.solo {
    .inputs {
      margin-right: 69px;
    }
  }
}

.file-tips {
  padding: 10px 5px;
  line-height: 130%;
}

.aco-lists {
  .aco-tit {
    border-top: 2px solid #3d62e8;

    a {
      display: block;
      padding: 15px 60px 15px 10px;
      font-size: 15px;
      line-height: 130%;

      &.is-active {
        font-weight: 700;
      }
    }
  }

  .aco-inner {
    border-top: 1px solid #e5e5e5;
    padding: 20px 10px;
  }

  .aco-txts {
    font-size: 13px;
  }

  .aco-util {
    text-align: right;
  }

  li {
    &:last-child {
      .aco-inner {
        border-bottom: 1px solid #e5e5e5;
      }
    }
  }
}

.toggle-switch {
  display: block;

  .txt {
    font-size: 15px;
    display: block;
  }
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 95px;
  height: 35px;
  cursor: pointer;
}

.switch-txt {
  font-size: 17px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 15px;
  text-color: #565656;
  background: #a5a5a5;
  border-radius: 35px;
  font-weight: 700;
  line-height: 35px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.switch-label:before, .switch-label:after {
  position: absolute;
  top: 0;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  font-size: 15px;
  line-height: 35px;
  box-sizing: border-box;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #fff;
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  opacity: 0;
}

.switch-input:checked ~ .switch-label {
  background: #cc0000;
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 29px;
  height: 29px;
  border-radius: 29px;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  box-sizing: border-box;
}

.switch-input:checked ~ .switch-handle {
  left: 62px;
}

.mix-form {
  position: relative;
  font-size: 0;

  .item {
    margin-right: 80px;
    overflow: hidden;

    & > span:first-child {
      width: 49.5%;
      float: left;
    }

    & > span:last-child {
      width: 49.5%;
      float: right;
    }
  }

  button {
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.mix-form2 {
  position: relative;

  strong {
    position: absolute;
    top: 0;
    left: 0;
    width: 118px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
  }

  .inputs, .select {
    margin: 0 0 0 118px;
  }

  .btn-group {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.mix-form3 {
  position: relative;
  font-size: 0;
  margin-bottom: 10px;

  label {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    line-height: 35px;
    font-size: 14px;
    font-weigh: 700;
    text-align: center;
  }

  .select, .inputs {
    display: inline-block;
    vertical-align: top;
    width: 70%;
  }
}

.mix-form4 {
  position: relative;
  font-size: 0;
  margin-bottom: 10px;

  label {
    display: block;
    vertical-align: top;
    line-height: 35px;
    font-size: 14px;
    font-weigh: 700;
    text-align: left;
  }

  .bar {
    display: block;
    text-align: center;
    font-size: 18px;
  }
}