.mapBtnWrapper {width:34px;height:34px;right:-5px;}
.mapZoomWrapper {width:34px;height:116px;right:-5px;}
.rightQuick{text-align:center;z-index:10;border-radius:50%;position:absolute;right:5px;/* top:50px; */width:34px;height:34px;overflow:hidden;background-color:#28425b;color:#fff;}
.rightQuick.rq01:before{content:"";width:13px;height:17px;overflow:hidden;background:url(/img/ico/ico_sideList.png) no-repeat -30px 0;margin:9px auto 0 auto;display:block;}
a.rightQuick:hover, a.rightQuick.on{background-color:#00bcd4}
.rightQuick.rq01{/* top:78px; */right:-5px;}
.rightQuick.rq02{ /* top:35px; */right:-5px;}
.rightQuick.rq01 span, .rightQuick.rq02 span, .rightQuick.rq06 span{position:absolute;left:-2000px;}
.rightQuick.rq02:before{content:"";width:17px;height:17px;overflow:hidden;background:url(/img/ico/ico_sideList.png) no-repeat 0 0;margin:9px auto 0 auto;display:block;}
.rightQuick.rq03{/* top:211px; *//* top:105px; */right:-5px;text-indent:-2000px;height:32px;border-bottom-left-radius:0;border-bottom-right-radius:0;
background-image:url(/img/ico/ico_plus01.gif);
background-repeat:no-repeat;
background-position:center center;
}
.rightQuick.rq07{top:32px;text-indent:-2000px;height:32px;right:-5px;
background-image:url(/img/ico/ico_moveType01.png);border-radius:0;
background-repeat:no-repeat;
background-position:center center;}
a.rightQuick.rq07:hover{background-image:url(/img/ico/ico_moveType03.png) !important;}
a.rightQuick.rq07.on{background-color:#28425b;}
a.rightQuick.rq07.on:hover{background-color:#00bcd4;}
a.rightQuick.rq07.on:hover{background-image:url(/img/ico/ico_moveType04.png) !important;}
.rightQuick.rq04{top:64px;height:20px;line-height:20px;font-size:11px;border-radius:0;background:#28425b;right:-5px;color:#ffffff;}
.rightQuick.rq05{top:84px;text-indent:-2000px;height:32px;border-top-left-radius:0;border-top-right-radius:0;right:-5px;
background-image:url(/img/ico/ico_mius01.gif);
background-repeat:no-repeat;
background-position:center center;
}
.rightQuick.rq06{/* top:166px; */right: -5px;}
.rightQuick.rq06:before{content:"";width:23px;height:22px;overflow:hidden;background:url(/img/ico/ico_sideList.png) no-repeat -82px 0;margin:6px auto 0 auto;display:block;}

.rqListBox{display:inline;position:absolute;right:-540px;/* top:75px; */z-index:2;margin-top:-3px;}
.rqListBox.rq01{width:508px;}
.rqListBox.rq02{/* top:122px; *//* top:36px; */width:188px;}
.rqListBox.rq06{/* top:163px *//* top:70px; */ width:115px;}
.rqListBox li{float:left;width:42px;height:auto;overflow:hidden;margin:0 2px;}
.rqListBox li a{font-size:11px;;letter-spacing:-1px;text-align:center;display:table;width:42px;height:42px;overflow:hidden;background:#333;color:#fff;border-radius:50%;}
.rqListBox li a span{position:absolute;left:-5000px;display:table-cell;vertical-align:middle;text-align:center}
.rqListBox li a:hover, .rqListBox li a.on, .rqListBox li a.over{background-color:#21b69a}
/* .rqListBox li>ul{display:none} */
.rqListBox li>ul>li{margin:2px 0 0 0}
.rqListBox li>ol{display:none;position:absolute;margin-top:15px;margin-left:-180px;width:190px;padding:10px;height:auto;border:1px solid #dcdcdc;background:#fff}
.rqListBox li>ol:before{position:absolute;content:"";display:block;width:15px;height:15px;overflow:hidden;background:url(/img/ico/ico_arr02.png);margin:-25px 0 0 170px}
.rqListBox li>ol>li{width:50%;height:24px;overflow:hidden;float:left;margin:5px auto;}
.rqListBox li>ol>li>a{color:#555;border-radius:0;position:relative;background-color:#fff;display:block;width:100%;text-indent:30px;height:24px;line-height:24px;overflow:hidden;}
.rqListBox li>ol>li>a>img{height:24px;width:25px;display:block;overflow:hidden;position:absolute;left:0;top:0;}
.rqListBox li>ol>li>a:hover{background-color:#fff}
.rqListBox li>ol.rqIcon09{padding:0;width:380px;height:300px;}
.rqListBox li>ol.rqIcon09>li{height:auto;line-height:1em;width:100%;margin:0}
.rqListBox li>ol.rqIcon09:before{margin:-14px 0 0 170px}

.rqListBox a:before{display:block;content:"";width:42px;height:42px;overflow:hidden;}

.rqListBox.rq06 li{width:34px;}
.rqListBox .ico_side_gps01, .rqListBox .ico_side_gps02{width:34px;height:34px;margin-top:3px;}
.rqListBox .ico_side_gps01:before{width:34px;height:34px;background:url(/img/ico/ico_sideList.png) no-repeat -118px -94px;}
.rqListBox .ico_side_gps02:before{width:34px;height:34px;background:url(/img/ico/ico_sideList.png) no-repeat -118px -49px;display:none;}
.rqListBox .ico_side_gps02 span{position:static;}


.ifSetting{z-index:91;position:absolute;top:100px;left:50%;width:400px;height:auto;background:#fff;border:3px solid #333;overflow:hidden;margin-left:-200px;}
.ifSetting .bar{height:40px;line-height:40px;width:100%;overflow:hidden;background:#0070c0;position:relative;}
.ifSetting .bar>span{display:block;height:40px;line-height:40px;width:100%;overflow:hidden;text-indent:10px;color:#fff}
.ifSetting .bar>a{position:absolute;right:10px;top:3px;}
.addressGuide{display:block;margin:10px;background:#f1f1f1;padding:10px;line-height:1.5em}
.cateForm{width:100%;height:auto;overflow:hidden;border-top:1px solid #ccc;}
.cateForm ul{display:block;margin:0 10px;height:auto;overflow:hidden;}
.cateForm ul li{width:100%;height:auto;overflow:hidden;padding:10px 0;}
.cateForm ul li label, .cateForm ul li select{vertical-align:middle;}
.cateForm ul li label{display:inline-block;width:100px;}
.cateForm ul li select{height:30px;border:1px solid #ccc;width:250px}
.btnForm{border-top:1px solid #ccc;width:100%;height:auto;overflow:hidden;text-align:center;padding:10px 0;}
/*시작*/
.legendBox{z-index:10;bottom:10px;left:0px;width:170px;padding:4px;height:auto;overflow:hidden;background:#fff;border:1px solid #dcdcdc;}
.colorbar{float:left;width:140px;height:220px;overflow:hidden;margin-bottom:10px;}
.colorbar li{color:#fff;text-align:right;position:relative;width:138px;height:22px;padding-right:10px;overflow:hidden;line-height:22px;font-size:12px;background:#890e4f;}
.colorbar li:nth-child(1){opacity:1;}
.colorbar li.ck:before{content:"";width:11px;height:13px;overflow:hidden;background:url(/img/ico/ico_colorbar01.png);position:absolute;left:0;top:3px;}

.ring .colorbar{position:relative;width:150px}
.ring .colorbar li{overflow:visible;position:absolute;left:-100px;background:transparent !important;border-radius:50%;border-width:2px !important;bottom:0;width:140px;height:200px;}
.ring .colorbar li span{position:absolute;left:-2000px}
.ring .colorbar li:nth-child(10){width:208px;height:216px !important;left:-100px;}
.ring .colorbar li:nth-child(9){width:186px;height:196px !important;left:-90px;}
.ring .colorbar li:nth-child(8){width:164px;height:172px !important;left:-80px;}
.ring .colorbar li:nth-child(7){width:142px;height:150px !important;left:-70px;}
.ring .colorbar li:nth-child(6){width:122px;height:130px !important;left:-60px;}
.ring .colorbar li:nth-child(5){width:100px;height:106px !important;left:-50px;}
.ring .colorbar li:nth-child(4){width:76px;height:84px !important;left:-40px;}
.ring .colorbar li:nth-child(3){width:52px;height:62px !important;left:-30px;}
.ring .colorbar li:nth-child(2){width:30px;height:40px !important;left:-20px;}
.ring .colorbar li:nth-child(1){width:10px;height:20px !important;left:-10px;}

.legendBox.min .ring .colorbar{margin-bottom:0;margin-left:5px;width:120px;}
.legendBox.min .ring .colorbar:before{position:absolute;content:"";width:100px;height:110px;left:0;bottom:0;background:#fff;border:1px solid #ccc;}
.legendBox.min .ring .colorbar li{border-width:1px !important;bottom:5px;}


.legendRing.legendBox.min .ring .colorbar li:nth-child(10){width:88px;height:98px !important;left:1px;}
.legendRing.legendBox.min .ring .colorbar li:nth-child(9){width:78px;height:88px !important;left:6px;}
.legendRing.legendBox.min .ring .colorbar li:nth-child(8){width:68px;height:78px !important;left:10px;}
.legendRing.legendBox.min .ring .colorbar li:nth-child(7){width:58px;height:65px !important;left:15px;}
.legendRing.legendBox.min .ring .colorbar li:nth-child(6){width:48px;height:55px !important;left:20px;}
.legendRing.legendBox.min .ring .colorbar li:nth-child(5){width:38px;height:45px !important;left:25px;}
.legendRing.legendBox.min .ring .colorbar li:nth-child(4){width:28px;height:36px !important;left:30px;}
.legendRing.legendBox.min .ring .colorbar li:nth-child(3){width:20px;height:28px !important;left:34px;}
.legendRing.legendBox.min .ring .colorbar li:nth-child(2){width:12px;height:20px !important;left:38px;}
.legendRing.legendBox.min .ring .colorbar li:nth-child(1){width:4px;height:14px !important;left:42px;}
.legendRing{left:80px;}
#legendJum{left:160px;}

.line .colorbar{position:relative;}
.line .colorbar li{margin:10px 0 20px 0;bottom:0;width:140px;height:2px !important;}
.line .colorbar li span{position:absolute;left:-2000px}

.legendBox.min .line .colorbar{background:#fff;}
.legendBox.max .line .colorbar{background:transparent}

.ring .colorck a, .line .colorck a{display:none}
.ring .colorck, .line .colorck{position:absolute;width:100%;height:220px;overflow:hidden;}
.ring .colorck li, .line .colorck li, .legendLine li{border-bottom:1px dotted #ccc;height:21px;}
.ring .colorck li:before,
.line .colorck li:before{content:"";float:right;font-size:11px;margin-right:10px;line-height:21px;height:21px;}
/* .ring .colorck li:nth-child(1):before,
.line .colorck li:nth-child(1):before{content:"10Lv";}
.ring .colorck li:nth-child(2):before,
.line .colorck li:nth-child(2):before{content:"09Lv";}
.ring .colorck li:nth-child(3):before,
.line .colorck li:nth-child(3):before{content:"08Lv";}
.ring .colorck li:nth-child(4):before,
.line .colorck li:nth-child(4):before{content:"07Lv";}
.ring .colorck li:nth-child(5):before,
.line .colorck li:nth-child(5):before{content:"06Lv";}
.ring .colorck li:nth-child(6):before,
.line .colorck li:nth-child(6):before{content:"05Lv";}
.ring .colorck li:nth-child(7):before,
.line .colorck li:nth-child(7):before{content:"04Lv";}
.ring .colorck li:nth-child(8):before,
.line .colorck li:nth-child(8):before{content:"03Lv";}
.ring .colorck li:nth-child(9):before,
.line .colorck li:nth-child(9):before{content:"02Lv";}
.ring .colorck li:nth-child(10):before,
.line .colorck li:nth-child(10):before{content:"01Lv";} */
.legendLine li>span {text-align:right;line-height:22px;font-size:11px;}

.colorck{float:right;width:20px;height:auto;overflow:hidden;}
.colorck li{width:100%;height:22px;overflow:hidden;}
.colorck li a{text-indent:-2000px;display:block;border-radius:50%;width:17px;height:17px;overflow:hidden;background:#890e4f;margin:0 0 0 auto}
.colorck li a.on{position:relative;}
.colorck li a.on:before{display:block;position:absolute;content:"";background:url(/img/ico/ico_ck.gif) no-repeat center center;width:100%;height:100%;background-size:100%;overflow:hidden;left:0;top:0;}
.legendRound{text-align:right;float:left;width:141px;/* height:34px; */overflow:hidden;border-radius:17px;background: url(/images/totSurv/label_close.png) no-repeat right center #28425b;background-position-x: 113px;}
.btn_legend, .span_legend{text-align:left;float:left;display:inline-block;width:160px;font-size:11px;color:#fff;padding-left:35px;height:34px;line-height:34px;overflow:hidden;background:url(/img/ico/ico_bum.gif) no-repeat 10px center;}
.btn_legendSetting{text-indent:2000px;margin-right:10px;display:inline-block;width:0;padding-left:13px;height:34px;overflow:hidden;background:url(/img/ico/ico_bumSetting.gif) no-repeat center center;}
.btn_legendSetting.on{background:url(/img/ico/ico_bumSetting_on.gif) no-repeat center center;}
.legendRound span{display:inline-block;height:34px;line-height:34px;font-size:11px;margin-right:10px;}
.legendRound a, .legendRound span{vertical-align:middle;color:#fff;}
/* .lgListBox{display:inline;position:fixed;left:-520px;bottom:20px;} */
.lgListBox{display:inline-block;width:200px;position:absolute;left:-520px;bottom:5px;}
.lgListBox>li{display:inline-block;margin-right:5px;vertical-align:bottom;width:34px;height:auto;overflow:hidden;position:relative;padding-bottom:34px;}
.lgListBox>li>a{position:absolute;left:0;bottom:0;}
.lgListBox li a{font-size:10px;display:table;width:34px;height:34px;overflow:hidden;background:#29435e;color:#fff;border-radius:50%;}
.lgListBox li a span{display:table-cell;text-align:center;vertical-align:middle;}

.a_show_data{font-size:10px;display:table;width:34px;height:34px;overflow:hidden;background:#29435e;color:#fff;border-radius:50%;margin-left:4px;}
.span_show_data{display:table-cell;text-align:center;vertical-align:middle;color: #FFFFFF;}
.a_show_data:hover, .a_show_data.on{background:#20b699;}

.lgListBox li a:hover, .lgListBox li a.on{background:#20b699}
.lgListBox li>ul{display:none}
.lgListBox li>ul>li{margin:2px 0 0 0}
.lgListBox li>ul>li>a{margin-bottom:5px;}
.lgTypeList{position:relative}

.jumArea{display:none;}
.legendBox.max .jum .jumArea{display:block}
.legendBox.min .jum{width:85px;height:90px;background:#fff;margin-left:12px;overflow:hidden}
.legendBox.min .jum:before{margin:23px;width:40px;height:40px;overflow:hidden;background:green;transform:rotate(45deg);display:block;content:"";}
.jum .colorbar{display:none}
.jum .colorck{width:100%;float:left;}
.jum .colorck li{width:10%;float:left;}
.jum .colorck li a{margin:0 auto}
.jum .jumText{font-size:11px;display:block;float:left;width:100%;height:auto;overflow:hidden;margin:10px 0;text-align:center;}
.jum .jumSlide{display:block;margin:10px;clear:both;}
.jum .jumGage{width:100%;height:auto;overflow:hidden;float:left;margin:10px auto;}
.jum .jumGage li{float:left;width:33%;text-align:center;color:#666;font-size:11px;}
.jum .jumGage li:first-child{text-align:left;}
.jum .jumGage li:last-child{text-align:right;}

.heatArea{display:none;}
.legendBox.max .heat .heatArea{display:block}
.heat .colorbar, .heat .colorck{display:none}
#color-label{position:absolute;left:-2000px}
.heatArea .jQWCP-wWidget{margin-top:0}
.heatSlider {width:130px;float:left;margin:10px 10px 0 10px;}
.heatGuage {font-size:11px;margin-top:-5px;}
.heatGuage li:nth-child(1) {margin-left:10px;float:left;}
.heatGuage li:nth-child(2) {margin-left:105px;float:left;}
.heatInputText {display:block;width:35px;;height:35px;color:#fff;line-height:35px;overflow:hidden;text-align:center;font-size:13px;font-weight:bold;border-radius:20px;background:#00bcd4; cursor: pointer;margin-top:-4px;margin-right:5px;float:right;}
.heatMin{content:"";width:100px;height:110px;left:0;bottom:0;background:#fff;border:1px solid #ccc;margin-left:4px;}

.legendBox.min{background:transparent;border-color:transparent;width:120px;}
.legendBox.min .colorbar{width:30px;margin-left:42px}
.legendBox.min .colorbar li{opacity:1;}
.legendBox.min .colorbar li.ck:before{background:url(/img/ico/ico_ck.gif) no-repeat center center;position:absolute;left:10px;top:3px;}
.legendBox.min .colorck{display:none;}
.legendBox.min .legendRound{width:110px}

.legendBox.hide{background:transparent;border-color:transparent;width:90px;}
.legendBox.hide .colorbar{display:none}
.legendBox.hide .colorck{display:none}
.legendBox.hide .legendRound{width:34px}

.legendRrefresh{text-indent:-2000px;display:none;position:absolute;right:6px;top:208px;width:14px;height:14px;overflow:hidden;background:url(/img/common/reverse.png);}
.legendBox.max .legendRrefresh{display:block}
.legendBox.max .heat .legendRrefresh, .legendBox.max .ring .legendRrefresh{display:none}
.legendBox.max .jum .legendRrefresh{top:6px}
.color .colorck li:last-child,
.jum .colorck li:last-child{display:block}

.popBox{border:1px solid #ccc;background:#fff;width:400px;height:auto;overflow:hidden;position:absolute;left:50%;margin-left:-200px;top:25%;}
.popBox .topbar{border-bottom:1px solid #ccc;width:100%;height:32px;line-height:32px;overflow:hidden;background:#f5f5f5;position:relative;}
.popBox .topbar>span{display:block;margin:0 0 0 10px}
.popBox .topbar a{opacity:.4;display:block;width:32px;height:32px;overflow:hidden;position:absolute;right:0;top:0;background:url(/img/ico/ico_close01.png) no-repeat center center;text-indent:-2000px;  transition-duration: .3s; transition-property: transform; transition-timing-function: ease-in-out;}
.popBox .topbar a:hover{transform: rotate(90deg);opacity:1;}
.popBox .popContents{width:100%;height:auto;overflow:hidden;padding:15px 0;}
.popBox .listFormPop{display:block;margin:10px;}
.popBox .listFormPop li{margin:5px auto;width:100%;height:auto;overflow:hidden;}
.popBox .listFormPop li .label{display:inline-block;font-size:13px;width:60px;height:25px;line-height:25px;}
.popBox .listFormPop li .inp{width:280px;padding:0 10px;height:25px;line-height:25px;}
.popBox .listFormPop li .date{width:104px;padding:0 10px;height:25px;line-height:25px;}
.popBox .listFormPop li .mr20{margin-right:20px}
.popBox .listFormPop li span, .popBox .listFormPop li input, .popBox .listFormPop li label, .popBox .listFormPop li button, .popBox .listFormPop li img{vertical-align:middle}
.popBox .txt{position:relative;display:block;height:auto;padding-left:15px;overflow:hidden;margin:5px 0 0 72px;color:#666;font-size:11px;line-height:1.5em;text-align:left;}
.popBox .txt:before{content:"※";font-size:13px;position:absolute;left:0;top:0;}
.popBox .txt1{position:relative;display:block;height:auto;padding-left:15px;overflow:hidden;margin:5px 0 0 72px;color:#666;font-size:11px;line-height:1.5em;text-align:left;}
.popBox .txt1:before{content:"";font-size:13px;position:absolute;left:0;top:0;}
.popBox .btnBox{width:100%;height:auto;overflow:hidden;margin:15px auto 0 auto;text-align:center;}
.popBox .lvSelect{position:absolute;left:110px;top:4px;height:25px;font-size:11px;}
.popBox.hangjungArea{width:840px;border:0;background:transparent;}
.popBox.hangjungArea p{background:#dcdcdc;width:75px;height:32px;line-height:1.3em;font-size:13px;padding:10px;overflow:hidden;float:left}
.popBox.hangjungArea ul{width:560px;float:left;margin-left:10px;}
.popBox.hangjungArea ul li{float:left;margin-right:10px;height:auto;overflow:hidden;}
.popBox.hangjungArea ul li label{display:block;margin-bottom:5px;}
.popBox.hangjungArea ul li select{height:30px;border:1px solid #ccc;}
.popBox.hangjungArea .btnStyle01{float:right;margin-top:20px;margin-right:20px;}
.popBox.hangjungArea a.hanClose{text-indent:-2000px;float:left;width:30px;height:30px;border:1px solid #555;border-radius:50%;background:#f5f5f5 url(../img/ico/ico_close01.png) no-repeat center center;}
.popBox.hangjungArea a.hanClose:hover{transform: rotate(90deg);}
.popBox.hangjungArea .rela{float:right;background:#fff;border:1px solid #ccc;padding:10px;position:relative;width:780px;height:auto;overflow:hidden;}
.popBox.hangjungArea .resizeIcon{display:block;text-indent:-2000px}
.popBox.hangjungArea.on ul,
.popBox.hangjungArea.on .btnStyle01{display:none}
.popBox.hangjungArea.on p{width:760px;height:auto;line-height:6px}
.popBox.hangjungArea.on .resizeIcon{right:10px;bottom:10px}


.jumContents{width:100%;height:auto;overflow:hidden;position:relative;border-bottom:1px solid #dcdcdc;}
.jumContents .opacityBox{width:300px;height:28px;margin:5px 10px 10px 10px;}
.jumContents .opacityBox .colorck{width:204px;}
.popBox .popContents .jumContents .tabs.only{margin:15px 0 0 10px;width:204px;}
.popBox .popContents .jumContents.mt0 .tabs.only{margin-top:0;}
.jumContents .posSelect{position:absolute;right:100px;top:18px;}
.jumContents .posSelect label{display:block;font-size:13px;margin-bottom:10px;}
.jumMarkerLink{display:block;width:45px;height:45px;overflow:hidden;background:#f5f5f5;position:absolute;right:18px;top:3px;}
.jumColorLink{display:block;width:45px;height:45px;overflow:hidden;text-indent:-2000px;background:#eb3774;position:absolute;right:18px;top:18px;}
.markerList{text-align:left;margin:3px 0 0 0;}
.markerList li{float:left;width:25px;height:25px;overflow:hidden;margin-right:5px;}
.markerList li img{width:23px;}
.markerList li a{border:1px solid #fff}
.markerList li a.on{display:block;width:23px;height:23px;overflow:hidden;border:1px solid red}
.markerLib{width:360px;height:150px;margin:0 auto;overflow:hidden;overflow-y:scroll;}
.markerLib ul li{width:56px;height:60px;overflow:hidden;float:left;text-align:center;}
.markerLib ul li a{display:block;width:43px;height:43px;overflow:hidden;border:1px solid #fff}
.markerLib ul li a.on{border:1px solid red}



.grip{width:20px;height:100px;margin-top:0;background-image:url('/img/bg/grip.png');margin-left:4px;position:relative;z-index:88;cursor:e-resize;}
.grip:hover{background-position-x:-20px;}
.dragging .grip{background-position-x:-40px;}
.goganList{table-layout:fixed;width:380px;margin:10px;height:100px;overflow:hidden;}
.goganList.on:before{width:380px;height:100px;z-index:10;overflow:hidden;content:"";background:url(/img/bg/bg_disabed.png);position:absolute;opacity:0}
.goganDisabled{width:380px;height:100px;z-index:10;overflow:hidden;background:url(/img/bg/bg_disabed.png);position:absolute;left:10px;top:110px;}
.goganList td{position:relative;height:100px;width:10%;}
.ui-resizable-e{width:11px;background:url(/img/bg/bg_resize.png) no-repeat center center;}
.goganText{width:100%;height:auto;overflow:hidden;}
.goganText li{height:auto;overflow:hidden;float:left;text-align:left;margin-left:78px;font-size:11px;}
.goganText li:first-child{margin-left:10px;}
.popBox .popContents .tabs{display:block;margin:10px 10px 30px 10px;height:auto;overflow:hidden;}
.popBox .popContents .tabs a, .popBox .popContents .tabs span{float:left;}
.popBox .popContents .tabs span{height:20px;line-height:20px;width:60px;}
.popBox .popContents .tabs a{width:80px;text-align:center;border:1px solid #9f9f9f;font-size:11px;height:20px;padding:0 10px;margin:0;}
.popBox .popContents .tabs a.al{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.popBox .popContents .tabs a.ac, .popBox .popContents .tabs a.on.ac{border-left:0;border-right:0;}
.popBox .popContents .tabs a.ar{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.popBox .popContents .tabs a.on{border:1px solid #1ca98f;}


.popBox .popContents .tabs.only{width:306px;margin:10px auto}
.opacityBox{text-align:right;display:block;margin:20px 10px 10px 10px;height:auto;overflow:hidden;position:relative;}
.opacityBox label, .opacityBox select{font-size:13px;height:25px;line-height:25px;display:inline-block;vertical-align:middle;}
.opacityBox .colorck{position:absolute;width:300px;height:auto;overflow:hidden;left:0;top:5px;}
.opacityBox .colorck li{float:left;width:24px;height:24px;}
.opacityBox .colorck li a{font-size:0;}


.colorSettingList01{width:380px;margin:9px auto;height:40px;overflow:hidden;}
.colorSettingList01 li{height:40px;width:10%;overflow:hidden;float:left;}
.colorSettingList01 li span{position:absolute;left:-2000px;}
.colorSettingList01 a {display: block;text-indent: -2000px;width: 14.2857%;height: 31px;overflow: hidden;position: absolute;} /* 9월 서비스 */
.colorbarBox{width:380px;height:auto;overflow:hidden;margin:10px auto;position:relative;}
.colorbarBox>a{display:block;text-indent:-2000px;width:30px;height:30px;border-radius:50%;overflow:hidden;position:absolute;top:-5000px;}
.colorbarBox .fl{background:#00b051;left:0px;}
.colorbarBox .fr{background:#193b70;right:0px;}
#guganSettingLayer{display:none;left:460px;top:auto;bottom:70px;}
.guganSettingLayer{display:none;left:460px;top:auto;bottom:70px;}
#colorSettingLayer{display:none;left:500px;top:auto;bottom:70px;z-index:10;}
.colorSettingLayer{display:none;left:500px;top:auto;bottom:70px;z-index:10;}
#jumSettingLayer{display:none;left:500px;top:auto;bottom:70px;z-index:10;}
#markerLibLayer{display:none;left:500px;top:auto;bottom:330px;z-index:10;}

.btnStyle01, .btnStyle02{display:inline-block;padding:5px 10px;font-size:13px;height:20px;line-height:20px;background:#dcdcdc;color:#666;margin:0 5px}
.btnStyle01:hover,.btnStyle01.on{background:#21b699;color:#fff}

.slide-back {
    position:absolute;
}
/*slide */
.ui-slider {position:relative;text-align:left;}
.ui-slider .ui-slider-handle {
    position:absolute;z-index:2;width:20px;height:20px;
    cursor:default;-ms-touch-action:none;touch-action:none;background:url("/img/ico/slider_btn01.png") no-repeat left 2px;
}
.ui-slider .ui-slider-range {
    position: absolute;z-index: 1;font-size: .7em;display: block;
    border: 0;background-position: 0 0;
}
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {height: .3em;}
.ui-slider-horizontal .ui-slider-handle { top: -.5em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

#dataSlider.ui-slider {position:relative;text-align:left;background:transparent;border:0}
#dataSlider.ui-slider:before{content:"";position:absolute;top:2px;left:0;width:100%;height:5px;overflow:hidden;display:block;background:#0c8e74;}
#dataSlider.ui-slider .ui-slider-handle {
    position:absolute;z-index:2;width:9px;height:9px;
    cursor:default;-ms-touch-action:none;touch-action:none;background:#fff;top:0;
}
#dataSlider.ui-slider .ui-slider-range {
    position: absolute;z-index: 1;font-size: .7em;display: block;height:5px;overflow:hidden;top:2px;
    border:0;background-position: 0 0;
}
/* support: IE8 - See #6727 */
#dataSlider.ui-slider.ui-state-disabled .ui-slider-handle,
#dataSlider.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}
#dataSlider .ui-widget-header{background:#ec8f25;}
#dataSlider .ui-slider-horizontal { height: .3em; }
#dataSlider .ui-slider-horizontal .ui-slider-handle { top: -.5em; margin-left: -.6em; }
#dataSlider .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
#dataSlider .ui-slider-horizontal .ui-slider-range-min { left: 0; }
#dataSlider .ui-slider-horizontal .ui-slider-range-max { right: 0; }
#dataSlider .ui-slider-vertical { width: .8em; height: 100px; }
#dataSlider .ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
#dataSlider .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
#dataSlider .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
#dataSlider .ui-slider-vertical .ui-slider-range-max { top: 0; }

/* tooltip */
.ui-tooltip,.arrow:after{border:1px solid #dcdcdc;background:#f5f5f5;}
.ui-tooltip{line-height:1em;padding:10px;color:#666;border:1px solid #dcdcdc!important;box-shadow:none;}
.ui-tooltip *{font-size:11px!important;}
.ui-tooltip .subj{font-size:11px;line-height:20px;display:block;height:20px;margin:0 0 5px 0;padding-left:20px;background:url(/img/ico/ico_tooltip.png) no-repeat 5px center;}
.ui-tooltip .bottom{height:0;}
.arrow{display:none;}


/* My통계로 커스텀 */
#statsMeMapMap #legendDataSlider{margin-top: 5px;}
#statsMeMapMap .ui-state-default{border: 1px solid #d3d3d3;}
#statsMeMapMap path.sop-interactive {
	cursor: default;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
#statsMeDetailInfoMap_color_100m .sop-interactive {
	cursor: default !important;
}

/* sop icon cursor pointer */
.sop_icon_cursor_pointer {
	cursor: pointer !important;
}
.sop_icon_cursor_default {
	cursor: default !important;
	cursor: -webkit-grab !important;
    cursor: -moz-grab !important;
}
