/* @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css); */

#wrapperMore { width:100%; margin:0 auto; position:relative; overflow:auto; }
#wrapperMore .container { width:100%; height:100%; margin:0 auto; position:relative; overflow:hidden; }
.contentbox-typeB { width:100%; display:flex;  }
.contentbox-typeC { 
	display: flex;
    justify-content: space-between;
    height:270px;
    
	
}

.contentbox-typeB .left-col { 
    width: 270px;
    height: 280px;
    float: left;
    
    border-radius: 15px;
    box-sizing: border-box;
    
    position: relative;
    padding:15px;
    background:url(/img/new/more2CardBg.png) no-repeat bottom center; 
    background-color: #8CC63E;
}

.contentbox-typeB .left-col .title { 
	width: 100%;
    margin-bottom: 6px;
    text-align: left;
    font-size: 17px;
    font-weight: normal;
    color: #fff;
}

.contentbox-typeB .left-col .subtitle {
	width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    color: #FEF527;
    margin-bottom: 10px;
}

.contentbox-typeB .left-col .mainCardfot { width:250px; float:right; margin-top:40px; }
.contentbox-typeB .left-col .mainCardfot .tit { 
	margin-bottom: 5px;
    width: 100%;
    border-left: 3px solid #fff;
    padding-left: 5px;
    font-size: 17px;
    color: #FEF527;
    font-weight:bold; 
}
#more1Chart6 .highcharts-background { fill:#1F60DE !important; }
#tmsrChart .highcharts-background { fill:#1F60DE !important; }

.contentbox-typeB .right-col { 
    width: calc(100% - 280px);
    height: 280px;
    float: left;
    margin-left: 10px;
    box-sizing: border-box;
    border-radius:15px;
     
    display:flex; justify-content:space-between; align-items:center;
}

.contentbox-typeB .right-col.borderGreen { 
    border:1px solid #8CC63E; 
}



.contentbox-typeB .right-col .title {
	width: 50px;
    height: 100%;
    background: #8CC63E;
    border-radius: 10px 0px 0px 10px;
    padding:15px;
    writing-mode: vertical-rl;
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    box-sizing:border-box; 
    font-weight: 600;
    text-align: center;
	
}
.contentbox-typeB .selection { width:100%; margin:0 auto; position:relative;  }
.contentbox-typeB .selection.top { display:flex; justify-content:space-between;}

.contentbox-typeB .selection .rcon_box { 
	position: relative;
    overflow:hidden; 
    box-sizing:border-box; padding:10px;
}
.contentbox-typeB .selection .rcon_box.type2 { 
	border:1px solid #0078D5;
	display:flex; 
	justify-content:space-between; 
}


.contentbox-typeB .selection .rcon_box .rcon_tit {
	
	width: 100%;
    border-left: 3px solid #1f60de;
    padding-left: 5px;
    font-size: 15px;
    display:flex; justify-content:space-between; align-items:center; 
}

.contentbox-typeC {
	width:100%; display:flex; justify-content:space-between; margin-top:10px; 
}

.contentbox-typeC .left-col {
	width:1100px; 
	box-sizing: border-box;
    border-radius:15px;
     
    border:1px solid #F9A61A;
    display:flex; justify-content:space-between;  
}



.contentbox-typeC .left-col .title {
	
	width: 50px;
    height: 100%;
    background: #F9A61A;
    border-radius: 10px 0px 0px 10px;
    padding: 15px;
    writing-mode: vertical-rl;
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    text-align: center;
}

.contentbox-typeC .left-col.bcBlue {
	border:1px solid #169EDA;  
}

.contentbox-typeC .left-col.bcBlue .title {
	background:#169EDA;  
}


.contentbox-typeC .rcon_box { 
	position: relative;
    overflow:hidden; 
    box-sizing:border-box; padding:10px;
}

.contentbox-typeC .right-col {
	width:calc(100% - 1110px); 
	box-sizing: border-box;
    border-radius:15px;
     
    border:1px solid #BEBEBE; 
    padding:10px;   
}

.contentbox-typeC .right-col .body { display:flex; justify-content:space-between; }
.contentbox-typeC .rcon_tit {
	
	width: 100%;
    border-left: 3px solid #1f60de;
    padding-left: 5px;
    font-size: 15px;
    display:flex; justify-content:space-between; align-items:center; 
}

.contentbox-typeB .selection .rcon_box .rcon_tit span:last-child { display:flex; align-items:center; }
.contentbox-typeB .selection .rcon_box .rcon_tit span:last-child a { display:inline-block; height:25px; width:25px; }
.contentbox-typeB .selection .rcon_box .rcon_tit span:last-child a:nth-child(2) { width:auto; font-size:12px;font-size: 12px;
    background: #F7F5FF;
    border: 0.6px solid #C2C2C2;
    border-radius: 3px;
    padding: 4px 6px;
    margin: 0px 5px;}
.contentbox-typeB .selection .rcon_box .rcon_tit span:last-child a img { max-width:100%;}


.contentbox-typeC .rcon_tit span:last-child { display:flex; align-items:center; }
.contentbox-typeC .rcon_tit span:last-child a { display:inline-block; height:25px; width:25px; }
.contentbox-typeC .rcon_tit span:last-child a:nth-child(2) { width:auto; font-size:12px;font-size: 12px;
    background: #F7F5FF;
    border: 0.6px solid #C2C2C2;
    border-radius: 3px;
    padding: 4px 6px;
    margin: 0px 5px;}
.contentbox-typeC .rcon_tit span:last-child a img { max-width:100%;}




.contentbox-typeC .conbody {
    display:flex; justify-content:space-between; padding-top:10px;  
}
.contentbox-typeC .conbody .chartImgBox {
    width:75px; display:flex; flex-direction:column; position:relative; text-align:center; font-weight:bold; color:#fff; 
}
.contentbox-typeC .conbody .chartImgBox img { width:100%; }
.contentbox-typeC .conbody .chartImgBox > span { position:relative; } 
.contentbox-typeC .conbody .chartImgBox span > span { position:absolute; z-index:100; bottom:13px; width:100%; left:0px; width:100%; }
.contentbox-typeC .conbody .chartImgBox span:last-child { margin-top:10px;}

.contentbox-typeB .selection .rcon_box .chartbox { width:100%; }
.contentbox-typeB .selection .rcon_box .division { 
	position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 0px;
}
.division { margin:0 auto; position:relative; overflow:hidden;  width:100%; text-align:center; box-sizing:border-box; padding:15px 0px;  }
.division_right { box-sizing:border-box; padding:15px 0px; color:#fff; font-size:12px; font-weight:600; position:absolute; right:5px; top: 40px; right: 10px;}

.flex_wrapper {display:flex; margin-bottom: 10px; width:150px; }
.flex_wrapper .i_building_01 {width:22%; margin:0px 10px 0px 0px;}
.flex_wrapper .i_building_02 {width:18%; margin:0px 15px 0px 2px;}
.flex_wrapper .i_building_03 {width:20%; margin:0px 14px 0px 0px;}
.flex_wrapper .i_building_04 {width:16%; margin:0px 18px 0px 2px;}
.flex_wrapper .flex_text div:nth-child(2) {font-size:14px; margin-top:2px;}




.rcon_tit button > img { width:22px;}
.btn_table { 
	font-size: 12px;
    background: #F7F5FF;
    border: 0.6px solid #C2C2C2;
    border-radius: 3px;
    padding: 4px 6px;
    margin: 0px 5px;
}

.range { display:inline-block; position:relative; padding:5px; color:#fff; font-size:12px; font-weight:600;}
.box_deep_blue {background:#013387; margin-right:3px; border-radius:3px; padding:5px 10px; text-align:center;}
.box_light_blue {background:#27AEF1; margin-right:3px; border-radius:3px; padding:5px 10px; text-align:center;}
.box_blue {background:#0078D5; margin-right:3px; border-radius:3px; padding:5px 10px; text-align:center;}
.box_pink {background:#FF748E; border-radius:3px; padding:5px 10px; text-align:center;}
.box_blue_01 {background:#CED4DA; margin-right:3px; border-radius:3px; padding:5px 10px; text-align:center;}
.box_blue_02 {background:#C9DFFF; margin-right:3px; border-radius:3px; padding:5px 10px; text-align:center;}
.box_blue_03 {background:#64B5F6; margin-right:3px; border-radius:3px; padding:5px 10px; text-align:center;}
.box_blue_04 {background:#4390FF; margin-right:3px; border-radius:3px; padding:5px 10px; text-align:center;}
.box_blue_05 {background:#1F60DE; margin-right:3px; border-radius:3px; padding:5px 10px; text-align:center;}
.box_blue_06 {background:#013387; margin-right:3px; border-radius:3px; padding:5px 10px; text-align:center;}

.border1dotted { height:90%; margin:auto; width:1px; border-right:2px dotted #C7C7C7; }

.mgt10 { margin-top:10px !important; }

.mgl10 { margin-left:10px !important; }

.fs12 { font-size:12px !important; letter-spacing:-0.4px !important; }

.more2-label { background-color:#CED4DA; box-sizing:border-box; padding:3px 10px; border-radius:5px;}
.highcharts-data-label-connector { display:none; }

#more2Chart5 .highcharts-spline-series { transform:translate(33px,15px);}
#more2Chart7 .highcharts-spline-series { transform:translate(25px,15px);}

.flex-width-320 { flex-basis:320px; }
.flex-width-325 { flex-basis:325px; }
.flex-width-350 { flex-basis:350px; }
.flex-width-390 { flex-basis:390px; }
.flex-width-400 { flex-basis:400px; }
.flex-width-410 { flex-basis:410px; }
.flex-width-420 { flex-basis:420px; }
.flex-width-430 { flex-basis:430px; }
.flex-width-450 { flex-basis:450px; }
.flex-width-500 { flex-basis:500px; }
.flex-width-510 { flex-basis:510px; }
.flex-width-550 { flex-basis:550px; }
.flex-width-580 { flex-basis:580px; }
.flex-width-600 { flex-basis:600px; }
.flex-width-660 { flex-basis:660px; }
.flex-width-780 { flex-basis:780px; }
.flex-width-820 { flex-basis:820px; }
.flex-width-830 { flex-basis:830px; }

.flex-height-200 { height:200px;}
.flex-height-225 { height:225px;}
.flex-height-230 { height:230px;}
.flex-height-235 { height:235px;}
.flex-height-240 { height:240px;}
.flex-height-245 { height:245px;}
.flex-height-260 { height:260px;}
.flex-height-270 { height:270px;}
.flex-height-280 { height:280px;}
.flex-height-290 { height:290px;}
.flex-height-300 { height:300px;}
.flex-height-312 { height:312px;}
.flex-height-320 { height:320px;}
.flex-height-325 { height:325px;}
.flex-height-350 { height:350px;}
.flex-height-450 { height:450px;}
.flex-height-480 { height:480px;}
.flex-height-495 { height:495px;}
.flex-height-500 { height:500px;}


