@charset "UTF-8";


#container.aging{position:relative;overflow-y:scroll;width:100%;height:100%;margin:0 auto;padding:0;}
#aging-contents{position:relative;overflow:hidden;width:100%;min-width:1024px;max-width:1078px;margin:0 100px 0 auto;padding-top:55px;margin-bottom:55px;}
.table-header-title{position:relative;overflow:hidden;margin-bottom:8px;}
.table-header-title h4{display:inline-block;font-family:'Nanum Gothic Bold';font-size:15px;position:relative;color:#333;padding-left:15px;line-height:22px;float:left;}
.table-header-title h4:before{content:'';position:absolute;top:6px;left:0px;display:block;box-sizing:border-box;width:10px;height:10px;border:3px solid #3985d0;border-radius:50%;}
.table-header-title .aging-citation{display:inline-block;float:right;line-height:22px;}
.table-header-title .aging-citation span{font-size:12px;color:#666;font-family:'Nanum Gothic';}


.aging-table table tr.total td{background:#ebf2f9;color:#333;font-family:'Nanum Gothic Bold';}
.aging-table table .em-color{font-family:'Nanum Gothic Bold';background:#fbefef;}
.aging-table table th a{display:inline-block;vertical-align:middle;padding-left:5px;}

.aging-table{border-top:1px solid #213967;position:relative;overflow:hidden;margin-bottom:30px;}
.aging-table table{width:100%;table-layout:fixed; margin:0; padding:0; border:0; border-collapse: separate; border-spacing: 0;}
.aging-table table th{padding:12px 0 10px;position:relative;text-align:center;background:#f6f7f8;color:#777;font-family:'Nanum Gothic Bold';}
.aging-table table th,.aging-table table td{    width: 100%;text-align:center;border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;font-size:13px;}
.aging-table table tr th:first-child,.aging-table table tr td:first-child{border-left:0 hidden;}
.aging-table table td{padding:9px 0 9px;text-align:center;color:#555;}
.aging-table table tfoot td{background:#f1f4f9;font-weight:bold}

.aging-table table thead tr:first-child th:last-child{width:99%;}
.aging-table table thead tr:first-child th:first-child{width:25%;}
.aging-table table thead tr:nth-child(2) th,.aging-table table thead tr:nth-child(3) th{font-size:12px;}
.aging-table table thead tr:nth-child(2) th:first-child,.aging-table table thead tr:nth-child(3) th:first-child{border-left:1px solid #e0e0e0;}

.aging-table table tbody th{font-weight:bold;text-align:left;padding-left:20px;padding:10px 9px 9px;}
.aging-table table tbody tr td:first-child{padding-left:9px;padding-right:0;text-align:left;}


.aging-table table#welfariatTable tr:first-child th:first-child{width:218px;}

.aging-table table#valueTable tr:first-child th:first-child{width:140px;}
.aging-table table#valueTable tr td{text-align:center;padding:9px;}

.graph-area{position:relative;overflow:hidden;padding-top:35px;margin-bottom:45px;}
.graph-area> div{border:1px solid #e0e0e0;float:left;display:inline-block;height:315px;margin:0 auto;padding:30px;overflow:hidden;}
.graph-area> div:nth-child(even){margin-left:18px;}
.graph-area.welfariat > div:nth-child(odd){width:650px;}
.graph-area.welfariat > div:nth-child(even){width:285px;}
.graph-area.matter > div{height:315px;}
.graph-area.matter > div:nth-child(odd){width:300px;}
.graph-area.matter > div:nth-child(even){width:490px;}

.graph-align{position:relative;padding-top:0px;margin-bottom:45px;}
.graph-align .box{border:1px solid #d9d9d9;width:100%;overflow:hidden;box-sizing:border-box;padding:30px;}
.graph-align .box > div{width:25%;height:130px;float:left;}
.graph-align .box > div#graph-center{width:50%;}
.graph-align .box > div#graph-center img{margin:0 auto;display:block;}
.graph-align .column div > .aging-table{width:100%;margin:0;}
.graph-align .column div > div#data-ceter dl{position:absolute;height:30px;line-height:30px;top:-30px;}
.graph-align .column div > div#data-ceter dl > dt,.graph-align .column div > div#data-ceter dl >dd{vertical-align:middle;line-height:100%;display:inline-block;}
.graph-align .column div > div#data-ceter dl dt{width:20px;height:3px;box-sizing:border-box;border-radius:2px;}
.graph-align .column div > div#data-ceter dl > dt:nth-of-type(1){background:#0516FD;}
.graph-align .column div > div#data-ceter dl > dt:nth-of-type(2){background:#FB0505;}
.graph-align .column div > div#data-ceter dl dt > span{visibility:hidden;font-size:0;height:0;position:absolute;left:-10000px;}
.graph-align .column div > div#data-ceter dl dd{color:#333;font-family:'Nanum Gothic Bold';font-size:13px;}
.graph-align .column{border:1px solid #d9d9d9;width:100%;overflow:hidden;box-sizing:border-box;padding:30px;}
.graph-align .column div > div{position:relative;width:33%;height:150px;float:left;}
.graph-align .column .part01{position:relative;margin-bottom:25px;overflow:hidden;padding-bottom:25px;}
.graph-align .column-type02 > div{display:inline-block;width:50%;float:left;height:100%;    min-height: 400px;}


.graph-align.type02 > div{border:1px solid #d9d9d9;width:100%;overflow:hidden;box-sizing:border-box;padding:30px;}
.graph-align.type02 .graph-right #graph-img:before{content:'고령인구증가';position:absolute;left:10%;top:35%;color:#333;font-family:'Nanum Gothic Bold';font-size:15px;writing-mode:tb-rl;}
.graph-align.type02 .graph-right #graph-img{position:relative;}
.graph-align.type02 .graph-right #graph-img:after{content:'고령인구감소';position:absolute;right:10%;top:35%;color:#333;font-family:'Nanum Gothic Bold';font-size:15px;writing-mode:tb-rl;}
.graph-align.type02 .graph-right #graph-img > img{display:block;margin:0 auto;}
.graph-align.type02 .graph-right > div span{display:block;line-height:30px;color:#333;font-family:'Nanum Gothic Bold';font-size:15px;text-align:center;text-indent:29px;}
.graph-align .column div > .infor-notice{width:100%;padding:15px 10px;box-sizing:border-box;border:1px solid #e0e0e0;height:144px;margin-top:5px;overflow:hidden;}
.graph-align .column div > .infor-notice li{font-size:13px;line-height:17px;word-break:break-word;position:relative;font-family:'Nanum Gothic';color:#454545;padding:0 0 0 11px;}

.graph-align .column div > .infor-notice li:first-child{margin-bottom: 10px;}
.graph-align .column div > .infor-notice li:before{position:absolute;left:0px;top:6px;content:'';display:block;width: 5px;height: 5px;background-color:#357fc6;border-radius:50%;}


.graph-align .column div > .infor-notice li em {font-family: 'Nanum Gothic Bold';color: #3985d0;word-break: keep-all;}