@charset 'UTF-8';

.workRoad .bg-layer{display:block;}
.workRoad .bg-layer.open{position:fixed;z-index:10000;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);}
.workRoad .popBox{position:absolute;z-index:10001;box-sizing:border-box;border:1px solid #213967;background:#fff;}
.workRoad .popBox.setting{width:345px;height:280px;}
.workRoad .popBox.pop-total{width:525px;height:480px;}
.workRoad .popBox h1{font-family:'Nanum Gothic Bold';font-size:15px;font-weight:normal;box-sizing:border-box;width:100%;height:40px;padding:12px 0 0 15px;color:#fff;background:#213967;}
.workRoad .popBox .btn-close{position:absolute;top:11px;right:15px;overflow:hidden;width:17px;height:17px;-webkit-transition-duration:.1s;transition-duration:.1s;text-indent:-1000px;background:url(/statexp/images/ico/ico_close01.png) no-repeat center center;}
.workRoad .popBox .btn-close:hover{transform:rotate(90deg);}

.workRoad .popBox article {padding: 0 15px;}
.workRoad .cont-box h3 + ul:last-of-type + h3{margin:15px auto 0;}
.workRoad .cont-box h3 + ul:last-of-type{margin-bottom:0;}
.workRoad .cont-info{box-sizing:border-box;height:auto;padding:9px 0;color:#666;border:1px solid #dadee1;}
.workRoad .cont-info h2{font-family:'Nanum Gothic';font-size:13px;font-weight:normal;text-indent:15px;}
.workRoad .cont-info h2 b{font-weight:normal;margin-right:10px;color:#000;}
.workRoad .cont-info h2 p{font-size:12px;}
.workRoad .cont-info h2 p img{display:inline-block;width:9px;height:9px;margin-top:-1px;margin-right:1px;padding:1px;vertical-align:middle;border-radius:5px;background:rgba(255,255,255,.7);}
.workRoad .popBox{position:absolute;top:auto;box-sizing:border-box;height:auto;margin-left:-200px;border:1px solid #213967;background:#fff;}
.workRoad .popBox .topbar{line-height:40px;position:relative;overflow:hidden;width:100%;height:40px;background:#213967;}
.workRoad .popBox .topbar > span{font-family:'Nanum Gothic Bold';font-size:15px;display:block;margin:0 0 0 15px;color:#fff;}
.workRoad .popBox .topbar a{position:absolute;top:12px;right:10px;display:block;overflow:hidden;width:15px;height:15px;cursor:pointer;transition-timing-function:ease-in-out;transition-duration:.3s;transition-property:transform;text-indent:-2000px;opacity:1;background:url(../../images/workRoad/ico/ico_close01.png) no-repeat center center;}
.workRoad .popBox .topbar a:hover{transform:rotate(90deg);opacity:1;}
.workRoad .popBox .cont-box{position:relative;overflow:hidden;width:100%;height:auto;padding:15px 0;}

.workRoad .popBox .citation{line-height: 25px;text-align: right;display: block;}
.workRoad .popBox .citation span{font-size:12px;color:#666;font-family:'Nanum Gothic';}
.workRoad .popBox .citation span:nth-of-type(1){float:left;}

.workRoad .area-tit{width:100%;height:30px;margin:15px auto 0;text-align:center;background:#1778cc;}
.workRoad .area-tit a{display:block;}
.workRoad .area-tit  a > span{font-size:13px;line-height:30px;color:#fff;}
.workRoad .cont-box .data{min-height:265px;/* margin-bottom: 10px; */border:1px solid #cecece;}
.workRoad .cont-box h3{font-family:'Nanum Gothic Bold';font-size:14px;position:relative;padding:0 0 8px 15px;color:#666;}
.workRoad .cont-box h3:before{position:absolute;top:4px;left:2px;display:block;box-sizing:border-box;width:10px;height:10px;content:'';border:3px solid #3985d0;border-radius:50%;}
.workRoad .cont-box h3 + ul,
.workRoad .cont-box h3 + dl{display:block;margin:0 auto 15px;padding:10px 15px;border:1px solid #e7e7e7;background:#f2f2f2;}
.workRoad .popup-btn-area > a{opacity:1;}
.workRoad .popBox .border-none{border:none!important;}
.workRoad .popup-btn-area.left,
.workRoad .popBox .btn-borad.left{text-align:left;}
.workRoad .popup-btn-area.right,
.workRoad .popup-btn-area.right{text-align:right;}
.workRoad .popup-btn-area .default-color{background-color:#1778cc;}
.workRoad .popup-btn-area .line-gray{color:#666;border:1px solid #ccc;background:#fff;}
.workRoad .popup-btn-area .dark-gray{color:#fff;border:1px solid #696969;background:#696969;}
.workRoad .popup-btn-area{box-sizing:border-box;width:100%;padding:9px 0;text-align:center;border:1px solid #dadee1;border-width:1px 0 0 0;background-color:#fff;}
.workRoad .popup-btn-area .default-color:hover{background-color:#21396c;}
.workRoad .popBox .popup-btn-area .dark-gray:hover{border:1px solid #484848;background-color:#484848;}
.workRoad .popup-btn-area button,
.workRoad .popup-btn-area a{font-size:13px;line-height:30px;display:inline-block;box-sizing:border-box;min-width:90px;height:30px;cursor:pointer;transition:background .3s;color:#fff;border:1px solid transparent;border-radius:3px;}
.workRoad .popup-btn-area button span,
.workRoad .popup-btn-area a span{line-height:28px;display:block;text-align:center;vertical-align:middle;}
.workRoad .btn-borad-top{margin-top:-1px;padding-top:17px;border-top:1px solid #e0e0e0;}
.workRoad .btn-left-mg{margin-left:7px;}

/* select area */
.workRoad .select-wrap{position:relative;z-index:1;display:inline-block;box-sizing:border-box;height:32px;vertical-align:baseline;border:1px solid #d1d4d7;background:#fff url(../../images/workRoad/common/search_arr.gif) no-repeat 95% 50%;}
.workRoad .select-wrap.focus{outline:1px solid #6470b7;}
.workRoad .select-wrap select{right:0; font-family:'Nanum Gothic';font-size:13px;position:absolute;display:inline-block;width:100%;height:100%;padding-right:5px;padding-left:5px;cursor:pointer;letter-spacing:-.7px;opacity:.8;color:#555;border:0;background:transparent!important;-webkit-appearance:none;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0.8)';filter:alpha(opacity=.8);}
.workRoad .select-area span{width:49%;vertical-align: middle;font-family:'Nanum Gothic Bold';font-size:13px;}
/* .workRoad .select-area span{width:49%;} 2018.10.23	ywKim	변경 */
.workRoad .select-area{padding:5px 0;text-align:center;}
/* select area - button */
.workRoad .select-area a { font-size: 13px; line-height: 30px; display: inline-block; box-sizing: border-box; min-width: 90px; height: 30px; cursor: pointer; transition: background .3s; color: #fff; border: 1px solid transparent; border-radius: 3px; }
.workRoad .select-area a span { line-height: 28px; display: block; text-align: center; vertical-align: middle; width: 100%; }
.workRoad .select-area .default-color { background-color: #1778cc; }
.workRoad .select-area .default-color:hover{ background-color:#21396c; }



.workRoad .cont-box p.notice{font-family:'Nanum Gothic Bold';font-size:13px;line-height:1.5em;position:relative;margin-top:10px;padding:0 15px 0;word-break:keep-all;color:#555;}
.workRoad .cont-box p.notice:before{position:absolute;top:5px;left:2px;display:block;box-sizing:border-box;width:10px;height:10px;content:'';border:3px solid #3985d0;border-radius:50%;}
.workRoad .cont-info dl{padding:0 15px;}
.workRoad .cont-info dl dt,
.workRoad .cont-info dl dd{font-family:'Nanum Gothic Bold';line-height:25px;display:inline-block;margin:0;}
.workRoad .cont-info dl dt{width:auto;margin-right:4px;padding-right:4px;text-align:right;vertical-align:top;color:#333;}
.workRoad .cont-info dl dd{width:85%;min-width:290px;text-align:left;color:#555;}
.workRoad .cont-info dl dd:last-child{width:auto;min-width:auto;}

.workRoad .popBox.envir .topbar a{position:absolute;top:3px;right:0;display:block;overflow:hidden;width:32px;height:32px;transition-timing-function:ease-in-out;transition-duration:.3s;transition-property:transform;text-indent:-2000px;opacity:.8;background:url(../../images/workRoad/ico/ico_close05.png) no-repeat center center;}
.workRoad .popBox.envir{position:absolute;z-index:10001;overflow:visible;width:400px;height:auto;border:0;border-radius:10px;background:#fff;box-shadow:3px 3px 10px #333;}
.workRoad .popBox.envir:before{position:absolute;bottom:-29px;left:50%;display:block;overflow:hidden;width:47px;height:31px;margin-left:-10px;content:'';background:url(../../images/workRoad/bg/bg_semo.png);}
.workRoad .popBox.envir .topbar{line-height:1.5em;height:auto;border:0;background:transparent;}
.workRoad .popBox.envir .topbar > span{line-height:40px;height:40px;margin:0;text-align:center;color:#fff;border-radius:9px  9px 0 0;background:#00a5e1;}

.workRoad .envir-info{overflow:hidden;padding:15px;text-align:center;border:1px solid #f1f1f1;}
.workRoad .envir-info dt:last-of-type,
.workRoad .envir-info dd:last-child{margin-bottom:0;}
.workRoad .envir-info dt,
.workRoad .envir-info dd{font-family:'Nanum Gothic Bold';font-size:13px;line-height:28px;display:inline-block;overflow:hidden;width:45%;height:28px;margin-bottom:10px;text-align:center;vertical-align:middle;color:#555;border:1px solid #e0e0e0;border-radius:14px;background:#f2f2f2;}

/* 2019.11.04[한광희] 생활환경 종합 항목 위치 변경에 의한 css 수정 START */
#vjList_left dt{width:25%;}
#vjList_left dd{width:55%;}
/* 2019.11.04[한광희] 생활환경 종합 항목 위치 변경에 의한 css 수정 END */

.workRoad .envir-info dt{margin-right:12px;background:#f1f1f1;}
.workRoad .envir-info dd.normal{background:#b2cc15;}
.workRoad .envir-info dd.good{color:#fff;background:#1778cc;}
.workRoad .envir-info > dl{margin-bottom:10px;}
.workRoad .envir-info > dl:last-of-type{margin-bottom:0;}

.workRoad .more{position:absolute;right:15px;bottom:10px;}
.workRoad .more a{font-size:12px;line-height:26px;display:block;overflow:hidden;width:55px;height:26px;text-align:center;color:#fff;border-radius:3px;background:#21b69a;}
.workRoad .more a > em{font-family:sans-serif;font-size:15px;font-weight:bolder;line-height:100%;}

/* 2019.11.04[한광희] 생활환경 종합 지표설명 버튼 CSS 추가 START */
.workRoad .more2{position:absolute;}
.workRoad .more2 a{font-size:12px;line-height:26px;display:block;overflow:hidden;width:55px;height:26px;text-align:center;color:#fff;border-radius:3px;background:#21b69a;}
/* 2019.11.04[한광희] 생활환경 종합 지표설명 버튼 CSS 추가 END */

.workRoad .popBox.job-data-popup{width: 740px;}
.workRoad .popBox.job-data-popup .select-right{line-height:25px;position:absolute;top:7px;right:35px;display:inline-block;overflow:hidden;height:25px;}
.workRoad .popBox.job-data-popup .select-right span.select-wrap{line-height:24px;width:120px;height:24px;}
.workRoad .popBox.job-data-popup .select-right span{font-size:13px;margin-right:5px;vertical-align:middle;color:#fff;}
.workRoad .popBox.job-data-popup .select-right select{font-size:11px;}
.workRoad .popBox.job-data-popup .topbar > span{font-family:'Nanum Gothic Bold';font-size:15px;line-height:24px;display:inline-block;margin:0 0 0 15px;vertical-align:baseline;color:#fff;}
.workRoad .popBox.job-data-popup .topbar > span.sub{font-family:'Nanum Gothic';font-size:13px;line-height:22px;box-sizing:border-box;padding:0 9px;text-align:center;letter-spacing:-1px;color:#fff;border:1px solid #03a9f4;border-radius:2px;background:#03a9f4;}

/* 일자리 보기 > 구인정보 상세 */
.workRoad .jab-data-table{position:relative;overflow:hidden;box-sizing:border-box;border-top:1px solid #213967;padding-bottom: 20px;}
.workRoad .jab-data-table table tbody th{padding: 15px 0;vertical-align:top;color:#333;}
.workRoad .jab-data-table table{width:100%;border-spacing:0;border-collapse:collapse;border-bottom:1px solid #e0e0e0;}
.workRoad .jab-data-table table th{font-family:'Nanum Gothic Bold';position:relative;padding:12px 0 10px;text-align:center;color:#777;background:#f6f7f8;}
.workRoad .jab-data-table table td{padding: 15px 0 10px;text-align:center;vertical-align:top;color:#333;}
.workRoad .jab-data-table table td:last-of-type{vertical-align:middle;}
.workRoad .jab-data-table table th,
.workRoad .jab-data-table table td{font-size:13px;border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;}
.workRoad .jab-data-table table tr th:first-child,
.workRoad .jab-data-table table tr td:first-child{border-left:0 hidden;}
.workRoad .jab-data-table table .check-list{display:inline-block;vertical-align:middle;}
.workRoad .jab-data-table col.tit{width:125px;}
.workRoad .jab-data-table col.subject{width:265px;}
.workRoad .jab-data-table col.work{width:150px;}
.workRoad .jab-data-table col.dday{width:85px;}
.workRoad .jab-data-table col.statis-view{width:85px;}

.workRoad .point-label{font-size:11px;line-height:20px;display:inline-block;box-sizing:border-box;min-width:35px;height:20px;padding:0 5px;text-align:center;color:#fff;}
.workRoad .hourly-pay{background:#ff9800;}		/* 시급 */ /* 이름 변경 - 2018.10.25	ywKim	변경 */
.workRoad .dayly-pay{background:#ee82ee;}		/* 일급 */ /* 추가 - 2018.10.25	ywKim	변경 */
.workRoad .weekly-pay{background:#0000ff;}		/* 주급 */ /* 추가 - 2018.10.25	ywKim	변경 */
.workRoad .salary{background:#92d050;}			/* 월급  */
.workRoad .annual-income{background:#6a5acd;}	/* 연봉 */ /* 추가 - 2018.10.25	ywKim	변경 */
.workRoad .certi-img{width: 38px;height: 14px;}	/* 추가 - 2018.11.26	ywKim */
.workRoad .certi{color:#5e9ed9;border:1px solid #5e9ed9;}	/* 사용안하는 것 같음 */
.workRoad .bg-box{background:#1778cc;}

.workRoad .jab-data-table .companys .tit{font-size:14px;line-height:20px;display:inline-block;vertical-align:top;color:#333;}
.workRoad .jab-data-table .companys .tit > p{padding-top:5px;}
.workRoad .jab-data-table .details em{font-size:13px;line-height:20px;color:#9c9c9c;}
.workRoad .jab-data-table .details > span{font-size:13px;line-height:18px;color:#666;}
.workRoad .jab-data-table .dday p{font-family:'Nanum Gothic Bold';font-size:13px;line-height:20px;letter-spacing:-1px;color:#333;}
.workRoad .jab-data-table .mday p{font-size:13px;line-height:20px;padding-top:5px;color:#9c9c9c;}
.workRoad .jab-data-table .subject{padding:0 8px;text-align:left;}
.workRoad .jab-data-table .subject  span{line-height:18px;display:inline-block;vertical-align:middle;}
.workRoad .jab-data-table .subject p > em{display:block;}
.workRoad .jab-data-table .subject .details:first-of-type em{padding-top:5px;}
.workRoad .jab-data-table .subject .details em > span{font-family:serif;margin:0 2px;padding:0 0 0 2px;}
.workRoad .jab-data-table .subject .point{display:inline-block;width:32px;height:18px;text-align:center;border:1px solid #1778cc;}
.workRoad .jab-data-table .subject .point a{font-family:'Nanum Gothic';font-size:11px;line-height:20px;display:block;color:#1778cc;}
.workRoad .jab-data-table .subject .accent a > span{font-family:'Nanum Gothic Bold';font-size:15px;color:#333;}
.workRoad .jab-data-table .statis-view{display:inline-block;text-align:center;}
.workRoad .jab-data-table .statis-view a > span{text-align:center;word-break:keep-all;}
.workRoad .jab-data-table .statis-view a{font-size:12px;position:relative;display:block;box-sizing:border-box;width:60px;padding:5px;text-align:center;letter-spacing:-1px;color:#fff;border:1px solid #1778cc;border-radius:3px;background:#1778cc;}
.workRoad .jab-data-table .work{padding:0 5px;text-align:left;}
.workRoad .jab-data-table .work .point-label{float:left;}
.workRoad .jab-data-table .work .details:first-of-type em{font-family:'Nanum Gothic Bold';color:#333;}
.workRoad .jab-data-table .work > p{line-height:100%;display:inline-block;overflow:hidden;padding-left:3px;vertical-align:middle;}
.workRoad .jab-data-table .work p > span{display:block;}
.workRoad .jab-data-table .work > p:last-of-type{padding-top:5px;padding-left:35px;}

.workRoad .enter-prise.empha{color:#fff;display:inline-block;position:absolute;right:8px;top:0px;text-align:center;font-size:13px;}
.workRoad .popBox.job-data-popup-view{width:660px;}
.workRoad .job-data.view{position:relative;display:table;overflow:hidden;box-sizing:border-box;margin-bottom:20px;border-top:1px solid #213967;border-bottom:1px solid #e0e0e0;}
.workRoad .job-data.view dl:nth-of-type(2) dt:nth-of-type(2){border-left:1px solid #e0e0e0;}
.workRoad .job-data.view dl:nth-of-type(2) dd:nth-of-type(1),
.workRoad .job-data.view dl:nth-of-type(2) dd:nth-of-type(2){display: table-cell;width: 141px;line-height: 16px;}
.workRoad .job-data.view dl:nth-of-type(2) dt:nth-of-type(1),
.workRoad .job-data.view dl:nth-of-type(2) dt:nth-of-type(2){display: table-caption;width: 155px;}
.workRoad .job-data.view dl:nth-of-type(2) dt,
.workRoad .job-data.view dl:nth-of-type(2) dd{float:left;}
.workRoad .job-data.view dl:nth-of-type(2){overflow:hidden;}/* 2018.10.25	ywKim	변경 */
/* .workRoad .job-data.view dl:nth-of-type(2){overflow:hidden;border-top:1px solid #213967;} */
.workRoad .job-data.view dl:nth-of-type(3) dt:nth-of-type(2){border-left:1px solid #e0e0e0;}/* 2018.10.25	ywKim	추가 */
.workRoad .job-data.view dl:nth-of-type(3) dd:nth-of-type(1),/* 2018.10.25	ywKim	추가 */
.workRoad .job-data.view dl:nth-of-type(3) dd:nth-of-type(2){display: table-cell;width: 141px;line-height: 16px;}/* 2018.10.25	ywKim	추가 */
.workRoad .job-data.view dl:nth-of-type(3) dt:nth-of-type(1),/* 2018.10.25	ywKim	추가 */
.workRoad .job-data.view dl:nth-of-type(3) dt:nth-of-type(2){display: table-caption;width: 155px;}/* 2018.10.25	ywKim	추가 */
.workRoad .job-data.view dl:nth-of-type(3) dt,/* 2018.10.25	ywKim	추가 */
.workRoad .job-data.view dl:nth-of-type(3) dd{float:left;}/* 2018.10.25	ywKim	추가 */
.workRoad .job-data.view dl:nth-of-type(3){overflow:hidden;}/* 2018.10.25	ywKim	추가 */
.workRoad .job-data.view dl dd span{font-size: 12px;display:inline-block;margin-left:5px;border-radius:2px;}
.workRoad .job-data.view dt{font-family:'Nanum Gothic Bold';box-sizing:border-box;width:155px;padding:9px 0;text-align:center;color:#777;border-right:1px solid #e0e0e0;background:#f6f7f8;}
.workRoad .job-data.view dd{font-size:13px;width:455px;padding:9px 9px;text-align:left;}
.workRoad .job-data.view dt,
.workRoad .job-data.view dd{display:table-cell;vertical-align:top;color:#333;border-bottom:1px solid #e0e0e0;}/* nowarp 제거 - 2018.11.07	ywKim	변경 */
/* .workRoad .job-data.view dd{display:table-cell;vertical-align:top;white-space:nowrap;color:#333;border-bottom:1px solid #e0e0e0;} */

.workRoad .status-btns{display:block;text-align:center;overflow:hidden;}
.workRoad .status-btns .details{position:relative;padding:0 42px 0 20px;min-width:150px;height:38px;text-align:left;color:#fff;background:#0070c0;border-radius:2px;font-size:14px;border:1px solid #3370c5;box-sizing:border-box;line-height:38px;width:310px;}
.workRoad .status-btns .details.on{background:#f69834;border:1px solid #f69834;}
.workRoad .status-btns .details:before{position:absolute;content:'';background-image:url(../../images/workRoad/new-window.png);background-repeat:no-repeat;width:13px;height:13px;top:12px;right:20px;}
.workRoad .status-btns a:nth-child(1),
.workRoad .status-btns a:nth-child(2){margin-bottom:8px;}
.workRoad .status-btns a:nth-child(odd){float:left;}
.workRoad .status-btns a:nth-child(even){float:right;}

.workRoad .enter-prise.empha::after{display:inline-block;content:'';width:28px;height:27px;border-radius:50%;box-sizing:border-box;background:#F44336;right:-9px;top:-6px;position:absolute;z-index:-1;border:3px #ffa099;border-style:solid;}
.workRoad .popBox.job-offer-status {width: 563px;}

.workRoad .job-offer.view{position:relative;box-sizing:border-box;border-top:1px solid #213967;padding-bottom: 20px;}
.workRoad .job-offer.view table tbody th{padding: 15px 0;vertical-align:top;color:#333;}
.workRoad .job-offer.view table{width:100%;border-spacing:0;border-collapse:collapse;border-bottom:1px solid #e0e0e0;}
.workRoad .job-offer.view table th{font-family:'Nanum Gothic Bold';position:relative;padding: 10px 0 10px;text-align:center;color: #fff;background: #28425b;}
.workRoad .job-offer.view table td{background: #f5f5f5;padding: 10px 0;text-align:center;vertical-align:top;color:#333;}
.workRoad .job-offer.view table td:last-of-type{vertical-align:middle;}
.workRoad .job-offer.view table th,
.workRoad .job-offer.view table td{position: relative;font-size:13px;border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;}
.workRoad .job-offer.view table tr th:first-child,
.workRoad .job-offer.view table tr td:first-child{border-left:0 hidden;}
.workRoad .job-offer-graph{position:relative;overflow:hidden;width:100%;min-height:220px;height:auto;box-sizing:border-box;padding:15px;border:1px solid #dedede;margin-bottom:20px;}

/* 오늘의 구인현황 메인,서브 하단 버튼 */
.workRoad .date-list{display:block;width:100%;overflow:hidden;box-sizing:border-box;margin:0 auto;margin-bottom:10px;}
.workRoad .date-list li{box-sizing:border-box;width:102px;letter-spacing:-1px;font-size:12px;border:1px solid #999;display:inline-block;vertical-align:middle;text-align:center;height:30px;background:#e1e5e9;color:#555;line-height:29px;cursor:pointer;float:left;margin-right:5px;font-family:"Nanum Gothic bold";}
.workRoad .date-list li:hover{border:1px solid #213967;background:#00bcd4;color:#fff;display:block;}
.workRoad .date-list li:last-child{margin-right:0;}

.workRoad .job-select{padding-top:5px;margin-bottom:20px;}
.workRoad .job-select .select-wrap{width:150px;}
.workRoad .job-offer.view td .icon{width:10px;height:10px;display:inline-block;vertical-align:middle;position:absolute;left:10px;top:12px;}
.workRoad .job-offer.view td span.plus{background:url(../../images/workRoad/ico_plus_job.png);}
.workRoad .job-offer.view td span.mius{background:url(../../images/workRoad/ico_mius_job.png);}
.workRoad .job-offer.view span.job-arrow{width:70px;height:31px;display:inline-block;vertical-align:middle;position:absolute;right:0;top:2px;background-repeat:no-repeat;background-size:69px 31px;}
/* .workRoad .job-offer.view span.job-arrow{width:45px;height:31px;display:inline-block;vertical-align:middle;position:absolute;right:0;top:2px;background-repeat:no-repeat;background-size:44px 31px;} */
.workRoad .job-offer.view span.job-arrow:before{content:'';position:absolute;top:2px;left:0px;font-size:10px;width:100%;color:#000;font-family:"Nanum Gothic Bold";white-space: nowrap;}/* 2018.11.08	ywKim	변경 */
/* .workRoad .job-offer.view span.job-arrow:before{content:'';position:absolute;top:2px;left:0px;font-size:10px;width:100%;color:#000;font-family:"Nanum Gothic Bold";} *//* 2018.11.06	ywKim	변경 */
/* .workRoad .job-offer.view span.job-arrow:before{content:'';position:absolute;top:2px;left:9px;font-size:10px;color:#fff;font-family:"Nanum Gothic Bold";} */
.workRoad .job-offer.view span.down:before{content:'500명';}
.workRoad .job-offer.view span.up:before{content:'0.1%';top:18px;}/* 2018.11.06	ywKim	변경 */
/* .workRoad .job-offer.view span.up:before{content:'0.1%';top:18px;left:10px;} */
.workRoad .job-offer.view  span.down{background-image:url(../../images/workRoad/arrow-bottom.png);}/* bottom 대체용 - 2018.11.06	ywKim	추가 */
.workRoad .job-offer.view span.up{background-image:url(../../images/workRoad/arrow-top.png);}/* top 대체용 - 2018.11.06	ywKim	추가 */
.workRoad .job-offer-status .citation{position:absolute;top:-30px;right:0;}



.workRoad .popBox.job-offer-status.type02{width:1072px;}
.workRoad .popBox.job-offer-status.type02 .job-offer.view{border-top: 0;padding-top: 10px;padding-bottom: 0;}
.workRoad .popBox.job-offer-status.type02 .job-offer.view ul{position: relative;width:100%;overflow:hidden;display:block;margin-bottom:0;}
.workRoad .popBox.job-offer-status.type02 .job-offer.view ul li{display:inline-block;width:31%;border:1px solid #e0e0e0;font-family:'Nanum Gothic Bold';position:relative;padding:10px 50px 10px 15px;text-align:center;background:#f5f5f5;color:#333;box-sizing:border-box;margin-left:12px;float:left;}
.workRoad .popBox.job-offer-status.type02 .job-offer.view ul li:first-child{border-left:0 hidden;background:#28425b;font-family:'Nanum Gothic Bold';color:#fff;margin-left:0;text-align:center;font-size:15px;padding:10px 0 10px;}

.workRoad .popBox.job-offer-status.type02 .citation{right:2%;top: -28px;}
.workRoad .popBox.job-offer-status.type02 .left,
.workRoad .popBox.job-offer-status.type02 .right{display:inline-block;float:left;}
.workRoad .popBox.job-offer-status.type02 .left{width:500px;margin-right:10px;padding: 5px 0px;}
.workRoad .popBox.job-offer-status.type02 .right{width:530px;}
.workRoad .popBox.job-offer-status.type02 .right .job-offer-graph{min-height:130px;margin-bottom:10px;padding:5px;}
.workRoad .popBox.job-offer-status.type02 .job-offer.view ul li:first-child + span{position:absolute;top:7px;left:157px;font-size:20px;}
.workRoad .popBox.job-offer-status.type02 .job-select { padding-top: 10px;}

.workRoad .dialogbox{display:none;width:100%;height:100%;overflow:hidden;z-index:10000;position:absolute;left:0;top:0;background:rgba(0,0,0,.5);}
.workRoad .job-indicator-box{margin:50px auto;max-width:1500px;height:700px;overflow:hidden;background:#fff;/* box-shadow:-1px 1px 5px #ccc; */}
.workRoad .job-indicator-box .bar{position:relative;width:100%;height:33px;overflow:hidden;background:#444b5b}
.workRoad .job-indicator-box .bar span{display:block;height:33px;line-height:33px;padding-left:20px;color:#fff;font-size:13px;}
.workRoad .job-indicator-box .bar>a{position:absolute;right:10px;top:10px;}
.workRoad .job-indicator-box .bar>a:hover{transform:rotate(90deg);}
.workRoad .job-indicator-box .dataSlider{width:73px;height:9px;float:right;margin:12px 40px 0 0}

.workRoad .indicator-contents{position:relative;width:100%;height:calc(100% - 33px);overflow:hidden;}
.workRoad .indicator-contents .dscList{width:405px;margin:0 auto;margin-left:10px;}
.workRoad .indicator-contents .dscList dt>a{background:#fff;text-indent:0px;color:#333;}
.workRoad .indicator-contents .dscList dt>a.on{background:url(/img/ico/ico_down04.png) no-repeat 460px center;}
.workRoad .indicator-contents .dscList span{color:#333;font-size:14px;font-weight:bold;height:20px;}

.workRoad .indicator-scroll{width:100%;height:100%;overflow:hidden;}
.workRoad .indicator-map-area{float:left;position:absolute;padding-bottom:20px;overflow:hidden;background:#fff;z-index:1000;width:1049px;height:705px;}
.workRoad .indicator-form-Area{float:right;width:450px;height:705px;padding-bottom:20px;overflow:hidden;overflow-y:scroll;border-left:1px solid #aaa;background:#fff;z-index:1000;box-sizing: border-box;padding: 0 5px;}

/*dialog right */
.workRoad .pcGuide{width:100%;height:auto;overflow:hidden;position:relative;}
.workRoad .pcGuide ul{display:block;padding:0 20px 0 20px;overflow:hidden;}
.workRoad .pcGuide a{position:absolute;right:10px;top:20px;display:block;width:89px;line-height:24px;line-height:24px;text-align:center;overflow:hidden;color:#fff;font-size:13px;background:#0099ff;}
.workRoad .pcTabs{margin-top:20px;width:100%;height:auto;overflow:hidden;padding-left:10px;}
.workRoad .pcTabs li{border-top:1px solid #ccc;width:50%;height:auto;overflow:hidden;float:left;}
.workRoad .pcTabs li a{cursor:pointer;font-weight:bold;width:100%;height:30px;line-height:30px;display:block;text-align:center;overflow:hidden;background:#f5f5f5;color:#333;font-size:13px;}
.workRoad .pcTabs li a.on{background:#22b599;color:#fff;}

.workRoad .combine_report{position:absolute;top:2px;right:30px;}
.workRoad .combine_report:hover{opacity:0.7}

.workRoad .pcTable03{box-sizing: border-box;border: 1px solid #ddd;display: block;margin-top: 25px;margin-bottom: 20px;overflow: hidden;padding: 15px 0px;width: 95%;margin: 25px auto;}
.workRoad .pcTable03 th{font-family: "Nanum Gothic bold";color: #666;font-size:14px;text-align:left;padding-left:20px;}
.workRoad .pcTable03 td{font-family: "Nanum Gothic";font-size: 13px;}
.workRoad .pcTable04{width:100%;margin-top:10px;}
.workRoad .pcTable04 th{border:1px solid #ccc;height:32px;background:#f5f5f5;color:#606060;font-size:14px;}
.workRoad .pcTable04 td{border:1px solid #ccc;text-align:center;height:32px;color:#666;font-size:13px;}
.workRoad .pcTable02{width:100%;margin-top:10px;}
.workRoad .pcTable02 th{border-top:1px solid #ccc;border-bottom:1px solid #ccc;height:32px;background:#f5f5f5;color:#606060;font-size:13px;}
.workRoad .pcTable02 td{border-bottom:1px solid #ccc;text-align:center;height:32px;color:#666;font-size:11px;}
.workRoad .pcTable02 .addSideLine{border:1px solid #ccc;}
.workRoad .pcTable02 .border{border-left:1px solid #ccc;}
.workRoad .pcTable03 tr{line-height:25px;}

.workRoad .inner-box{margin:50px auto;box-sizing:border-box;border:1px solid #213967;background:#fff;height:auto;position:absolute;top:auto;}
.workRoad .inner-box article {  padding:15px;}
.workRoad .inner-box .bar{position:relative;width:100%;height:33px;overflow:hidden;background:#444b5b}
.workRoad .inner-box .bar span{display:block;height:33px;line-height:33px;padding-left:20px;color:#fff;font-size:13px;}
.workRoad .inner-box .bar>a{position:absolute;top:8px;right:10px;display:block;overflow:hidden;width:15px;height:15px;cursor:pointer;transition-timing-function:ease-in-out;transition-duration:.3s;transition-property:transform;text-indent:-2000px;opacity:1;background:url(../../images/workRoad/ico/ico_close05.png) no-repeat center center;}
.workRoad .inner-box .bar>a:hover{transform:rotate(90deg);opacity:1;}

.workRoad .indicator-data .title{font-size:15px;font-family:"Nanum Gothic Bold";}
.workRoad .indicator-data p.top {margin-bottom:10px;}
.workRoad .indicator-data p.top,
.workRoad .indicator-data p.bottom{/* vertical-align: middle; */position:relative;box-sizing:border-box;padding: 5px 10px;border: 1px solid #ccc;width: 280px;line-height: 50px;height: 55px;display: block;}
.workRoad .indicator-data .left,
.workRoad .indicator-data .right{float: left;display:inline-block;vertical-align: top;}
.workRoad .indicator-data .month{font-size:12px;font-family:"Nanum Gothic";color:#ccc;margin:0 5px;}
.workRoad .indicator-data .job-arrow{width:45px;height:31px;display:inline-block;vertical-align:middle;position: absolute;background-repeat:no-repeat;background-size:44px 31px;right: 2%;top: 12px;}
.workRoad .indicator-data .job-arrow:before{content:'';position:absolute;top: 3px;left: 10px;font-size:10px;color:#fff;font-family:"Nanum Gothic Bold";display: block;width: 23px;height: 25px;text-align: center;}
.workRoad .indicator-data .data +  span.bottom:before{content: '50명';}
.workRoad .indicator-data .data + span.top:before{content:'0.1%';top:18px;left:10px;}
.workRoad .indicator-data .data + span.bottom{background-image:url(../../images/workRoad/arrow-bottom.png);}
.workRoad .indicator-data .data + span.top{background-image:url(../../images/workRoad/arrow-top.png);}
.workRoad .column-layout.indicator-data{overflow:hidden;}

.workRoad .indicator-data span{vertical-align:text-bottom;line-height:22px;}
.workRoad .indicator-data .data{font-size:14px;font-family:"Nanum Gothic Bold";min-height:auto;padding:3px 7px;border:1px solid #ccc;border-radius:2px;box-sizing:border-box;margin-left:3px;background:#f5f5f5;color:#333;}
.workRoad .indicator-data .right.chart{min-height:120px;border:1px solid #ccc;width:520px;box-sizing:border-box;margin-left:8px;height:auto;padding:5px;}

.workRoad .view-tab{display:block;width:100%;height:26px;overflow:hidden;margin:0 auto 15px;box-sizing:border-box;padding:0 5px;}
.workRoad .view-tab a.on{background:#00bcd4 url(../../img/ico/ico_up01.gif) no-repeat right 10px center;}/* 2018.10.25	ywKim	변경 */
/* .workRoad .view-tab a.on{background:#00bcd4 url(/img/ico/ico_up01.gif) no-repeat 505px center;} */
.workRoad .view-tab a{display:block;width:95%;padding:0 28px 0 0;height:26px;overflow:hidden;border-radius:13px;line-height:26px;color:#fff;text-indent:10px;background:#00bcd4 url(../../images/workRoad/ico/ico_down02.png) no-repeat right 10px center;}

.workRoad div#policyCombineDataArea{padding:0px 10px;display:block;}
