@charset 'UTF-8';

/****************************************************/
/* 메인 팝업											*/
.workRoad .Popup_jab {position: absolute; left: 50%;top: 50%; width: 1000px; height: 600px; margin: -300px 0 0 -500px; padding: 130px 85px 130px 95px;color: #221f20;background: #f9f17c url(../../images/workRoad/main_popup/bg_popup_jab.jpg) repeat-x left bottom;box-sizing:border-box;}
.workRoad .Popup_jab img {vertical-align:top;}
.workRoad .Popup_jab h2 {position: absolute; left: 47px;top: 42px; font-size: 30px;letter-spacing: -1px;}
/*.workRoad .Popup_jab h2 {position: absolute; left: 47px;top: 47px; width: 240px; height: 37px;text-indent: -999px;background: url(../../images/workRoad/main_popup/title_jab_h1.png) no-repeat left top;}*/
.workRoad .Popup_jab h2 span {font-size:38px;font-weight:700;}
.workRoad .Popup_jab .job_guide {margin-bottom: 25px;color: #231f20;font-size: 18px;line-height: 1.3em;}
.workRoad .Popup_jab .job_guide span {font-weight:700;}
.workRoad .Popup_jab .list_recruit {overflow: hidden; margin-bottom: 55px;}
.workRoad .Popup_jab .list_recruit li {float: left; width: 240px; margin-left: 50px; padding: 45px 0 10px; border-bottom: 1px solid #dfd86c}
.workRoad .Popup_jab .list_recruit li:first-child {margin-left: 0px;}
.workRoad .Popup_jab .list_recruit li > * {display: block;}
.workRoad .Popup_jab .list_recruit li strong {margin-bottom: 13px;padding-bottom: 3px;font-size :22px;border-bottom: 5px solid #dfd86c;}
.workRoad .Popup_jab .list_recruit li strong span {display: inline-block;vertical-align: top;margin-right: 3px;font-size :22px; font-weight:700;}
.workRoad .Popup_jab .list_recruit .r1 {background: url(../../images/workRoad/main_popup/img_recruit1.png) no-repeat right 10px top;}
.workRoad .Popup_jab .list_recruit .r2 {background: url(../../images/workRoad/main_popup/img_recruit2.png) no-repeat right 10px  top;}
.workRoad .Popup_jab .list_recruit .r3 {background: url(../../images/workRoad/main_popup/img_recruit3.png) no-repeat right 10px  top;}
.workRoad .Popup_jab .list_recruit li > span {margin-bottom: 5px;padding-right: 15px;font-size :22px; font-weight:700; letter-spacing: -1px; text-align:right;}
.workRoad .Popup_jab .source {position: absolute; right: 0px; top: 50px; padding: 5px 15px; color: #363738; font-size :16px; font-weight:700; letter-spacing: -1px;border-top: 2px solid #000; border-bottom: 1px solid #e0d10a}
.workRoad .Popup_jab .thumb {position: absolute; right: 0;bottom: 0;}
.workRoad .Popup_jab .list_dashed.jab li {margin-bottom: 5px;color: #231f20;font-size :16px;line-height:26px;}
.workRoad .Popup_jab .list_dashed.jab li span {display: inline-block;vertical-align: top;margin-right: 10px;}
.workRoad .Popup_jab .list_dashed.jab li span:nth-of-type(2) {display: inline-block;vertical-align: top;padding:0 10px 0 35px;color: #231f20;font-weight:700;background-color: #dfd86c;background-repeat: no-repeat;background-position: 7px center;border-radius: 3px;}
.workRoad .Popup_jab .list_dashed.jab li span:nth-of-type(3) {display: inline-block;vertical-align: top;padding:0 10px 0 35px;color: #231f20;font-weight:700;background-color: #dfd86c;background-repeat: no-repeat;background-position: 7px center;border-radius: 3px;}
.workRoad .Popup_jab .list_dashed.jab li span:nth-of-type(2).ico_j1 {cursor:pointer;background-image: url(../../images/workRoad/main_popup/ico_jab1.png);}
.workRoad .Popup_jab .list_dashed.jab li span:nth-of-type(2).ico_j2 {cursor:pointer;background-image: url(../../images/workRoad/main_popup/ico_jab2.png);}
.workRoad .Popup_jab .list_dashed.jab li span:nth-of-type(3).ico_j2 {cursor:pointer;background-image: url(../../images/workRoad/main_popup/ico_jab2.png);}
.workRoad .Popup_jab .list_dashed.jab li span:nth-of-type(2).ico_j3 {cursor:pointer;background-image: url(../../images/workRoad/main_popup/ico_jab3.png);}/* End of - 메인 팝업									*/
/****************************************************/

/****************************************************/
/* 좌측 메뉴											*/
.workRoad .scrollBox{ border-bottom: none; } /* 메뉴우측 닫기 버튼 배경 */
.workRoad .bottom {background: none;}
/* End of - 좌측 메뉴									*/
/****************************************************/

/****************************************************/
/* 선택 목록											*/
.workRoad #wrmSelection { display: none; } 	
.workRoad #wrmSelection #wrmSelection_dataSlider_item {width:50px;top:18px;left:-40px;}
.workRoad #wrmSelection #wrmSelection_dataSlider_item:before{background: none;}
.workRoad #wrmSelection #wrmSelection_dataSlider_item .ui-slider-range{top: 0px;}
.workRoad #wrmSelection #wrmSelection_dataSlider_item .ui-slider-handle{top: -3px !important; margin-left: -5px !important;}
/* End of - 선택 목록									*/
/****************************************************/

/****************************************************/
/* 													*/
/* End of - 										*/
/****************************************************/

/****************************************************/
/* 													*/
/* End of - 										*/
/****************************************************/
