@charset 'UTF-8';

/****************************************************/
/* 조건팝업											*/
.workRoad #vjDesiredArea { display:none; }
.workRoad #vjSelectCompanyType { display:none; }/* 팝업창 로드시 숨기기 */
.workRoad #vjSelectCompanyType .wrmScrollable { height: 300px; }/* 목록 박스 높이 - 스크롤기능 적용을 위해 필수 */
.workRoad #vjSelectJobClassification { display:none; }/* 팝업창 로드시 숨기기 */
.workRoad #vjSelectJobClassification .wrmScrollable { height: 200px; }/* 목록 박스 높이 - 스크롤기능 적용을 위해 필수 */
/* .workRoad #vjSelectJobClassification #vjViewContents { display:none; } */ /* 임시 주석 - 2019.01.23	ywKim	변경 */
.workRoad #vjSelectSalaryLevel { display:none; }/* 팝업창 로드시 숨기기 */
.workRoad #vjSelectSalaryLevel .wrmScrollable { height: 260px; }/* 목록 박스 높이 - 스크롤기능 적용을 위해 필수 */
.workRoad #vjSelectSalaryLevel .qmdl dt { float:left; width:50%; }
.workRoad #vjSelectSalaryLevel .qmdl dd { width:50%; }
.workRoad #vjSelectEmploymentType { display:none; }/* 팝업창 로드시 숨기기 */
.workRoad #vjSelectEmploymentType .wrmScrollable { height: 255px; }/* 목록 박스 높이 - 스크롤기능 적용을 위해 필수 */
.workRoad #vjSelectAcademicAbility { display:none; }/* 팝업창 로드시 숨기기 */
.workRoad #vjSelectAcademicAbility .wrmScrollable { height: 180px; }/* 목록 박스 높이 - 스크롤기능 적용을 위해 필수 */
.workRoad #vjSelectAcademicAbility #vjDataList { width: 360px;}
.workRoad #vjSelectAcademicAbility #vjDataList li { width: calc(50% - 8px); float: left;}
.workRoad #vjSelectAcademicAbility #vjDataList li:nth-child(1) {padding-top: 12px;}/*2열 배치로 인해 여백을 다른 항목과 동일하게 적용*/ 
.workRoad #vjSelectCareer { display:none; }/* 팝업창 로드시 숨기기 */
.workRoad #vjSelectIndustryClassification { display:none; }/* 팝업창 로드시 숨기기 */
.workRoad #vjSelectIndustryClassification .wrmScrollable { height: 350px; }/* 목록 박스 높이 - 스크롤기능 적용을 위해 필수 */
/* End of - 조건팝업									*/	
/****************************************************/

/****************************************************/
/* 구인정보 목록 										*/
.workRoad #vjJobInfoList { display: none; height: 500px; /* 설정 없으면 auto */ max-height: 500px; }
/* 토글버튼 (보이기/숨기기) */
.workRoad #vjJobInfoList #vjToggle { font-size: 13px; top: 0px; left: 0px; height: 39px; width: 160px; line-height: 19px; }
.workRoad #vjJobInfoList .cont-box { height: 400px; padding: 5px 0px 0px 0px; } 
.workRoad #vjJobInfoList article { height: 100%; } 
/* 생활환경 */
.workRoad #vjJobInfoList #vjLifeEnvInfo { position: relative; left: 160px; cursor: pointer; }
/* 테이블 헤더 */
.workRoad #vjJobInfoList #vjTableHeader { height: 40px; }
/* 테이블 목록 */
.workRoad #vjJobInfoList #vjRows { height: calc(100% - 70px);/* 25: caption 40: tableHeader 5: ? */ border-top: 0; border-bottom: 1px solid #e0e0e0; padding-bottom: 0; }
/* 테이블 목록 - 모집 제목 */
.workRoad #vjJobInfoList #vjRows .subject span.accent { width: 100%; }
.workRoad #vjJobInfoList #vjRows .subject span.accent span.point { float: left; }
/* #vjJobInfoList #vjRows .subject span.accent a#vjJobInfoList_RecruNm { width: calc(100% - 35px); } */
.workRoad #vjJobInfoList #vjRows table tbody tr.on { background: #f69834; }
.workRoad #vjJobInfoList #vjRows table tbody tr.on th { background: #f69834; }
/* End of - 구인정보 목록 								*/
/****************************************************/
		
/****************************************************/
/* 생활환경 종합 										*/
.workRoad #vjLivingEnvironment { display: none; width: 610px;}	/* 2019.11.04[한광희] 생활환경 종합 항목 위치 변경에 의한 css 수정 */
.workRoad #vjLivingEnvironment .notice:before { border: 0; }
/* End of - 생활환경 종합 								*/
/****************************************************/
		
.workRoad #vjDataBoard .dataSideBox { z-index: 1001; /* ※ 지도버튼이 1000 */ }
		
/****************************************************/
/* 데이터보드 > 대졸자 첫 일자리 통계					*/
.workRoad #vjFCGJS { width: 100%; height: 100%; }
.workRoad #vjFCGJS .popBox { left: 0px; top: 0px; margin-left: 0px; width: 100%; height: 100%; border: 0; }/* 팝업용도가 아닌 데이터보드에 끼워넣기하는 경우 처리될 사항 - 테두리제거, 사이즈 Full */
.workRoad #vjFCGJS .cont-box { height: calc(100% - 15px); } /* 15px: 타이틀 상단 여백 */
.workRoad #vjFCGJS article h3 { border-bottom: 1px solid #213967; margin-bottom: 10px; }
/* End of - 데이터보드 > 대졸자 첫 일자리 통계					*/
/****************************************************/

/****************************************************/
/* 데이터보드 > 구인정보 상세								*/
.workRoad #vjJobInfoDetail { height: 100%; }
.workRoad #vjJobInfoDetail .popBox { left: 0px; top: 0px; margin-left: 0px; width: 100%; height: 100%; border: 0; }/* 팝업용도가 아닌 데이터보드에 끼워넣기하는 경우 처리될 사항 - 테두리제거, 사이즈 Full */
.workRoad #vjJobInfoDetail #vjChartContents { display: none; margin-top: 15px; }
.workRoad #vjJobInfoDetail .jab-data-table thead th:nth-of-type(4) { width: 0px; }    
.workRoad #vjJobInfoDetail #vjLifeEnvInfo { font-family: 'Nanum Gothic'; font-size: 13px; line-height: 22px; box-sizing: border-box; padding: 0 9px; text-align: center; letter-spacing: -1px; color: #fff; border: 1px solid #03a9f4; border-radius: 2px; background: #03a9f4; cursor: pointer; }
/* End of - 데이터보드 > 구인정보 상세						*/	
/****************************************************/

/****************************************************/
/* 데이터보드 > 직업전망 보기								*/
.workRoad #vjJobProspectingInfo { width: 100%; height: 100%; } 
.workRoad #vjJobProspectingInfo .popBox { left: 0px; top: 0px; margin-left: 0px; width: 100%; height: 100%; border: 0; }/* 팝업용도가 아닌 데이터보드에 끼워넣기하는 경우 처리될 사항 - 테두리제거, 사이즈 Full */ 
/* 타이틀 */
.workRoad #vjJobProspectingInfo .vjTitle { display: table; table-layout: fixed; border-collapse: collapse; width: 100%; }
.workRoad #vjJobProspectingInfo .vjTitle a { letter-spacing: -1px; font-size: 14px; display: table-cell; vertical-align: middle; text-align: center; height: 35px; background: #6a707c; color: #fff; } 
/* 설명 */
.workRoad #vjJobProspectingInfo .citation { position: absolute; top: 0px; right: 7px; }
/* 컨텐츠 */    
.workRoad #vjJobProspectingInfo .cont-box { height: calc(100% - 66px); /* 15px: 타이틀 상단 여백 */ }
.workRoad #vjJobProspectingInfo article { padding-right: 0; width: calc(100% - 23px);/* 15px: 좌측 여백    8: scrollBar Width*/ height: 100%; }
/* 직업목록 스크롤 영역 */
.workRoad #vjJobProspectingInfo article > div:nth-of-type(1) { width: 100%; height: 300px;/*calc(45% - 16px);*/ /* 16px: 직업목록 타이틀 높이 */ margin-bottom: 15px; }
.workRoad #vjJobProspectingInfo #vjDataList{ width: 100%; }
.workRoad #vjJobProspectingInfo #vjDataList li{ float: left; width: 50%; } 
/* 요약 - 탭 */   
.workRoad #vjJobProspectingInfo .pcTabs { margin-top: 0; padding-left: 0; }    
.workRoad #vjJobProspectingInfo .pcTabs li{ width: 25%; }
.workRoad #vjJobProspectingInfo .pcTabs li a.on { background: #22b599; color: #fff; }
/* 요약 - 내용 */
.workRoad #vjJobProspectingInfo #vjSummaryContent > div { display: none; padding: 5px; }
.workRoad #vjJobProspectingInfo #vjSummaryContent h4 { font-family: 'Nanum Gothic Bold'; font-size: 14px; position: relative; padding: 0 0 8px 15px; color: #666; }
.workRoad #vjJobProspectingInfo #vjSummaryContent h4:before { position: absolute; top: 4px; left: 2px; display: block; box-sizing: border-box; width: 8px; height: 8px; content: ''; border-radius: 50%; background: #39d0b5; }
/* End of - 데이터보드 > 직업전망 보기						*/	
/****************************************************/

/****************************************************/
/* 데이터보드 > 직업훈련 보기								*/
.workRoad #vjJobTrainingInfo { width: 100%; height: 100%; }
.workRoad #vjJobTrainingInfo .popBox { left: 0px; top: 0px; margin-left: 0px; width: 100%; height: 100%; border: 0; }/* 팝업용도가 아닌 데이터보드에 끼워넣기하는 경우 처리될 사항 - 테두리제거, 사이즈 Full */
/* 타이틀 */
.workRoad #vjJobTrainingInfo .vjTitle { display: table; table-layout: fixed; border-collapse: collapse; width: 100%; }
.workRoad #vjJobTrainingInfo .vjTitle a { letter-spacing: -1px; font-size: 14px; display: table-cell; vertical-align: middle; text-align: center; height: 35px; background: #6a707c; color: #fff; }
/* 컨텐츠 */
.workRoad #vjJobTrainingInfo .cont-box { height: calc(100% - 66px); }/* 15px: 타이틀 상단 여백 */
.workRoad #vjJobTrainingInfo article { height: 100%; }
/* 지역선택 박스 */
.workRoad #vjJobTrainingInfo article > div:nth-of-type(1) { margin-bottom: 15px; }
/* 라벨 - 훈련지역 선택 */
.workRoad #vjJobTrainingInfo .vjSelectLabel { padding-left: 5px; font-family: 'Nanum Gothic Bold'; font-size: 13px; }	
/* 훈련지역 선택 영역 */
.workRoad #vjJobTrainingInfo .select-area { text-align: left; padding: 5px; }	
/* 훈련지역 선택 박스 */
.workRoad #vjJobTrainingInfo span.select-wrap:nth-of-type(1) { width: 30%; }
.workRoad #vjJobTrainingInfo span.select-wrap:nth-of-type(2) { width: 40%; }	
/* 훈련과정 목록 박스 */
.workRoad #vjJobTrainingInfo .jab-data-table { height: calc(100% - 169px); border-bottom: 1px solid #e0e0e0; padding-bottom: 0; }
.workRoad #vjJobTrainingInfo .jab-data-table table .subject { width : 435px; }
.workRoad #vjJobTrainingInfo .jab-data-table table td { border-left: 0; }
/* End of - 데이터보드 > 직업훈련 보기						*/	
/****************************************************/