@charset "utf-8";

/*헤더*/
header{height:313px; font-size:0px; background:url('../images/tit.png')}

/*개요*/
.intro{padding:20px 50px;}
.intro h2{font-weight:700; font-size:1.8rem; font-size: 26px;}
.intro ul{margin-top:11px; font-size: 22px;}
.intro li{margin-bottom: 10px;}
.intro strong{display:inline-block; width: 126px; letter-spacing: -0.11px; font-weight:700; color:#3845e6; margin-right: 8px;}


/*조사결과*/
.result {padding:50px; box-sizing: border-box; }
.result h3{font-size: 23px; letter-spacing: -0.46px; font-weight: 700; margin-bottom: 15px;}
/*.cont {}*/
.result li {margin-bottom: 70px;}
.cont{position: relative; margin-left: 40px;}
.cont::before{content: ""; background:#5663ff; width: 10px; height: 10px; background-repeat: no-repeat; position: absolute; border-radius: 50%; left: -16px; top:6px; }
.cont .conTit {font-size: 20px; color: #3845e6; font-weight: 700; float: left; margin-right: 15px; display: table-cell;}
.conTxt {font-size: 18px; display: table-cell; letter-spacing: -0.54px; line-height: 25px;}
.conTxt span {font-size: 22px; font-weight: 700; color: #ff7664;}
.chart {text-align: center; margin: 40px;}
.subTit {font-size: 21px; font-weight: 700; color: #3845e6; margin-bottom: 10px; }
.quiz {font-size: 19px; font-weight: 700; margin-top: 15px;}




