@charset "utf-8";

/*전체*/
main{width:1247px; margin:0 auto;}

/*메뉴*/
aside{position:fixed; width:332px; background:#115fe0; height:100%; color:#fff; box-shadow:10px 0px 10px rgba(112,112,112,0.58);}
aside h1{margin:20px 50px; font-size:2.2rem; font-weight:700; text-indent:-25px; line-height:29px;}
aside h1::before{content:""; display:inline-block; width:15px; height:21px; margin-right:10px; background:url('../images/menu_icon.png')no-repeat;}
aside div{padding:35px 0px; background:#1557c3; box-shadow:inset 0px 0px 5px rgba(112,112,112,0.38);}
aside div strong{font-size:1.6rem; font-weight:700;}
aside div strong::before{content:""; display:inline-block; margin:0px 10px 0px 20px; width:18px; height:16px; background:url('../images/icon_sprite.png')no-repeat; vertical-align:middle;}
aside div strong:nth-of-type(2)::before{background-position:-19px 0px;}
aside div strong:nth-of-type(3)::before{background-position:-40px 0px;}
aside div ul{margin-top:10px;}
aside div ul::after{content:""; display:block; margin:10px 0px 30px 29px; width:244px; height:1px; background:#0044b3;}
aside div li{padding:10px 0px 10px 45px;}
aside div li.on{background:#0440a3; box-shadow:inset 5px 0px 0px #ffb400;}

/*본문*/
section{width:915px; height:100vh; float:right; padding:0px 35px 37px; overflow-y:auto;}
section h2{font-size:2.2rem; font-weight:700;}
section h2::before{content:""; display:inline-block; width:32px; height:41px; margin:0px -15px -5px 0px; background:url('../images/title_bg.png')no-repeat;}
section h2:nth-of-type(1){padding-top:37px;}
section strong{display:block; position:relative; padding-top:20px; font-size:1.8rem; font-weight:700; color:#0440a3;}
section ul + strong{padding-top:40px;}
section ul + strong::after{top:54px;}
section strong::before{content:""; display:inline-block; width:7px; height:7px; margin:0px 6px; vertical-align:middle; background:#3d7ee9; border-radius:50%;}
section strong::after{content:""; position:absolute; top:34px; left:9px; display:block; width:1px; height:20px; background:#3d7ee9;}
section img{padding:7px; border:2px solid #3d7ee9;}
section strong + img{margin-top:13px;}
section ul{margin:20px 0px 20px 35px;}
section ul li{line-height:24px; text-indent:-15px; letter-spacing:-0.07em;}
span.fw {font-weight:bold; color:blue;}

.myImg {width:850px; max-width:850px;}
@media print { .myImg { width:90%; max-width:800px; height:400px; } }