@charset "utf-8";

/*font*/
@font-face {font-family: 'NanumSquare'; font-style: normal; font-weight: 400; src:local(※), url(../font/NanumSquareR.eot) format('eot'), url(../font/NanumSquareR.woff2) format('woff2'), url(../font/NanumSquareR.woff) format('woff'), url(../font/NanumSquareR.ttf) format('truetype');}
@font-face {font-family: 'NanumSquare'; font-style: normal; font-weight: 700; src:local(※), url(../font/NanumSquareB.eot) format('eot'), url(../font/NanumSquareB.woff2) format('woff2'), url(../font/NanumSquareB.woff) format('woff'), url(../font/NanumSquareB.ttf) format('truetype');}

/*Reset*/
*, *:after, *:before{margin:0; padding:0; box-sizing: border-box; word-break:keep-all;}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, strong, i, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, figure, figcaption, footer, header, 
section, summary, time, mark, audio, video
 { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* reset */
html,body {}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block}
dl,ul,ol,menu,li {list-style: none}
blockquote, q {quotes: none}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none}
input,select,textarea,button {vertical-align: middle;-webkit-border-radius: 0;}
label,button {cursor: pointer}
img, a {border: 0 none;}
button {border:0 none;background-color:transparent}
address,caption,cite,code,dfn,em,i,var {font-style:normal;font-weight:normal}
table {border-collapse: collapse;table-layout: fixed;border-spacing: 0}
body,th,td,input,select,textarea,button{font-family:sr; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin: 0;padding: 0}