@charset "utf-8";


.wrap {width: 700px; margin: 0 auto; box-sizing: border-box; }

/*tit*/
h1 {background: url(../images/tit_bg.png) center; width: 100%; height: 190px;}

/*.quizBox*/
.quizBox {padding: 0 60px; letter-spacing: -1px; background: url(../images/bg.png) no-repeat; margin-top: 30px;}

/*quiz*/
.subTit {font-size: 18px; font-weight: 600; margin-bottom: 20px; color: #0071c5; }
.quizBox ul li.quizList {padding-left: 30px; margin-bottom: 45px;}
.quizBox ul li.quizList .quizBn {display: flex;}
.quizBox ul li h2 {color: #0071c5; font-weight: 600; font-size: 14px; margin-bottom: 6px; position: relative; margin-right: 5px;}
.quizBox ul li h2::before {content: ""; position: absolute; width: 16px; height: 15px; background: url(../images/icon_q.png) no-repeat ; left: -17px; top: 2px;}
.quizBox ul li .quiz {font-size: 14px; margin-bottom: 10px; position: relative; font-weight: 600;}
.quizBox ul li .answer {display: flex; flex-wrap: wrap; margin-bottom: 10px;}
.quizBox ul li .answer li {width: 50%;  margin-bottom: 5px;}
.quizBox ul li .answer li.full {width: 100%;}
.quizBox ul li .answer .subTxt {font-size: 12px; color: #f0595c;}
.quizBox ul li .answer button p {width: 18px; height: 18px; border-radius: 50%; letter-spacing: -1px; border: 1px solid #000; line-height: 1; display: inline-block;}
.quizBox ul li .answer button.on p {background: #0071c5; border: 1px solid #0071c5; color: #fff;}
.quizBox ul li .answer button.on {color: #0071c5; font-weight: 600;}
.quizBox ul li .answer input {margin-left: 5px; border: 1px solid #181818;}
.quizBox ul li textarea {FONT-WEIGHT: 500;width: 550px;height: 70px;padding: 5px;box-sizing: border-box;}
.quizBox span {font-size: 13px; font-weight: 100; }

.quizList table {font-size: 12px; text-align: center; width: 550px; }
.quizList th { line-height: 12px; padding: 4px 0;  vertical-align: middle; background: #dcf0ff; border: 1px solid #898989;}
.quizList td {line-height: 25px; border: 1px solid #898989;}
.quizList td:first-child {text-align: left; padding-left: 10px;}
.quizList td p {margin-bottom: 5px;}

/*psnl*/
.psnl {padding: 0 5px; margin-bottom: 50px;}
.psnl h3 {font-size: 12px; font-weight: 600; color: #0071c5; margin-bottom: 10px;}
.psnl table {font-size: 12px;}
.psnl table th {background: #0071c5; color: #fff; border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; }
.psnl table td { padding: 7px; border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; text-align: left;}
.psnl table .ageBox {display: flex; flex-wrap: wrap;}
.psnl table .age {width: 25%;}
table input[type="text"] { width: 300px; border: 1px solid #fff; border-bottom: 1px solid #bfbfbf; box-sizing: border-box;}
table input[type="radio"] { margin-right: 3px; }
table input[type="radio"]~input[type="radio"]{margin-left:15px;}



/* 동의 & 제출 버튼 등 */
.anc-btn {display: inline-block;text-align: center;font-size: 14px;height: 34px;line-height: 34px;color: #fff;font-weight: bold;background-color: #3385d3;width: 100px;}

.content-1 p{margin-bottom:20px; font-size:20px; color:#505050; font-weight:bold; width: 900px;}
.content-1 ul{font-size:17px; color:#505050; line-height:28px;}
.content-1 li span{cursor: pointer;}

.squre-type1{ text-align:center;}
.squre-type1 li{
     list-style: circle;
	font-size: 18px;
	color: #505050;
	font-weight: bold;
	display: inline;
	float: left;
	cursor: pointer;
}
.squre-type1 li input{width:30px;}
.squre-type1 li:last-child{margin-left:30px;}

.quizBtn{width:100%;height:auto;overflow:hidden;text-align:center;margin-top: 20px;} 
.quizBtn a{margin:0 10px;}

.btnType01{width:110px;height:32px;line-height:32px;display:inline-block;overflow:hidden;text-align:center;color:#fff;border-radius:5px;border:1px solid #f9a93c;background:#ffb657;box-shadow:1px 1px 0 #777;font-size:15px;font-family:'NanumGothicBold';}
.btnType01:hover{background:#e09734;border:1px solid #e09734; cursor:pointer;}

.btnType02{width:110px;height:32px;line-height:32px;display:inline-block;overflow:hidden;text-align:center;color:#fff;border-radius:5px;border:1px solid #55c2bf;background:#60c9c6;box-shadow:1px 1px 0 #777;font-size:15px;font-family:'NanumGothicBold';}
.btnType02:hover{background:#4ba8a5;border:1px solid #4ba8a5; cursor:pointer;}

select { appearance: listbox; -webkit-appearance: listbox; border:0}
select::-ms-expand { display:none; }

span.parenthesis {
    font-weight: lighter;
    font-size: 12px;
    color: #000;
    opacity: .7;
}



