@charset "UTF-8";
.table-type{position:relative;width:100%;border-top:1px solid #213967;}
.table-type .required{position:absolute;right:0;top:-40px;font-size:13px;color:#555;padding:0;}
.table-type .required em{color:#ed1a1a;font-family:'Nanum Gothic Blod';font-style:normal;vertical-align:middle;font-size:15px;}

/* select */
.select-wrap{display:inline-block; vertical-align:baseline;position:relative;z-index:1;height:32px;box-sizing:border-box;background-image: url(/images/common/search_arr.png);border:1px solid #d1d4d7;background-position: right 10px center;background-repeat: no-repeat;}
.select-wrap.focus{outline:1px solid #6470b7}
.select-wrap select{font-size:14px;cursor:pointer;display:inline-block;background:transparent!important;padding-right:5px;min-width:100px;width:100%;height:100%;color:#555;border:0;-webkit-appearance:none;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0.8)";filter:alpha(opacity=0.8);opacity:0.8;padding-left:5px;font-family:'Nanum Gothic';}

.select-wrap2 { float:left; }
.select-wrap2 select {text-indent: 10px;min-width: 170px;float: left;display: inline-block;float: left;vertical-align: baseline;position: relative;z-index: 1;height: 32px;box-sizing: border-box;background-image: url(/images/common/search_arr.png);border: 1px solid #d1d4d7;background-position: right 10px center;background-repeat: no-repeat;}
.select-wrap2 select:last-child { margin-left:5px;}
/* count */
.count{position:relative;font-family:'Nanum Gothic';font-size:14px;margin-bottom:10px;line-height:14px;color:#555;}
.count strong{font-family:'Nanum Gothic Bold';padding-right:3px;color:#356fc5;}

/*contents table list*/
h2 + .table-type{margin-bottom:45px;}
.table-style{border-bottom:1px solid #e0e0e0;width:100%;}
.table-style th{line-height:130%;padding:13px 0 12px;font-style:normal;background-color:#f6f7f8;font-family:'Nanum Gothic Bold';text-align:center;color:#777;font-size:14px;}
.table-style td{line-height:160%;min-height:25px;height:25px;padding:10px 15px;color:#555;font-size:14px;}
.table-style.type01 tbody tr th {border-top: 1px solid #e0e0e0; background: #fff;}
.table-style.type01 h2{margin-top:45px}
.table-style.type01 + h2{margin-top:45px;}
.table-style.type01 h2 + table{margin:20px 0 0px;}
.table-style.type01  tr td{min-height:24px;height:24px;word-break:keep-all;vertical-align:middle;text-align:center;color:#555;font-size:14px;border:1px solid #e5e6e7;border-width:1px 0px 0px 1px;letter-spacing:-1px;word-spacing:-1px;}
.table-style.type01  tr th:first-child,
.table-style.type01  tr td:first-child{border-left:none;}
.table-style.type01  thead tr th{border-left:1px solid #e0e0e0;height:20px;}
.table-style.type01  tbody tr th{font-family:'Nanum Gothic Bold';color:#777;padding:10px 0px 13px 0px;}
.table-style.type01 tbody tr td.last {line-height: 0;}
.table-style.type01  tbody tr td.left{text-align:left;}
.table-style.type01  tbody tr td.right{text-align:right;}
.table-style.type01.td-data td{font-size:13px;}
.table-style.type01.td-data tbody tr td{padding:10px 7px 10px 7px;}

/*contents table th*/
.table-style.type02 .coment{line-height:120%;font-size:12px;font-style:normal;color:#5e83b9;}
.table-style.type02 .block{display:block;}
.table-style.type02 tr + tr th,
.table-style.type02 tr + tr td{border-top:1px solid #d6d6d6;}
.table-style.type02 tbody tr th em{font-weight:bold;color:#e40000;padding-left:5px;}
.table-style.type02 tbody tr td{font-family:'Nanum Gothic';border-left:1px solid #d6d6d6;}
.table-style.type02 tbody tr td fieldset{padding:4px 5px}
.table-style.type02 tbody tr td textarea{height:83px;width:100%;box-sizing:border-box;padding:5px;border:1px solid #d1d4d7;background:#fff;resize:none;-webkit-appearance:none;color:#555;}
.table-style.type02 tbody tr td input[type=text]{width:100%;padding:0 5px;height:32px;box-sizing:border-box;border:1px solid #d1d4d7;line-height:30px;color:#555;}
.table-style.type02 + h2{margin-top:45px;}
.table-style.type02 + h2 > em{font-style:normal;color:#555;font-size:20px;}
.table-style.type02 td ul > li{line-height:160%;}
.table-style.type02 td ul > li:nth-of-type(2){padding-top:5px;}
.table-style.type02 td ul > li span{ }
.table-style.type02 td  ul > li strong{color:#356fc5}


.tagbox { display:block; width:100px; box-sizing:border-box; padding:10px 20px; border-radius:5px; border:1px solid red;}
/* ----------2022년 5월 25일----------- */
.table-style.type02 tr .code_wrap .tag{color: #ed4028;font-size: 13px;display: inline-block; text-align: center; margin-bottom: 5px;padding:4px 10px; border: 1px solid #ed4028;border-radius:50px;margin-left: 5px;}
.table-style.type02 tr .code_wrap .tag.off{display: none; }
.displaynone{display: none;}

.code_wrap .btn_close_02{width:10px;height:100%; margin-left:15px; position:relative;text-indent:-9999px;}
.code_wrap .btn_close_02:before,.btn_close_02:after{content:'';width:10px;height:1px;position:absolute;left:50%;top:50%;border-radius:4px;background:#ed4028;}
.code_wrap .btn_close_02:before{transform:translate(-50%,-50%) rotate(-45deg)}
.code_wrap .btn_close_02:after{transform:translate(-50%,-50%) rotate(45deg)}

.table_map_close{width: 100%;text-align: right;margin-top:10px;}
.table_map_close button{width: auto; padding: 10px; background: #777; text-align: center; color:#fff; border-radius: 4px;}
.table_map_close div{display:inline-block;width:14px; height: 14px;overflow: hidden;position: relative;}
.table_map_close div.updown img{position: absolute;top: -14px;left: 0;}


.table_map {width: 100%; height: 860px; position: relative;background:#dddddd; border:1px solid #d6d6d6;box-sizing: border-box;}
.mapview{display: none;}

.table_map .map_head{padding-top: 10px;display:flex;}
.table_map .map_head button{width: 98px;height:38px;margin-left: auto;margin-right: 10px;text-align: center;background: #fff; border: 1px solid #d6d6d6;}

.table_map .map_head_02{display:flex;width: 100%;padding:8px 0;position: absolute; top:0; left: 0;background: linear-gradient( to right, #141e30 40%, #243b55 60%);}
.table_map .map_head_02 .select-wrap{background: #fff;border-radius: 2px;background-image: url(/images/common/search_arr_02.png);background-position: right 10px center;background-repeat: no-repeat;}
.table_map .map_head_02 .head_contect{ padding-left:82px;}
.table_map .map_head_02 .head_contect button{ background: #356ec5; height: 32px;padding: 0 20px; color:#fff;border-radius: 2px; float:left; margin-left:5px;}
.table_map .map_head_02 button{margin-left: auto;margin-right: 20px;}

.table_map .map_body{
	width: 100%; height: 770px;margin-top: 20px;background-image: url(/images/main/map4.png); background-repeat: no-repeat;
	 background-position: 16px 6px;
    background-size: 795px;

}
.table_map .map_body > div { box-sizing:border-box; width:780px; height: 100%;margin:0 auto; padding-left: 22px;position: relative;}

.table_map .map_body li{ border: 1px solid #d6d6d6; width:108px;height: 111px; float:left; box-sizing:border-box;position:relative;z-index: 999;}
.table_map .map_body li.empty{border: 0px; }
.table_map .map_body li span{display:block; height: 100%;color:#777;text-align:right;}

.map_body .map_navi {position: absolute; width: 770px;height:100%; z-index: 99;}
.map_body .map_navi > div {position: relative; width: 100%;height:100%; z-index: 9; }
.map_body .map_navi .mark {position: absolute; display:none; width:150px; line-height: 38px; text-align:center; text-indent:20px; font-size:12px; font-weight:bold; color:#000;  height:52px;  top:0px; left:0px; background:url('/images/main/map_navi.png') no-repeat center center; }







.map_body .map_item {position: absolute; width: 770px;height:100%;}
.map_body .map_item > div{position: relative; width: 100%;height:100%; z-index: 9;}
.map_body .map_item .color_map{position: absolute;  top: 104px;left: 35px;z-index: 0;}
.map_body .map_item .color_map1{position: absolute; top: 145px;left: 238px;z-index: 1;}
.map_body .map_item .color_map2{position: absolute; top: 73px;left: 217px;z-index: 0;}
.map_body .map_item .color_map3{position: absolute; top: 32px;left: 282px;z-index: 0;}
.map_body .map_item .color_map4{position: absolute; top: 222px;left: 180px;z-index: 0;}
.map_body .map_item .color_map5{position: absolute; top: 262px;left: 265px;z-index: 1;}
.map_body .map_item .color_map6{position: absolute; top: 291px;left: 275px;z-index: 1;}
.map_body .map_item .color_map7{position: absolute; top: 195px;left: 291px;z-index: 0;}
.map_body .map_item .color_map8{position: absolute; top: 157px;left: 351px;z-index: 0;}
.map_body .map_item .color_map9{position: absolute; top: 387px;left: 463px;z-index: 1;}
.map_body .map_item .color_map10{position: absolute; top: 333px;left: 208px;z-index: 0;}
.map_body .map_item .color_map11{position: absolute; top: 364px;left: 325px;z-index: 0;}
.map_body .map_item .color_map12{position: absolute; top: 350px;left: 398px;z-index: 0;}
.map_body .map_item .color_map13{position: absolute; top: 428px;left: 451px;z-index: 0;}
.map_body .map_item .color_map14{position: absolute; top: 416px;left: 102px;z-index: 0;}
.map_body .map_item .color_map15{position: absolute; top: 444px;left: 221px;z-index: 0;}
.map_body .map_item .color_map16{position: absolute; top: 647px;left: 182px;z-index: 0;}


/* 전.158.1 */

.btn_close{width:10px;height:30px;position:relative;text-indent:-9999px;}
.btn_close:before,.btn_close:after{content:'';width:18px;height:1px;position:absolute;left:50%;top:50%;border-radius:4px;background:#fff;}
.btn_close:before{transform:translate(-50%,-50%) rotate(-45deg)}
.btn_close:after{transform:translate(-50%,-50%) rotate(45deg)}

/* ----------2022년 5월 25일----------- */

.activeClass { background-color:rgba(237, 64, 40, 0.2); border:1px solid red !important; font-weight: 500;color: #fff;}
.activeClassblue { border:2px solid #0000ff !important; font-weight: 500;color:blue;}


@supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true))
and (not (-moz-appearance:none))
{

  .activeClassblue {
     border:2px solid #0000ff !important; font-weight: 500;color:blue;
  }

}

/* Safari 9.0+ (non-iOS) */

_:-webkit-full-screen:not(:root:root), .activeClassblue {
   border:2px solid #0000ff !important; font-weight: 500;color:blue;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0)
{  
   .activeClassblue {(;
     border:2px solid #0000ff !important; font-weight: 500;color:blue;
    );}
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
    _:-webkit-full-screen, .activeClassblue { 

      border:2px solid #0000ff !important; font-weight: 500;color:blue;

    }
}}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .activeClassblue { border:2px solid #0000ff !important; font-weight: 500;color:blue; } 
}
@media only screen and (-webkit-min-device-pixel-ratio:1) { ::i-block-chrome, .activeClassblue { border:2px solid #0000ff !important; font-weight: 500;color:blue; }  }
_::-moz-svg-foreign-content, :root .activeClassblue { border:2px solid #0000ff !important; font-weight: 500;color:blue; }

html[xmlns*=""] body:last-child .activeClassblue { border:2px solid #0000ff !important; font-weight: 500;color:blue; } 


.activeClass2 { border:2px solid #0000ff !important; font-weight: 500;color: #fff;box-sizing: border-box;}
.on{display: block;}
.table_map .map_body li span.activeClassColor {color:red;font-weight: 900;}
.table_map .map_body li span.activeBlue {color:blue;font-weight: 900;}


/* ------------------------------------------------------------------------ */

.table-style.type01 tbody tr td.docu-title { text-align: left;}

/* radio, label */
.agree{padding-top:15px;margin-bottom:27px;}
.agree .check + label,
/* css 표준문제로 수정. \9가 뭔지 모르겠음. leekh 20190610 */
/*
.agree .radio + label{padding-left:25px;text-indent:0;padding-top:1px\9;line-height:1.3\9;margin-left:15px;}
*/
.agree .radio + label{padding-left:25px;text-indent:0;padding-top:1px;line-height:1.3;margin-left:15px;}

.check-area li > label{width:130px;}
.check-area:first-child{margin-left:0}
.check-area,
.radio-area{position:relative;/* display:inline-block!important; */}
.check-area .check + label,
/* css 표준문제로 수정. \9가 뭔지 모르겠음. leekh 20190610 */
/*
.radio-area .radio + label{padding-left:26px;text-indent:0;padding-top:1px\9;line-height:1.3\9;}
*/
.radio-area .radio + label{padding-left:26px;text-indent:0;padding-top:1px;line-height:1.3;}
.radio-area label,
.check-area label{width:125px;display:inline-block;padding-left:5px;line-height:20px;vertical-align:middle;}
.check,
.radio{position:absolute;left:-999px;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.check + label,
.radio + label{position:relative;display:inline-block;min-width:15px;text-indent:-999px;font-size:13px;font-family:'Nanum Gothic';letter-spacing:-1px;vertical-align:middle;line-height:17px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;color:#666;}
.check + label:before{position:absolute;top:0;left:0;content:'';width:18px;height:17px}
.check + label:before{background-position:0 0}
.check[type="checkbox"]:checked + label:before{background-position:-20px 0}
.check + label:before{display:inline-block;vertical-align:middle;background:url(/images/common/btn_bg.png)no-repeat #fff;}
.radio + label:before{background:url(/images/common/ico_radio.png)no-repeat;}
.radio[type="radio"]:checked + label:before{background:url(/images/common/ico_radio_on.png)no-repeat;}
.radio + label:before{position:absolute;top:0;left:0;content:'';width:18px;height:18px;}
.chek-right{width:530px;display:inline-block;float:right;vertical-align:top;}
.all-check{display:inline-block;line-height:120%;width:80px;}
.all-check span > label{padding-left:5px;}
.board-all-check .check + label,
.board-choice-check .check + label{padding:0;text-indent:0;width:18px;font-size:0;}
.board-all-check .check[type="checkbox"]:checked + label:before,
.board-choice-check .check[type="checkbox"]:checked + label:before{background-position:-20px 0}

/* searchbox */
#board-type .search-box{position:relative;padding:15px 149px;background:#f3f3f3;margin-bottom:30px;}
#board-type .search-box form{position:relative;margin:0 auto;overflow:hidden;}
#board-type .search-box form fieldset{position:relative;left:0;top:0;}
#board-type .search-box form fieldset .el-h{position:absolute;top:12px;left:10px;font-size:14px;letter-spacing:-0.5px;}
#board-type .search-box form fieldset input[type="text"]{box-sizing:border-box;width:392px;height:36px;line-height:36px;font-family:'Nanum Gothic';color:#585858;letter-spacing:-0.5px;font-size:14px;border:solid 1px #d8d8d8;}
#board-type .search-box form .btn-search{position:absolute;right:0;top:0;margin-left:5px;text-align:right;}
#board-type .search-box form .btn-search input[type="submit"]{width:100px;height:40px;font-size:14px;border:none;background:none;color:#fff;background-color:#ee7200;font-family:'Nanum Gothic';}
#board-type .search-box form .btn-search input[type="button"]{width:80px;height:36px;font-size:14px;border:1px solid #474747;background-color:#5b5b5b;color:#fff;font-family:'Nanum Gothic';box-sizing:border-box;border-radius:2px;}
#board-type .search-box form fieldset .f-el{float:left;position:relative;}
#board-type .search-box form fieldset .f-el-select{width:128px;padding-right:5px;}
#board-type .search-box form fieldset .f-el-select .el-h{display:none;}
#board-type .search-box form fieldset .f-el-select a{display:block;width:128px;height:36px;line-height:36px;font-size:14px;color:#666;border:solid 1px #ddd;background:url(/publish_2018/include/images/common/search_arr.gif) no-repeat 95% center;text-indent:9px;}
.select-box{width:128px;}
#board-type .textbox{display:inline-block;height:auto!important;position:relative;}
#board-type .textbox input{width:100%!important;text-indent:9px;}
.combo{border-style:solid;border-width:1px;display:inline-block;margin:0;overflow:hidden;padding:0;vertical-align:middle;white-space:nowrap;margin-left:0;}
#board-type .select-box .combo input{margin-right:0!important;border:none!important;line-height:36px!important;text-indent:9px;height:36px;}
#board-type .select-box .combo{box-sizing:border-box;background-color:#fff;height:36px!important;border:1px solid #ddd;}
.textbox-addon{position:absolute;top:0;}
.combo-arrow{cursor:pointer;display:inline-block;height:20px;opacity:0.6;overflow:visible;vertical-align:top;width:18px;}
.combo-panel{color:#585858;text-indent:4px;height:auto!important;background:#fff;border:1px solid #ddd;}
.combobox-item{padding:5px;}
.combobox-item:hover{cursor:pointer;background-color:#356fc5;color:#fff;}
.textbox-icon{background-position:center center;cursor:pointer;display:inline-block;height:20px;opacity:0.6;overflow:visible;text-decoration:none;vertical-align:top;width:18px;}
.combo-arrow{border:1px solid #ddd;}
.select-box .combo-arrow{background:url("/img/tm/bg_sel_box.gif") no-repeat right top;border:none!important;color:#666;display:block!important;font-size:14px;height:36px!important;line-height:36px!important;text-indent:9px;width:128px!important;}

/* paging */
#board-type .pagenation{width:100%;position:relative;margin:0 auto;text-align:center;overflow:hidden;font-size:0;padding-top:20px;margin-bottom:20px;}
.paging{overflow:hidden;padding:25px 0 0 0;text-align:center;}
.paging a,
.paging .list .strong{font-family:'Nanum Gothic'!important;font-weight:normal;display:inline-block;font-size:13px;color:#777;width:30px;height:30px;margin:0 4px;line-height:30px;vertical-align:middle;box-sizing:border-box;}
.paging a img{vertical-align:top;}
.paging .list .strong{border:1px solid #0076c0;background:#0076c0;color:#fff;}
.paging .list a,
.paging .list .strong{position:relative;}
.paging .list a:hover{border:1px solid #0076c0!important;}
.paging .list a:after,
.paging .list .strong:after{content:'';display:inline-block;border-right:1px solid #d8d8d8;position:absolute;height:6px;top:12px;right:-5px;line-height:30px;vertical-align:middle;}
.paging .list a:last-of-type:after{display:none;}
.paging .list a:hover{color:#fff;background-color:#0076c0;border:1px solid #0076c0!important;}
.paging .first{background-image:url(/publish_2018/include/images/board/btn_paging_first.gif);}
.paging .next{background-image:url(/publish_2018/include/images/board/btn_paging_next.gif);}
.paging .prev{background-image:url(/publish_2018/include/images/board/btn_paging_prev.gif);}
.paging .last{background-image:url(/publish_2018/include/images/board/btn_paging_last.gif);}
.paging .first:hover,
.paging .first:focus{background-image:url(/publish_2018/include/images/board/btn_paging_first_on.gif);}
.paging .next:hover,
.paging .next:focus{background-image:url(/publish_2018/include/images/board/btn_paging_next_on.gif);}
.paging .prev:hover,
.paging prev:focus{background-image:url(/publish_2018/include/images/board/btn_paging_prev_on.gif);}
.paging .last:hover,
.paging .last:focus{background-image:url(/publish_2018/include/images/board/btn_paging_last_on.gif);}
.paging .next,
.paging .prev,
.paging .last,
.paging .first{background-color:#fff;background-repeat:no-repeat;background-position:50% 50%;text-indent:-999px;overflow:hidden;}

/*주요용어설명*/
.stars-word li div{display:block;padding:20px 12px;border-bottom:1px solid #e0e0e0;}
.stars-word li h1{font-size:15px;line-height:160%;font-family:'Nanum Gothic Bold';color:#454545;margin-bottom:12px;}
.stars-word li h1 + ul{font-size:14px;padding-bottom:0;color:#666;line-height:150%;word-break:keep-all;}
.stars-word ul > ul{padding-top:5px;}
.stars-word ul + p{padding-top:5px;padding-left:1px;font-size:13px;color:#5e83b9;}

/*자료 제공시점 현황 */
#offer-status-list{position:relative;width:100%;}
#offer-status-list tr td{line-height:160%;}
#offer-status-list p.required{position:absolute;right:0;top:-30px;font-size:13px;color:#555;padding:0;}

/* board table 옵션*/
#board-thema{position:relative;border-top:1px solid #213967;width:100%;overflow: hidden;}
#board-thema tr td{padding:10px 15px;color:#555;}
#board-thema tr td.subject{text-align:left;}
#board-thema tr td.subject a{line-height:120%;vertical-align:middle;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:340px;}
#board-thema tr td.date{color:#888;padding:10px 10px;}
#board-thema tr td a:hover,
#board-thema tr td a:focus{color:#356fc5;}
/*#board-thema tr td:nth-of-type(1){color:#999;}*/

/* board-list */
.board-list{border-bottom:1px solid #e0e0e0;width:100%;}
.board-list thead tr th{height:20px;line-height:130%;padding:13px 0 12px;font-family:'Nanum Gothic Bold';color:#777;border-top:none;background:#f6f7f8;border-left:1px solid #e0e0e0;}
.board-list tbody tr td.left{text-align:left;}
.board-list tbody tr td.right{text-align:right;}
.board-list tr th{line-height:130%;padding:12px 0 11px;text-align:center;vertical-align:middle;font-size:14px;}
.board-list tr td{min-height:20px;height:20px;word-break:keep-all;line-height:130%;vertical-align:middle;text-align:center;color:#555;font-size:14px;border:1px solid #e5e6e7;/*border-width:1px 0px 0px 1px;*/letter-spacing:-1px;word-spacing:-1px;}
.board-list tr th:first-child,
.board-list tr td:first-child{border-left:none;}

.board-list.type02 tbody th { border-bottom: 1px solid #d9d9d9;font-family:'Nanum Gothic Bold';color:#333;font-size:15px;}
.board-list.type02 tbody td { border-bottom: 1px solid #d9d9d9; font-family:'Nanum Gothic';color:#666;font-size:14px;text-align: left;}




/* board-view */
.board-view{margin-bottom:195px;}
.borad-view .header{padding:15px 20px;display:block;overflow:hidden;background-color:#ffffff;border-bottom:1px solid #e0e0e0;}
.borad-view .header+.box{margin-top:40px;}
.borad-view .content .btns{position:relative;clear:both;}
.borad-view .header h1,
.borad-view .meta{vertical-align:middle;display:inline-block;line-height:130%;}
.borad-view .header h1{float:left;font-size:18px;color:#333;font-family:'Nanum Gothic Bold';min-width:500px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;/* width: 550px; */}
.borad-view .header h1 strong{color:#60bb46;font-weight:400;margin-right:5px;}
.borad-view .meta{line-height:160%;float:right;}
.borad-view .cont,
#board-thema.faq-view .faq-answer .fnq-cont{border-bottom:1px solid #e0e0e0;padding:35px 20px 40px;min-height:400px;height:auto;}
.borad-view .meta ul{padding:0;margin:0;overflow:hidden;}
.borad-view .meta ul li{padding-right:10px;color:#777;font-size:13px;float:left;vertical-align:middle;}
.borad-view .meta ul li span:after{content:'';display:inline-block;margin-right:5px;}
.borad-view .meta ul li.date{}
.borad-view .meta ul li:last-child:before{display:none;}
.borad-view .meta ul li:last-child{padding-right:0;}
.borad-view .meta ul li strong{color:#60bb46;margin-right:10px;}
.borad-view .meta ul li span{color:#666;}

/* qna, faq */
#board-thema.faq-list tbody tr td:nth-of-type(1),
#board-thema.faq-list tbody tr td:nth-last-of-type(1){color:#999;}
#board-thema.faq-list tbody tr td{padding:10px 5px;color:#888;}
#board-thema.faq-list tbody tr td.subject{color:#555;}
#board-thema.faq-view  ul > li:first-child{border-top:none;}
#board-thema.faq-view  ul > li.tit{line-height:100%;}
#board-thema.faq-view  ul > li.tit > div{float:right;line-height:130%;min-height:20px;padding:11px 0 11px;vertical-align:middle;text-align:left;box-sizing:border-box;width:680px;}
#board-thema.faq-view  ul.file{border-top:none;overflow:hidden;border-bottom:1px solid #a0a0a0;}
#board-thema.faq-view  ul.file li{overflow:hidden;padding:15px 20px;}
#board-thema.faq-view  ul.file li > strong{padding-top:0;padding-bottom:0;position:relative;color:#666;vertical-align:middle;box-sizing:border-box;line-height:100%;width:73px;}
#board-thema.faq-view  ul.file li > div{padding-top:0;padding-bottom:0;}
#board-thema.faq-view  ul.file li > div em{font-family:'Nanum Gothic Bold';display:inline-block;margin-top:6px;}
#board-thema.faq-view  ul.file li > div em:first-child{margin-top:0;}
#board-thema.faq-view  ul.file li > div em a{text-decoration:underline;color:#356fc5;}
#board-thema.faq-view .faq-answer .header h1{float:left;font-size:18px;color:#333;font-family:'Nanum Gothic Bold';min-width:500px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:550px;}
#board-thema.faq-view .faq-answer .header h1 strong{color:#60bb46;font-weight:400;margin-right:5px;}
#board-thema.faq-view .faq-answer .meta{line-height:160%;float:right;}
#board-thema.faq-view .borad-view .cont,
#board-thema.faq-view .faq-answer .fnq-cont{padding:30px 20px 35px;min-height:150px;color:#666;}
#board-thema.faq-view .borad-view .cont p,
#board-thema.faq-view .faq-answer .fnq-cont p{line-height:24px;}
#board-thema.faq-view .faq-answer .header h1,
#board-thema.faq-view .faq-answer .meta{vertical-align:middle;display:inline-block;line-height:130%;}
#board-thema.faq-view .faq-answer .header h1{font-size:14px;color:#356fc5;}
#board-thema.faq-view .faq-answer .header,
#board-thema.faq-view .faq-answer .fnq-cont{background-color:#f8f8f9;}
#board-thema.faq-view .header h1 > span{margin-left:10px;vertical-align:text-bottom;}

/* board-tag */
.tag{font-family:"돋움",Dotum,"돋움체",DotumChe,sans-serif;width:auto;text-align:center;display:inline-block;color:#fff;line-height:100%;margin-left:5px;font-size:11px;padding:4px 8px 3px 6px;vertical-align:middle;}
.st01{background-color:#26aec8;}
.st02{background-color:#21c1a9;}
.st03{background-color:#6d7add;}

/* 답변여부 */
.answer{text-align:center;display:inline-block;color:transparent;line-height:100%;font-size:14px;}
.ing{color:#f11313;}
.end{color:#356fc5;}

/* icon */
#board-thema td > img{margin-left:5px;vertical-align:middle;display:inline-block;width:14px;height:14px;}
.faq-view ul.file li > img{vertical-align:middle;}

.letter0{letter-spacing:0px !important;}
