@charset "UTF-8";

/* sub-page layout */
#container.sub{position:relative;width:1080px;margin:0 auto;padding-bottom:70px;overflow:hidden;font-family:'Nanum Gothic';font-size:14px;line-height:1.2;color:#555;}
#container aside + #content{float:left;width:815px;}
#content{padding:20px 0 0 0;height:auto;min-height:500px;padding-bottom:35px;overflow:hidden;}
#contents.view{margin-left:8px;}
#footer{clear:both;}

/* contents title */
#title-area{position:relative;}
#title-area .location{float:right;}
#title-area .location li{line-height:13px;float:left;font-size:12px;color:#888;}
/* 190313 방민정 수정 시작*/
#title-area .location li:first-child{display:block;background-repeat:no-repeat;background-position:left center;padding-left:15px;}
#title-area .location li:nth-child(1):after{content:">";display:inline-block;margin:0 8px;}
#title-area .location li:nth-child(2):after{content:">";display:inline-block;margin:0 8px;}
#title-area .location li:nth-child(3):after{content:">";display:inline-block;margin:0 8px;}
/* 190313 방민정 수정 끝*/
#title-area .location li em{color:#196abc;font-style:normal;}
#title-area h1{clear:both;font-family:'Nanum Square Bold';padding:30px 0 15px 0;border-bottom:1px solid #e8ecef;font-size:26px;color:#000;margin-bottom:30px;}

/* contents -> h2, h3 title */
#contents strong{font-family:'Nanum Gothic Bold';}
#contents h2{position:relative;font-family:'Nanum Square Bold';font-size:20px;color:#222;padding-left:12px;margin-bottom:20px;}
#contents h2:before{position:absolute;left:0px;top:2px;content:'';display:block;width:4px;height:19px;background:url(../images/common/bullet_stitle.gif) no-repeat 50%;}
#contents h3{position:relative;font-family:'Nanum Gothic Bold';margin-bottom:20px;font-size:16px;color:#454545;padding:0 0 0 15px;}
#contents h3:before{position:absolute;left:0px;top:6px;content:'';display:block;width:8px;height:8px;background-color:#357fc6;border-radius:50%;}
#contents h3 + p{margin-bottom:20px;}
#contents h3 + p,
#contents h3 + ul{padding-left:15px;}

/* lnb */
.aside{float:left;overflow:hidden;width:235px;margin-right:30px;height:100%;box-sizing:border-box;}
.aside h2{margin-bottom:0;}
.aside h2:before{content:none;}
.aside h2.title{padding:0;width:235px;height:100px;box-sizing:border-box;background:url(../images/common/bg_asideTitle.png) repeat 0 0 #356fc5;}
.aside h2 span{font-family:'Nanum Square Bold';color:#fff;text-align:center;font-size:24px;line-height:100px;display:block;}
.aside > ul > li:last-child{border-bottom:1px solid #e1e5e9;}
.aside > ul > li > a{font-family:'Nanum Gothic Bold';display:block;box-sizing:border-box;border:1px solid #e1e5e9;border-bottom:0px;line-height:10px;font-size:15px;color:#555;padding:20px 0px 20px 25px;background-image:url('../images/common/arrow_down.png');background-repeat:no-repeat;background-position:183px center;}
.aside > ul > li > a:last-child{border-bottom:1px solid #e1e5e9;}
.aside > ul > li > a.on{color:#356fc5;background-color:#fff;background-image:url('../images/common/arrow_up.png');color:#356fc5;}
.aside > ul > li > ul{padding:20px 25px;background-color:#f2f2f2;border-top:1px solid #e1e5e9;border-left:3px solid #356fc5;border-right:1px solid #e1e5e9;display:none;}
.aside > ul > li > ul > li a{font-family:'Nanum Gothic';display:block;white-space:nowrap;padding:5px 0px 10px 0px;font-size:14px;color:#666;}
.aside > ul > li > ul > li:last-child a{padding:5px 0px 5px 0px;}
.aside > ul > li > ul > li a:before{content:'';display:inline-block;width:4px;height:1px;background-color:#636363;margin-right:5px;line-height:100%;vertical-align:middle;}
.aside>ul>li>ul>li a:hover,
.aside>ul>li>ul>li a.on{font-family:'Nanum Gothic Bold';color:#356fc5;text-decoration:underline;}
.aside>ul>li>ul>li a:hover:before,
.aside>ul>li>ul>li a.on:before{background-color:#356fc5;color:#356fc5;}
.aside>ul>li.nochild>a{background:none;color:#636363;}
.aside>ul>li.nochild>a.on{background:#0d6fb8;color:#fff;}

/* contents -> top, bottom infor */

#contents .header-infor{margin-bottom:40px;}
#contents .header-infor div > h3{padding:0;margin:0;color:#333;font-size:15px;}
#contents .header-infor div > h3:before{content:none;}
#contents .header-infor div > h3 + ul{padding-top:5px;line-height:1.5;color:#666;margin:0;}
#contents .header-infor div > h3 + ul li{position:relative;font-size:14px;line-height:20px;color:#666;}
#contents .header-infor div > h3 + ul li:before{position:absolute;left:-10px;top:9px;content:'';display:block;width:4px;height:4px;background-color:#357fc6;border-radius:50%;}
#contents .header-infor div p{padding:20px 0px;margin:0;}
#contents .header-infor .type-intro p { padding: 0;word-break: keep-all;}
#contents .header-infor .type-resources > ul {  padding-top: 15px;}
#contents .header-infor div strong + p{padding:0px 0px;}
#contents .header-infor div > strong{font-size:14px;color:#454545;display:block;line-height:15px;padding-top:7px;margin-bottom:10px;}


#contents .header-infor .infor-notice{position:relative;overflow:hidden;padding:30px 35px;margin-top:15px;}
#contents .header-infor .infor-notice > h3{position:relative;font-family:'Nanum Gothic Bold';margin-bottom:0;font-size:16px;color:#454545;padding:0 0 0 15px;}
#contents .header-infor .infor-notice > h3:before{position:absolute;left:0px;top:6px;content:'';display:block;width:8px;height:8px;background-color:#357fc6;border-radius:50%;}
#contents .header-infor .infor-notice h3 + .notes{padding-top:11px;line-height:1.5;color:#666;overflow:hidden;}
#contents .header-infor .infor-notice h3 + .notes dt{display:inline-block;position:relative;font-size:14px;line-height:20px;color:#666;padding-left:10px;margin-left:18px;width:120px;float:left;}
#contents .header-infor .infor-notice h3 + .notes dt:before{position:absolute;left:0;top:9px;content:'';display:block;width:4px;height:4px;background-color:#357fc6;border-radius:50%;}
#contents .header-infor .infor-notice h3 + .notes dd{display:inline-block;width:580px;}
#contents .header-infor .infor-notice h3 + .notes p{padding:0;text-indent:155px;}
#contents .header-infor .infor-notice h3 + .notes p > a{text-indent: 0px;}
#contents .header-infor .infor-notice h3 + .notes dt:nth-of-type(4),#contents .header-infor .infor-notice h3 + .notes dd:nth-of-type(4){font-family:'Nanum Gothic bold';color:#357fc6;}
#contents .header-infor .infor-notice:before{content:'';position:absolute;border-bottom:1px solid #d7dce1;display:block;width:783px;left:12px;top:0px;}
#contents .header-infor .infor-notice.type02,#contents .header-infor .infor-notice.bottom{padding-top:0;margin:0;}
#contents .header-infor .infor-notice.bottom{padding: 0px 35px 0 48px;}
#contents .header-infor .infor-notice.bottom dt{margin-top: 20px;font-family:'Nanum Gothic Bold';font-size:14px;color:#666;line-height:22px;}
#contents .header-infor .infor-notice.bottom dd{position:relative;color:#666;font-size:14px;line-height:22px;padding-left: 25px;}
#contents .header-infor .infor-notice.bottom dd:before{position:absolute;content:'';width: 5px;height: 1px;background-color: #666;top: 11px;left: 15px;}
#contents .header-infor .infor-notice.type02 h3 + .notes{margin-left:11px;}
#contents .header-infor .infor-notice.type02:before,#contents .header-infor .infor-notice.bottom:before{content:none; }
#contents .header-infor .infor-notice.bottom dt:first-child {    margin: 0;}
.code-button {display: inline-block;position: absolute;right: 0;}
.code-button  a{position:relative;padding:8px 7px;width:140px;vertical-align:middle;font-family:'Nanum Gothic';font-size:13px;background:#888;color:#fff;height:30px;line-height:30px;box-sizing:border-box;border-radius:3px;}
.code-button a > span{line-height:100%;display:block;}
.code-button  a:hover{background:#1778cc;}
.code-button a:after{position:absolute;content:'';width:7px;height:13px;background-repeat:no-repeat;top:10px;right:7px;background-image:url(../../include/images/contents/intro-arrow.png);}

.notice-dl{background: url(../../include/images/contents/icon-notice-dl.gif) no-repeat center;width: 15px;height:15px;}


.box{max-width:807px;margin-top:20px;box-sizing:border-box;overflow:hidden;color:#666;background-color:#f3f3f3;}
.box p{padding:15px;}
.edge-top{background:url(../images/common/box_edge_top.png) no-repeat left top;display:block;width:100%;height:18px;}
.edge-bot{background:url(../images/common/box_edge_bot.png) no-repeat right bottom;display:block;width:100%;height:18px;}
.icon{height:80px;padding:5px 45px 5px 140px;background-repeat:no-repeat;background-position:5% center;}
.icon.type01{background-image:url(../images/contents/ico_notice_type01.png);}
.icon.type02{background-image:url(../images/contents/ico_notice_type02.png);}
.icon.type-intro{background-image:url(../images/contents/type-intro.png);}
.icon.type-resources{background-image:url(../images/contents/type-resources.png);}
#contents .question{padding-left:15px;}
#contents .question li:last-of-type:before{content:'';display:inline-block;width:1px;height:1px;border:1px solid #454545;border-radius:1px;box-sizing:border-box;vertical-align:middle;margin-right:5px;}
#contents .question li:last-of-type strong+span{margin:0 15px 0 5px;}
#contents .bottom-infor{margin-bottom:20px;}
#contents .bottom-infor  p{color:#555;line-height:20px;}

/* 자료신청 step box */
.step-box{display:block;overflow:hidden;text-align:center;margin:50px 0 65px;}
.step-box ul li{position:relative;display:inline-block;width:240px;text-align:center;height:60px;border-radius:50px;box-sizing:border-box;border:2px solid #c1c6cb;vertical-align:middle;margin-right:45px;}
.step-box ul li.on{background-color:#356fc5;border-color:#356fc5;}
.step-box ul li:before{position:absolute;content:'';display:block;background:url(../images/contents/step_arrow.png) no-repeat;width:19px;height:20px;left:-35px;top:20px;z-index:-1;}
.step-box ul li:first-child:before{display:none;}
.step-box ul li:last-child{margin-right:0;}
.step-box ul li.on p{color:#fff;}
.step-box ul li > p + p{font-size:15px;color:#666;}
.step-box ul li > p{display:block;font-family:'Nanum Gothic Bold';font-size:16px;line-height:22px;}
.step-box ul li > p.num{padding-top:5px;}

.intro-img{margin-bottom:50px;}
.intro-img  img:first-of-type{padding-bottom:25px;}
.intro-guid li{position:relative;margin-bottom:62px;overflow:hidden;}
.intro-guid li .guid-image{width:414px;height: 254px;float:left;overflow:hidden;margin-right: 19px;box-sizing: border-box;border: 1px solid #d4d7da;}
.intro-guid li .guid-text{width:374px;float:left;}
.intro-guid li .guid-text dd{ word-break: keep-all;color:#888;font-size:14px;margin-bottom:19px;line-height:22px;}
.intro-guid li .guid-text > dt{display:inline-block;float:left;color:#222;font-size:20px;font-family:"Nanum Square Bold";vertical-align:middle;line-height:30px;overflow:hidden;}
.intro-guid li .guid-text dl >dt{display:block;color:#555;font-size:14px;font-family:"Nanum Gothic Bold";margin-bottom:16px;}
.intro-guid li .guid-text .service-button{display:inline-block;float:right;overflow:hidden;}
.service-button a{position:relative;padding:8px 7px;min-width:88px;vertical-align:middle;font-family:'Nanum Gothic';font-size:13px;background:#888;color:#fff;height:30px;line-height:30px;box-sizing:border-box;border-radius:3px;}
.service-button a:nth-child(odd) { width:112px;}
.service-button a > span{line-height:100%;display:block;}
.service-button a:hover{background:#1778cc;}
.service-button a:after{position:absolute;content:'';width:7px;height:13px;background-repeat:no-repeat;top:10px;right:7px;background-image:url(../../include/images/contents/intro-arrow.png);}
.intro-guid li .guid-text > dl{display:block;width:100%;overflow:hidden;}
.intro-guid li .guid-text > dd > dl{display:block;width:100%;overflow:hidden;}

.procedure-step{position:relative;margin:37px 0px 0;}
.procedure-step:after{content:"";position:absolute;width:590px;height:1px;background-color:#ededed;z-index:-1;top:35%;left:50%;transform:translate(-50%,-50%);}
.procedure-step ul{overflow:hidden;margin:0 auto 70px;}
.procedure-step li{display:inline-block;margin:0 0 0 10px;width:180px;vertical-align:top;text-align:center;float:left;}
.procedure-step li:first-child{margin:0;}
.procedure-step li > span{color:#666;display:block;padding-top:15px;font-size:13px;word-break:keep-all;line-height:18px;}
.procedure-step + .step-cont{margin-top:30px}

/* faq-view */
#procedure-faq{margin-bottom:55px;}
#procedure-faq .header{display:block;overflow:hidden;background-color:#ffffff;border-bottom:1px solid #e0e0e0;}
#procedure-faq .header a > strong{color:#356fc5;font-weight:400;margin-right:5px;}
#procedure-faq .header > a{display:block;padding: 0 15px;font-family:'Nanum Gothic Bold';border-bottom:0px;line-height:40px;font-size:14px;color:#555;background-image:url('../images/common/faq_arrow_on.png');background-repeat:no-repeat;background-position: right 15px center;}
#procedure-faq .header > a.on{color:#356fc5;background-color:#fff;background-image:url('../images/common/faq_arrow.png');color:#356fc5;}
#procedure-faq{position:relative;border-top:1px solid #213967;width:100%;}
#procedure-faq .faq-cont{background-color:#f8f8f9;border-bottom:1px solid #e0e0e0;padding:20px 45px 25px;min-height: 45px;height:auto;}
#procedure-faq .faq-cont ul li{color:#666;font-size:14px;line-height:100%;margin-bottom:8px;}
#procedure-faq .faq-cont ul li:last-child {margin-bottom:0; }
#procedure-faq .faq-cont ul li>a[class^=faq-btn]{box-sizing:border-box;display:inline-block;margin-left: 5px;background-size:12px 11px;width:21px;height:20px;background-position:center;border:1px solid #cecece;vertical-align:middle;}
#procedure-faq .faq-cont ul li>a[class^=faq-btn]:hover{border:1px solid #2d71c4;}
#procedure-faq .faq-cont > p { line-height:26px; font-size:14px; color:#555; margin-bottom:20px;}
#procedure-faq .faq-cont dl > dt { font-family:'Nanum Gothic Bold';line-height:100%;margin-bottom:13px;}
#procedure-faq .faq-cont dl > dd {line-height:20px;padding-left: 15px;margin-bottom:20px;}
#procedure-faq .faq-cont dl > dd:last-child {margin-bottom:0; }


/* 컨텐츠페이지 다운로드 버튼 */
#contents ul li>a[class^=btn]{min-width:145px;font-size:14px;color:#666;display:inline-block;vertical-align:middle;text-decoration:none!important;margin-bottom:20px;}
#contents ul li>a[class^=btn] span:hover{font-family:'Nanum Gothic Bold';border:1px solid #356fc5;color:#356fc5;}
#contents ul li>a[class^=btn] span{box-sizing:border-box;font-family:'Nanum Gothic';border:1px solid #d7d7d7;display:block;padding:0 20px 0 45px;line-height:40px;height:40px;text-align:center;}
.dl{background-image:url(../images/common/ico_download.png);background-repeat:no-repeat;background-position:25px center;}
.bp-long{background-position:20px center;}

/* 버튼 */
.btn-borad-top{padding-top:17px;margin-top:-1px;border-top:1px solid #e0e0e0;}
.btn-area.left,
.btn-borad.left{text-align:left;}
.btn-area.right,
/* .btn-area.right{text-align:right;} */
.btn-area.right{text-align:center;}
.btn-area{position:relative;text-align:center;margin-bottom:45px;}
.btn-area button,
/* .btn-area a{display:inline-block;border-radius:3px;border:1px solid transparent;font-size:15px;color:#fff;box-sizing:border-box;min-width:90px;display:inline-block;cursor:pointer;} */
.btn-area a{display:inline-block;border-radius:3px;border:1px solid transparent;font-size:15px;color:#fff;box-sizing:border-box;display:inline-block;cursor:pointer;width:2cm;height:0.7cm;margin-left:5px;}
.btn-area button span,
/* .btn-area a span{box-sizing:border-box;display:block;border:1px solid transparent;text-shadow:none!important;vertical-align:middle;text-align:center;transition:background 0.3s;height:42px;line-height:42px;} */
.btn-area a span{box-sizing:border-box;display:block;border:1px solid transparent;text-shadow:none!important;vertical-align:middle;text-align:center;transition:background 0.3s;line-height:23px;font-size:14px;}
/* .btn-area .default-color{background-color:#356fc5;} */
.btn-area .default-color{background-color:#1f3a69;}
/* .btn-left-mg{margin-left:12px;} */
/* .btn-area .line-gray{background:#fff;color:#666;border:1px solid #cccccc;} */
.btn-area .line-gray{background:#00b0f0;color:#fff;border:1px solid #cccccc;}
.btn-area .dark-gray{background:#5b5b5b;color:#fff;border:1px solid #5b5b5b;}

/* 전체선택 ,삭제 버튼 */
.btn-borad{padding-top:7px;margin-bottom:25px;}
.btn-borad .btn-allchoice span{background:url(../images/common/btn_allchoice.gif) no-repeat;}
.btn-borad .btn-allchoice span:hover{background:url(../images/common/btn_allchoice_on.gif) no-repeat;}
.btn-borad .btn-del span{background:url(../images/common/btn_del.gif) no-repeat;}
.btn-borad .btn-del span:hover{background:url(../images/common/btn_del_on.gif) no-repeat}
.btn-borad button,
.btn-borad a{display:inline-block;min-width:71px;box-sizing:border-box;font-size:0px;font-weight:bold;color:transparent;text-align:center;}
.btn-borad button span,
.btn-borad a span{display:block;padding:0 10px;height:25px;line-height:25px;transition:background 0.3s;}

/* 질문등록 버튼 */
#qna-button{margin-bottom:30px;}
/* #qna-button.btn-area > button span{height:43px;line-height:43px;} */
#qna-button.btn-area > button span{line-height:23px;}
#qna-button.btn-area > button{min-width:150px;}

/* board-login-box */
.board-login-box{width:100%;height:auto;display:block;overflow:hidden;border-top:1px solid #213967;border-bottom:1px solid #d6d6d6;padding:25px 0;text-align:center;background:#f9f9f9;margin:25px auto 30px;}
.board-login-box p{text-align:center;color:#666;font-size:14px;margin-bottom:18px;font-family:'Nanum Gothic Bold';}
.board-login-box .anc-btn{margin:0 3px;height:28px;line-height:28px;}
.board-login-box .main{background-color:#333;}