@charset "utf-8";

/*font*/
@font-face {
    font-family: 'itcAgs'; 
    font-style: normal; 
    font-weight: 400; 
    src:local(※), url(/sgis_edu/resource/font/ITCAvantGardeStdBk.woff2) format('woff2'),
    url(/sgis_edu/resource/font/ITCAvantGardeStdBk.woff) format('woff'),
    url(/sgis_edu/resource/font/ITCAvantGardeStdBk.otf) format('opentype');
    unicode-range: U+0020-007E;
}
@font-face {
    font-family: 'itcAgs'; 
    font-style: normal; 
    font-weight: 600; 
    src:local(※), url(/sgis_edu/resource/font/ITCAvantGardeStdMd.woff2) format('woff2'),
    url(/sgis_edu/resource/font/ITCAvantGardeStdMd.woff) format('woff'),
    url(/sgis_edu/resource/font/ITCAvantGardeStdMd.otf) format('opentype');
    unicode-range: U+0020-007E;
}
@font-face {
    font-family: 'notoSansKR'; 
    font-style: normal; 
    font-weight: 300; 
    src:local(※), url(/sgis_edu/resource/font/NotoSansKR-Light.woff2) format('woff2'),
    url(/sgis_edu/resource/font/NotoSansKR-Light.woff) format('woff'),
    url(/sgis_edu/resource/font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family: 'notoSansKR'; 
    font-style: normal; 
    font-weight: 400; 
    src:local(※), url(/sgis_edu/resource/font/NotoSansKR-Regular.woff2) format('woff2'),
    url(/sgis_edu/resource/font/NotoSansKR-Regular.woff) format('woff'),
    url(/sgis_edu/resource/font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'notoSansKR'; 
    font-style: normal; 
    font-weight: 600; 
    src:local(※),
    url(/sgis_edu/resource/font/NotoSansKR-Medium.woff) format('woff'),
    url(/sgis_edu/resource/font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'notoSansKR'; 
    font-style: normal; 
    font-weight: 600; 
    src:local(※), url(/sgis_edu/resource/font/NotoSansKR-Bold.woff2) format('woff2'),
    url(/sgis_edu/resource/font/NotoSansKR-Bold.woff) format('woff'),
    url(/sgis_edu/resource/font/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'esamanru'; 
    font-style: normal; 
    font-weight: 400; 
    src:local(※), url(/sgis_edu/resource/font/esamanruOTFLight.woff2) format('woff2'),
    url(/sgis_edu/resource/font/esamanruOTFLight.woff) format('woff'),
    url(/sgis_edu/resource/font/esamanruOTFLight.otf) format('opentype');
}
@font-face {
    font-family: 'esamanru'; 
    font-style: normal; 
    font-weight: 600; 
    src:local(※), url(/sgis_edu/resource/font/esamanruOTFMedium.woff2) format('woff2'),
    url(/sgis_edu/resource/font/esamanruOTFMedium.woff) format('woff'),
    url(/sgis_edu/resource/font/esamanruOTFMedium.otf) format('opentype');
}
@font-face {
    font-family: 'esamanru'; 
    font-style: normal; 
    font-weight: 700; 
    src:local(※), url(/sgis_edu/resource/font/esamanruOTFBold.woff2) format('woff2'),
    url(/sgis_edu/resource/font/esamanruOTFBold.woff) format('woff'),
    url(/sgis_edu/resource/font/esamanruOTFBold.otf) format('opentype');
}
@font-face {
    font-family: 'imcreSoojin'; 
    font-style: normal; 
    font-weight: 400; 
    src:local(※), url(/sgis_edu/resource/font/ImcreSoojin.woff2) format('woff2'),
    url(/sgis_edu/resource/font/ImcreSoojin.woff) format('woff'),
    url(/sgis_edu/resource/font/ImcreSoojin.ttf) format('truetype');
}

@font-face {
    font-family: 'tmoneyRound'; 
    font-style: normal; 
    font-weight: 400; 
    src:local(※), url(/sgis_edu/resource/font/TmoneyRoundWindRegular.woff2) format('woff2'),
    url(/sgis_edu/resource/font/TmoneyRoundWindRegular.woff) format('woff'),
    url(/sgis_edu/resource/font/TmoneyRoundWindRegular.ttf) format('truetype');
}
@font-face {
    font-family: 'tmoneyRound'; 
    font-style: normal; 
    font-weight: 600; 
    src:local(※), url(/sgis_edu/resource/font/TmoneyRoundWindExtraBold.woff2) format('woff2'),
    url(/sgis_edu/resource/font/TmoneyRoundWindExtraBold.woff) format('woff'),
    url(/sgis_edu/resource/font/TmoneyRoundWindExtraBold.ttf) format('truetype');
}

/*Reset*/
*, *:after, *:before{margin:0; padding:0; box-sizing: border-box; word-break:keep-all;}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, strong, i, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, figure, figcaption, footer, header, 
section, summary, time, mark, audio, video
 { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: middle; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, main, nav, section, samp, cite {display: block;}
ul, ol {list-style: none;}
table {width:100%; border-collapse: collapse; border-spacing: 0; table-layout:fixed;}
a{color: inherit; text-decoration: none; cursor:pointer;}
em, i{font-style:normal;}
input::-ms-clear, input::-ms-reveal {display: none; width : 0; height: 0;}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration 
{ display: none; }
input, select, textarea{-webkit-border-radius: 0; border:0; padding:3px 5px; vertical-align:middle; font-family:inherit; outline:0; font-size: inherit;}
input[type="text"],input[type="password"],input[type="number"]{height:40px; line-height: 40px; border:1px solid #c2c2c2; padding:0 15px; vertical-align: middle; border-radius: 7px;}
input[type="password"]:focus,input[type="password"]:valid{font-family: 'notoSansKR', sans-serif;}
input[type="password"]::placeholder{font-family: 'esamanru', sans-serif;}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
textarea{min-height:40px; resize: none; border:1px solid #c2c2c2; padding:10px 15px; vertical-align: middle; border-radius: 7px;}
button{border:0; outline:0; font-family: 'itcAgs','notoSansKR', sans-serif; background:none; cursor: pointer; font-size: 100%;}
h1, h2, h3, h4, h5, h6, h7{clear:both; font-weight:normal;}
img {vertical-align:middle; border:0}
html{position:relative; width:100%; height:100%; font-size:10px;}
body{position:relative; font-family: 'itcAgs','esamanru', sans-serif; height:100%; padding-top:100px; font-weight:400; font-size:1.6rem; color:#181818; letter-spacing: -0.7px; line-height: 1.5;} 

/* 스크롤바 설정*/
::-webkit-scrollbar{width: 12px; }  
/* 스크롤바 막대 설정*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.2); border-radius: 10px; background-clip: padding-box; border:2px solid transparent;}
/* 스크롤바 뒷 배경 설정*/
::-webkit-scrollbar-track{background-color: #efefef; border-radius: 10px;}
/* 스크롤바 버튼 설정*/
::-webkit-scrollbar-button{display: block; height:10px;}

icon_close_edit_style{width:19px; height:19px; position: absolute; right:-8px; transform: translateY(-3px); background-color: #fff; border: 2px solid #000; background-size: 8px; border-radius: 20px; vertical-align: middle;}
.mal01 textarea{background: none; border:none; width:100%; height:100%;}

