
header .goClass{color:#202c35;}
header nav>ul>li>a::after{background:#202c35;}
header nav .depth li:hover a::before{background: #1fdb84; opacity: 0.25;}
header .headerBg{background: url(/sgis_edu/resource/images/high/img_hdBg01.png)no-repeat 0 100px,url(/sgis_edu/resource/images/high/img_hdBg02.png)no-repeat 100% -100px,#eff3f6;}

.sectTi>strong::before{background: #1fdb84; opacity: 0.25;}
.hashTag::before{color:#1fdb84;}

.lnb{background: #202c35;}
.sub main{border-color: #202c35;}
.lnb .menu a::before{background:#1fdb84;}
.lnb .menu a.on::after{background-image: url(/sgis_edu/resource/images/high/icon_feather.png);}

/* hashTag */
.moreCont .hashTagWrap{justify-content: center;}
.hashTagWrap~.hashTagWrap{margin-top: 15px;}
.hashTagWrap li:hover a{color: #181818;}


/* 수업하기 */
/* 목록 */
.contTi::before{background-image: url(/sgis_edu/resource/images/high/icon_contTi.png);}
/* 상세 */
.menuTi::before{background:#1fdb84;}
.menuTi::after{background-image: url(/sgis_edu/resource/images/high/icon_feather.png);}
.moreCont .btnFold{background: #202c35;}
.moreCont.on article{height: 158px;}

.imgTi::before{background: url(../images/high/icon_check.png)no-repeat 50%/15px;}
.classExp{background:rgb(32,44,53,0.1);}
.classExp li::before{background: #1fdb84;}
/*.tip{text-decoration:#1fdb84 wavy underline;}*/
.tip::before{background: #1fdb84;}

/* 퀴즈 */
.popup h3{background: #202c35;}
.quiz .quizTi::before{color:#202c35;}
.quiz .answer li:hover{background:#1fdb84;}
.quiz .exp ul{background:rgb(32,44,53,0.1);}
.quiz .exp ul::before{background:#1fdb84;}

/*자세한설명보기, Sgis 활용하기*/
.slideObj h2 {font-size: 1.8rem; padding-bottom: 10px; color: #4fa57d;}
.slideObj h4 {font-size: 1.6rem; padding: 4px 0px; color: #4fa57d;}
.slideObj .dirctBtn{margin: 5px; padding: 6px 11px; border-radius: 27px; background-color: #4fa57d; font-size: 1.3rem; border: 1px solid #4fa57d; background-color: #fff; color: #4fa57d; margin-bottom: 10px;}
.slideObj .dirctBtn:hover{margin:5px; padding: 6px 11px;font-size: 1.3rem;  border-radius: 27px;  border: 1px solid #117d6c; color: #fff;  background-color: #4fa57d; margin-bottom: 10px;}
