@charset "utf-8"; 

body{position:relative; min-width: 1400px; font-family: 'itcAgs','esamanru', sans-serif; padding-top: 0;}
section{min-width: 1400px;}

.intro{ position: relative; padding-top:5%;}
.introTi{display: flex; flex-direction: column; justify-content: center; align-items: center; width:100%; margin: 0 auto; color:#163064; }
.introTi em{font-size:5rem; font-weight: 600;}
.introTi strong{font-family:'notoSans', sans-serif; font-size:3.5rem; font-weight: 400; opacity: 60%; margin-top:-7px;}

.intro section{display: flex; justify-content: center; margin-top: 60px;}
.intro article a{position:relative; overflow: hidden; display: flex; flex-direction: column; width:372px; height: 397px; margin-right:60px; padding:60px 40px 30px 60px; border-radius: 30px; box-shadow: 0 22px 22px -4px rgba(0, 0, 0, 0.17); color:#fff; cursor: pointer; transition-duration:0.3s;}
.intro article a:hover{margin-top: -15px;}
.intro article a::before{content:""; position:absolute; transition-duration:3s;}
.intro article:last-child a{margin-right:0;}
.intro article em{font-size:4rem;}
.intro article strong{margin-top: 20px; font-family:'notoSans', sans-serif; font-size: 2.2rem;}
.intro article button{width:76px; height:76px; margin-top: auto; margin-left: auto; border-radius: 30px; font-size:0; background: rgba(0,0,0,0.1);}
.intro article button::before{content: ""; display: block; width:100%; height:100%; background: url(/sgis_edu/resource/images/icon_arrow01.png) no-repeat 50%; transition-duration:0.3s;}
.intro article:hover button::before{margin-left:5px;}
/* 초 */
.intro article.ele a{position: relative; background: #02bfa0;}
.intro article.ele a:hover{box-shadow: 0 22px 22px -4px rgba(2, 191, 160, 0.5);}
.intro article.ele a::before{top:-250px; left:9%; width:549px; height:764px; background: url(/sgis_edu/resource/images/img_elebg.png)no-repeat 50%;}
.intro article.ele a:hover::before{top:-280px;}
/* 중 */
.intro article.mid a{background: #3B7BDB;}
.intro article.mid a:hover{box-shadow: 0 22px 22px -4px rgba(59, 123, 219, 0.5);}
.intro article.mid a::before{top:-250px; left:-10%; width:549px; height:764px; background: url(/sgis_edu/resource/images/img_midbg.png)no-repeat 50%;}
.intro article.mid a:hover::before{transform: scale(1.4);}
/* 고 */
.intro article.high a{background:#202C35;}
.intro article.high a::before{top:-100px; left:-40%; width:549px; height:764px; background: url(/sgis_edu/resource/images/img_highbg.png)no-repeat 50%;}
.intro article.high a:hover{box-shadow: 0 22px 22px -4px rgba(32, 44, 53, 0.5);}
.intro article.high a:hover::before{left:-45%;}

footer{margin-top:100px;}
footer .btnN02{margin-left:60px;}
footer>div>a { font-size: 0; margin-right: 15px; margin-left: 115px;}