
body{min-width: 1400px;}

.sect01{position: relative; width:100%; z-index: 1;}
.sect01 .slideBox .slideObj{position: relative;}

.sect01 .slideBox .slideObj::before{content: ""; position: absolute; z-index:-100; top:0; right:9vw; width:800px; height:500px; background: url(/sgis_edu/resource/images/mid/img_mainBg.gif)no-repeat 0 -40px;}
.sect01 .slideBox .slideObj::after{content:""; position:absolute; top:40px; right:9vw; width:800px; height:530px; background: no-repeat 50%;}
.sect01 .slideBox .slideObj.idx01::after{background-image: url(/sgis_edu/resource/images/mid/img_objVisu01.png);}
.sect01 .slideBox .slideObj.idx02::after{background-image: url(/sgis_edu/resource/images/mid/img_objVisu02.png);}
.sect01 .slideBox .slideObj.idx03::after{background-image: url(/sgis_edu/resource/images/mid/img_objVisu03.png);}
.sect01 .slideBox .slideObj.idx04::after{background-image: url(/sgis_edu/resource/images/mid/img_objVisu04.png);}
.sect01 .slideBox .slideObj.idx05::after{background-image: url(/sgis_edu/resource/images/mid/img_objVisu05.png);}
.sect01 .slideBox .slideObj.idx06::after{background-image: url(/sgis_edu/resource/images/mid/img_objVisu06.png);}

.sect01 .slideBox .slideObj>.inner{padding:60px 0 120px 5vw; height:57vh;}
.sect01 p{font-size: 6rem; font-weight: 600; width:40%; line-height: 1.2;}
.sect01 span{display:block; font-size: 2rem; line-height: 1.2; font-family: 'notoSansKR', sans-serif; margin-top: 30px;}
.sect01 button{display: block; margin-top: 50px;}
.sect01 .slideNum{margin:0 0 30px 0;}
.sect01 .slideNum strong{color: #1362b6;}
.sect01 .btnPage01{top:30%;}


.sect01 article{background: #1362b6; border-radius: 30px 30px 0 0; padding:60px 0 47px 0;}
.sect01 article .card01 li:hover .cardTi, .sect01 article .card01 li:hover .cardSub{color:#181818;}
.sect01 article .card01 .cardTi{font-size: 2.4rem; height: 2.4em; line-height: 1.2em;}
.sect01 article .hashTag{/*display: block;*/ font-size:1.6rem;}

.sect03, .sect04{position: relative; margin-top:100px !important;}
.sect03 article, .sect04 article{position: relative;}

a.more{position:absolute; top:0; right:0; font-size: 0; width:35px; height:35px; background: url(/sgis_edu/resource/images/btnMore.png)no-repeat 50%/35px; opacity: .35; transition-duration: .2s;}
a.more:hover{opacity: 1;}

.sect02 .btnN01, .sect03 .btnN01{position: absolute; top:0; right:0;}


@keyframes bounce {
    0% { top:47px; }
    100% { top:40px; }
  }