@charset "utf-8";
.subTitle{line-height: 1.5;color:#489893; font-size:18px; font-weight:500; display:inline-block;margin-bottom:7px;}
.Data li{
				position: relative;
				float: left;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				margin-bottom: 5px;
				padding: 2px 0 0 130px;
				line-height: 1.6;
				font-size:14px;
				}
.Data li.line{
				width: 100%;
				padding: 2px 0 0 0;
				}
.Data li span.InfoTitle{
				position:absolute;
				top: 0;
				left: 0;
				background: #4DB5AE;
				color: #FFF;
				margin-right: 5px;
				text-align: center;
				width: 118px;
				padding: 2px 0;
				}
.Data li.li_left{
				width:60%;
				}
.Data li.li_right{
				width:40%;
				}
.Data2{
				background:#f5f5f5;
				padding:15px;
				}
.Data3{  
				background: #FFF;
				border: 1px solid #DDD;
				padding: 20px 0 20px 0;
				border-radius: 7px;
				-webkit-border-radius: 7px;
			}	
.subtitle{clear:both;font-size:14px; margin:0 0 7px 0; line-height: 1.5; background:url(/img/house/title_bullet.png)no-repeat 0 5px; padding:0 0 0 15px; color:#333;}
.subtitle span.Type1{color:#28938C}
.subtitle span.Type2{font-family:'Tahoma';font-size:11px;color:#777;}

button.on{width:100%;font-size:14px;color: #28938C;font-weight: 500;text-align:center;margin-top:15px;text-decoration:underline;}

table.aptTable{width:100%;border-bottom:1px solid #92C7C7;border-right:1px solid #92C7C7; font-family:'Nanum';}
table.aptTable th,
table.aptTable td{padding:5px;text-align:center;border-top:1px solid #92C7C7;border-left:1px solid #92C7C7;font-size:12px;vertical-align:middle;}
table.aptTable th{background:#E4F1F1; color:#2C7B76; border-bottom:1px solid #92C7C7;}