*{margin:0;padding:0;box-sizing:border-box;}
body{}
table{width:100%;border-collapse: collapse;}
img{vertical-align:bottom;max-width:100%;}
textarea{resize:none;border:1px solid #ddd;}
a{text-decoration:none;}
.wrap{width:700px;margin:0 auto;}
.cont_wrap{padding:20px;background:#2561bc;}
.cont{background:#fff;border-radius:20px;padding:40px;}
.cont h2{font-size:20px;background:#2561bc;border-radius:50px;padding:6px 20px;color:#fff;margin-bottom:20px;}
.cont h5{margin-top:40px;display:flex;font-size:15px;}
.cont h5:first-child{margin-top:0;}
.cont h5 span:first-child{margin-right:4px;}
.cont p.hint{font-size: 13px;margin: 20px;color:#2561bc;position:relative;padding-left:58px;}
.cont p.hint::before{content:'HINT';padding:2px 10px;background:#2561bc;border-radius:12px;color:#fff;margin-right:4px;position:absolute;left:0;top:0;}
.answer_wrap{display:flex;align-items:center;margin:16px;}
table .answer_wrap{margin:10px;}
.answer{display:flex;align-items:center;margin-right:11px;width:25%;font-size:14px;}
span.num{display:block;width:16px;height:16px;border-radius:50%;border:1px solid #555;font-size:12px;display:flex;align-items:center;justify-content:center;margin-right:6px;}
span.num.select {background: #0398fb;color: #fff;border: 1px solid #1fb9f9;}
.answer .sub_txt{font-size:12px;color:#ff0000;margin-left:10px;font-weight:600;}
.agree_wrap{margin:20px;padding:20px;background:#f1f1f1;}
.agree_txt{text-align:left;font-size:15px;padding:20px 0;}
.agree_chk_wrap{text-align:center;}
.user_info_wrap{margin:40px 20px 20px;}
.user_info_tit{color:#fff;background:#2561bc;font-size:18px;text-align:center;padding:4px;}
.user_info_txt{font-size:14px;border:1px solid #ddd;border-top:none;padding:10px;}
.btn_wrap{display:flex;align-items:center;justify-content: center;margin:40px 0;}
.btn_wrap .btn_submit{width:120px;height:40px;background:#2561bc;color:#fff;display:flex;align-items:center;justify-content:center;border-radius:20px;}
.btn_wrap .btn_submit:hover{background:#103f5f;cursor: pointer;}
.btn_wrap .btn_cancel{width:120px;height:40px;background:#ccc;margin-left:20px;color:#555;display:flex;align-items:center;justify-content:center;border-radius:20px;}
.btn_wrap .btn_cancel:hover{background:#bbb;cursor: pointer;}
.line{height:2px;background:#ddd;margin:30px 0;}

.table_style01{margin:20px 0;}
.table_style01 th, .table_style01 td{text-align: -webkit-center;border:1px solid #ddd;padding:8px;text-align:left;}
.table_style01 th{background:#f1f1f1;}
.table_style01.tdc td span.num{margin:0 auto;}

/* 2021.04.23 이금은 추가 */
button{vertical-align: top; margin-top: 4px;}
button.num{width:16px;height:16px;border-radius:50%;border:1px solid #555;font-size:12px;align-items:center;justify-content:center;margin-right:6px;background-color:#FFF;cursor: pointer;}
button.num.select {background: #0398fb;color: #fff;border: 1px solid #1fb9f9;cursor: pointer;}

/*
button.num{width:16px;height:16px;border-radius:50%;border:1px solid #555;font-size:12px;align-items:center;justify-content:center;margin:6px;background-color:#FFF;cursor: pointer;}
button.num.select{background: #0398fb;color:#fff;border: 1px solid #1fb9f9;cursor: pointer;}
*/
label{cursor: pointer;}
.f15{font-size:15px;}
.f16{font-size:16px;}

/* 모바일 */
