@charset "utf-8";

/*common*/
.pd120 {padding-left: 120px; padding-right: 120px; !important;}
.pd150 {padding-left: 150px; padding-right: 150px; !important;}

/*헤더*/
header{height:194px; font-size:0px; }
/*background:url('../images/tit01.png');}*/
    
main { overflow: hidden; letter-spacing: 0.05rem; line-height: 30px; position: relative;}

/*stepBox*/
h2 {font-size: 30px; color:#ff5c5e; font-weight: 600; margin-bottom:32px; position: relative; padding: 0 120px;}
h2::after{content: ""; height: 1px; width: 700px; background-color: #00b0cf; position: absolute; top: 14px; margin-left: 15px;}

.mark{width: 16px; height: 14px; background: url(../images/mark.png); margin-bottom: 14px; margin-left: -30px;}
.stepBox{padding: 74px 0 50px;}
.stepBox .txtbox {font-size: 16px; }
.stepBox .graph{padding: 0 50px; margin-top: 80px;}
.graph .subtit{text-align: center; font-size: 20px; font-weight: 600; margin-bottom: 24px;}
.stepBox .step01{position:relative; font-size: 20px; margin-bottom: 36px; margin-left: 30px; line-height: 30px;}
.stepBox .step01::before{content: ""; display:block; position:absolute; top:-12px; left:90px; width: 23px; height: 36px; background:url('../images/point.png');}
.blue {color: #00b0cf; font-weight: 600; }
.pink {color: #ff5c5e; font-weight: 600;}
.step01 strong {font-size: 23px; font-weight: 600;}
.step02 .subTxt{margin-bottom: 22px; font-size: 18px;}
.step02 strong {font-weight: bold; font-size: 23px; margin-left: 46px; }
.step02 strong::before, .step02 .st02::before{content: ""; width: 4px; height: 20px; background-color: #ff5c5e; display: inline-block; position: relative; top: 4px; margin-right: 14px;}
.step02 .st02 {margin-left: 46px;}
.step02 strong::after{content: ""; width: 1px; height: 14px; background-color: #bfbfbf; display: inline-block; position: relative; top: 2px; margin-left: 15px; margin-right: 8px;}
.step02 .pink {color: #ff5c5e; font-size: 20px; font-weight: 600;}
.step02 img{margin-bottom: 20px;}
.step02 img.img001{margin-bottom: 50px;}
.stepBox .step03{font-size:16px; background:#dfeef1 url(../images/txtBoxImg.png)no-repeat 103% 40px; padding: 40px 120px 80px; margin-top: 40px;}
.step03 .mark{margin-left: -10px;}
.step03 .plusTxt{padding: 0 30px; line-height: 28px;}
.ls{letter-spacing: -4px;}

.btn {position: absolute; right: 50px; top: 22px;}
.btn button {position:relative; width: 137px; height: 38px;  cursor: pointer; border: 1px solid #6c5af7; background: #ffffff; color: #6c5af7; margin-left: 10px;}
.btn button.btn01 {padding-left: 16px; background: url(../images/arw_bf_02.png) no-repeat; background-position: 20px center;}
.btn button.btn02 {padding-right: 16px; background: url(../images/arw_aft_02.png) no-repeat; background-position: 96px center;}
.btn button.btn01:hover {background-color: #6c5af7; color: #fff; background-image: url(../images/arw_bf_01.png); }
.btn button.btn02:hover {background-color: #6c5af7; color: #fff; background-image: url(../images/arw_aft_01.png); }



/*
.btn button::before{content:""; position:absolute; top:19px; margin-top:-5px; width:10px; height:10px; border:2px solid; border-color: transparent #6c5af7 #6c5af7 transparent; transform: rotate(135deg);}
.btn button.btn01::before{left:22px; transform: rotate(135deg);}
.btn button.btn02::before{right:22px; transform: rotate(-45deg);}
*/


/*
button.btn01{width: 137px; height: 38px; background: url(../images/btn01.png); position: absolute; right: 50px; top:22px; cursor: pointer; }
button.btn01:hover {background: url(../images/btn02.png);  }
button.btn02{width: 137px; height: 38px; background: url(../images/btn03.png); position: absolute; right: 50px; top:22px; cursor: pointer; }
button.btn02:hover {background: url(../images/btn04.png);  }
*/

