@charset "utf-8";
.directions-details *{letter-spacing:-0.75px;}
.popup-layer-content{display:none;}
.popup-layer-content.open{position:fixed;display:block;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.6);z-index:10000;}
/*mng_20190705 김건민 */
.directions-details{position:absolute;width:750px;height:403px;background:#fff;z-index:10001;left:55%;top:65%;margin-left:-495px;margin-top:-360px;}
/*mng_20190705 김건민 */
.directions-details .Btn-close{width:18px;height:18px;background:url(/img/house/liketown_close.png) no-repeat center center;position:absolute;right:9px;top:11px;text-indent:-1000px;overflow:hidden;-webkit-transition-duration:0.1s;transition-duration:0.1s;}
.directions-details .Btn-close:hover{transform:rotate(90deg);}
.pop-header{position:relative;text-align:center;border-top:4px solid #000;height:120px;box-sizing:border-box;color:#fff;background-color:#32a6f3;}
.pop-header:before{position:absolute;content:'';background:url(/images/bizStatsPopup/details-header-bg.png) no-repeat center bottom;height:120px;width:100%;display:block;}
.pop-header p{background-color:#1667cc;height:28px;max-width:265px;margin:62px auto 0;box-sizing:border-box;border-radius:14px;padding:0 20px;}
.pop-header p span{line-height:28px;font-size:16px;font-family:'Nanum Gothic Bold';text-align:center;color:#c9e8fd;}
.pop-header h2{font-family:'Nanum Square Bold';color:#fff;font-size:30px;padding-top:50px;}
.directions-details .contents-Box{width:100%;height:585px;padding:20px;box-sizing:border-box; padding-top:10px;}
.directions-details .top-cont{/**margin-bottom:17px;**/overflow:hidden;}

.info-box{float:left;width:470px;display:inline-block;box-sizing:border-box;border-color:#d4d7d9;vertical-align:top;border-width:4px 1px 1px 1px;border-style:solid;padding:0px 14px 5px;overflow:hidden;}
.info-box:nth-child(2n+1){margin-right:10px;}
.info-box:nth-child(3){border-top-color:#1878cc;}
.info-box:nth-child(1),.info-box:nth-child(2){/**height:255px;**/margin-bottom:10px;}
.info-box:nth-child(4){border-top-color:#1878cc;}
/* .info-box:nth-child(2){border-top-color:#20abc4;} */
.info-box:nth-child(5){border-top-color:#20abc4;}
.info-box:nth-child(6){border-top-color:#20abc4;}
.info-box:nth-child(7){border-top-color:#f39128;}
.info-box:nth-child(8){border-top-color:#f39128;}

.info-box > div{height:60px;background-repeat:no-repeat;border-bottom:1px solid #e4e4e4;background-position:23px center;padding:15px 0px 15px 120px;}
.info-box:nth-child(3) > div,.info-box:nth-child(4) > div{height:50px;margin-bottom:15px;}
.info-box > div h3{line-height:21px;font-size:20px;color:#222;font-family:'Nanum Square Bold';margin-bottom: 6px;}
.info-box > div h3 + p{font-family:'Nanum Gothic';word-break:keep-all;font-size:14px;color:#666;line-height: 17px;}

.titles:nth-child(1){background-image:url(/images/bizStatsPopup/ico_left0.png);background-repeat: no-repeat}
.titles:nth-child(2){background-image:url(/images/bizStatsPopup/ico_right0.png);background-repeat: no-repeat}
.info-box:nth-child(3) > div{background-image:url(/images/bizStatsPopup/ico_left1.png);}
.info-box:nth-child(4) > div{background-image:url(/images/bizStatsPopup/ico_right1.png);}
.info-box:nth-child(5) > div{background-image:url(/images/bizStatsPopup/infor-box-right.png);}
.info-box:nth-child(6) > div{background-image:url(/images/bizStatsPopup/infor-box-right.png);}
.info-box:nth-child(7) > div{background-image:url(/images/bizStatsPopup/ico_left3.png);}
.info-box:nth-child(8) > div{background-image:url(/images/bizStatsPopup/ico_right3.png);}
.info-box > dl{padding:13px;display:inline-block;width:50%;float:left;box-sizing:border-box;}
.info-box > dl:first-of-type{border-right:1px solid #e4e4e4;padding-left:0px;}
.info-box > dl:last-of-type {padding-right:0px;}
.info-box > dl dt{font-family:'Nanum Gothic Bold';font-size:15px;color:#333;background-repeat:no-repeat;text-indent:20px;}
.info-box > dl:first-of-type dt{background-image:url(/images/bizStatsPopup/info-icon-type01.png);}
.info-box > dl:last-of-type dt{background-image:url(/images/bizStatsPopup/info-icon-type02.png);}
.info-box > dl ul{overflow:hidden;clear:both;}
.info-box > dl ul{margin-top:10px;}
.info-box > dl li{float:left;display:inline-block;text-align:center;width:100px;vertical-align:top;background:#f1f2f4;}
.info-box > dl li button{width:100px;font-family:'Nanum Gothic';background:#f1f2f4;color:#666;border:1px solid #e6e8ea;height:45px;}
.info-box > dl li button:hover{font-family:'Nanum Gothic Bold';color:#1778cc;background:#fff;border:2px solid #1778cc;}
.info-box:nth-child(5) > dl li button:hover , .info-box:nth-child(6) > dl li button:hover{font-family:'Nanum Gothic Bold';color:#20abc4;background:#fff;border:2px solid #20abc4;}
.info-box:nth-child(7) > dl li button:hover , .info-box:nth-child(8) > dl li button:hover{font-family:'Nanum Gothic Bold';color:#f39128;background:#fff;border:2px solid #f39128;}
.info-box > dl li:nth-child(2n+1){margin-right:5px;}
.info-box > dl li:nth-child(1),.info-box > dl li:nth-child(2){margin-bottom:6px;}

.info-box:nth-child(2) li{width:210px;position:relative;}
.info-box:nth-child(2) li:nth-child(2n+1){margin-right:0px;margin-bottom:6px;}
.info-box:nth-child(2) > dl li button{text-align:left;position:relative;width:100%;padding:0 17px;}
.info-box:nth-child(1) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(2) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(3) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(4) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(5) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(6) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(7) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(8) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(3) li:after,
.info-box:nth-child(4) li:after,
.info-box:nth-child(5) li:after,
.info-box:nth-child(6) li:after,
.info-box:nth-child(7) li:after,
.info-box:nth-child(8) li:after{position:absolute;content:'';width:7px;height:13px;background-repeat:no-repeat;top:16px;right:17px;background-image:url(/images/bizStatsPopup/info-icon-arrow.png);}
.info-box:nth-child(4) dl ul,.info-box:nth-child(3) dl ul{margin-top:0;}
.info-box:nth-child(3) li,.info-box:nth-child(4) li{position:relative;}
/* .info-box:nth-child(3) li:nth-child(2n+1),.info-box:nth-child(4) li:nth-child(2n+1){margin:0;} */
.info-box:nth-child(3) > dl li button,.info-box:nth-child(4) > dl li button{text-align:left;position:relative;width:100%;padding:0 17px;}
.info-box:nth-child(3) > dl li:hover:after,.info-box:nth-child(4) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(5) > dl li,.info-box:nth-child(6) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(7) > dl li:hover:after,.info-box:nth-child(8) > dl li:hover:after{background-image:url(/images/bizStatsPopup/info-icon-arrow_on.png);}
.info-box:nth-child(3) > dl:first-of-type,.info-box:nth-child(4) > dl:first-of-type{padding:0 13px 0 0;}
.info-box:nth-child(3) > dl:last-of-type,.info-box:nth-child(4) > dl:last-of-type{padding:0 0 0 8px;}
.info-box .none{height:0px;}

.bottom-notice p,.bottom-notice a{display:inline-block;line-height: 100%;vertical-align:  middle;}
.bottom-notice{position:relative;height:80px;padding:15px 30px 18px;background-color:#ebf2f6;overflow:hidden;clear:both;box-sizing:border-box;}
.bottom-notice:before{position:absolute;content:'';background-image:url(/images/bizStatsPopup/notice-lamp.png);width:37px;height:47px;display:inline-block;background-repeat:no-repeat;top:15px;left:31px;}
.bottom-notice p > span{display:  inline-block;height:27px;line-height:27px;min-width:216px;box-sizing:border-box;background-color:#d2e5f6;font-size:14px;border-radius:14px;padding:0 20px;color:#1878cc;margin-left:15px;text-align: left;}
.bottom-notice p{margin: 11px 0;font-family:'Nanum Gothic Bold';color:#333;font-size:16px;v;padding-left:48px;}

.bottom-notice p + a{position: absolute;right:30px;top:17px;}
.bottom-notice .details-btn{padding:0 42px 0 20px;min-width:150px;height:42px;text-align:left;color:#fff;background:#0070c0;border-radius:3px;font-size:14px;border:1px solid #3370c5;box-sizing:border-box;line-height:42px;}
.bottom-notice .details-btn:before{position:absolute;content:'';background-image:url(/images/bizStatsPopup/new-window.png);background-repeat:no-repeat;width:13px;height:13px;top:15px;right:20px;}

.btn_popup{padding-left : 5px;}
.btn_popup{cursor: pointer;}


.info-box > dl{width:100%}
.info-box > dl li , .info-box > dl li button{width: 210px; position: relative;}
.info-box > dl:first-of-type{border-right: none;}
.info-box > dl:first-of-type{padding-left: 7px}
.info-box:nth-child(2) li:nth-child(2n+1){margin-right: 5px;}
.info-box:nth-child(2n+1){margin-bottom: 10px;}
.info-box > dl{padding: 0px;}
.info-box:nth-child(1){
	padding-bottom: 10px;
}
.titles{
	    line-height: 21px;
    font-size: 21px;
    color: #222;
    font-family: 'Nanum Square Bold';
    margin-bottom: 6px;
    border: none;
        float: left;
    width: 470px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    border-width: 4px 1px 1px 1px;
    padding: 7px 38px 7px;
    overflow: hidden;
}
