/*main */

.topWrap{height:90px; border-bottom:1px solid #e5e5e5; width:100%; overflow:hidden; z-index:100000;position:relative;background:#fff; overflow:hidden;}
.topBox{ width:100%; position:absolute;;}
.top{width:1200px; margin:0 auto; height:90px; min-width:1200px; display: flex; flex-direction: row; justify-content: space-between; }
.toplogo{vertical-align:middle; line-height:90px;}
.toplogo img{vertical-align:middle;}

.topAdmin{padding-top:27px;}
.topAdmin ul{width:240px; height:35px; border-radius:30px;  box-sizing:border-box; border:1px solid #e5e5e5;  padding:7px 15px; float:left; overflow:hidden;}
.topAdmin li{float:left; margin-right:6px; height:20px; line-height:20px;}
.topAdmin li:last-child{ margin-left:10px; }
.topAdmin li.admin{background:url(../../img/common/icon_admin01_n.png)no-repeat 0 0; width:20px; height:20px; }
.topAdmin li.admin:hover{background:url(../../img/common/icon_admin01_s.png)no-repeat 0 0; width:20px; height:20px; }
/* .topAdmin li.admin.on{background:url(../../img/common/icon_admin01_s.png)no-repeat 0 0; width:20px; height:20px; } */
.topAdmin li.group{background:url(../../img/common/icon_admin02_n.png)no-repeat 0 0; width:20px; height:20px; }
/* .topAdmin li.group.on{background:url(../../img/common/icon_admin02_s.png)no-repeat 0 0; width:20px; height:20px; } */
.topAdmin li.group:hover{background:url(../../img/common/icon_admin02_s.png)no-repeat 0 0; width:20px; height:20px; }

.topAdmin button{width:82px; height:35px; border:1px solid #e5e5e5; box-sizing:border-box; font-size:12px; text-align:center; border-radius:30px; float:left; margin-left:10px;}
.topAdmin button:hover{opacity:0.5;}

.topMenu li{line-height:90px; width:126px; box-sizing:border-box;  float:left; height:90px;}
.topMenu li:hover , .topMenu li.on{border-bottom:3px solid #3d62e8; }
.topMenu li a{ font-size:18px; color:#000; text-align:center;  width:126px; display: inline-block; font-weight:600;}

.dashbordWrap{width:100%; height:57px; border-bottom:1px solid #e5e5e5; line-height:57px; position:relative;}

.dashbordTile{width:1200px; min-width:1200px; margin:0 auto; display: flex; flex-direction:row; justify-content:space-between; position:relative;}
.dashbordTile h1{font-size:15px; font-weight:500; color:#000;}
.dashbordTile button{width:22px; height:22px; background:url(../../img/main/icon_setting_n.png)no-repeat 0 0; margin-top:20px;}
.dashbordTile button:hover{background:url(../../img/main/icon_setting_s.png)no-repeat 0 0; }

.dashbordSet{position:absolute; top:-1px; right:40px; border:1px solid #e5e5e5; box-sizing:border-box; width:260px; height:340px; background:#fff; display:none; z-index:2}
.dashbordSet h1{width:100%; border-bottom:1px solid #e5e5e5; height:57px; line-height:57px; font-size:15px; color:#000; text-align:center;}
.dashbordSet ul{margin-top:22px;}
.dashbordSet li{font-size:12px; color:#000; line-height:25px; margin-top:8px; margin-left:20px;}
.dashbordSet li input{margin-right:20px;}
.dashbordSet li input[type=checkbox]:not(old){  margin:0; padding:0; opacity:0; background:url(../../img/common/checkbox_n.png) no-repeat 0 0; width:0; }
.dashbordSet li input[type=checkbox]:not(old) + label{display: inline-block; text-align: left; height:25px; padding-left: 40px; background: url(../../img/common/checkbox_n.png) no-repeat 0 0; }
.dashbordSet li input[type=checkbox]:not(old):checked + label {background: url(../../img/common/checkbox_s.png) no-repeat 0 0;}

#dashSaveBtn{background:#3d62e8; width:130px; height:35px; border-radius:35px; text-align:center; color:#fff; font-size:15px; margin-top: 10px; margin-left: 66px;}
#dashSaveBtn:hover{opacity:0.5;}
/* .dashBtn{width:100%; display:flex; flex-direction:row; justify-content:center; margin-top:50px;} */

.dashbordArea{width:100%; height:268px; background:#f1f1f1; border-bottom:1px solid #e5e5e5; }
.dashbord{width:1200px; margin:0 auto; display: flex; flex-direction:row; /* justify-content:space-between; */ box-sizing:border-box; padding-top:42px; }
.dashbordBox{width:calc( 100% - 20px ); max-width:220px; height:182px; box-sizing:border-box; border:1px solid #e5e5e5; padding:0 12px; background:#fff; margin:0 10px;}
.dashbordBox h1{width:100%; border-bottom:1px solid #e5e5e5; font-size:15px; color:#000; text-align:center; line-height:53px; font-weight:100;}
.boxInfo{width:100%; margin-top:15px; font-size:80px; text-align:right;}
.boxInfo.green{color:#92d050}
.boxInfo.sky{color:#00bbd3}
.boxInfo.yellow{color:#fec006}
.boxInfo.pink{color:#ff7fff}
.boxInfo.blue{color:#00aeff}
.boxInfo.red{color:#f96868; font-size:46px; margin-top: 0px;}
.boxInfo span{font-size:15px; color:#a3a3a3; margin-right:10px; }


.contentWrap{width:100%; padding:50px 0; border-bottom:1px solid #e5e5e5; overflow:hidden; height:360px;}
.content{width:1200px; min-width:1200px;  margin:0 auto;  display: flex; flex-direction:row; justify-content:space-between;}
.box01,.box02,.box03{width:364px; height:360px; position:relative;}

.contentBox{width:364px; height:360px; border:1px solid #e5e5e5; box-sizing:border-box; position:absolute; text-align:center; border-radius:5px; z-index:1; left:0; top:0;}
.contentBox img{vertical-align:middle; text-align:center; margin-top:10px;}
.contentBox h1{font-size:18px; color:#000; font-weight:500; margin-top:50px; text-align:center;}
.contentBox p{text-align:center; font-size:17px; color:#000; margin-top:20px;}
.contentBox.sky{background:#e5f8fb}
.contentBox.sky p span{font-weight:500; color:#085fd1;}
.contentBox.yellow{background:#fff9e5}
.contentBox.yellow p span{font-weight:500; color:#fe5621;}
.contentBox.green{background:#f4faed}
.contentBox.green p span{font-weight:500; color:#2e7f31;}

.contentBox_over{width:364px; height:360px; border:1px solid #e5e5e5; box-sizing:border-box; position:absolute; text-align:center; border-radius:5px;  z-index:0; left:0; top:0;}
.contentBox_over img{vertical-align:middle; text-align:center; margin-top:10px;}
.contentBox_over h1{font-size:18px; color:#fff; font-weight:500; margin-top:50px; text-align:center;}

.contentBox_over ul{width:290px; margin:0 auto; margin-top:40px;}
.contentBox_over li{width:100%; border-radius:30px; background:rgba(255,255,255,0.2); height:40px; margin-top:10px; line-height:40px; }
.contentBox_over li:first-child{margin-top:0;}
.contentBox_over li a{text-align:center; width:100%; display:inline-block; font-size:15px; color:#fff;}
.contentBox_over li a:hover{opacity:0.5;}

.contentBox_over.sky{background:url(../../img/main/cont01_bg.png)no-repeat 0 0;}
.contentBox_over.yellow{background:url(../../img/main/cont02_bg.png)no-repeat 0 0;}
.contentBox_over.green{background:url(../../img/main/cont03_bg.png)no-repeat 0 0;}

.noticeWrap{width:1200px; min-width:1200px; display: flex; flex-direction:row; justify-content:space-between; margin:0 auto; padding:30px 0; overflow:hidden;}
.notice{width:585px; overflow:hidden;}
.notice h1{font-weight:500; font-size:18px; color:#000; padding-left:12px; float:left; line-height:35px;overflow:hidden; }
.notice button{ height:35px; border:1px solid #e5e5e5; box-sizing:border-box; padding:0 20px;  font-size:12px; color:#333333; float:right; border-radius:35px; }
.notice button img{margin-right:10px;}
.notice button:hover{opacity:0.5;}

.notice table{width:100%; border-top:2px solid #393c4a; margin-top:13px; clear:both; float:left;}
.notice table td{height:53px; border-bottom:1px solid #e5e5e5; font-size:15px; background:url(../../img/common/table_list.png)no-repeat 20px 25px; padding-left:30px; }
.notice table td:last-child{background:none;}


/* memberInfo */

.saveinfoBox{padding:20px 0;width:100%;height:auto;overflow:hidden;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.saveinfoBox .sbbox{width:1150px;height:auto;overflow:hidden;margin:0 auto;}
.saveinfoBox .sbbox .t01{float:left;font-size:18px;color:#000;}
.saveinfoBox .sbbox .t02{float:right;font-size:13px;color:#000;margin-top:5px;}
.saveinfoBox .bar{padding:5px;width:1138px;height:30px;overflow:hidden;margin:10px auto 0 auto;background:#f2f2f2;border-radius:20px;border:1px solid #d5d5d5;}
.saveinfoBox .bar .gage{text-align:right;height:30px;overflow:hidden;border-radius:20px;display:block;background:#d71826;}
.saveinfoBox .bar .gage span{float:right;height:30px;line-height:30px;margin-right:10px;font-size:12px;color:#fff;}

.analysisText01{font-weight:bold;margin:0 auto;width:1140px;height:auto;overflow:hidden;font-size:15px;color:#000;margin-top:50px;}
.analysisText02{margin:0 auto;width:1140px;height:auto;overflow:hidden;font-size:14px;color:#000;margin-top:30px;margin-bottom:10px;}

a {
	color: #666;
	text-decoration: none;
}