@charset "euc-kr";
.SearchHistory {}
.SearchHistory a {border-bottom:#ccc solid 1px; display:block; padding:15px 0 5px 0;}
.SearchHistory a span.Date {font-family:"NanumSquare"; color:#666; font-size:12px; margin-bottom:5px;margin-left: 10px;}
.SearchHistory a span.Part { background:#069; color:#fff;padding:4px 10px; border-radius:4px;}
.SearchHistory a span.SearchTerms {display:block; font-family:"NanumSquareB"; color:#000; font-size:16px; padding:5px 0;}