@charset "euc-kr";
.SearchBar {position:relative; height:40px; border-bottom:#7799b8 solid 1px; padding:0 40px 0 0;}
.SearchBar input[type=text] {width:94%; border:none 0; font-size:16px; padding:4px 0 0 15px; height:30px;}
.SearchBar button.SearchBtnSearch {position:absolute; width:28px; height:28px; right:12px; top:5px; text-indent:1000px; background:url(../images/common/icon_search.png) no-repeat center center; background-size:22px;}

.RelatedSearch { padding:5px 10px; background:#f1f1f1; border-bottom:#c1c1c1 solid 1px;font-family:"NanumSquareEB";}
.RelatedSearch a {font-family:"NanumSquare";}

.SearchCount {text-align:center; font-size:16px; padding:15px 0; line-height:160%;}
.SearchCount strong {font-family:"NanumSquareEB";}
.SearchCount strong.Word { color:#006699;}
.SearchCount strong.Count { color:#ff3300;}

#article-wrap{padding-bottom: 50px;}
dl.Result { margin-bottom:20px;}
dl.Result dt { background:#336699;font-family:"NanumSquareEB"; font-size:14px; color:#fff; padding:10px;}
dl.Result dt span {font-family:"NanumSquare";}
dl.Result dd.ResultList { margin-bottom:10px;}
dl.Result dd.ResultList a { display:block; padding:10px 10px 10px 18px; font-size:14px; background:#fff url(../images/map/common/list_bullet.png) no-repeat 10px 19px; background-size:3px; border-bottom:#ccc solid 1px;}
dl.Result dd.Pasing { text-align:center;}
dl.Result dd.Pasing a { border-top:#999 solid 1px; border-bottom:#999 solid 1px;border-left:#ccc solid 1px; display:inline-block; height:28px; width:35px; padding-top:4px; box-sizing:border-box;}
dl.Result dd.ResultList a:nth-child(2n) { background:#efefef url(../images/map/common/list_bullet.png) no-repeat 10px 17px; background-size:5px;}
dl.Result dd.Pasing span {border-top:#999 solid 1px; border-bottom:#999 solid 1px;border-left:#ccc solid 1px;display:inline-block; height:28px; padding-top:4px; width:35px;box-sizing:border-box;}
dl.Result dd.Pasing a:first-child {border-left:#999 solid 1px;}
dl.Result dd.Pasing a:last-child {border-right:#999 solid 1px;}
dl.Result dd.Pasing a.PasingOff { color:#CCC;}

.SearchCount.NoResult { background:url(../images/common/icon_result_none.png) no-repeat center 15px; padding-top:70px; background-size:50px;}
.SearchCount.NoResult strong.Word { color:#ff3300;}
.SearchCount.NoResult ul { padding:30px 10px;}
.SearchCount.NoResult ul li { text-align:left; font-family:"NanumSquare"; font-size:12px; background:url(../images/map/common/list_bullet.png) no-repeat left 12px; padding-left:6px; background-size:2px;}
