@charset "utf-8";

body {background: url(../images/main_bg.png); background-repeat: no-repeat; background-position: top center; width: 700px; height: 979px; }

/*헤더*/
header{text-align: center; padding: 60px; height: 176px; }
header h1{font-size:32px; }
header h3{font-size:30px;}

/*개요*/
.cont{height:auto; padding:0 70px; box-sizing: border-box; margin-bottom: 50px;}
.cont h2{font-weight:700; font-size:18px; margin-bottom: 18px; color:#fe4874;}
.cont h2::before{content: ""; background: url(../images/icon_balloon.png); width: 20px; height: 27px; position: relative; display: inline-block; top: 5px; background-repeat: no-repeat;}
.cont ul li{margin-bottom: 30px; margin-left: 20px;}
.cont .txt1{font-size: 15px; margin-bottom: 10px; position: relative;}
.cont .txt1::before{content: ""; background: url(../images/icon_2.png); width: 9px; height: 13px;  display: inline-block;  background-repeat: no-repeat; position: absolute; left: -16px; top: 1px;}
.cont .txt2{font-size: 13px;}
.cont strong{display:inline-block; font-weight:800;}
.cont span{font-size: 13px;}
.cont .graph{text-align: center;}

