@charset "utf-8";
/*Notosans*/
/*font*/
/* 2020.09.21[신예리] 속도문제로 인해  폰트 주석 처리 START
@font-face {font-family:"NotoSansCJKkr-Regular"; font-style:normal; font-weight:400; src: url(../font/NotoSansCJKkr-Regular.otf) format('otf');}
@font-face {font-family:"NotoSansCJKkr-Bold"; font-style:bold; font-weight:700; src: url(../font/NotoSansCJKkr-Bold.otf) format('otf');}
*/
/*
@font-face {font-family: 'Noto Sans KR'; font-style: normal; font-weight: 100; src: url(../font/NotoSansKR-Thin.woff2) format('woff2'), url(../font/NotoSansKR-Thin.woff) format('woff'), url(../font/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR'; font-style: normal; font-weight: 300; src: url(../font/NotoSansKR-Light.woff2) format('woff2'), url(../font/NotoSansKR-Light.woff) format('woff'), url(../font/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; src: url(../font/NotoSansKR-Regular.woff2) format('woff2'), url(../font/NotoSansKR-Regular.woff) format('woff'), url(../font/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR'; font-style: normal; font-weight: 500; src: url(../font/NotoSansKR-Medium.woff2) format('woff2'), url(../font/NotoSansKR-Medium.woff) format('woff'), url(../font/NotoSansKR-Medium.otf) format('opentype'); }
@font-face {font-family: 'Noto Sans KR'; font-style: normal; font-weight: 700; src: url(../font/NotoSansKR-Bold.woff2) format('woff2'), url(../font/NotoSansKR-Bold.woff) format('woff'), url(../font/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR'; font-style: normal; font-weight: 900; src: url(../font/NotoSansKR-Black.woff2) format('woff2'), url(../font/NotoSansKR-Black.woff) format('woff'), url(../font/NotoSansKR-Black.otf) format('opentype'); } 
*/

/* 한글폰트만 */
@font-face {font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; src: url(../font/NotoSansKR-Regular.woff2) format('woff2'), url(../font/NotoSansKR-Regular.woff) format('woff'), url(../font/NotoSansKR-Regular.otf) format('opentype'); unicode-range: U+1100,U+11FF;}
@font-face {font-family: 'Noto Sans KR'; font-style: normal; font-weight: 700; src: url(../font/NotoSansKR-Bold.woff2) format('woff2'), url(../font/NotoSansKR-Bold.woff) format('woff'), url(../font/NotoSansKR-Bold.otf) format('opentype'); unicode-range: U+1100,U+11FF;}
/* 2020.09.21[신예리] 속도문제로 인해  폰트 주석 처리 END */


body, html {font-family: "Noto Sans KR", sans-serif !important;}

/* Main & header */
.Main {background-color: #F7F9F9; display: flex; flex-direction: column;}
.Main .header header {width: 100%; height:40px; border-bottom: 1px solid #DDDEDF; display: flex; flex-direction: row;}

/*2020.09.10[신예리] 웹접근성 문제로 css 수정 START*/
.Main .header header h1 {align-items: center; justify-content: center; display: flex; flex: 1 1 auto; width: 270px;} 
.Main .header header h1 > img { height: 28.5px; width: auto;}
.Main .header header .menuBtn {width: 50px; height: 40px; background-color: transparent; cursor: pointer; align-items: flex-start;}
.Main .header header .menuBtn img {width: 20px; height: auto;}
.Main .header header .searchBtn {width: 50px; height: 40px; background-color:transparent; cursor: pointer; align-items: flex-end;}
.Main .header header .searchBtn img {width: 20px; height: auto;}
button#searchBtn {width: 50px; height: 40px; background: url(../images/main/search.png) no-repeat center; background-size: 20px; cursor: pointer; align-items: flex-end;} 
/*2020.09.10[신예리] 웹접근성 문제로 css 수정 END*/

/*Container*/
.Container {display: flex; flex-direction: column;}
/*Top banner*/
.banner {background: url(../images/main/banner_bg.png) no-repeat; min-height: 175px; background-size: 100% auto; text-align: right;}
.banner h2.tit {color: #353B48; font-weight: 600; font-size: 2em; font-family: 'Noto Sans KR'; letter-spacing: -3px; margin-top: 60px;}	/* 2020.09.21[한광희] 폰트 수정 */
.banner p.txt {color: #353B48; font-weight: 400; font-size: 1.2em; line-height: 1.5em;}

/*영역 박스*/
.conBox {align-items: center; background-color: white; border-radius: 7px; box-shadow: 0 0 5px rgba(0,0,0,.2); display: flex;}

/*My통계로*/
.con00 {display: flex; align-items: flex-start; flex-direction: column; padding: 15px;}
.con00 h5 {color: #7B7C7F; font-size: 1.5em; font-family: 'Noto Sans KR'; font-weight: bold; margin: 0}	/* 2020.09.21[한광희] 폰트 수정 */
.con00 p {color: #4C5056; font-size: 1.2em; font-family: 'Noto Sans KR'; font-weight: normal; margin-top: 8px;}	/* 2020.09.21[한광희] 폰트 수정 */
.con00_img {margin-left: auto; display: flex; align-items: center; height: 50px; width: auto; padding: 15px;}

/*공지사항*/
.conBox_notice {align-items: center;background-color: white; border-radius: 7px; box-shadow: 0 0 5px rgba(0,0,0,.2);display: flex;  flex-direction: row;}
.conBox_notice > div {background-color: #828383; width: 55px; align-items: center; height: 50px; display: flex; justify-content: center; border-top-left-radius: 7px; border-bottom-left-radius: 7px;}
.conBox_notice > div > h2 { color: white; font-size: 1.2em;} 
.conBox_notice > ul {flex: auto; margin-left: auto;}
.conBox_notice > ul li a {flex: auto; margin-left: 10px; font-size: 14px; overflow: hidden; text-overflow: ellipsis; height: 20px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1;}/*20200825 박은식 공지사항 텍스트길이가 요소를 넘어갈경우 ...처리*/
.conBox_notice > button {font-size: 14px; letter-spacing: -1px; align-items: flex-end; margin-right: 10px; color: #676767; background-color: #fff;}
.conBox_notice > button:hover, .conBox_notice > button.on {text-decoration: underline;}

.conBox_notice > ul li.overflow {overflow: hidden; text-overflow: ellipsis;}/*0827 신예리 추가*/
/*Icon 영역*/
.conBox_icon {align-items: center;background-color: white;  border-radius: 7px; box-shadow: 0 0 5px rgba(0,0,0,.2);display: flex;  flex-direction: column;}
.conBox_icon .row {height: 90px; display: flex; flex-direction: row; width: 100%;}
.conBox_icon .row .col {display: flex; flex-direction: column; border-right: 1px solid #F2F2F3; box-sizing: border-box; flex: 1; align-items: center; justify-content:center;}
.conBox_icon .row .col > img { width: auto; height: 35px; margin-bottom: 5px;}
.conBox_icon .row .col > h2 {font-size: 14px; letter-spacing: -1.5px; line-height: 1.5em; font-weight: 700;}

.conBox_icon .row:first-child {border-bottom: 1px solid #F2F2F3;}
.conBox_icon .row:first-child .col:nth-child(1):hover {background-color: rgba(235,235,235,0.3); border-top-left-radius: 7px;}
.conBox_icon .row:first-child .col:nth-child(2):hover {background-color: rgba(235,235,235,0.3);}
.conBox_icon .row:first-child .col:nth-child(3):hover {background-color: rgba(235,235,235,0.3); border-top-right-radius: 7px;}
.conBox_icon .row:first-child .col:nth-child(3) {border-right: 0;}

.conBox_icon .row:last-child .col:nth-child(1):hover {background-color: rgba(235,235,235,0.3);border-bottom-left-radius: 7px;}
.conBox_icon .row:last-child .col:nth-child(2):hover {background-color: rgba(235,235,235,0.3);}
.conBox_icon .row:last-child .col:nth-child(3):hover {background-color: rgba(235,235,235,0.3); border-bottom-right-radius: 7px;}
.conBox_icon .row:last-child .col:nth-child(3) {border-right: 0;}

/*color*/
.col00_g {color: #414b56;}
.col00 {color:#437BB4;} /*08.26 신예리 수정*/
.col01 {color:#0FA0A5;}
.col02 {color:#D67C89;}
.col03 {color:#7F85C1;}
.col03_1 {color:#4C549D;}
.col04 {color:#E3AE6E;}
.col05 {color:#4E8874;}
.col_w {color: white;}

/*메뉴별 링크 버튼*/
.col00LinkBtn.on {background-color:#437bb4 !important; color: #fff; flex: 1 auto !important; padding: 2px 0px !important; font-size: 14px !important; border: 1px dashed #437BB4 !important;}
.col00LinkBtn {background-color:#fff !important; color: #9fa6ad; flex: 1 auto !important; padding: 2px 0px !important; font-size: 14px !important;} /*08.26 신예리 추가*/
.col01LinkBtn {color:#0FA0A5 !important;}
.col02LinkBtn {color:#D67C89 !important;}
.col03LinkBtn {color:#7F85C1 !important;}
.col03_1 {color:#4C549D;}
.col04LinkBtn {color:#E3AE6E !important;}
.col05LinkBtn {color:#4E8874 !important;}
.col_g {color: #60686f;}
.col_w {color: white;}

/* 2020.09.01[신예리]메뉴별 바로가기 버튼*/
.col00Move {
	color: #437bb4;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #437bb4;
    padding: 3px 35px 3px 30px;
    margin: 7px 0;
    background: url(../images/main/col00move_arrow.png) no-repeat;
    background-position: 90% center;
    background-size: 9px;
}

.col01Move {
	color: #0FA0A5;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #0FA0A5;
    padding: 3px 35px 3px 30px;
    margin: 7px 0;
    background: url(../images/main/col01move_arrow.png) no-repeat;
    background-position: 90% center;
    background-size: 9px;
}

.col02Move {
	color: #D67C89;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #D67C89;
    padding: 3px 35px 3px 30px;
    margin: 7px 0;
    background: url(../images/main/col02move_arrow.png) no-repeat;
    background-position: 90% center;
    background-size: 9px;
}
.col03Move {
	color: #7F85C1;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #7F85C1;
    padding: 3px 35px 3px 30px;
    margin: 7px 0;
    background: url(../images/main/col03move_arrow.png) no-repeat;
    background-position: 90% center;
    background-size: 9px;
}
.col04Move {
	color: #E3AE6E;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #E3AE6E;
    padding: 3px 35px 3px 30px;
    margin: 7px 0;
    background: url(../images/main/col04move_arrow.png) no-repeat;
    background-position: 90% center;
    background-size: 9px;
}
.col05Move {
	color: #4E8874;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #4E8874;
    padding: 3px 35px 3px 30px;
    margin: 7px 0;
    background: url(../images/main/col05move_arrow.png) no-repeat;
    background-position: 90% center;
    background-size: 9px;
}

/*border-color*/
.bt_col00 {border-top:3px solid #437BB4;}
.bt_col01 {border-top:3px solid #0FA0A5;}
.bt_col02 {border-top:3px solid #D67C89;}
.bt_col03 {border-top:3px solid #7F85C1;} 
.bt_col04 {border-top:3px solid #E3AE6E;}
.bt_col05 {border-top:3px solid #4E8874;} 

.swiper-button-next {
	position: absolute;
    top: 50%;
/*     width: calc(var(--swiper-navigation-size)/ 44 * 27); */
/*     height: var(--swiper-navigation-size); */
/*     margin-top: calc(-1 * var(--swiper-navigation-size)/ 2); */
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
/*     color: var(--swiper-navigation-color, var(--swiper-theme-color)); */
    right: 10px;
    left: auto;
}


.swiper-button-prev { 
	position: absolute;
    top: 50%;
/*     width: calc(var(--swiper-navigation-size)/ 44 * 27); */
/*     height: var(--swiper-navigation-size); */
/*     margin-top: calc(-1 * var(--swiper-navigation-size)/ 2); */
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
/*     color: var(--swiper-navigation-color, var(--swiper-theme-color)); */
    right: 10px;
    left: auto;
}

 .swiper-button-next::after {
 content:"";
 display: block;
 width:8px;
 height:8px;
 border-top:2px solid #707070;
 border-right:2px solid #707070;
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
 position: absolute;
 right:10px;
 top:50%;
 margin-top:-7px;
 outline: none;
}

 .swiper-button-prev::after {
 content:"";
 display: block;
 width:8px;
 height:8px;
 border-top:2px solid #707070;
 border-right:2px solid #707070;
 -webkit-transform: rotate(45deg);
 transform: rotate(225deg);
 position: absolute;
 left:10px;
 top:50%;
 margin-top:-7px;
 outline: none;
}
 
/*bg-color*/
.bg_col00 {background-color:#6797c7;}
.bg_col01 {background-color:#75bfc1;}
.bg_col02 {background-color:#dea5ad;}
.bg_col03 {background-color:#bcbed8;}
.bg_col03_1 {background-color:#A6AACE;}
.bg_col04 {background-color:#e0bb8a;}
.bg_col05 {background-color:#8dbdac;} 


/*section Card*/

.cardWrap {width: 100%; z-index: 2; background-color: #fff; box-shadow: 0 3px 5px rgba(0,0,0,0.3); display: flex; flex-direction: column;}
.cardWrap > div.intro { justify-content: center; align-items: center; border-bottom: 1px solid #E1E1E2; padding: 15px; display: flex; flex-direction: column;}
.cardWrap > div.intro > img {width: auto; height: 40px; margin-bottom: 10px;}
.cardWrap > div.intro > p {color: #989898; text-align: center; white-space:pre-line; font-size: 1.2em; line-height: 1.5em; margin-top: 5px; word-break: keep-all;}	/* 2020.09.01[한광희] 메인화면 개행 속성 추가 */

.cardbd { border-bottom: 1px solid #989898;} /*08.28추가-신예리 카드 영역 하단 구분선*/
.pd10 {padding: 10px;}
.pd10b {padding: 0 10px 10px 10px;} 
.pd15 {padding: 15px;}
.pd-t0 {padding: 0 15px 15px 15px;} 
.pb20 {padding-bottom: 20px;}
.mt0 {margin-top: 0 !important;}
.visi {visibility: hidden;}
.cardWrap > div.keyWrap { display: flex; flex-direction: row; justify-content: center;}
.statsMeh4 {font-size: 14px; display: flex; align-items: center; width: 70px; justify-content: center; margin-right: 5px;}
.cardWrap > div.keyWrap > a {border: 1px solid #E1E1E2; white-space: nowrap; background-color: white; border-radius: 5px; padding: 4px; flex: 1; margin: 0 5px; min-height: 30px; display: flex; align-items: center; justify-content: center; font-size: 14px; font-weight: 700;}

.cardWrap > div.row_p {padding: 0 15px 15px 15px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.cardWrap > div.row_p > p {text-align: center; font-size: 1.27em; font-weight: 700; color: #f5f4f4;}
.cardWrap > div.row_p > p > strong {font-size: 1.4em; font-weight: 700; color: #353B48;}

.cardWrap > div.row {padding: 15px; display: flex; flex-direction: row; align-items: center; justify-content: center;}
.cardWrap > div.row > p {font-size: 15px; font-weight: 700;}

.cardWrap>div.rowBtn {
	padding: 0 0 15px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.cardWrap>div.rowBtn>button {
	padding: 8px;
    border-radius: 50px;
    width: 110px;
    color: #B1B9BF;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    border: 1px solid #E1E1E2;
    background-color: white;
    margin: 0 10px;
}

.cardWrap>div.rowBtn>button.on,.cardWrap>div.rowBtn>button.on:focus  {
	padding: 8px;
    border-radius: 50px;
    width: 110px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    border: 1px solid #205081;
    background-color: #205081;
    margin: 0 10px;
}

.cardWrap > div.Currentposition {padding: 0 0 15px 0; display: flex; flex-direction: row; align-items: center; justify-content: center;}
.cardWrap > div.Currentposition > p {font-size: 1.2em; font-weight: 500; color: #fff; margin-left: 6px; font-family: inherit; }

.toggleBG{background: url(../images/main/txt_bg.png) #F7F9F9 no-repeat; background-position: 10px; margin-left: 15px; width: 95px; height: 30px; border: 1px solid #E1E1E2; border-radius: 15px;}
.toggleFG{background: #FFFFFF; width: 55px; height: 30px; border: none; border-radius: 15px; position: relative; left: 0px; color: #0FA0A5; letter-spacing: -1px; font-weight: 700; box-shadow: 0 1px 5px rgba(0,0,0,0.3);}


.cardWrap > div.row .swiper-container { width: 90%; }
.cardWrap > div.row .swiper-slide { text-align: center; height: 45px; border-radius: 50px; text-align: center; font-size: 1.25em; font-weight: 700; background: #F5F5F5; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}

a#MOVE_TOP_BTN { position: fixed; /*display: none;*/ z-index: 999; width: 44px; height: 31px; left: 85%; border-radius: 50%; color: white; background-color:rgba(177,185,191,0.8); /*box-shadow: 0 0 3px rgba(0,0,0,0.5);*/ text-align: center; font-size: 1.1em; padding-top: 12px; margin-top: 5px; top: 90%; }

.cardWrap > div.rollWrap {display: flex; flex-direction: row; justify-content: center; align-items: center;}
.cardWrap > div.rollWrap > .roll { /*background-color: #fcfcfc;*/background-color: #fff; padding: 10px; flex-direction: column; flex:1; margin: 0 5px; display: flex; justify-content: center; height: 110px;}
.cardWrap > div.rollWrap > .roll > div.roll_row h1 {color: #353B48; font-weight: 700; font-size: 20px; margin: 0;}
.cardWrap > div.rollWrap > .roll > div.roll_row p {font-size: 1.2em; line-height: 3.4em; margin-left: 5px; white-space: nowrap;}
.cardWrap > div.rollWrap > .roll > div.roll_row {margin-top: 5px; display: flex; flex-direction: row; justify-content: center; align-items: center;}
.cardWrap > div.rollWrap > .roll > div.roll_row h6 {color: #7B7C7F; font-weight: 700; font-size: 1.2em; margin: 0; white-space: nowrap;}
.cardWrap > div.rollWrap > .roll > div.roll_row h5 {height: 40px; text-align: center; color: #353B48; font-weight: 700; font-size: 13px; margin: 0; margin-top: -15px; line-height: 15px;}
.cardWrap > div.rollWrap > .roll > div.roll_row span {display: flex; align-items: flex-start;}

/*08.27 신예리 추가*/

.MainstatsMeList {
	margin: 0; 
	display: flex;
	padding: 15px;
	flex-direction: column;
} 

.MainstatsMeList li {
	background-color: white;
	border-radius: 50px;
	height: 35px;
	margin: 5px 0;
	display: flex;
	align-items: center; 
}

.MainstatsMeList li a {
	font-size: 13px;
	font-weight: 600;
	color:#353B48;
	text-decoration: none;
	padding-left: 10px;
}

.MainstatsMeList li a.statsMeMapmove {
	border: 1px solid #437BB4;
    color: #437BB4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px 3px 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 5px; 
    background: url(../images/main/statsMeMapmove.png) no-repeat;
    background-size: 17px;
    background-position: 10px;
    width: 70px;	/* 2020.09.01[한광희] 메인화면 생애주기/관심분야 선택에 따른 서비스 목록 조회 수정 */
}

.MainstatsMeList li a.statsMeMapmove.on {
	border: 1px solid #225a92;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px 3px 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 5px; 
    background: url(../images/main/statsMeMapmove_on.png) #225a92 no-repeat;
    background-size: 17px;
    background-position: 10px;
}

.MainstatsMeList li > span {
	background-color: #437BB4;
    min-width: 25px;	/* 2020.09.01[한광희] 메인화면 생애주기/관심분야 선택에 따른 서비스 목록 조회 수정 */
    height: 25px;
    border-radius: 50px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/*08.28 신예리 추가 - 마이통계로 통계정보 리스트*/
/* .statsMeInfoMain {
	margin: 10px 0 0;
    border: 1px solid #E1E1E2;
    border-radius: 5px;
    width: 70%;
    padding: 0 12px;
}

.statsMeInfoMain > li {
	padding: 5px 0;
    border-bottom: 1px solid #E1E1E2;
}

.statsMeInfoMain > li:last-child {
	border-bottom: 0;
} */

/*08.28 신예리 추가 - 일자리맵 전일대비 신규 마감 정보*/

.tjChangeM {
	font-size: 12px;
	color: #81899B;
	display: flex;
	flex-direction: row; 
	text-align: right;
	justify-content: center;
}

.tjChangeM span {
    font-size: 12px;
}
.td_upM {
    color: #f5896c;
}

.tjNumMDiv{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
} 

.tjNumM {
	padding: 3px 0;
	font-size: 12px;
	color: #5a616f;
	margin-right: 10px;
}

.tjNumM span {
	font-size: 12px;
	font-weight: 500;
	margin-left: 5px;
}

/*지역현안소통지도*/
.cardWrap > div.rollWrap > .rollCommunity {background-color: #fff; flex-direction: column; flex:1; margin: 0 5px; display: flex; justify-content: center; padding: 10px;}
.cardWrap > div.rollWrap > .rollCommunity > div.roll_row02 {margin-top: 5px; display: flex; flex-direction: column; justify-content: center;}
.cardWrap > div.rollWrap > .rollCommunity > div.roll_row02 .communityImg {background:url('../images/main/noimg.png') no-repeat center; width:100%; height: 95px; background-size: cover;}
.cardWrap > div.rollWrap > .rollCommunity > div.roll_row02 h5 {white-space: nowrap; overflow: hidden; width: 125px; text-overflow: ellipsis; min-height: 25px; padding-top: 7px; text-align: center; color: #353B48; font-weight: 700; font-size: 1.3em; margin: 0;}
.cardWrap > div.rollWrap > .rollCommunity > div.roll_row02 h6 {color: #777C82; font-weight: 500; font-size: 1.25em; margin: 5px;}
.cardWrap > div.rollWrap > .rollCommunity > div.roll_row02 h6 span {margin-right: 10px;}

.rollWrap02 {/*padding: 15px;*/width: 93%; margin: 0 16px 20px 16px; display: flex; flex-direction: row; justify-content: center; align-items: center;}
.rollFlex{display: flex;}
.roll { /*background-color: #fcfcfc;*/background-color: #f5f5f5; padding: 10px; flex-direction: column; flex:1; margin: 0 5px; display: flex; justify-content: center;}
.roll_row h1 {color: #353B48; font-weight: 700; font-size: 2.5em; margin: 0;}
.roll_row p {font-size: 1.2em; line-height: 3.4em; margin-left: 5px;}
.roll_row {margin-top: 5px; display: flex; flex-direction: row; justify-content: center;}
.roll_row h6 {color: #7B7C7F; font-weight: 700; font-size: 1.2em; margin: 0;}
.roll_row span {display: flex; align-items: flex-start; padding-right:10px;}

.cardWrap > div.rollWrap > .roll > div.roll_row02 {margin-top: 5px; display: flex; flex-direction: column; justify-content: center;} 
.cardWrap > div.rollWrap > .roll > div.roll_row02 h5 {white-space: nowrap; overflow: hidden; width: 162px; text-overflow: ellipsis; min-height: 25px; padding-top: 7px; text-align: center; color: #353B48; font-weight: 700; font-size: 1.3em; margin: 0;}
.cardWrap > div.rollWrap > .roll > div.roll_row02 h6 {color: #777C82; font-weight: 500; font-size: 1.25em; margin: 5px;}
.cardWrap > div.rollWrap > .roll > div.roll_row02 h6 span {margin-right: 10px;}
.empty_img {width: 162px; height: 88px; background: url('../images/main/noimg.png') no-repeat center; background-size: 100% auto; border: 0;}
/*PC버전 가기 버튼*/
.pcBtn {background: url(../images/common/pc_ver.png) white no-repeat; background-size: 25px; background-position: 180px center; border: 1px solid #EBEBEB; border-radius: 40px; margin: 0 auto; padding: 12px 90px; color:#777C82; font-size: 1.2em; font-weight: 700; text-align: center;}
.pcBtn:hover, .pcBtn.on {background-color: rgba(235,235,235,0.3);}

/*슬라이드 배너*/

.slidebanner {
	width: 100%; 
}

.slidebanner > a img { /*08.27 신예리 수정*/
	width: 100%;
}