<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>portalcnm</display-name>
  <servlet>
    <servlet-name>s-portalcnm</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
				/conf/durian-default.xml
				/conf/durian-jdbc.xml
				/conf/durian-views.xml
				/conf/durian-beans.xml
				/conf/durian-api.xml
				/conf/durian-batch.xml
			</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>s-portalcnm</servlet-name>
    <url-pattern>*.json</url-pattern>
    <url-pattern>*.excel</url-pattern>
    <url-pattern>*.do</url-pattern> <!-- 19년반영 -->
  </servlet-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>authenticationFilter</filter-name>
    <filter-class>kostat.sop.ServiceAPI.common.security.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>authenticationFilter</filter-name>
    <url-pattern>/dummy/tmp/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <!-- 19년반영 시작 -->
  <filter>
        <filter-name>HTMLTagFilter</filter-name>
        <filter-class>kostat.sop.ServiceAPI.api.common.filter.HTMLTagFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HTMLTagFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
  <!-- 19년반영 끝 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <error-page>
    <error-code>400</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
</web-app>