@charset "euc-kr";
.Subject a { background:#666 url(../../images/map/theme/menu1.png) no-repeat center 7px; background-size:28px; padding-top:30px; border-left:#828282 solid 1px; display:inline-block; height:50px; width:20%; color:#ccc;font-family:"NanumSquareB"; font-size:11px; text-align:center; letter-spacing:-1px; box-sizing:border-box;overflow:hidden;}
.Subject a:first-child {border-left:none 0;}
.Subject a.subject2 { background-image:url(../../images/map/theme/menu2.png);}
.Subject a.subject3 { background-image:url(../../images/map/theme/menu3.png);}
.Subject a.subject4 { background-image:url(../../images/map/theme/menu4.png);}
.Subject a.subject5 { background-image:url(../../images/map/theme/menu5.png);}
.Subject a.subject1.M_on {  background: #006600;
background:url(../../images/map/theme/menu1.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #006600 0%, #2f9600 100%);
background:url(../../images/map/theme/menu1.png), url(../../images/common/subject_light.png), -webkit-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu1.png), url(../../images/common/subject_light.png), -moz-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu1.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu1.png), url(../../images/common/subject_light.png), -o-linear-gradient(left, #006600, #2f9600);
background-repeat: no-repeat;
background-position: center 7px, 2px 2px, left top; background-size:28px, auto, auto;}
.Subject a.subject2.M_on {  background: #006600;
background:url(../../images/map/theme/menu2.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #006600 0%, #2f9600 100%);
background:url(../../images/map/theme/menu2.png), url(../../images/common/subject_light.png), -webkit-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu2.png), url(../../images/common/subject_light.png), -moz-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu2.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu2.png), url(../../images/common/subject_light.png), -o-linear-gradient(left, #006600, #2f9600);
background-repeat: no-repeat;
background-position: center 7px, 2px 2px, left top; background-size:28px, auto, auto;}
.Subject a.subject3.M_on {  background: #006600;
background:url(../../images/map/theme/menu3.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #006600 0%, #2f9600 100%);
background:url(../../images/map/theme/menu3.png), url(../../images/common/subject_light.png), -webkit-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu3.png), url(../../images/common/subject_light.png), -moz-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu3.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu3.png), url(../../images/common/subject_light.png), -o-linear-gradient(left, #006600, #2f9600);
background-repeat: no-repeat;
background-position: center 7px, 2px 2px, left top; background-size:28px, auto, auto;}
.Subject a.subject4.M_on {  background: #006600;
background:url(../../images/map/theme/menu4.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #006600 0%, #2f9600 100%);
background:url(../../images/map/theme/menu4.png), url(../../images/common/subject_light.png), -webkit-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu4.png), url(../../images/common/subject_light.png), -moz-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu4.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu4.png), url(../../images/common/subject_light.png), -o-linear-gradient(left, #006600, #2f9600);
background-repeat: no-repeat;
background-position: center 7px, 2px 2px, left top; background-size:28px, auto, auto;}
.Subject a.subject5.M_on {  background: #006600;
background:url(../../images/map/theme/menu5.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #006600 0%, #2f9600 100%);
background:url(../../images/map/theme/menu5.png), url(../../images/common/subject_light.png), -webkit-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu5.png), url(../../images/common/subject_light.png), -moz-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu5.png), url(../../images/common/subject_light.png), -ms-linear-gradient(left, #006600, #2f9600);
background:url(../../images/map/theme/menu5.png), url(../../images/common/subject_light.png), -o-linear-gradient(left, #006600, #2f9600);
background-repeat: no-repeat;
background-position: center 7px, 2px 2px, left top; background-size:33px, auto, auto;}

.SubjectList { overflow:auto; position:absolute; left:0; z-index:600; width:100%; background:#FFF;}
.SubjectList li { position:relative; min-height:50px; padding-right:50px; border-bottom:#d9d9d9 solid 1px;}
.SubjectList li:nth-child(2n) { background:#efefef;}
.SubjectList li a.List { display:block; font-family:"NanumSquare"; font-size:14px; padding:15px 0 15px 15px; line-height:1.2; color:#333;/*background:url(../../images/map/common/list_bullet.png) no-repeat 7px 20px; background-size:5px;*/}
.SubjectList li a.Info {position:absolute; width:30px; height:30px; right:10px; top:50%; margin-top:-16px; background:#457bc3 url(../../images/icon/icon_question.png) no-repeat center center; border-radius:23px; background-size:80%; text-indent:-1000px; overflow:hidden;}

.sop-top.sop-left, .sop-top.sop-right {margin-top: 30px;}
.horizontal>div{ float:left; width:50%; height:100%;box-sizing:border-box;}
.horizontal>div:first-child{ border-right: 1px solid;}
.vertical>div { width:100%; height:50%;box-sizing:border-box;}
.vertical>div:first-child{ border-bottom: 1px solid;}
#map-box.horizontal>#leftmap .control_item.map_size_control,#map-box.horizontal>#leftmap .control_item.setting_control{display:none;}
#map-box.vertical>#rightmap .control_item.map_size_control,#map-box.vertical>#rightmap .control_item.setting_control{display:none;}

.stepClose2{opacity:.4;display:block;width:32px;height:38px;overflow:hidden;position:absolute;right:0;top:0;background:url(../../images/common/ico_close01.png) no-repeat center center;text-indent:-2000px;  transition-duration: .3s; transition-property: transform; transition-timing-function: ease-in-out;}

.sqListBox{z-index:999;display:block;height:40px;position:absolute;left:-640px;background:#333;}
.sqListBox.sq03{height:auto;border:1px solid #dbdbdd;background:#fff;text-align:right;width:240px}
.sqListBox.sq03 .sqTabs{width:230px;height:40px;border-bottom:1px solid #dcdcdc;padding:0 5px;overflow:hidden;background:#f5f5f5}
.sqListBox.sq03 .sqTabs span{text-align:left;margin-left:100px;line-height:40px;color:#666;font-size:13px;display:block;}
.sqListBox.sq03 .sqList{width:100%;height:40px;overflow:hidden;}
.sqListBox.sq03 .sqList ul{margin:0 5px 5px 5px;display:block;}
.sqListBox.sq03 .sqList ul li{text-align:left;width:100%;height:40px;padding:3px 0;overflow:hidden;line-height:40px;position:relative;margin:0;}
.sqListBox.sq03 .sqList ul li span{margin-right:20px;display:block;float:left;height:40px;line-height:40px;color:#414141;font-size:13px;}
.sqListBox.sq03 .sqList ul li select{font-size:11px; float:left; width:100px; height:22px; border:1px solid #1aa58b; margin-top:8px; border-radius:8px;}
.sqListBox.sq03 .sqList ul li a{margin-top:8px;font-size:11px;text-align:center;display:block;width:60px;height:20px;line-height:20px;overflow:hidden;float:left;background:#b6b6b6;color:#fff;border:1px solid #9f9f9f;border-radius: 8px}
.sqListBox.sq03 .sqList ul li a:first-of-type:not(:last-of-type){border-top-right-radius: 0;border-bottom-right-radius: 0}
.sqListBox.sq03 .sqList ul li a:last-of-type:not(:first-of-type){border-top-left-radius: 0;border-bottom-left-radius: 0}
.sqListBox.sq03 .sqList ul li a:not(:first-of-type):not(:last-of-type){border-radius: 0}
.sqListBox.sq03 .sqList ul li a.on{background:#21b69a;border:1px solid #1aa58b;}
.sqListBox.sq03 .sqEtc{padding:5px 0;background:#dcdcdc}
.sqListBox.sq03 .sqEtc span, .sqListBox.sq03 .sqEtc select{vertical-align:middle;height:30px;margin-right:5px}

.sqListBox.sq03 .sqList ul li a.drag>span.mask{display:block;z-index:2;background-image:url(../../images/map/bg_color.png);position:absolute;left:0;top:0;width:100%;height:30px;overflow:hidden;}
.sqListBox.sq03 .sqList ul li a.drag>span.color{display:block;z-index:3;background:url(../../images/map/bg_mask.png) repeat-x;position:absolute;left:0;top:0;width:100%;height:30px;overflow:hidden;}
.sqListBox.sq03 .sqList ul li .sqdel{position:absolute;right:5px;top:3px}
.sqListBox.sq03 .sqList ul li .sqdel img{width:10px}
.sqListBox>li{float:left;width:36px;height:36px;margin:2px;overflow:hidden;}
.sqListBox>li a{display:block;width:36px;height:36px;font-size:11px;overflow:hidden;background:#666;color:#fff;}

.spbox{display:inline-block; min-width:40px; text-align:center; margin:3px 0 0 0; padding:3px 2px 1px; color:#fff; font-size:11px; border-radius:2px;}
.spbox.type01 {background: #66c2e6;}
.spbox.type02 {background: #59c7bc;}
.spbox.type03 {background: #7799b8;}
.spbox.type04 {background: #f68e56;}
.spbox.type05 {background: #f6c34a;}
.spbox.type06 {background: #7cc576;}
.spbox.type07 {background: #f26d7d;}
.spbox.type08 {background: #8781bd;}
.spbox.type09 {background: #c29561;}
.spbox.type10 {background: #9e9e9e;}

#up-and-down-button {z-index : 80000; margin-bottom: 8%}

.theme{z-index:10000 !important; bottom:10px; position:fixed;}/*POI표출*/
.theme_item{z-index:10001 !important; bottom:10px; position:fixed;}
