@import url(common.css);

.wrap { width: 600px; margin: 0 auto; box-sizing: border-box;}

/*tit*/
/* .tit { background: url(../img/bg.png) center; width: 100%; height: 800px; color: #fff;  margin-bottom: 20px;} */
/*quizBox*/
.quizBox { box-sizing: border-box;}
.quizBox li {margin-bottom: 15px;}

button { width: 150px; height: 40px; background: #417c5b; color: #fff;}
textarea { width: 600px; height: 70px; padding: 5px; box-sizing: border-box;}
table tr { font-size: 13px; height: 38px; border-top: 1px solid #cacaca; border-bottom: 1px solid #cacaca;}
table th { background: #417c5b; text-align: center; font-weight: normal; color: #fff;}
table td { padding-left: 5px;}
table input[type="text"] { width: 400px; border: 1px solid #fff; padding: 2px 5px;}
table input[type="radio"] { margin-right: 5px; margin-left: 10px;}
.table2 th{background: #fff; color: #181818; font-weight: 600; }


/*paging*/
.paging{text-align:center; margin-bottom: 50px; font-size: 14px;}
.paging a{display:inline-block; width:20px; height:15px; margin:0px 2px; vertical-align:middle;}
.paging a.on{font-weight:700;}
.paging a.strong{font-weight:700;}



















